﻿.tanld textarea { width: 400px; height: 52px; } /* about 3 lines tall */
.tanld > fieldset { padding: 0; }
.tanld fieldset.submit
{
    float: none;  
    width: auto;  
    border: 0 none #FFF;  
    background-color: Transparent;
    padding-left: 13.5em;     
    margin-top: 0;
}
.tanld fieldset legend { font-weight: bold; padding: 0 4px; }
.tanld fieldset ol { }
.tanld fieldset li { }
.tanld label { }
.tanld fieldset li.adminToolbar { margin-left: 12em; }
.tanld span label { width: auto; text-align: left; margin-left: 2px; }
.tanld fieldset input.number { width: 80px; }
.tanld h1, .tanld h2, .tanld h3, .tanld h4 { font-weight: bold; }

.tanld ol.form { margin: 0; padding: 0; }
.tanld ol.form > li
{
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
}
.tanld fieldset ol.form > li:first-child { padding-top: 0; }
    /*.tanld ol.form li li { list-style-type: none; }*/
.tanld ol.form > li > label { display: block; margin-bottom: 2px; }
.tanld ol.form > li > input,
.tanld ol.form > li > textarea,
.tanld ol.form > li > select
{
    display: inline;
}

.tanld ol.form.labelsLeft
{
clear: left;
float: left;
width: 100%;
}    
.tanld ol.form.labelsLeft > li
{
    clear: left;
    float: left;
    width: 100%;
}
    .tanld ol.form.labelsLeft > li > label
    {
        display: block;
        float: left;
        width: 11em;
        text-align: right;
        margin: 0 1em 0 0;            
    }

    .tanld ol.form.labelsLeft > li > input,
    .tanld ol.form.labelsLeft > li > textarea,
    .tanld ol.form.labelsLeft > li > select,
    .tanld ol.form.labelsLeft > li > span
    {
        display: block;
        float: left;
    }
    
    .tanld ol.form.labelsLeft > li > input[type="submit"],
    .tanld ol.form.labelsLeft > li > input[type="button"],
    .tanld ol.form.labelsLeft > li > button
    {
        /* align buttons with input elements */
        margin-left: 11em;
    }    

.tanld .breadcrumb { margin: 1em 0; padding: 0.5em; background-color: #F5F9FB; border: 1px solid #EBEDF0; }
.tanld .breadcrumb span { padding: 2px; }
.tanld .breadcrumb span a { color: #3E81B5; font-weight: bold; text-decoration: underline; }
.tanld .breadcrumb span.separator { padding-left: 4px; padding-right: 4px; font-size: 13px; }    
/*-----------------------------------------
    Table Grid Styles
-----------------------------------------*/
.tanld table.grid { border-collapse: collapse; width: 100%; background-color: White; }
.tanld table.grid th, .tanld table.grid td { border: 1px solid grey; padding: 4px; }
.tanld table.grid td td { border: 0; }
.tanld table.grid th { font-weight: bold; background-color: #cccccc; }
.tanld table.grid th.left, .tanld table.grid td.left { text-align: left; }
.tanld table.grid th.right, .tanld table.grid td.right { text-align: right; }
.tanld table.grid tr.alt td { background-color: #E5E5E5; }

.tanld table.gridLight th { font-weight: bold; background-color: #E8E8E8; }
.tanld table.gridLight th, .tanld table.gridLight td { border-color: #cccccc; }
