﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>FAME Services...</h1>
                <h2>Please to know about this service go to <a href="http://www.fameinc.com" title="FAME">FAME</a></h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
      
      
    </section>
</div>
