﻿ .Center-Container {
     position: relative;
     height: 100%;
 }

 .Absolute-Center {
     width: 450px;
     height: 425px;
     margin: auto;
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
 }

 .outer {
     display: table;
     position: absolute;
     height: 100%;
     width: 100%;
 }

 .middle {
     display: table-cell;
     vertical-align: middle;
 }

 .formRow {
     margin: 10px 0px;
     /*margin-left: 20px;*/
 }

 .inLineBlock {
     display: inline-block;
 }

 .block > input, .block > .k-dropdown {
     display: block;
     width: 100%
 }

 .pull-left {
     float: left;
 }


 .leftLable {
     display: inline-block;
     width: 32%;
     font-size: 12px;
     margin-top: 2%;
     text-align: right;
 }

 .overLable {
     display: block;
     font-size: 12px;
     margin-bottom: 1%;
     text-align: left;
 }

 .btn:hover {
     cursor: pointer;
 }

 .clearfix::after {
     content: "";
     clear: both;
     display: table;
 }

 .inset {
     padding: 2px;
     margin: 2%;
     /* border-style: inset; */
     /* border-width: 1px; */
     height: 88%;
     /* color: #00435e; */
     moz-box-shadow: inset 0 0 10px #bbdceb !important;
     -webkit-box-shadow: inset 0 0 10px #bbdceb !important;
     box-shadow: inset 0 0 10px #bbdceb !important;
 }