﻿body {
}
.box
{
	background: #050505 url('Images/logo_bg.png') 0 0 no-repeat;
	padding-top: 86px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	top: 0;
	min-height: 100%;
	width: 1252px;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
    
}
/* RadListView styles */
.rlvItem, .rlvSelected
{
	width: 242px;
	/*height: 650px;*/
}
.rlvItem a, .rlvSelected a, .rlvHover a
{
	display: block;
	float: left;
	width: 242px;
	/*height: 650px;*/
	background-color: #111;
	background-image: url('Images/ListViewItem.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	padding-top: 10px;
	position: relative;
}
.rlvHover a
{
	background-color: #111;
	background-position: 0 -100px;
	color: #070707;
}
.rlvItem a span, 
.rlvSelected a span, 
.rlvHover a span
{
	text-transform: uppercase;
	line-height: 12px;
}
.rlvItem a .percentage,
.rlvHover a .percentage,
.rlvSelected a .percentage
{
	position: absolute;
	right: 5px;
	bottom: 1px;
	color: #5D5D5D;
	font-family: "Segoe UI" , Arial, Sans-Serif;
	font-size: 30px;
	font-weight: normal;
	line-height: normal;
}
.rlvHover a .percentage
{
	color: #070707;
	cursor: pointer;
}
.rlv
{
	padding-top: 2px; 
	padding-bottom: 2px;
	background-color: #ffffff;
    border-style: solid;
    border-color: #070707;
    border-width: 2px;
    height: 600px;
}