<%@ page language="c#" %>

<script runat="server">
    protected void Page_Load(object sender, EventArgs e)
    {
        Response.Redirect("https://" + Request.ServerVariables["HTTP_HOST"] + "/v4/Host/default.aspx");
    }    
</script>
