﻿@model AdvantageDataFixer.Models.faStudentAward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>faStudentAward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disbursements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disbursements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMASFundCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMASFundCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FA_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FA_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardSubCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardSubCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arStuEnrollment.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arStuEnrollment.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faLender.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faLender.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faLender1.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faLender1.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faLender2.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faLender2.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saAcademicYear.AcademicYearCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saAcademicYear.AcademicYearCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saFundSource.FundSourceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saFundSource.FundSourceCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentAwardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
