﻿@using GridMvc.Html
@model IEnumerable<AdvantageDataFixer.ViewModels.AwardsVM>

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div style="width:100%;">
    @Html.Grid(Model).Columns(columns =>
        {
            columns.Add(c => c.Term).Titled("Term").Filterable(true);
            columns.Add(c => c.FundSourceCode).Titled("Fund Source").Filterable(true);
            columns.Add(c => c.StartDate).Format("{0:MM/dd/yyyy}").Titled("Award Start Date").Filterable(true);
            columns.Add(c => c.EndDate).Format("{0:MM/dd/yyyy}").Titled("Award End Date").Filterable(true);
            columns.Add(c => c.AcademicYearCode).Titled("Academic Year").Filterable(false);
            columns.Add(c => c.LoanId).Titled("Loan Id");
            columns.Add(c => c.LenderCode).Titled("Lender").Filterable(true);
            columns.Add(c => c.ServicerCode).Titled("Servicer").Filterable(true);
            columns.Add(c => c.GuarantorCode).Titled("Guarantor").Filterable(true);
            columns.Add(c => c.GrossAmount).Format("{0:c}").Titled("Gross Amount");
            columns.Add(c => c.LoanFees).Titled("Loan Fees");
            columns.Add(c => c.NetAmount).Format("{0:c}").Titled("Net Amount");
            columns.Add(c => c.FAId).Titled("FA Identifier");
            columns.Add(c => c.NumberOfDisbursements).Titled("# Disb");
            //columns.Add(c => c.arTerm).Titled("Options").Encoded(false).Sanitized(false).RenderValueAs(data => Html.ActionLink("Awards", "Index", "Awards").ToHtmlString() + " | " +  Html.ActionLink("Ledger", "Index", "Transactions", new { id = data.arTerm }, new { }).ToHtmlString());
        }).WithPaging(25).Sortable(true)
</div>

<h4>Number of records: @Model.Count()</h4>


