.mainTable {
    width: 650px;
    height: auto;
    margin: 0 auto;
    border-color: #00B4FF;
    cursor: pointer;
    padding-left: 5em;
    padding-right: 5em;
    border: solid 1px gray;
}

.btnSave {
    line-height: 20px;
    width: 100px;
    padding: 12px 10px;
    color: white;
    font-family: Arial,Helvetica, sans-serif;
    background-color: #00B4FF;
    cursor: pointer;
    border: none;
    overflow: visible;
    font-weight: bold;
    font-size: small;
    border-radius: 5px 5px 5px 5px;
}

.tblHeader {
    width: 650px;
    height: 25px;
    margin: 0 auto;
    background-color: #00B4FF;
    border: solid 1px gray;
}

.radGrid {
    width: 650px;
    margin: 0 auto;
}
