﻿
/* Styles for Advantage Validations  */
/* This is used for AdvantageValidator.ts in MasterPage Module*/
/* Load it in the master-page*/

span.k-widget.k-tooltip-validation {
    display: none !important;
    border: 0;
    padding: 0;
    margin: 0;
    width: 0 !important;
    background: white;
}

div.k-widget.k-tooltip-validation {
    display: none !important;
    border: 0;
    padding: 0;
    margin: 0;
    width: 0 !important;
    background: white;
}

.advantageTooltipClass {
    border-radius: 4px;
    background: #ffd2d4 !important; /*  #DCEDF4honeydew;*/
    position: absolute;
    display: block;
    z-index: 9999;
    min-width: 100px;
    /*height: 50px !important;*/
    border: 1px #e53935 solid;
    padding: 4px;
    font-size: 9pt;
    font-style: normal;
    color: #b71c1c !important;
    text-wrap: normal;
    /*display: table-cell;*/
    text-align: left;
    /*white-space: normal !important;*/
}

.k-tooltip-validation .k-warning {
    display: none;
}
.valueRequired {
    border: 1px #e53935 solid !important;
}
.valueRequired, .valueRequired label {
    background-color: #ffd2d4 !important;
    color: #b71c1c !important;
}
