﻿.blue-lighten-5 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #e3f2fd !important;
}

.blue-lighten-4 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #bbdefb !important;
}

.blue-lighten-3 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #90caf9 !important;
}

.blue-lighten-2 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #64b5f6 !important;
}

.blue-lighten-1 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #42a5f5 !important;
}

.blue {
    color: rgba(0,0,0,0.87) !important;
    background-color: #0d47a1 !important;
}

.blue-darken-1 {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #1e88e5 !important;
}

.blue-darken-2 {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #1976d2 !important;
}

.blue-darken-3,.blue-primary {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #1565c0 !important;
}

.blue-darken-4  {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #0d47a1 !important;
}

.blue-accent-1 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #82b1ff !important;
}

.blue-accent-2 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #448aff !important;
}

.blue-accent-3 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #2979ff !important;
}

.blue-accent-4 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #2962ff !important;
}

.orange-lighten-5 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #fff3e0 !important;
}

.orange-lighten-4 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ffe0b2 !important;
}

.orange-lighten-3 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ffcc80 !important;
}

.orange-lighten-2 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ffb74d !important;
}

.orange-lighten-1 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ffa726 !important;
}

.orange {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ff9800 !important;
}

.orange-darken-1 {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #fb8c00 !important;
}

.orange-darken-2 {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #f57c00 !important;
}

.orange-darken-3 {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #ef6c00 !important;
}

.orange-darken-4, .orange-primary {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #e65100 !important;
}

.orange-accent-1 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ffd180 !important;
}

.orange-accent-2 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ffab40 !important;
}

.orange-accent-3 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ff9100 !important;
}

.orange-accent-4 {
    color: rgba(0,0,0,0.87) !important;
    background-color: #ff6d00 !important;
}

.green, .green-primary {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: #558b2f !important;
}

.font-blue-lighten-5 {
    color: #e3f2fd !important;
}

.font-blue-lighten-4 {
    color: #bbdefb !important;
}

.font-blue-lighten-3 {
    color: #90caf9 !important;
}

.font-blue-lighten-2 {
    color: #64b5f6 !important;
}

.font-blue-lighten-1 {
    color: #42a5f5 !important;
}

.font-blue {
    color: #0d47a1 !important;
}

.font-blue-darken-1 {
    color: #1e88e5 !important;
}

.font-blue-darken-2 {
    color: #1976d2 !important;
}

.font-blue-darken-3 {
    color: #1565c0 !important;
}

.font-blue-darken-4 {
    color: #0d47a1 !important;
}

.font-blue-accent-1 {
    color: #82b1ff !important;
}

.font-blue-accent-2 {
    color: #448aff !important;
}

.font-blue-accent-3 {
    color: #2979ff !important;
}

.font-blue-accent-4 {
    color: #2962ff !important;
}

.font-orange-lighten-5 {
    color: #fff3e0 !important;
}

.font-orange-lighten-4 {
    color: #ffe0b2 !important;
}

.font-orange-lighten-3 {
    color: #ffcc80 !important;
}

.font-orange-lighten-2 {
    color: #ffb74d !important;
}

.font-orange-lighten-1 {
    color: #ffa726 !important;
}

.font-orange {
    color: #ff9800 !important;
}

.font-orange-darken-1 {
    color: #fb8c00 !important;
}

.font-orange-darken-2 {
    color: #f57c00 !important;
}

.font-orange-darken-3 {
    color: #ef6c00 !important;
}

.font-orange-darken-4 {
    color: #e65100 !important;
}

.font-orange-accent-1 {
    color: #ffd180 !important;
}

.font-orange-accent-2 {
    color: #ffab40 !important;
}

.font-orange-accent-3 {
    color: #ff9100 !important;
}

.font-orange-accent-4 {
    color: #ff6d00 !important;
}

.font-green {
    color: #7cb342 !important;
}
.font-light-green-darken-3 {
    color: #558b2f !important;
}
.font-light-green-darken-4 {
    color: #33691e !important;
}
.font-red-for-primary {
    color: #ff9090 !important;
}
.font-red {
    color: #b71c1c !important;
}
.font-purple-darken-4 {
    color: #4a148c !important;
}
.font-teal-darken-4 {
    color: #004d40 !important;
}
.font-cyan-darken-4 {
    color: #006064 !important;
}
.font-lyme-darken-4 {
    color: #827717 !important;
}
.font-brown-darken-4 {
    color: #3e2723 !important;
}
.font-white {
    color: #FFF !important;
}
.font-black {
    color: #2a2a2a !important;
}