﻿/*.RadComboBox_Web20 .rcbHovered .rcbActionButton {
    border-color: #aaaaaa !important;
    color: #000000 !important;
    background-color: #e9edf2 !important;
    background-image: linear-gradient(#e9edf2,#e9edf2 50%,#e9edf2 50%,#e9edf2 ) !important;
    font-style: normal !important;
}

.RadComboBox_Web20 .rcbInner {
    border-color: #6788be !important;
    color: #000 !important;
    background-color: #e9edf2 !important;
    border-radius: 0 !important;
}

.rcbActionButton {
    border-color: #e9edf2 !important;
    color: #000 !important;
    background-color: #cddcf1 !important;
    background-image: linear-gradient(#e9edf2,#e9edf2 50%,#e9edf2 50%,#e9edf2) !important;
    border-radius: 0 !important;
}

.RadComboBox .rcbInput {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12px;
    border: 0;
    box-shadow: none;
    outline: 0;
    background: 0;
    font: inherit;
    display: inline-block;
    -webkit-appearance: none;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 13px !important;
}


.RadComboBox .rcbInput {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 17px;
    border: 0;
    box-shadow: none;
    outline: 0;
    color: #000;
    background: 0;
    font: inherit;
    display: inline-block;
    -webkit-appearance: none;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 13px;
    font-style: normal !important;
    font-family: Arial !important;
}

.web20RadComboBox .rcbInput {
}

.RadComboBox .rcbInner {
    padding: 0 0 0 5px !important;
    border-width: 1px;
    border-style: solid;
    background-repeat: repeat-x;
    background-position: 0 0;
    display: block;
    position: relative;
    margin-bottom: 4px;
    border-color: #6788be !important;
    color: #000 !important;
    background-color: #e9edf2 !important;
}

#ctl00_ContentMain2_ddlDocTypeSearchControl_CmbBxDocumentTypeSearch_Input .rcbItem {
    margin: 0;
    font-weight: 400;
    font-family: Arial;
    font-size: 12px;
    padding: 0 3px 0 3px;
}

.RadComboBoxDropDown_Web20 .rcbHovered {
    color: #fff !important;
    background-color: #3399ff !important;
    font-size: 12px !important;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    padding: 1px 10px !important;
}

.RadComboBoxDropDown .rcbItem, .RadComboBoxDropDown .rcbHovered, .RadComboBoxDropDown .rcbDisabled, .RadComboBoxDropDown .rcbLoading, .RadComboBoxDropDown .rcbCheckAllItems, .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    padding: 1px 10px !important;
    background-repeat: repeat-x;
    font-size: 12px;
}

#ctl00_ContentMain2_ddlDocTypeSearchControl_CmbBxDocumentTypeSearch_Input .RadComboBoxDropDown .rcbList {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    zoom: 1;
}

#ctl00_ContentMain2_ddlDocTypeSearchControl_CmbBxDocumentTypeSearch_Input .rcbHovered {
    margin: 0;
    background-color: #2f84f4;
    color: #ffffff;
    font-weight: 400;
    font-family: Arial;
    font-size: 12px;
    padding: 0 3px 0 3px;
}

.RadComboBox .rcbActionButton {
    padding: 1px !important;
    min-width: 1em;
    border-width: 0 !important;
    border-style: solid;
    box-sizing: content-box;
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0 0;
    font: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    outline: 0;
    color: #000 !important;
}

.RadComboBoxDropDown .rcbMoreResults {
    margin: 1px 0 0 0;
    padding: 5px 5px;
    border-width: -0px 0px 0px 0px !important;
    text-align: center;
    cursor: pointer;
    font: 400 12.3333px Arial;
}

.RadComboBoxDropDown_Web20 .rcbMoreResults {
    border-color: #fff;
    color: #000;
    background-color: #fff;
    background-image: linear-gradient(#fff,#fff 50%,#fff 50%,#fff);
}

.RadComboBoxDropDown .rcbMoreResults a {
    margin: 0 2px;
    width: 0;
    height: 0;
    color: inherit;
    border-width: 4px;
    border-style: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: none;
    overflow: hidden;
    vertical-align: middle;
    display: none !important;
}

    .RadComboBoxDropDown .rcbMoreResults a:hover {
        margin: 0 2px;
        width: 0;
        height: 0;
        color: inherit;
        border-width: 4px;
        border-style: none;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        display: none;
        overflow: hidden;
        vertical-align: middle;
        display: none !important;
    }



@-moz-document url-prefix() {
    .t-i-arrow-down {
        width: 17px;
        height: 18px;
        background-image: url('../images/arrow-down-icon.png') !important;
        z-index: 9999;
        margin: -4px -1px 0px !important;
    }
}

@-moz-document url-prefix() {
    .RadComboBox .rcbActionButton {
        color: transparent !important;
        z-index: 99;
    }
}

@-moz-document url-prefix() {
    .RadComboBox_Web20 .rcbHovered .rcbActionButton {
        color: transparent !important;
        z-index: 99;
    }
}

@supports (-ms-ime-align:auto) {
    .t-i-arrow-down {
        width: 16px;
        height: 15px;
        background-image: url('../images/arrow-down-icon-ie.png') !important;
        z-index: 9999;
    }
}

@supports (-ms-ime-align:auto) {
    .RadComboBox .rcbActionButton {
        color: transparent !important;
        z-index: 99;
    }
}

@supports (-ms-ime-align:auto) {
    .RadComboBox_Web20 .rcbHovered .rcbActionButton {
        color: transparent !important;
        z-index: 99;
    }
}

_:-ms-lang(x), .t-i-arrow-down {
    width: 16px;
    height: 15px;
    background-image: url('../images/arrow-down-icon-ie.png') !important;
    z-index: 9999;
}

_:-ms-lang(x), .RadComboBox .rcbActionButton {
    color: transparent !important;
    z-index: 99;
}

_:-ms-lang(x), .RadComboBox_Web20 .rcbHovered .rcbActionButton {
    color: transparent !important;
    z-index: 99;
}

.scrollleftdocmanage1 {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    float: left;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.RadComboBox .rcbEmptyMessage {
    font-style: italic;
    filter: alpha(opacity=80);
    color: #000;
    font-size: 12px !important;
}*/
