.box, .boxHover, .boxChecked, .boxCheckedHover {
  padding:0.5em 1em;
  margin:0em;
  cursor:default;
  border:1px solid #000040;
  background:#ECFFC5;
  color:#000040;
}
.boxHover {
  background:white;
}
.boxCheckedHover {
  border-color: #4040A0;
  color: #4040A0;
  background:white;
}
.boxChecked {
  background: #F8F8FC; 
  border-color: #4040A0;
  color: #4040A0;
}
.boxc {
  padding:0em 0.3em;
  text-align:center;
  font-family:Verdana;  
  font-size:smaller;
  font-weight:normal;
}
.boxc TABLE {
  margin:auto;
}
.result 
{	
	text-align:center;
	font-family:Verdana;  
	color:Blue;
	font-size:smaller;
	font-weight:normal;
}
.lineright {
  border-right:1px solid #000040;
  font-size:50%;
}
.leftabove {
  border-right:1px solid #000040;
  border-top:1px solid #000040;
  font-size:50%;
}
.rightabove {
  border-top:1px solid #000040;
  font-size:50%;
}
.nolines {
  font-size:50%;
}
TD#chart {
  padding:1em;
}
DIV.message {
  color:#4040A0;
  font-weight:bold;
  font-family:Verdana;
  font-size:smaller;
  background-color:#F8F8FC;
  border:1px solid #4040A0;
  margin:1em 0em;
  padding:0em 0.5em;
}
DIV.somespace {
  padding:0.2em;
  text-align:center;
}
DIV.somespace TABLE {
  margin:auto;
}
.props
{	
	font-family:Verdana;  
	font-size:smaller;
	font-weight:normal;
}