﻿/* Footer Styles */

.HeaderStyle
{
    font-family: verdana;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #164D7F;
    text-align: right;
    padding: 6px;	        
    vertical-align: bottom;
}
.HeaderLeftSide
{
	background-position: left top;
	background-image: url(Images/left_gradient.gif);
	width: 9px;
	border-bottom: #000000 1px solid;
	border-top: #000000 1px solid;
	background-repeat: no-repeat;
}

.IMaintDiv
{
	width: 100%;
	height: expression(document.body.clientHeight - 300 + "px");
	vertical-align: top;	
}
.PrgMultiView
{
	height: expression(document.body.clientHeight - 330 + "px");
	vertical-align: top;
	overflow: auto;
}

.scrollleftfilters2
{
    overflow: auto;
    width: 95%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    height: expression(document.body.clientHeight - 211 + "px");
    text-align: left;
    vertical-align:top;
}

.scrollright2
{         
    overflow: auto;	        
    width: 100%;	        
    height: 500px;
    white-space: nowrap;
    left: 25%;
    float: left;
    top: 155px;	        
    padding: 16px;
    margin-right: 1px;	        
}
        
.prgdiv 
{
 margin: 20px; 
 padding: 0; 
 width: 100%;
 vertical-align: top;
 }
 
 .SchedHeader
 {
    font: normal 10px verdana;
    color: #000066;	        
    background-color: #E9EDF2;
    padding: 2px;
    border: 1px solid #ebebeb;
    vertical-align: bottom;	        
 }
 
 .SchedItem
 {
    font: normal 9px verdana;
    color: #000066;	        
    border: 1px solid #ebebeb;
    vertical-align: middle;
 }
 
 .SchedTextBox
 {
    font: normal 12px verdana;
    color: #333333;
    width: 100%;
    text-align: left;	        
    border: 0px solid #ebebeb;
    padding: 0px 0px;
    background-color: #000;
 }
 
 .WizardButton
 {
    font-family: verdana;
    font-size: 10px;
    font-style: normal;
    color: #000066;            
    text-decoration: none;	        	        
    height: 20px;	        
} 
                           
.WizardButton2
{
    font: normal 10px verdana;
    color: #284775;
    background-color: #FFFBFF;
    border: solid 1px #cccccc;        
}

.BoxedTable
{
    color: #000066;
    border: 1px solid #ebebeb;
    padding: 6px;
    vertical-align: middle;
}