﻿.TabArrowStartDark {
    background-image: url(../images/arrow_tip.png) !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: #6B8AC6;
    background-position: right center !important;
    width: 150px;
    margin-right: 4px;
    padding-right: 5px;

}

.TabArrowStartDark .rtsOut{ 
    background-image: none !important;
    border: none;
    color: white;
    font-weight: bold;

}

.TabArrowMidDark { 
    background-image: url(../images/arrow_tip.png) !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: #6B8AC6;
    background-position: right center !important;
    padding-left: 0px !important;
    margin-right: 4px;
    padding-right: 5px;
    width: 150px;
}


.TabArrowMidDark .rtsOut {
    background-image:  url(../images/arrow_tail.png) !important;
    border: none !important;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center !important;
    padding-left: 15px;
}

.TabArrowMidLight { 
    background-image: url(../images/arrow_tip.png) !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: #B4D3F2;
    background-position: right center !important;
    padding-left: 0px !important;
    margin-right: 4px;
    padding-right: 5px;
    width: 150px;
}


.TabArrowMidLight .rtsOut {
    background-image:  url(../images/arrow_tail.png) !important;
    border: none !important;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center !important;
    padding-left: 15px;
}

.TabArrowEndDark { 
    background-image: none !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: #6B8AC6;
    background-position: right center !important;
    padding-left: 0px !important;
    margin-right: 4px;
    padding-right: 5px;
    width: 150px;
}

.TabArrowEndDark .rtsOut {
    background-image:  url(../images/arrow_tail.png) !important;
    border: none;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center !important;
    padding-left: 15px;
}

.TabArrowEndLight { 
    background-image: none !important;
    border: none !important;
    background-repeat: no-repeat;
    background-color: #B4D3F2;
    background-position: right center !important;
    padding-left: 0px !important;
    margin-right: 4px;
    padding-right: 5px;
    width: 150px;
}

.TabArrowEndLight .rtsOut {
    background-image:  url(../images/arrow_tail.png) !important;
    border: none;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center !important;
    padding-left: 15px;
}

.Instructions_Ol {
   left: 10px; 
   padding-left: 6px;
   margin-left: 10px;

}
.Instructions_Li {
   padding-left: 2px;
}