﻿/*
    CSS for Lead Kendo Info Bar
*/
.tablekendoInfoBar {
    border-spacing: 5px 0;
    border-collapse: separate;
    font-size: small;
    color: #17365D;
}
/* Table columns values */
.infobarInfo {
    padding: 0 10px 0 0;
    margin: 0 10px 0 10px;
    width: 500px;
    text-wrap: none;
    white-space: nowrap;
    overflow: no-display;
}

.infobarTableLabelC1 {
    font-weight: bold;
    padding-left: 20px;
    width: 50px;
    min-width: 50px;
}

.infobarTableLabelC2 {
    font-weight: bold;
    padding-left: 20px;
    width: 110px;
    min-width: 110px;
}

.infobarTableLabelC3 {
    font-weight: bold;
    padding-left: 20px;
    width: 100px;
    min-width: 100px;
}


.infoBarTableImage {
    z-index: 100;
    height: 53px;
    transition: 1s ease-in-out;
}

    .infoBarTableImage:hover {
        transform: scale(2) translate(20px, 20px);
        border: #E9EDF2 solid 1px;
        z-index: 100;
    }

#kendoleadBarControl a:link {
    text-decoration: underline;
    background-color: transparent;
    color: #0000EE;
}

#kendoleadBarControl a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: #0000FF;
    cursor: pointer;
}
