﻿.IPEDSRadSiteMap_Web20 .rsmLink,
.IPEDSRadSiteMap_Web20 .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	background: #6b8dc2;
	color: #FFF;
	margin:0px;
	/*width:850px;*/
	font-size:11px;
	line-height:150%;
	border-style:solid; 
	padding-left:0px;
	text-align:left;
	margin-left:0px;
	text-indent:0px;
	/*width:850px;*/
}
div.IPEDSRadSiteMap_Web20 .rsmLink,
div.IPEDSRadSiteMap_Web20 .rsmTemplate
{
	padding-left: 2px;
}

div.IPEDSRadSiteMap_Web20 .rsmLink:hover
{
	color: #EEE;
	
}

.IPEDSRadSiteMap_Web20 .rsmLevel1 .rsmLink,
.IPEDSRadSiteMap_Web20 .rsmLevel1 .rsmTemplate
{
	/** Report Items **/
	color: #45709b;
	border-bottom: 1px solid #45709b;
	background: none;
	text-indent:2px;
	height:auto;
	margin-top:0px;
	border-style:solid;
	padding-top:0cm;
	/*width:800px;*/
	width:650px;
}
.IPEDSRadSiteMap_Web20 .rsmLevel1 .rsmLink:hover
{
	color: #75A0Cb;
	/*width: auto; */
}

.IPEDSRadSiteMap_Web20 .rsmLevel2 .rsmLink,
.IPEDSRadSiteMap_Web20 .rsmLevel2 .rsmTemplate,
.IPEDSRadSiteMap_Web20 .rsmThreeLevels .rsmLevel1 .rsmLink,
.IPEDSRadSiteMap_Web20 .rsmTwoLevels .rsmLevel1 .rsmLink,
.IPEDSRadSiteMap_Web20 .rsmOneLevel .rsmItem .rsmLink
{
	color: #000;
	border: 0;
	background: none;
}

.IPEDSRadSiteMap_Web20 .rsmLevel2 .rsmLink:hover,
.IPEDSRadSiteMap_Web20 .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.IPEDSRadSiteMap_Web20 .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.IPEDSRadSiteMap_Web20 .rsmOneLevel .rsmItem .rsmLink:hover
{
	color: #25507b;
	background: #e7f1ff;
	width:90%;
}
