/* Lead Tool Bar CSS File */

/* Part one: Sprites for icon in Lead Tool Bar */

#LeadToolBarWrapper {
    background-color: #E9EDF2;
}

    #LeadToolBarWrapper .k-sprite, a .k-sprite {
        background-image: url('../images/Widgets/leadToolBarSprites.png');
    }

#leadToolBarWindow .k-sprite {
    background-image: url('../images/Widgets/leadToolBarSprites.png');
}

#QuickToolBar .k-sprite {
    background-image: url('../images/Widgets/leadToolBarSprites.png');
}

.tb-Booksalt {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.tb-alert {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
    margin-right: 4px;
}

.tb-arrow-left {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.tb-arrow-right {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.tb-books {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
    margin-right: 4px;
}

.tb-delete {
    width: 14px;
    height: 14px;
    background-position: -31px -31px;
    margin-right: 4px;
}

.tb-email {
    width: 16px;
    height: 16px;
    background-position: -55px -31px;
    margin-right: 4px;
}

.tb-event {
    width: 16px;
    height: 16px;
    background-position: -81px -31px;
    margin-right: 4px;
}

.tb-extracurricular {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
    margin-right: 4px;
}

.tb-greenCheckMark {
    width: 16px;
    height: 16px;
    background-position: -31px -57px;
    margin-right: 4px;
}

.tb-new {
    width: 16px;
    height: 16px;
    background-position: -57px -57px;
    margin-right: 4px;
}

.tb-notepad {
    width: 16px;
    height: 16px;
    background-position: -83px -57px;
    margin-right: 4px;
}

.tb-plus {
    width: 16px;
    height: 16px;
    background-position: -5px -83px;
    margin-right: 4px;
}

.tb-printer-Icon-16x16 {
    width: 16px;
    height: 16px;
    background-position: -31px -83px;
    margin-right: 4px;
}

.tb-prior-ed {
    width: 16px;
    height: 16px;
    background-position: -57px -83px;
    margin-right: 4px;
}

.tb-priorwork {
    width: 16px;
    height: 16px;
    background-position: -83px -83px;
    margin-right: 4px;
}

.tb-redcheckmark {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
    margin-right: 4px;
}

.tb-requirement {
    width: 16px;
    height: 16px;
    background-position: -107px -31px;
    margin-right: 4px;
}

.tb-save {
    width: 16px;
    height: 16px;
    background-position: -109px -57px;
    margin-right: 4px;
}

.tb-skill {
    width: 16px;
    height: 16px;
    background-position: -109px -83px;
    margin-right: 4px;
}

/* Part 2: Lead Tool Bar border and general appearance*/


#LeadToolbar {
    z-index: 1;
    background-color: #E9EDF2;
    background-image: none;
}


    #LeadToolbar .k-button {
        height: 30px;
        line-height: 20px;
        margin: 0;
        padding: 5px;
        font-weight: 300 !important;
        letter-spacing: 0 !important;
        /*border-top:  solid 1px;
     border-bottom:solid 1px;*/
        border-left: #94c0d2 dashed 1px;
        border-right: none;
        border-radius: 0;
        min-width: 40px;
    }

#QuickToolBar {
    z-index: 1;
    width: 100%;
}

    #QuickToolBar .k-button {
        height: 24px;
        margin: 0;
        padding: 0 4px 0 4px;
        /*border-top:  solid 1px;
     border-bottom:solid 1px;*/
        border-left: #94c0d2 dashed 1px;
        border-right: none;
        border-radius: 0;
        font-family: Arial !important;
        font-size: 9pt !important;
        font-weight: 300 !important;
        letter-spacing: 0 !important;
    }

    #QuickToolBar #quickLeadToolBarCancel {
        margin: 0;
        padding: 0 4px 0 4px;
        /*border-top:  solid 1px;
     border-bottom:solid 1px;*/
        border-left: #94c0d2 dashed 1px;
        border-right: #94c0d2 dashed 1px;
        border-radius: 0;
        font-family: Arial !important;
        font-size: 9pt !important;
        font-weight: 300 !important;
        letter-spacing: 0 !important;
    }

/*#btn06 {
    height: 22px;
    margin: 0;
    padding: 0 4px 0 4px;
    border-top:  #94c0d2 solid 1px;
    border-bottom:  #94c0d2 solid 1px;
    border-left: #94c0d2 dashed 1px;
}*/

/*#LeadToolbar #LeadLabelToolBar {
    border-top:  #94c0d2 solid 1px;
    border-bottom:  #94c0d2 solid 1px;
    border-left: #94c0d2 dashed 1px;
}*/
