.boldline 
{
	border-bottom: 1px solid #000000;
}

.lettertable 
{ 
	border-bottom: 3px solid #000000; 
	border-right: 3px solid #000000; 
	background-color: white;	
} 

.tdpadding
{ 
	margin: 30px 30px 30px 30px;
	padding: 30px 30px 30px 30px;

} 
	
	
.letterbase 
{ 
	background-color: #ACA899; 
}

BR.page 
{ 
	page-break-after: always 
}

.ArialTD 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14;
}