.boldline 
{
	border-bottom: 1px solid #000000;
}

.lettertable 
{ 
	border-bottom: none; 
	border-right: none; 
	background-color: transparent;	
} 

.tdpadding
{ 
} 
	
.letterbase 
{ 
	background-color: transparent; 
}

BR.page 
{ 
	page-break-after: always 
}

.ArialTD 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14;
}