html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: small;
}

table {
    padding: 0;
    margin: 0;
}
/*
ul { padding: 0; margin: 0; list-style: none; list-style-type: none;}
li { padding: 0; margin: 5px 0 0 16px; list-style: none; list-style-type: none;}
*/


.advlink {
    color: #3B6EBF;
    text-decoration: none;
}

    .advlink:hover {
        color: #3B6EBF;
        text-decoration: underline;
    }

.advlinkRed {
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;
}

    .advlinkRed:hover {
        color: #FF0000;
        font-weight: bold;
        text-decoration: underline;
    }
/*
#header {width: 100%; background-color: white;}
#footer {width: 100%;position: absolute;height: 39px;background-color: #003399;bottom: 0;left: 0; background: url(../Images/footer_bg.gif) repeat-x;}
*/
#content {
    border: #ebebeb 1px solid;
    font-size: 11px;
    overflow: hidden;
    width: 100%;
    color: #333333;
    background-color: #fafafa;
    text-align: left;
}

.tothemeshow {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.adhocdiv {
    margin: 20px;
    padding: 0;
    width: 100%;
}

.ToTheme6 {
    font-size: 11px;
    font-style: normal;
    color: #000066;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.totheme2 {
    font-size: 11px;
    color: #333333;
    font-style: normal;
    width: 100%;
    text-decoration: none;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding-left: 3px;
    padding-right: 2px;
}

.tothemereports {
    font-size: 11px;
    color: #333333;
    font-style: normal;
    width: 100%;
    text-decoration: none;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding-left: 3px;
    padding-right: 2px;
}

.maincontenttable {
    padding-right:0;
}

.Label {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.LabelDate {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    padding: 2px;
    vertical-align: bottom;
}

.LabelButton {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 80%;
    padding: 2px;
    vertical-align: bottom;
}

.Labelheaders {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    width: 100%;
    background-color: #E9EDF2;
    padding: 2px 2px 2px 6px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    margin-bottom: 8px;
}

.Labeldocs {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    padding: 2px;
    vertical-align: bottom;
}

.LabelBold {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.Labelheader {
    font-style: normal;
    font-size: 14px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.LabelBoldUnd {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

.LabelBoldUndright {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: right;
}

.LabelAmount {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.LabelQuickLead {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 80%;
    padding: 2px;
    vertical-align: bottom;
}

.CheckBoxInternational {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    width: 100%;
    background-color: transparent;
    padding:0 1px;
    margin-left: 0;
    text-align: left;
}

.CheckBoxBold {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    padding: 2px;
    vertical-align: middle;
}

.InfragisticsGridHeader {
    font-weight: bold;
    color: #000066;
    vertical-align: top;
    text-align: center;
    background-color: #E9EDF2;
}

.InfragisticsRows {
    color: #000066;
}

.FilterTextBox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.TextBox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.TextBoxButton {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 95px;
    text-align: left;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.MonthDetail {
    font-style: normal;
    font-size: 11px;
    color: black;
    width: 95px;
    text-align: left;
    background-color: #E9EDF2;
    border: 2px solid #ebebeb;
    padding: 0 3px;
}

.ScheduleDetail {
    font-style: normal;
    font-size: 11px;
    color: black;
    width: 105px;
    text-align: left;
    background-color: #E9EDF2;
    border: 2px solid #ebebeb;
    padding: 0 3px;
}

.TextBoxgroup {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 60%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.TextBoxdocs {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.TextBoxsap {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    height: 19px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.TextBoxsearch {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 85%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.PanelTheme {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.DataGridHeader {
    font-size: 11px;
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    padding: 3px;
    vertical-align: middle;
}

    .DataGridHeader a:link {
        font-size: 11px;
        color: navy;
        text-align: left;
        background-color: #E9EDF2;
        padding: 3px;
        vertical-align: middle;
    }

    .DataGridHeader a:hover {
        font-size: 11px;
        color: Maroon;
        text-align: left;
        background-color: #E9EDF2;
        padding: 3px;
        vertical-align: middle;
    }

    .DataGridHeader a:visited {
        font-size: 11px;
        color: navy;
        text-align: left;
        background-color: #E9EDF2;
        padding: 3px;
        vertical-align: middle;
    }

    .DataGridHeader a:active {
        font-size: 11px;
        color: navy;
        text-align: left;
        background-color: #E9EDF2;
        padding: 3px;
        vertical-align: middle;
    }

.DataGridHeaderweighting {
    font-size: 11px;
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 3px;
    vertical-align: middle;
}

.DataGridHeader10 {
    font-size: 11px;
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    padding: 3px;
    vertical-align: middle;
    width: 100px;
}

.gradebooktable {
    border: 1px solid #ebebeb;
    padding: 0;
    margin: 0;
}

.weightingtable {
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

.DataGridHeaderstd {
    font-size: 11px;
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    padding: 3px;
}

.DataGridHeader2 {
    font-weight: bold;
    font-size: 12px;
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 4px;
    height: 20px;
    white-space: nowrap;
}

.DataGridHeader3 {
    font-weight: bold;
    font-size: 12px;
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    padding: 4px;
    white-space: nowrap;
    height: 20px;
}

.DataGridHeader4 {
    font-weight: bold;
    font-size: 8pt;
    color: #000066;
    text-align: center;
    background-color: #E9EDF2;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 4px;
    white-space: nowrap;
    height: 20px;
}

.DataGridHeaderStyle {
    color: #000066;
    text-align: left;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    white-space: nowrap;
    padding: 3px;
    font-size: 11px;
    vertical-align: middle;
}

.DataGridAlternatingStyle {
    font-style: normal;
    font-size: 11px;
    background-color: #f0f4f8;
    color: #000066;
    text-align: left;
    border: 1px solid #f3f5f6;
    padding: 3px;
    vertical-align: top;
}

.DataGridItemStyle {
    padding: 3px;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: left;
    border: 1px solid #ebebeb;
    vertical-align: top;
}

.DataGridItemStyleweighting {
    padding: 3px;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    vertical-align: top;
}

.DataGridItemStyleweightingPop {
    padding: 3px;
    font-style: normal;
    font-size: 13px;
    color: #000066;
    text-align: left;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    vertical-align: top;
}

.datagridpadding {
    padding: 5px;
}

.DataGridItemStyleaudit {
    padding: 0 0 3px 3px;
    font-style: normal;
    font-size: 12px;
    width: 100%;
    color: #000066;
    text-align: center;
    border: 1px solid #ebebeb;
}

.DataGridItemStyleSAPEEP {
    padding: 0 0 3px 3px;
    font-style: normal;
    font-size: 12px;
    width: 100%;
    color: #000066;
    text-align: center;
    border: 1px solid #ebebeb;
}

.securitychkboxstyle {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 0;
    font-style: normal;
    font-size: 12px;
    width: 10%;
    color: #000066;
    padding-top:0;
    text-align: center;
    border: 1px solid #ebebeb;
}

.TextBoxDate {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 85%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.TextBoxDateForJobs {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 87%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.TextBoxDateForRules {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.CheckBoxStyle {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 96%;
    text-align: left;
    background-color: #FAFAFA;
}

.searchcal {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 27%;
    text-decoration: none;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.ToLeadStatus {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    height: 125px;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.AssignmentResult {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    height: 325px;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.ToStudentskills {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.ToStudentskillsusersy {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.ToDocumentskills2 {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    height: 80px;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.ToDocumentskills {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.messagebox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding-bottom: 3px;
}

.applygradebox {
    font-style: normal;
    font-size: 10px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.searchrange {
    font-style: normal;
    font-size: 10px;
    color: #000066;
    background-color: transparent;
    vertical-align: bottom;
    width: 10%;
    padding: 4px 3px;
}

.searchrange1 {
    font-style: normal;
    font-size: 10px;
    color: #000066;
    background-color: transparent;
    vertical-align: bottom;
    padding:0;
}

.searchtextbox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 33%;
    vertical-align: bottom;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.manageact {
    width: 20%;
    padding: 3px;
}

.Calendar {
    width: 82px;
}

.employersearch {
    text-align: left;
    padding: 3px;
    /*width: 32%;*/
    width: 115px;
}

.regularexpression {
    width: 0;
    margin: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
}

.employersearch2 {
    text-align: left;
    /*width: 68%;*/
    width: 215px;
    padding: 3px;
    /*white-space: nowrap; */
}

.transactionsearch {
    text-align: left;
    padding: 2px 0 2px 0;
    width: 32%;
}

.transactionsearch2 {
    text-align: left;
    padding: 2px 0 2px 0;
    width: 68%;
}

.DropDownListsSearch {
    font-style: normal;
    font-size: 9px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.DropDownList {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    /*padding:0 3px;*/
    margin-left:0;
}

.DropDownListFF, .dropdownlistff {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    /*padding:0 3px;*/
    /*margin-left:0;*/
}

.RadCombo {
    width: 100%;
}



.ClassSectionWithPeriodsDropDownList {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}


.DropDownLists {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.DropDownListNO100 {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.GroupCheck {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    padding:0 3px;
    vertical-align: bottom;
}

.ListBoxes {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.ListBoxesheight {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.advantagelistbox {
    font-style: normal;
    font-size: 11px;
    color: #333;
    width: 100%;
    height: 200px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
}

.listbox {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    width: 100%;
    background-color: #E9EDF2;
    text-align: left;
}

.listboxclasssection {
    font-style: normal;
    font-size: 10px;
    color: #333;
    width: 100%;
    background-color: #FAFAFA;
    text-align: left;
}

.listboxsdf {
    font-style: normal;
    font-size: 10px;
    color: #000066;
    width: 100%;
    background-color: #E9EDF2;
    text-align: left;
}

.masterbg {
    background-position: center top;
    background-image: url(../Images/masterpage_bg.gif);
    width: 100%;
    background-repeat: repeat-x;
    height: 50px;
}

.masterbg2 {
    padding-left: 20px;
    margin-left: 20px;
}
/* begin classes for leftside width properties and bg color */
.ListFrame {
    /*
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	vertical-align: top;
	width: 27%; */
    background-color: #E9EDF2;
}

.ListFrameTop2 {
    /*	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	vertical-align: top;
	width: 27%; */
    padding: 4px 0;
    font-style: normal;
    font-size: 11px;
    text-align: center;
    background-color: #E9EDF2;
    border-bottom: #000000 1px solid;
}

.ListFramecancelsection {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 33%;
    background-color: #E9EDF2;
}

.ListFrameledger {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 34%;
    background-color: #E9EDF2;
}

.ListFramefinalgrades {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 40%;
    background-color: #E9EDF2;
}

.ListFrameDocumentManagement {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 32%;
    background-color: #E9EDF2;
}

.ListFrameEntranceTest {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 30%;
    background-color: #E9EDF2;
}

.ListFramemessages {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 50%;
    background-color: #E9EDF2;
}

.ListFrame23 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 27%;
    height: 80%;
    background-color: #E9EDF2;
}

.ListFrameReassignLeads {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 32%;
    background-color: #E9EDF2;
}

.ListFrameclasssections {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 34%;
    background-color: #E9EDF2;
}

.ListFrameregisterstudents {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 40%;
    background-color: #E9EDF2;
}

.ListFrameleadstatuschange {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 40%;
    background-color: #E9EDF2;
}

.ListFramehalf {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 50%;
    background-color: #E9EDF2;
}

.ListFrame30 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 30%;
    background-color: #E9EDF2;
}

.ListFrame32 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 32%;
    background-color: #E9EDF2;
}

.ListFrame35 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 35%;
    background-color: #E9EDF2;
}

.ListFrame40 {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 40%;
    background-color: #E9EDF2;
}

.ListFrameNoFilter {
    font-style: normal;
    font-size: 11px;
    vertical-align: top;
    color: #000066;
    width: 100%;
    padding: 4px 0;
    background-color: #ffff99;
    text-align: center;
    border-bottom: #000000 1px solid;
}

.ListFramebottom {
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    background-color: #E9EDF2;
}

.ListFramebottomsdf {
    font-style: normal;
    font-size: 10px;
    height: 80%;
    vertical-align: top;
    width: 100%;
    background-color: #E9EDF2;
}

.emailtop {
    font-style: normal;
    font-size: 10px;
    vertical-align: top;
    padding:0 60px;
    width: 100%;
    background-color: Transparent;
    text-align: center;
}

.ListFrametop {
    font-style: normal;
    font-size: 11px;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-top: 4px;
    background-color: Transparent;
    text-align: center;
}

.ListFrametopreport {
    font-style: normal;
    font-size: 11px;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 100%;
    padding-left:0;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-top: 4px;
    background-color: Transparent;
    text-align: center;
}

.ListFrametopnew {
    font-style: normal;
    font-size: 11px;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    white-space: nowrap;
    padding: 4px 30px;
    background-color: Transparent;
    text-align: center;
}

.ListFrametop1 {
    font-style: normal;
    font-size: 11px;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 100%;
    padding: 2px 10px;
    white-space: nowrap;
    background-color: Transparent;
    text-align: center;
}

/* end classes for leftside width properties and bg color */


.MenuFrame {
    border-top: black 1px solid;
    background-image: url(../Images/content_bg.gif);
    vertical-align: top;
    width: 100%;
    height: 22px;
    white-space: nowrap;
    background-repeat: repeat-x;
}

.CloseWindow {
    border-top: black 1px solid;
    background-image: url(../Images/content_bg.gif);
    vertical-align: top;
    width: 100%;
    height: 10px;
    background-repeat: repeat-x;
}

.DetailsFrame {
    vertical-align: top;
    width: 100%;
    background-color: #ffffff;
    white-space: nowrap;
}

.DetailsFrameEntranceTest {
    vertical-align: top;
    width: 100%;
    margin-left: 40%;
    background-color: #ffffff;
    white-space: nowrap;
}

.LeadFrame {
    vertical-align: top;
    width: 100%;
}

.LeadLeftFrame {
    vertical-align: top;
    width: 80%;
    background-color: #ffffff;
}

.LeadRightFrame {
    vertical-align: top;
    width: 20%;
    background-color: #ffffff;
}

.DetailsFrametop {
    vertical-align: top;
    border-right: #000000 1px solid;
    width: 100%;
    background-color: #ffffff;
}

.DetailsFrametopEntranceTest {
    vertical-align: top;
    border-bottom: #000000 1px solid;
    border-right: #000000 1px solid;
    margin-left: 40%;
    width: 100%;
    background-color: #ffffff;
}

.SAtable {
    vertical-align: top;
    border-top: solid 1px black;
    width: 100%;
    background-color: #ffffff;
}

.leftside {
    background-position: left top;
    background-image: url(../Images/left_gradient.gif);
    width: 9px;
    border-bottom: #000000 1px solid;
    border-top: #000000 1px solid;
    background-repeat: no-repeat;
}

.NotesBG {
    background-color: #ccffff;
}

.save {
    padding-left: 28px;
    font-size: xx-small;
    background-image: url(../Images/save_button.gif);
    border-bottom-width: 0;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 22px;
    text-align: left;
    border-width: 0;
}

.new {
    border-width: 0;
    font-size: xx-small;
    background-image: url(../Images/new_button.gif);
    border-bottom-width: 0;
    padding-left: 28px;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 22px;
    text-align: left;
}

.reset {
    font-size: xx-small;
    background-image: url(../Images/reset_button.gif);
    border-bottom-width:0;
    padding-left: 27px;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 22px;
    text-align: left;
    border-width:0;
}

.delete {
    font-size: xx-small;
    background-image: url(../Images/delete_button.gif);
    border-bottom-width: 0;
    padding-left: 26px;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 22px;
    text-align: left;
    border-width: 0;
}

.CheckDuplicate {
    font-size: xx-small;
    background-image: url(../Images/checkduplicate.gif);
    border-bottom-width: 0;
    padding-left: 48px;
    width: 151px;
    cursor: pointer;
    background-repeat: no-repeat;
    color: #333333;
    height: 23px;
    text-align: left;
    border-width: 0;
}

.CheckDuplicate2 {
    padding: 6px 16px 6px 0;
    text-align: right;
    width: 100%;
}

.newleaddetail {
    padding: 6px 4px 7px 0;
    text-align: right;
    width: 100%;
    vertical-align: bottom;
}

.history {
    font-size: xx-small;
    background-image: url(../Images/history_button.gif);
    border-bottom-width: 0;
    padding-left: 25px;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 22px;
    text-align: left;
    border-width: 0;
}

.TabStrip {
    background-color: #330099;
    font-size: 8pt;
    color: white;
}

.Footer2 {
    font-size: 8pt;
    background-image: url(../Images/footer_bg.gif);
    color: white;
    background-repeat: repeat-x;
    background-color: transparent;
    white-space: nowrap;
    height: 39px;
}

.Footericons {
    font-size: 8pt;
    color: white;
    background-color: transparent;
    white-space: nowrap;
    vertical-align: middle;
}

.Header {
    font-size: x-large;
}

.EmptyColumn {
    width: 2%;
}

.footertable {
    width: 100%;
}

.ButtonLeft {
    float: right;
}

.FrameDocs {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 10px;
    /*background-image: url(../Images/left_listframe_bg.gif);*/
    vertical-align: top;
    width: 27%;
    background-repeat: repeat-y;
    background-color: #e0e7ea;
}

.page {
    overflow: hidden;
    width: 100%;
}

.scrollleft {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftright {
    overflow: auto;
    top: 12px;
    bottom: -12px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftstudentnodes {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftstudentdoc {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftfilters {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftnofilter {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftexit {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftgradebook {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

.scrollleftbatchpayments {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

.scrollleftlead {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftARcourses {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftFltr7Rows {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftFltrRegStds {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleftFltr6Rows {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.ScrollLeftFltr5Rows {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.ScrollLeftFltr4Rows {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.ScrollLeftFltr3Rows {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.ScrollLeftFltr3RowsNoPad {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.ScrollLeftFltr2Rows {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.ScrollLeftFltr1Row {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.scrollleftviewmsg {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftleads {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftunenroll {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftsettermmodule {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftdeferred {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftsetterm {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftledger {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

.scrolllefttest {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    padding: 10px;
    float: left;
    text-align: left;
    vertical-align: top;
}

.scrollleftpopup {
    overflow: auto;
    width: 100%;
    top: 35px;
    bottom: 40px;
    position: absolute;
    padding: 0 16px 16px 16px;
    margin: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft21 {
    overflow: auto;
    top: 120px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft22 {
    overflow: auto;
    top: 250px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft7 {
    overflow: auto;
    top: 310px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 0;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft17 {
    overflow: auto;
    top: 265px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 0;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft22 {
    overflow: auto;
    top: 265px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 0;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleftCS {
    overflow: auto;
    top: 265px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 0;
    margin-left: 20px;
    text-align: left;
    vertical-align: top;
}

.scrollleft8 {
    overflow: auto;
    top: 160px;
    width: 100%;
    bottom: 40px;
    position: absolute;
    padding: 0;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft3 {
    overflow: auto;
    width: 100%;
    top: 170px;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft4 {
    overflow: auto;
    width: 100%;
    top: 180px;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft54 {
    overflow: auto;
    width: 100%;
    top: 160px;
    bottom: 40px;
    position: absolute;
    padding: 18px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollleft5 {
    overflow: auto;
    width: 100%;
    top: 195px;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.scrollright {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 25px;
    /* top: 155px; */
    left: 28%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightSAPCheck {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 28%;
    padding: 16px;
    margin-right: 1px;
}

.scrollright32 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 205px;
    left: 33%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightframe30 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 31%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightframe32 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 33%;
    padding: 16px;
}

.scrollrightframe40 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 41%;
    padding: 16px;
}

.scrollrightIPEDS {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 158px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-right: 1px;
}

.scrollrightcancelsection {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 34%;
    padding: 16px;
    margin: 0;
}

.scrollrightledger {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 154px;
    left: 35%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightfinalgrades {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 154px;
    left: 41%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightcoursefees {
    overflow: auto;
    width: 100%;
    bottom: 20px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 25px;
    left: 28%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightperiodicfees {
    overflow: auto;
    width: 100%;
    bottom: 20px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 25px;
    left: 28%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightmessages {
    overflow: auto;
    width: 100%;
    bottom: 20px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 25px;
    left: 51%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightclasssections {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 154px;
    left: 35%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightsetterm {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 156px;
    left: 35%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightReassignLeads {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 33%;
    padding: 16px;
}

.scrollrightbatchpay {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 158px;
    left: 33%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightregisterstudents {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 155px;
    left: 41%;
    padding: 15px;
    margin-right: 1px;
}

.scrollright50 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 158px;
    left: 40%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightpop {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 50px;
    left: 28%;
    padding: 100px;
    margin-right: 1px;
}

.replacesScrollright {
    overflow: auto;
    width: 100%;
}

.scrollrightpopup {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 60px;
    left: 28%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightsap {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 75px;
    left: 28%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightprogramver {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 60px;
    left: 26%;
    padding: 10px;
    margin-right: 1px;
}

.scrollrightaccount {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 60px;
    left: 27%;
    padding: 20px;
    margin-right: 1px;
}

.scrollrightaddress {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 70px;
    left: 26%;
    padding: 10px;
    margin-right: 1px;
}

.scrollrightprogramdate {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 70px;
    left: 26%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightcampus {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 140px;
    left: 40%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightleadstatuschange {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 160px;
    left: 40%;
    padding: 16px;
    margin-right: 1px;
}

.scrollskills {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 117px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollwhole {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 117px;
    left: 0;
    padding: 16px;
    margin: 0;
}

.scrollwholeadmreq {
    overflow: auto;
    width: 100%;
    bottom: 5px;
    position: absolute;
    top: 72px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollwhole5 {
    overflow: auto;
    width: 100%;
    position: absolute;
    top: 117px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollwholetab {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 165px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

/*
.scrollsingleframe
{
	overflow: auto;
	width: 100%;
	bottom: 45px;
	position: absolute;
	top: 155px;
	height: expression(document.body.clientHeight - 196 + "px");
	left:0;
	padding: 16px;
	margin: 0;
	
}
*/


.scrollsingleframe {
    overflow: auto;
    width: 98.5%;
    bottom: 45px;
    top: 155px;
    height: expression(document.body.clientHeight - 196 + "px");
    left: 0;
    padding: 16px;
    margin: 0;
}

.scrollsingleframetop {
    overflow: auto;
    width: 100%;
    left: 0;
    padding: 16px;
}

.scrolldatagrid {
    overflow: auto;
    width: 100%;
    left: 0;
    position: absolute;
    padding: 10px;
}

.scrollsingleframebottom {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    height: 150px;
    left: 0;
    padding: 16px;
    margin: 0;
}

.scrollwholeassignleads {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 159px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollwholeprint {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 150px;
    left: 0;
    padding: 0 16px 16px 16px;
    margin-right: 1px;
}

.scrollwholeuserssy {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollwhole3 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 140px;
    left: 0;
    padding: 10px 16px 16px 16px;
    margin-right: 1px;
}

.scrollwhole23 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 16px;
    margin-right: 1px;
}
/* DD
.scrollright2
{
	overflow: auto;
	width: 100%;
	bottom: 45px;
	position: absolute;
	top: 140px;
	height: expression(document.body.clientHeight - 185 + "px");
	left: 46%;
	padding: 16px;
	margin-right: 1px;
}
*/
.scrollright2 {
    /* Top; Right; Bottom; Left */
    margin: 5px 50px 50px 1px;
    padding: 16px;
    overflow: auto;
    /*white-space: nowrap;*/
}

.scrollright3 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 140px;
    left: 31%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightbatchstatus {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 155px;
    left: 31%;
    padding: 16px;
    margin-right: 1px;
}

.scrollrightentrancetest {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 150px;
    left: 31%;
    padding: 16px;
    margin-right: 1px;
}

.scrollright4 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 140px;
    left: 36%;
    padding: 16px;
    margin-right: 1px;
}

.scrollright7 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 150px;
    left: 41%;
    padding: 16px;
    margin-right: 1px;
}

.scrollright8 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 140px;
    left: 51%;
    padding: 16px;
    margin-right: 1px;
}
/*
.SelectedItem
{
	font: italic bold 11px ;
	color: #000066;
	text-decoration: none;
	padding: 2px;
}
A.SelectedItem:link
{
	font: italic bold 11px ;
	color: navy;
	text-decoration: none;
}
A.SelectedItem:visited
{
	font: italic bold 11px ;
	color: navy;
	text-decoration: none;
}
A.SelectedItem:active
{
	font: italic bold 11px ;
	color: navy;
	text-decoration: none;
}

A.SelectedItem:hover
{
	font: italic bold 11px ;
	color: navy;
	text-decoration: none;
}
.NonSelectedItem
{
	font-style : normal;  font-size:11px ;
	color: #000066;
	text-decoration: none;
	padding: 2px;
}
A.NonSelectedItem:link
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:visited
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:active
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:hover
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
*/
/* begin class for 2 column tables - used mostly in maintenance pages and on filter section 
(top left hand corner) */
.twocolumnlabelcell1 {
    width: 20%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
}
/*
.twocolumnlabelcell
{
	width: 32%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
}*/
.twocolumnlabelcell {
    width: 32%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
}

.threecolumnlabelcell {
    width: 32%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    text-align: left;
}

.twocolumncontentcell {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
}

.twocolumncontentcell {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
}

.twocolumncontentcellleft {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: left;
}

.fourcolumnlabelcell {
    width: 20%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
}

.fourcolumncontentcell {
    width: 30%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
}

.columncontentcell {
    width: 100%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.threecolumncontentcell {
    width: 50%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    text-align: left;
}

.threecolumncontentcellright {
    width: 18%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    text-align: left;
}

.twocolumnsdfcontentcell {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.twocolumncontentcelluser {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
    text-align: left;
}

.twocolumnsdflabelcell {
    width: 32%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
}

.twocolumncontentcelldate {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
    text-align: left;
}

/* end class for 2 column tables - used mostly in maintenance pages and on filter section 
(top left hand corner) */

/* begin class for 2 column tables - used mostly in datalist 
(bottom left hand corner) last 2 digits denote the percentage width*/
.twocolumnlabelcell72 {
    width: 72%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

.twocolumnlabelcell30 {
    width: 28%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
}
/* end class for 2 column tables - used mostly in datalist 
(bottom left hand corner) last 2 digits denote the percentage width*/

/* begin class for 3 column table for class section page (classsection.aspx) bottom-left datalist */

.threecolumndatalist {
    width: 30%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: normal;
    text-align: left;
}

.threecolumndatalistright {
    width: 40%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: normal;
    text-align: left;
}

.threecolumndatalistmiddle {
    width: 55%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: normal;
    text-align: left;
}

.threecolumndatalist2 {
    width: 25%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
    text-align: left;
}

.threecolumndatalist3 {
    width: 20%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
}
/* end class for 3 column table for class section page bottom-left datalist */

/* begin class for 4 column table for messages page (messages.aspx) bottom-left datalist */
.messagesfrom {
    width: 28%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    text-align: left;
}

.messagessubject {
    width: 30%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    text-align: left;
}

.messagessent {
    width: 33%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    text-align: left;
}

.messagesread {
    width: 9%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    text-align: left;
}

/* end class for 4 column table for messages page (messages.aspx) bottom-left datalist */

/* begin class for 4 column table for class section page bottom-right table (classsection.aspx) */

.fourcolumnclasssectioncontent {
    width: 25%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

/* end class for 4 column table for class section page bottom-right table */

.ClassSectionWithPeriodsMeetDDLS {
    width: 23.33%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

.ClassSectionWithPeriodsMeetDateTextBoxes {
    width: 15.0%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}


/* begin class for 2 column table for class section page (unscheduleclssections.aspx) bottom-left datalist */
.twocolumncancelclass {
    width: 50%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}
/* end class for 2 column table for class section page (unscheduleclssections.aspx) bottom-left datalist */

/* begin class for 2 column table for postgrade (studentgradebook.aspx) page bottom left */
.postgradecontentcellname {
    width: 50%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
}

.postgradecontentcellssn {
    width: 40%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
}

.postgradecontentcellgrade {
    width: 10%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
    white-space: nowrap;
}

/* end class for 2 column table for postgrade (studentgradebook.aspx) page bottom left */

/* begin class for 2 column table for register student (registerstudents.aspx) page bottom left */
.registerstudentcontentcell {
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    text-align: left;
    white-space: normal;
}
/* end class for 2 column table for register student (registerstudents.aspx) page bottom left */

.contentcell {
    width: 18%;
    vertical-align: top;
    background-color: white;
    padding: 5px;
    white-space: nowrap;
}

.leadcell4column {
    width: 20%;
    vertical-align: top;
    background-color: white;
    padding: 3px 3px 3px 8px;
    white-space: nowrap;
    text-align: left;
}

.leadcell4columnEI {
    width: 15%;
    vertical-align: top;
    background-color: white;
    padding: 3px 3px 3px 16px;
    white-space: nowrap;
    text-align: left;
}

.leadcell4columnleft {
    width: 20%;
    vertical-align: top;
    background-color: white;
    padding: 3px 3px 3px 16px;
    white-space: nowrap;
    text-align: left;
}

.leadcell4columnleftEI {
    width: 15%;
    vertical-align: top;
    background-color: white;
    padding: 3px 3px 3px 16px;
    white-space: nowrap;
    text-align: left;
}

.contenttableborder {
    border-right: 1px solid #ebebeb;
}

.contentcell4column {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell4columnEI {
    width: 35%;
    vertical-align: top;
    background-color: white;
    padding: 3px 16px 3px 3px;
}

.contentcell4columnright {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px 16px 3px 3px;
}

.contentcell4columnrightEI {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px 16px 3px 16px;
}

.ClassSectionLabelCell {
    width: 15%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.ClassSectionContentCell {
    width: 35%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.contentcelldocuments {
    width: 18%;
    vertical-align: top;
    background-color: transparent;
    padding: 3px;
    white-space: nowrap;
}

.contentcellsdf {
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.contentcellsy {
    width: 50%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.contentcellsy2 {
    width: 50%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.contentcellnewlead {
    width: 11%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcellSGrades {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    vertical-align: top;
    width: 18%;
    padding-top: 3px;
    background-color: white;
    text-align: right;
}

.leadcell {
    width: 14%;
    vertical-align: top;
    padding: 3px 3px 3px 6px;
}

.leadcellleft {
    width: 14%;
    vertical-align: top;
    padding: 3px 3px 3px 16px;
}

.leadcell2 {
    width: 18%;
    vertical-align: top;
    padding: 3px 6px 3px 3px;
}

.leadcell2right {
    width: 18%;
    vertical-align: top;
    padding: 3px 16px 3px 3px;
}

.leadcell3 {
    width: 49%;
    vertical-align: top;
    background-color: white;
}

.EmployerAddress {
    width: 38%;
    vertical-align: top;
    background-color: white;
}

.EmployerPhone {
    width: 35%;
    vertical-align: top;
    background-color: white;
}

.leadcellspacer2 {
    width: 1%;
    vertical-align: top;
    background-color: white;
}

.leadcellspacer {
    width: 2%;
    vertical-align: top;
    background-color: white;
}

.contentcell1Col1 {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell1Col2 {
    width: 66%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell1Col3 {
    width: 60%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcellnew {
    width: 14%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.transsearch {
    width: 15%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.transsearch2 {
    width: 33%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.innercell {
    width: 18%;
    background-color: white;
    padding: 3px;
}

.innercell2 {
    width: 30%;
    vertical-align: middle;
    background-color: white;
    padding: 3px;
}

.innercell3 {
    width: 40%;
    vertical-align: bottom;
    background-color: white;
    padding: 3px;
}

.contentcellledge {
    width: 10%;
    vertical-align: top;
    background-color: white;
    padding: 5px;
}

.contentcellreport {
    font-style: normal;
    font-size: 11px;
    width: 100%;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    padding: 3px;
    color: #000066;
    background-color: transparent;
    text-decoration: none;
}

.contentcellhr {
    width: 18%;
    vertical-align: top;
    background-color: white;
    padding: 4px;
}

.contenttable {
    background-color: white;
}

.contenttableJobSearch {
    background-color: #eeeeee;
}

.contenttable2 {
    background-color: #F6F7F8;
}

.contentcell2 {
    width: 100%;
    background-color: white;
    padding: 3px;
    overflow: auto;
    white-space: normal;
}

.contentcelltwo {
    width: 100%;
    background-color: white;
    padding: 3px;
    overflow: auto;
    white-space: normal;
}

.emptycell {
    width: 4%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.coursesemptycell {
    width: 23%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.emptycell3 {
    width: 10%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.emptycell2 {
    width: 2%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell4 {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcellprogramver {
    width: 25%;
    vertical-align: top;
    background-color: white;
    padding: 6px;
    white-space: nowrap;
    text-align: center;
}

.contentcell4search {
    width: 70%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    vertical-align: top;
}

.contentcell4documents {
    width: 30%;
    vertical-align: top;
    background-color: transparent;
    padding: 3px;
    white-space: nowrap;
}

.Admincell4 {
    width: 5%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.contentcell4sdf {
    width: 41%;
    vertical-align: top;
    background-color: white;
    text-align: center;
    padding: 3px;
    white-space: nowrap;
}

.contentcell4ledge {
    width: 40%;
    vertical-align: top;
    background-color: white;
    padding: 5px;
}

.contentcell4report {
    width: 52%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell4hr {
    width: 82%;
    vertical-align: top;
    background-color: white;
    padding: 4px;
}

.contentcell3rows1 {
    width: 18%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell3rows2 {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell3rows3 {
    width: 13%;
    vertical-align: top;
    background-color: white;
    padding: 3px 3px 3px 10px;
}

.contentcellheader {
    width: 100%;
    background-color: #E9EDF2;
    padding-left: 6px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    height: 20px;
    white-space: nowrap;
}

.contentleadmastertable {
    border: 1px solid #ebebeb;
}

.tableborderholidays {
    background-color: #fff;
    border: 1px solid #ebebeb;
}

.tableborder {
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.contentcellheader1 {
    background-color: #E9EDF2;
    padding-left: 6px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    height: 20px;
}

.spacertables {
    height: 8px;
}

.spacertable {
    height: 14px;
}

.spacertables2 {
    height: 25px;
}

.buttons {
    margin: 4px;
    vertical-align: middle;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    color: #000066;
}

.transferbutton {
    margin: 2px;
    vertical-align: middle;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    color: #000066;
}

.buttonsterminate {
    margin: 4px;
    vertical-align: middle;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    width: 200px;
    color: #000066;
}

.buttons1 {
    margin: 2px 0 2px 0;
    width: 100%;
    vertical-align: middle;
    font-style: normal;
    font-size: 9px;
    color: #000066;
}
/*
.4columnheader
{
	width: 25%;
	padding: 2px;
	text-align: center;
	background-color: #E9EDF2;
	border: 1px solid #ebebeb;
}*/
.fourcolumnheader {
    width: 25%;
    padding: 2px;
    text-align: center;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
}

.datalistheader {
    text-align: center;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    white-space: nowrap;
    padding: 2px;
    font-weight: bold;
    font-size: xx-small;
}

.checkbox {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: left;
    background-color: transparent;
    padding: 4px 2px;
}

.datalist {
    border: 1px solid #ebebeb;
    padding: 2px;
    font-style: normal;
    font-size: xx-small;
    color: #000066;
}

.datalistar {
    border: 1px solid #ebebeb;
    padding: 2px;
    font-style: normal;
    font-size: 11px;
    color: #000066;
}

.datalistheaderar {
    text-align: left;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    white-space: nowrap;
    padding: 4px;
    font-size: 11px;
}

.datalistcontent {
    padding: 2px;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    font-style: normal;
    font-size: 10px;
    color: #000066;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
}

.datalistcontentar {
    padding: 4px;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
}

.Datagrid {
    padding: 2px;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
    font-style: normal;
    font-size: 10px;
    color: #000066;
    text-decoration: none;
    width: 100%;
}

.AlternatingItemStyle {
    font-style: normal;
    font-size: 11px;
    color: navy;
    text-decoration: none;
    background-color: #FAF0E6;
}

.HeaderStyle {
    background-color: #000;
    font-size: xx-small;
    font-weight: bold;
    Font-Size: 8pt;
    font-weight: bold;
}

.SelectedItem {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    padding: 2px;
}

.NonSelectedItem {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    padding: 2px;
}

.ItemStyle {
    font-style: normal;
    font-size: 11px;
    color: navy;
    text-decoration: none;
    background-color: Transparent;
}
/*
.SelectedItemStyle
{
	font:  bold 11px ;
	color: navy;
	text-decoration: none;
}

a:link {
	 font-size: 11px; font-weight: normal; color: navy; text-decoration:underline; }
a:visited {
	 font-size: 11px; font-weight: normal; color: navy; text-decoration:underline; }
a:hover {
	 font-size: 11px; font-weight: normal; color: Maroon; text-decoration: underline;}
a:active {
	 font-size: 11px; font-weight: normal; color: navy; text-decoration:underline;}



A.SelectedItemStyle:hover
{
	font-size: 11px ;
	color: navy;
	text-decoration: none;
}
.ItemStyle
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
	background-color: Transparent;
}
A.ItemStyle:link
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
A.ItemStyle:visited
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
A.ItemStyle:active
{
	font-style : normal;  font-size:11px ;
	color: navy;
	text-decoration: none;
}
A.ItemStyle:hover
{
	font-style : normal;  font-size:11px ;
	color: white;
	background-color: Navy;
	text-decoration: none;
}
*/
.FooterStyle {
    font-size: 11px;
    color: navy;
    text-decoration: none;
}

.ToThemeBold {
    font-size: 11px;
    font-weight: bolder;
    color: #000066;
    padding-top: 4px;
    background-color: transparent;
}

.ToThemeDate {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    width: 75px;
    text-align: left;
    padding:0 3px;
}

.ToThemeAmount {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    width: 75px;
    text-align: right;
    padding:0 3px;
}

.dropdownlistReqField {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: Transparent;
    border: 1px solid #ebebeb;
    padding:0 3px;
    width: 100%;
}

.panel {
    border: 1px solid #ebebeb;
}

.radiobutton {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    padding: 4px 2px;
}

.textboxReadOnly {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 0;
    font-size: 11px;
    color: #999999;
    padding-top:0;
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
    text-align: left;
}

.textboxReqField {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: Transparent;
    border: 1px solid #ebebeb;
    padding: 0 3px;
    width: 100%;
}

.textboxDateReqField {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 75px;
    text-align: left;
    background-color: Transparent;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.button {
    vertical-align: middle;
    font-style: normal;
    font-size: 10px;
    color: #000066;
    width: 100%;
}

.buttonpm {
    vertical-align: bottom;
    font-style: normal;
    font-size: 10px;
    color: #000066;
    width: 100%;
    height: 20px;
}

.buttontopfilter {
    vertical-align: middle;
    font-style: normal;
    font-size: 10px;
    color: #000066;
    width: 130px;
}

.buttoncontent {
    vertical-align: middle;
    font-style: normal;
    font-size: 10px;
    color: #000066;
    width: 25%;
}

.buttonreports {
    vertical-align: middle;
    font-style: normal;
    font-size: 9px;
    color: #000066;
    width: 100%;
}

.DateTextBox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 150px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.ClassSectionWithPeriodsDateTextBox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 70%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}



.AmountTextBox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 150px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.textboxAmount {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 75px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.textboxAmountReqField {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 75px;
    text-align: left;
    background-color: Transparent;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.dropdownlistPrefix {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 150px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.dropdownlistSuffix {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 150px;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}



.threecolumnheader {
    width: 40%;
    padding: 4px;
    text-align: center;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
}

.threecolumnheaderreg {
    width: 42%;
    padding: 4px;
    text-align: center;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
}

.onecolumnheaderreg {
    width: 100%;
    padding: 4px;
    text-align: center;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
}

.threecolumnspacer {
    width: 20%;
    padding: 4px;
    text-align: center;
    background-color: Transparent;
    border: 1px solid #ebebeb;
}

.threecolumnspacerreg {
    width: 16%;
    text-align: center;
    background-color: Transparent;
}

.columnheader {
    width: 100%;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    background-color: #E9EDF2;
    padding: 4px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
}

.columnheaderreport {
    width: 44%;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    background-color: #E9EDF2;
    padding: 4px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    text-align: center;
}

.twocolumnheaderreport {
    width: 22%;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    background-color: #E9EDF2;
    padding: 4px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    text-align: center;
}

.columncontentreport {
    width: 44%;
    vertical-align: top;
}


.twocolumncontentreport {
    width: 22%;
    vertical-align: top;
}
/*
.fourcolumncontent
{
	width: 25%;
	vertical-align: top;
}*/
.fourcolumncontent {
    width: 25%;
    vertical-align: top;
}

.fourcolumncontentreports {
    width: 100%;
    vertical-align: top;
    padding: 2px;
}

.threecolumncontent {
    width: 40%;
    height: 100%;
    vertical-align: top;
}

.threecolumncontentreg {
    width: 42%;
    height: 100%;
    vertical-align: top;
}

.onecolumncontentreg {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.fourcolumnbuttons2 {
    width: 70%;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.fourcolumnheaderspacer {
    width: 25%;
    height: 100%;
    vertical-align: top;
}

.fourcolumnheaderspacer {
    width: 25%;
    height: 100%;
    vertical-align: top;
}

.fourcolumnbuttons {
    width: 25%;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.fourcolumnbuttons {
    width: 25%;
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.fourcolumnbuttons3 {
    width: 30%;
    padding: 2px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}

.buttonsreports {
    width: 12%;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
}

.threecolumnbuttons {
    width: 20%;
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

.threecolumnbuttonsreg {
    width: 16%;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}

.resumename {
    font-weight: bold;
    font-size: 16px;
    color: #000066;
    width: 100%;
    text-align: center;
}

.resumetext {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    width: 100%;
    text-align: center;
}

.moduleselector {
    cursor: pointer;
}

.printdepdate {
    width: 8%;
    vertical-align: top;
    background-color: #ffff99;
    padding: 3px;
}

.printdepcal {
    width: 21%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

.printdepbank {
    width: 8%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

.printdepselect {
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

.printdepdropdown {
    width: 34%;
    vertical-align: top;
    background-color: Transparent;
    padding: 3px;
}

.printdepheader {
    width: 48%;
    padding: 4px;
    text-align: center;
    vertical-align: top;
}

.printdepbuttons {
    width: 4%;
    padding: 2px;
    text-align: center;
    vertical-align: middle;
}

.checkpadding {
    padding-top: 27px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom:0;
}

.typepadding {
    padding: 3px;
}

.arleftcells {
    width: 20%;
    padding: 3px;
}

.arbottomcells {
    width: 80%;
    padding: 3px;
}

.arcontentcells {
    width: 10%;
    background-color: White;
    padding: 4px;
}

.arcontentcells2 {
    width: 40%;
    background-color: White;
    padding: 4px;
}

.arbuttoncells {
    width: 10%;
    padding: 4px;
}

.arbuttoncells2 {
    width: 40%;
    padding: 4px;
}

.ardatalistcontent {
    padding: 4px;
    font-style: normal;
    font-size: 11px;
}

.ardatalistcontent2 {
    font-style: normal;
    font-size: 11px;
    color: #000066;
}

.DataHeader {
    font: bold 8pt tahoma;
    color: white;
    background-color: transparent;
}

.Data {
    font: normal 8pt tahoma;
    color: #000066;
    background-color: transparent;
    text-align: left;
}

.DataHeaderSummary {
    font: bold 8pt tahoma;
    color: #000066;
    background-color: transparent;
}

.ReportFooter {
    font: normal 7pt tahoma;
    color: #000066;
    background-color: transparent;
    padding: 4px 2px;
}

.PagerStyle {
    font: normal 8pt tahoma;
    color: #000066;
    background-color: transparent;
    padding: 4px 2px;
}

.ReportHeader {
    font: bold 10pt tahoma;
    color: #000066;
    background-color: transparent;
    text-align: center;
    width: 100%;
}

.AttendanceTextBox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 75%;
    text-align: center;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.ReqFieldTextbox {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: Transparent;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.ReqFieldDropdownlist {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: Transparent;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.scrollpopup {
    overflow: auto;
    width: 100%;
    top: 40px;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right:0;
    text-align: left;
    vertical-align: top;
}

.scrollPopUpResume {
    overflow: auto;
    width: 100%;
    top: 10px;
    bottom: 10px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.ToThemeText {
    font-size: 11px;
    font-family: Arial;
    color: white;
    background-color: #005e9c;
}

.ReportButtons {
    margin: 2px;
    width: 50px;
    padding: 1px;
    font-style: normal;
    font-size: 10px;
    color: #000066;
}

.LargeReportButtons {
    margin: 2px;
    padding: 1px;
    font-style: normal;
    font-size: 10px;
    color: #000066;
}

.RptViewerPanel {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
    position: relative;
    width: 50%;
}

.RptViewer {
    font-style: normal;
    font-size: 2px;
    color: #333333;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 3px;
    left: 0;
}

.Rptspacer {
    height: 30px;
}

.Rptscroll {
    overflow: auto;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 10px;
    margin-right: 1px;
}

.scrollleft15 {
    overflow: auto;
    width: 100%;
    top: 200px;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right: 0;
    text-align: left;
    vertical-align: top;
}

.ToCommentsLimit {
    font-style: normal;
    font-size: 9px;
    color: #000066;
    background-color: transparent;
    width: 100%;
}

.ToCommentsNoWrap {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    font-style: normal;
    font-size: 11px;
    white-space: normal;
    border-left: #ebebeb 1px solid;
    width: 100%;
    color: #333333;
    border-bottom: #ebebeb 1px solid;
    background-color: #fafafa;
    text-align: left;
}

.TermTheme {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 40%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 6px;
}

.ListFrameSearch {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 47%;
    background-color: #E9EDF2;
}

.scrollrightsearch {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 140px;
    padding: 20px;
    margin-right: 1px;
}

.ToThemeSearch {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 60%;
    padding: 4px 2px;
    margin-left:0;
}

.DateEmployment {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 90%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

/* Program Version Definition Styles */

.cellprogverdef {
    width: 40%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.cellprogverdef2 {
    width: 60%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.fivecolumnheader {
    width: 30%;
    padding: 4px;
    text-align: center;
    background-color: #E9EDF2;
    border: 1px solid #ebebeb;
}

.fivecolumnfooter {
    width: 30%;
    padding: 4px;
    text-align: center;
    background-color: white;
}

.fivecolumnspacer {
    width: 2%;
    background-color: white;
}

.fivecolumncontent {
    width: 32%;
    height: 100%;
    vertical-align: top;
}

.scrollprog {
    overflow: auto;
    width: 100%;
    bottom: 20px;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 20px;
    margin-right: 1px;
}

.ToStudentskillsprog {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.ToStudentskillsprog2 {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.tpanelreport {
    width: 100%;
    padding: 2px;
    background-color: White;
    white-space: nowrap;
}

.lsreport {
    width: 70%;
    white-space: nowrap;
}

.lsheaderreport {
    width: 100%;
    padding: 1px;
    vertical-align: middle;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-top: 10px;
}

.lscontentreport1 {
    width: 45%;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    background-color: #E9EDF2;
    padding: 1px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.lscontentreport2 {
    width: 10%;
    vertical-align: middle;
    padding: 1px;
    white-space: nowrap;
}

.lscontentreport3 {
    width: 45%;
    font-size: 11px;
    color: #000066;
    text-decoration: none;
    background-color: #E9EDF2;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.lsfooterreport {
    width: 100%;
    padding: 1px;
    white-space: nowrap;
}

.rsreport {
    width: 28%;
    white-space: nowrap;
    vertical-align: top;
}

.rtheaderreport {
    width: 100%;
    padding: 1px;
    white-space: normal;
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 13px;
}

.rtheaderreport2 {
    width: 100%;
    padding: 1px;
    white-space: normal;
    vertical-align: top;
    padding-bottom: 10px;
    padding-top: 36px;
}

.rtcontentreport {
    width: 100%;
    padding: 1px;
    white-space: nowrap;
}

.rbdropdownreport {
    width: 75%;
    padding: 1px;
    white-space: nowrap;
}

.rbbuttonreport {
    width: 25%;
    padding: 1px;
    white-space: nowrap;
}

.rsspacerreport {
    width: 2%;
}

.toppanelreport {
    width: 20%;
    text-align: left;
    padding: 3px;
}

.toppanelreport2 {
    width: 80%;
    text-align: left;
    padding: 3px;
}

.postpaypadding {
    vertical-align: top;
    padding-left: 6px;
    text-align: center;
}

.error {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.errordescription {
    font-style: normal;
    font-size: 11px;
    color: #990000;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top: 270px;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.errorgraphic {
    background-color: transparent;
    text-align: center;
    position: relative;
    top: 40px;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.errormsg1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    text-transform: capitalize;
    color: Maroon;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.visibility {
    visibility: hidden;
}

/* begin classes for student and employer search pages */
.topbarleft {
    background: url(../images/Top_HomeLeft.gif) no-repeat;
    width: 10px;
    height: 24px;
}

.topbarcenter {
    background: url(../images/Top_HomeBg.gif) repeat-x;
    text-align: center;
    height: 24px;
}

.topbarright {
    background: url(../images/Top_HomeRight.gif) no-repeat;
    width: 10px;
    height: 24px;
}

.bottombarleft {
    background: url(../images/Bottom_HomeLeft.gif) no-repeat;
    width: 20px;
    height: 24px;
}

.bottombarright {
    background: url(../images/Bottom_HomeRight.gif) no-repeat;
    width: 20px;
    height: 24px;
}

.bottombarcenter {
    background: url(../images/Bottom_HomeBg.gif) repeat-x;
    text-align: center;
    height: 24px;
}

.resumeheader {
    width: 100%;
    font-style: normal;
    font-size: 11px;
    font-family: arial;
    color: #000066;
    text-align: center;
}

.OverRideLabel {
    font-weight: bold;
    font-size: 12px;
    color: #000066;
    text-align: center;
    padding: 4px;
    white-space: nowrap;
    height: 20px;
}

.OverRideLabelValue {
    font-style: normal;
    font-size: 12px;
    color: #000066;
    text-align: center;
    padding: 4px;
    white-space: nowrap;
    height: 20px;
}

.scrollrequirements {
    overflow: auto;
    width: 100%;
    top: 100px;
    bottom: 40px;
    position: absolute;
    padding: 16px;
    margin-right:0;
    text-align: left;
    vertical-align: top;
}

.resumetable {
    border: 1px solid #ebebeb;
    padding: 16px;
}

.resumedescription {
    width: 100%;
    color: #000066;
    padding: 0 0 0 16px;
    font: normal 12px arial;
}

.resumedescription2 {
    color: #000066;
    padding: 0 0 0 16px;
    font: normal 12px arial;
}

.educationdescription {
    color: #000066;
    font: normal 12px arial;
}

.resumedescription li {
    margin: 0;
    padding: 4px;
    list-style: square;
}

.resumedescription ul {
    margin: 0 0 0 32px;
    padding: 4px;
}

.leaddocumentpanel {
    width: 80%;
    text-align: center;
}

.tablecopyprog {
    border: 1px solid #ebebeb;
}

.printheader {
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 100%;
    vertical-align: bottom;
}

.printcell {
    border-bottom: 1px solid #000066;
    padding: 4px;
}

.printcontent {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 100%;
    vertical-align: bottom;
}

.classsectiontable {
    border: 1px solid #999;
}


.leadbody {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: scroll;
}

.filterheaderIPEDS {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    margin:0 10px 5px 0;
    padding: 5px 5px 5px 5px;
}

.ModuleDiv {
    margin: 0;
    padding: 6px;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.ModuleDivBottom {
    margin: 0;
    padding: 6px;
    border-right: 1px solid #ebebeb;
}

.ModuleCellheader {
    margin: 0;
    padding: 0;
    background-color: #E9EDF2;
    border-bottom: 1px solid #ebebeb;
}

.ModuleDivRow {
    margin: 0;
    padding: 0;
}

.DataGridItemModuleStart {
    padding: 0;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #ebebeb;
}

.DataGridItemModuleStartRow {
    padding: 3px;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.DataGridheaderModuleStartRow {
    padding: 0;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    background-color: #E9EDF2;
}

.ModuleStartTable {
    border: 1px solid #ebebeb;
}

.LabelReq {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    padding: 2px;
    vertical-align: bottom;
}

.LabelBoldReq {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    padding: 2px;
    vertical-align: bottom;
}

.twosearchlabelcell {
    width: 5%;
    vertical-align: top;
    background-color: Transparent;
    padding:0;
    white-space: nowrap;
}

.twosearchcontentcell {
    width: 10%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
}

.twosplitlabelcell {
    width: 15%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
}

.twosplitcontentcell {
    width: 65%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
}

.LabelLeftBold {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    text-align: left;
}

.DropDownListTransfer {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 30%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px;
}

.buttonsmessage {
    margin: 4px;
    vertical-align: middle;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    color: #000066;
}

.scrollleftenrollment {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.ListFrametoptransfer {
    font-style: normal;
    font-size: 11px;
    border-bottom: #000000 1px solid;
    vertical-align: top;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-top: 14px;
    background-color: GrayText;
    text-align: center;
}

.admissionlinks {
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: #000066;
    width: 25%;
    background-color: transparent;
    padding: 2px;
    vertical-align: bottom;
}

.MissingItemStyle {
    padding: 3px;
    list-style: square;
    font-style: normal;
    font-size: 11px;
    color: #000066;
    text-align: left;
    border: 1px solid #ebebeb;
    vertical-align: top;
}

.LabelNegativeAmount {
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    color: #b71c1c;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.scrollinstrframe {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 220px;
    left: 0;
    padding: 16px;
    margin: 0;
}

.contentcellheaderforgrid {
    width: 60%;
    background-color: #E9EDF2;
    padding-left: 6px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    height: 20px;
}

.twocolumnlabelcellnofilter {
    width: 2%;
    vertical-align: top;
    background-color: Transparent;
    white-space: nowrap;
}

.twocolumncontentcellnofilter {
    width: 43%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
}

.RadDatePicker {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    padding:0 3px;
}

.twocolumncontentcelldoctype4 {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
    padding-bottom: 5px;
}

.Labeldoctype4 {
    font-style: normal;
    font-size: 11px;
    color: #000066;
    background-color: transparent;
    width: 40%;
    /*padding: 2px;*/
    vertical-align: top;
}

.TextBoxPhone {
    font-style: normal;
    font-size: 11px;
    color: #333333;
    width: 70%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding:0 3px 0 0;
}

.Contentrblcell label {
    width: 24%;
}
