﻿html {
    height: 100%;
    width: 100%;
    /*min-width:750px;
    _width:750px;*/
    margin: 0px;
    overflow: hidden;
    background-color: #efeff5;
    color: #333;
}

body {
    /*font-family: Arial, Helvetica, sans-serif; margin: 0px; height: 100%; overflow: hidden;*/
    font-family: Helvetica,Verdana, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /*min-width:750px;
    _width:750px;*/
}

/************************* HEADER STYLES ******************************/
.clwyToolbarHeader {
    /*width:260px;*/
    /*padding-top:2px;*/
}

.clwyToolbarHeaderVersionInfo {
    height: 23px;
    font-size: 8pt;
    font-weight: bold
}

.clwyToolbarHeaderActionsInfo {
    font-size: 8pt;
}

/******************************** LEFT SIDE ************************************/
RadSplitter_Telerik .clwyMain {
    height: 100%;
    width: 100%;
}


/******************************** MIDDLE ************************************/
.clwyContentPageHeaderTitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    padding-left: 5px;
}

.clwyContent {
    padding: 5px 5px 5px 5px;
    width: 99%;
    height: 100%;
}

/*.clwyContentInternal
{
	display:none
}*/

/******************************** INFO CENTER ********************************/
.clwyInfoCenterMsg {
    Width: 100%;
    padding-left: 5px;
}

/******************************** SEARCH ********************************/
.clwySearchFields {
    padding: 2px 5px 0px 5px;
}

.clwySearchFieldsTable {
    border: None;
    margin-top: 5px;
}

.clwySearchFieldContent {
    text-align: left;
    vertical-align: middle;
}

.clwySearchGridSeparator {
}

.clwySearchGrid {
    margin: 5px 7px 7px 7px;
}

.clwyReportViewer {
    padding: 5px 5px 5px 5px;
    width: auto;
    height: 100%;
}

.clwySearchTabSeparator {
    /*padding-top: 10px;*/
    font-size: 4pt;
}

.clwySearchTableBorderized {
    border-style: solid;
    border-width: 1pt;
    table-layout: auto;
    list-style-type: circle;
}

/******************************** TAB ********************************/
.clwyTabToolbar {
    /*padding: 0 3px 0 0;*/
}

.clwyTabHeaderTable {
    width: 100%;
}


.clwyTabFieldsGrid {
    margin: 0px 10px 0px 0px;
}

.clwyTabFieldContent {
    text-align: left;
    vertical-align: middle;
}

.clwyTabEditContent {
    border: none;
    border-spacing: 2px;
}


/******************************** FOOTER **********************************/

.clwyFooter_Inside {
    width: 100%;
    /*height: 100%;*/
}


/**************************** GENERAL **********************/
.clwyInfoBlock {
    text-align: center;
    width: 100%;
}

/********************************** LOGIN ************************************/
.clwyLoginContent {
    vertical-align: middle;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.headerBanner {
    margin-left: auto;
    margin-right: auto;
    background-color: #0d47a1;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.passwordContent {
    width: 508px;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
}

.clwyLoginBox {
    width: 550px;
    text-align: center;
    vertical-align: middle;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
}

    .clwyLoginBox input[type="text"], .clwyLoginBox input[type="password"],
    .passwordContent input[type="text"], .passwordContent input[type="password"] {
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: #FFF !important;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

.primaryButton {
    width: 100%;
    line-height: 40px;
    font-size: 1.0em !important;
    padding: 0.2em;
    background-color: #1976D2;
    color: #fff;
    border: 1px solid #0D47A1;
    border-radius: 0.4em;
}

.secondaryButton {
    width: 100%;
    line-height: 40px;
    font-size: 1.0em !important;
    padding: 0.2em;
    background-color: #f2f2f2;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    color: #333;
}

    .secondaryButton:hover {
        cursor: pointer;
    }

.error {
    color: #F44336;
}

.primaryLink {
    color: #1976D2;
}

.sucecssMessage {
    color: #43A047;
}

.primaryButton:hover {
    cursor: pointer;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    background-color: #FFF !important;
}

.clwyChallengeBox {
    width: 400px;
    border-style: solid;
    border-width: thin
}

.clwyLoginBody {
    text-align: center;
    width: 300px;
}

.clwyLoginLables {
    text-align: left;
    width: 34%;
    background-color: transparent;
}

.clwyLoginFields {
    text-align: left;
    background-color: white;
}

.clwyLoginPageFooter {
    height: 75%;
    vertical-align: middle;
    text-align: center;
}

.clwyLoginPageFooterLabel {
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 8pt;
}
/******************************************** PORTAL_WIDGETS ********************************/
.clwyWidgetContent {
    height: 100%;
    width: 100%;
}

.clwyWidgetFields {
    text-align: left;
}

.clwyWidgetProgressContent {
    vertical-align: middle;
    border-width: 0;
    padding: 0 0px 0 0;
    margin: 0 0 0 0;
    border-spacing: 0
}

.clwyWidgetHeaderTable {
    height: 100%;
    width: 100%;
    border-width: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-spacing: 0;
    font-size: 7pt;
}

.clwyWidgetTabToolBar {
    text-align: right;
}

.clwyWidgetGridContent {
    text-align: left;
    width: 100%;
}

.clwyWidgetMessageText {
    text-align: left;
    width: 100%;
    font-size: 8pt;
}

.clwyWidgetMessageTable {
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-width: 0;
    border-spacing: 0;
}

.clwyWidgetDockZoneHolder {
    text-align: left;
}

.clwyWidgetDockZoneSubHolder {
    padding: 0px;
}

.clwyWidgetDockZoneTable {
}

.clwyWidgetDockZoneBlock {
    width: 33%;
    vertical-align: top;
}

.clwyWidgetChartContent {
    width: 100%;
}

.clwyLoginHeader {
    height: 23px;
    color: #0D47A1;
    font-weight: bold;
    font-size: 10pt;
}

.clwyToolbarHeaderVersionInfo {
    background-color: #3C62A0;
    color: White;
    text-align: right;
    padding-right: 30px;
    padding-top: 5px;
    height: 50px;
    font-size: 11pt;
}


html body .RadInput_Default .riTextBox, html body .RadInputMgr_Default {
    padding-left: 0px !important;
}

.changePassword {
    width: 370px;
    border-style: solid;
    border-width: thin;
    text-align: center;
    vertical-align: middle;
}

.changePassword_title {
    background-color: #809BC8;
    height: 23px;
    color: White;
    font-weight: bold;
    font-size: 10pt;
    width: 370px;
}

.changePassword_instructions {
    font-size: 12px;
    text-align: left;
    padding: 10px;
}

.changePassword_button {
    border: solid 1px #3C62A0;
    padding: 3px;
}

.clwyChangePasswordContent {
    text-align: center;
    vertical-align: middle;
    width: 600px;
    position: fixed;
    top: 30%;
    left: 30%;
    font-size: 8pt;
    /*padding-left: 320px;*/
}
