﻿html, body
{
margin: 0; 
padding: 0; 
font-family: "Segoe UI", Arial, Helvetica, sans-serif;
font-size:12px;
}
.hiddenAdv
{
width:0px;
height:0px;
border-width:0px;
border-style:none;
}
.labelAdv
{
font: normal 11px verdana;
color: #000066;
background-color: transparent;
vertical-align: bottom;
text-align:left;
}
.textboxAdv
{
font: normal 11px verdana;
color: #333333;
text-align: left;
background-color: #fafafa;
border: 1px solid #ebebeb;
padding: 0px 3px;
}
.dropdownlistAdv
{
border: 1px solid #6788BE;
}

    div.CaptionLabel
    {
    	position:inherit;
    background-color:#E3EEFF;color:#0F3789;width:930px;text-align:center;
    font-weight:bold;border:1px solid #98B3DE;margin-bottom:3px; margin-top:3px;
    padding-top:5px;padding-bottom:5px;
    }
.ReadOnlyBlack
{
	color:#ffffff;
}
.menuframe
{
border-top: black 1px solid;
background-image: url(../images/content_bg.gif);
vertical-align: top;
text-align: right;
width: 100%;
height: 22px;
white-space: nowrap;
background-repeat: repeat-x;
}
.save
{
padding-left: 28px;
font-size: xx-small;
background-image: url(../images/save_button.gif);
border-bottom-width: 0px;
width: 66px;
cursor: hand;
background-repeat: no-repeat;
font-family: verdana;
height: 22px;
text-align: left;
border-width: 0px;
}
.new
{
border-width: 0px;
font-size: xx-small;
background-image: url(../images/new_button.gif);
border-bottom-width: 0px;
padding-left:28px;
width: 66px;
cursor: hand;
background-repeat: no-repeat;
font-family: verdana;
height: 22px;
text-align: left;
}
.delete
{
font-size: xx-small;
background-image: url(../images/delete_button.gif);
border-bottom-width: 0px;
padding-left:26px;
width: 66px;
cursor: hand;
background-repeat: no-repeat;
font-family: verdana;
height: 22px;
text-align: left;
border-width: 0px;
}
.checkduplicate
{
font-size: xx-small;
background-image: url(../images/checkduplicate.gif);
border-bottom-width: 0px;
padding-left:48px;
width: 151px;
cursor: hand;
background-repeat: no-repeat;
font-family: verdana;
color: #333333;
height: 23px;
text-align: left;
border-width: 0px;
}
.hiddenAdv
{
width:0px;
height:0px;
border-width:0px;
border-style:none;
}
.FLabel50
{
float:left;
width:50px;
padding-left:5px;

}
.FLabel60
{
float:left;
width:60px;
padding-left:5px;

}
.FLabel70
{
	float:left;
width:70px;
padding-left:5px;

}
.FLabel80
{
	float:left;
width:80px;
padding-left:5px;

}
.FLabel90
{
	float:left;
width:90px;
padding-left:5px;

}
.FLabel100
{
	float:left;
width:100px;
padding-left:5px;

}
.FLabel125
{
	float:left;
	width:125px;
padding-left:5px;

}
.FLabel130
{
	float:left;
	width:130px;
padding-left:5px;

}
.FLabel135
{
	float:left;
	width:135px;
padding-left:5px;

}
.FLabel140
{
	float:left;
	width:140px;
padding-left:5px;

}
.FLabel145
{
	float:left;
	width:145px;
padding-left:5px;

}
.FLabel150
{
	float:left;
	width:150px;
padding-left:5px;

}
.FLabel185
{
	float:left;
	width:185px;
padding-left:5px;

}
.FLabel200
{
	float:left;
	width:200px;
padding-left:5px;

}
.FLabel208
{
	float:left;
	width:208px;
padding-left:5px;

}
.FLabel235
{
	float:left;
	width:235px;
padding-left:5px;


}
.FLabel250
{
	float:left;
	width:250px;
padding-left:5px;

}
.FLabel300
{
	float:left;
	width:300px;
padding-left:5px;	

}
.FLabel350
{
	float:left;
	width:350px;
padding-left:5px;	

}
.FLabel400
{
	float:left;
	width:400px;
padding-left:5px;	

}
.formControlRow
{
	clear:both;
}
.formRow5
{
margin:5px 5px 5px 25px;
}
.formRow15
{
margin:15px 5px 5px 25px;
}
.formRow25
{
margin:15px 5px 5px 25px;
}
.LeadForm
{
	text-align:left;
	width:940px;
}
.TitleSectionRow
{
	margin-left:10px;
}

