﻿.mainSplitter, .main-container, .nestedSplitter, .contentPane, .contentMain1 {
    height: 100%;
}

/*Menu Styles */
.linkHeader {
    font-size: 1.3em;
    white-space: nowrap;
    text-align: left;
}

.disabledLink {
    text-decoration: none;
    color: gray;
    white-space: nowrap;
}

a:link {
    text-decoration: none;
    white-space: nowrap;
}
a:link:hover {
    color: #fa7248;
}
    .menu-icons-top-bar a {
    margin-right: 7px;
}

.layer1 {
    /*margin-left: 1px;
            margin-right: 1px;*/
    padding: 0;
    width: 100%;
    z-index: 9998;
    position: absolute;
    margin: 0px;
    border-bottom: 1px solid #1976d2;
    background: #FFF;
}

.heading {
    margin: 0px;
    cursor: pointer;
    float: right;
    height: 20px;
    padding: 0px;
    color: #444 !important;
}

.headerFooter {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    display: none;
    height: 5px;
}

.content {
    padding: 5px 10px;
    overflow-y: auto;
    position: relative;
}

.borders {
    border-right-color: #355b99;
    border-right-style: solid;
    border-right-width: 2px;
    padding-right: 20px;
}

p {
    padding: 0px 0;
}


#menuRow1 {
    border-color: transparent !important;
}

#menuRow2 {
    border: none !important;
}

.border-main-menu-division {
    border-top: 1px solid #a3d0e4 !important;
    width: 100%;
    height: 1px;
}

#menu {
    background-color: transparent;
    vertical-align: top;
    float: left;
    width: 83%;
    border: none;
}

    #menu h2 {
        font-size: 9pt;
        padding: 5px 10px;
    }

#subMenu {
    text-align: left;
    border: none;
    display: inline-block;
}

    #subMenu h2 {
        font-size: 9pt;
        padding: 5px 10px;
    }

#pageGroups {
    z-index: 10;
    position: fixed;
}

    #pageGroups h2 {
        font-size: 9pt;
        padding: 5px 10px;
    }

#menuContent {
    background-color: transparent;
    vertical-align: top;
    width: 100%;
    border-color: white;
    margin: 0;
}

.k-menu {
    background-color: transparent;
    background-image: none;
    border-color: #0d47a1;
    margin: 0;
}

    .k-menu .k-item {
        border-color: #0d47a1 !important;
        background-image: none !important;
        color: white !important;
    }

        .k-menu .k-item > .k-link {
            color: white;
            padding: .3em 1.1em .3em !important;
            font-weight: normal !important;
        }

    .k-menu .k-state-selected {
        background-color: #0d47a1 !important;
        height: 24px;
    }

        .k-menu .k-state-selected > .k-link {
            background-color: #0d47a1 !important;
            background-image: none;
        }

    .k-menu .k-item, .k-widget.k-menu-horizontal > .k-item {
        height: 24px;
    }

        .k-menu .k-item > .k-link > .k-i-arrow-s {
            display: none !important;
        }

        .k-menu .k-item > .k-link > .k-i-arrow-e {
            display: none !important;
        }

    .k-menu .k-state-hover:hover, .k-menu .k-state-hover > .k-link {
        background-color: #0d47a1 !important;
        color: white;
        background-image: none !important;
    }


#helpicons {
    text-align: right;
    margin-top: 4px;
    margin-right: 0;
    white-space: nowrap;
    vertical-align: top;
    min-width: 80px;
    float: right;
}

    #helpicons a {
        /*float: left;
            margin-right: 0.9em;*/
    }

#subMenuLinks {
    text-align: right;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 10px;
    white-space: nowrap;
    vertical-align: top;
    width: 11%;
    float: right;
}

#menu .k-item {
    display: inline-block;
    float: none !important;
    position: initial !important;
}

.kendoMenuPage {
    max-height: 52px !important;
}

.main-container {
    height: 100% !important;
}

.mainSplitter {
    height: 100% !important;
}

#subMenu .k-state-active {
    background-color: transparent !important; /*#355b99 !important;*/
}

#subMenu .k-link {
    padding-top: 0px;
    padding-bottom: 0px;
    float: none;
}

    #subMenu .k-link .k-icon {
        display: none !important;
    }

    #subMenu .k-link:hover {
        background-color: #0d47a1 !important;
    }

#subMenu .k-animation-container {
    display: none !important;
}

#subMenu .k-item {
    float: left;
    position: initial !important;
    display: inline-block !important;
}

#MasterPageUserOptionsPanelBar {
    background-image: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 0px !important;
    vertical-align: top;
    padding-top: 0px;
    margin: 0px;
    text-align: left;
    float: left;
    margin-left: 7px;
    border: 1px solid #e0e0e0;
}

    #MasterPageUserOptionsPanelBar .k-link {
        background-color: transparent !important;
        border: none !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: none !important;
        color: #0d47a1 !important;
        padding: 5px;
    }

        #MasterPageUserOptionsPanelBar .k-link:hover {
            color: #e65100 !important;
        }

        #MasterPageUserOptionsPanelBar .k-link > .k-image {
            background-color: transparent !important;
            border: none !important;
            padding: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            padding-right: 4px !important;
            padding-left: 4px !important;
            margin: 0px !important;
        }

    #MasterPageUserOptionsPanelBar .k-state-focused.k-state-selected {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
    }

    #MasterPageUserOptionsPanelBar .k-i-arrow-n,
    #MasterPageUserOptionsPanelBar .k-i-arrow-s {
        display: none;
    }


    #MasterPageUserOptionsPanelBar.k-state-hover, #MasterPageUserOptionsPanelBar .k-state-hover:hover {
        background-image: none !important;
    }

    #MasterPageUserOptionsPanelBar .k-state-selected {
        height: 18px;
    }

    #MasterPageUserOptionsPanelBar .k-item {
        padding: 0px !important;
        border: 0px !important;
        margin: 0px !important;
    }

#UserOptionBotton {
    z-index: 9998;
    position: fixed;
    background-color: transparent !important;
    border-width: 0px;
    box-shadow: none !important;
    padding: 0px;
    margin: 0px;
}

    #UserOptionBotton .k-item {
    }

    #UserOptionBotton .k-panelbar-expand, #UserOptionBotton .k-panelbar-collapse {
        display: none !important;
    }

#UserOptionsItems {
    float: left;
    width: 125px;
    margin-left: -120px;
    margin-top: 6px;
    padding: 5px;
    background-color: #fafafa !important;
    border: 1px solid #cccccc;
}

#UserOptionsButton img {
    vertical-align: inherit;
}

.itemOption {
    width: 130px;
    height: 25px !important;
    z-index: 9998;
    text-align: left;
    float: left;
    position: absolute;
    right: 50px;
}

.menu-icons-top-bar {
    float: left;
}

    .menu-icons-top-bar .k-icon {
        width: 17px !important;
        height: 17px !important;
    }

#HeaderOptions {
    float: right;
    text-align: left;
}

.imgSiteLogo {
    margin: 0px 0px 0px 4px;
    cursor: pointer;
}

#btnTabletMode {
    display: none;
    visibility: hidden;
}
/* Tablet - Smaller Screen Resolutions: */
@media screen and (max-width : 1024px) and (max-height : 1024px) /*general responsive/tablet*/, screen and (width : 1366px) and (height : 1024px), /*ipad pro 12.9*/
screen and (width : 1024px) and (height : 1366px), /*ipad pro 12.9*/
screen and (width : 1112px) and (height : 834px), /*ipad pro 10.5*/
screen and (width : 834px) and (height : 1112px) /*ipad pro 10.5*/ {
    .imgSiteLogo {
        margin: 0px 0px 10px 10px;
        vertical-align: middle;
    }

    #btnTabletMode {
        vertical-align: top;
        width: 2.5em;
        height: 2.5em;
        /* margin-left: 5px; */
        background-color: #fa7248;
        border: none;
        color: white;
        display: inline;
        visibility: visible;
        cursor: pointer;
        margin-left: 5px;
        margin-top: 7px;
    }

    #HeaderOptions {
        float: left;
    }

    #menu {
        float: none !important;
        width: 100%;
    }

    #menuContent {
        width: 100% !important;
        height: 100%;
    }

    .rspPaneHorizontal {
        border: none !important;
    }

    .kendoMenuPane {
        position: absolute !important;
        z-index: 99999 !important;
        height: 100% !important;
        width: 196px !important;
    }

    .k-menu .k-item, .k-menu .k-item > .k-link {
        /*color: #00435e !important;*/
        border: none !important;
        font-size: 1.2em !important;
    }

    .k-menu .k-item, .k-widget.k-menu-horizontal > .k-item {
        display: block !important;
        float: none !important;
        margin-bottom: 1.5em;
        height: 100% !important;
    }

    #subMenu {
        float: none !important;
        color: #355b99 !important;
        background-color: #fff !important;
        width: 100% !important;
    }

        #subMenu .k-item {
            margin-bottom: 0px !important;
            color: #ff5722 !important;
            display: block !important;
        }

        #subMenu .k-link:hover {
            color: #FFF !important;
        }

        #subMenu .k-link {
            color: #ff5722 !important;
            font-size: 1em !important;
            line-height: 35px;
            border-bottom: 1px solid #e0e0e0 !important;
        }

    .layer1 {
        top: 56px;
        margin-top: 1px;
        width: 80%;
        margin-left: 20%;
    }

        .layer1 a {
            font-size: 1.2em !important;
        }

    #helpicons {
        height: 150px;
    }

    #UserOptionBotton {
        position: relative;
    }

    .kendoMenuPane {
        overflow: auto !important
    }
}
