html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: left;
    overflow-y: auto;
    overflow-x: auto;	
}
ul
{
	padding: 0;
	margin: 20px 40px 20px 40px;
	list-style: none;
	list-style-type: none;
	text-align: left;
}
h1
{
	margin: 0;
	padding: 0;
	font: bold 13px verdana;
	color: #fff;
}
th
{
	width: 100%;
	background-color: #a3adb8;
	padding: 3px 6px 3px 6px;
	border-bottom: 1px solid #83929f;
	vertical-align: middle;
	height: 20px;
	text-align: left;
}
.headerimage
{		
	background-color: #164D7F;
}

.headertitle
{
	font: bold larger verdana;
	color: #FFFFFF;
	background-color: #164D7F;
	padding: 6px;
	vertical-align: middle;
}

.headerlabel
{
	font: normal 9px verdana;
	color: #FFFFFF;
	background-color: #164D7F;
	vertical-align: top;
}

.AlignedDiv
{
	background-color: White;
	margin: 0;
	padding: 20px;
	overflow: auto;
	width: 100%;
	bottom: 0;
	position: relative;
	left: 0;
	top: 0;
	height: expression(document.body.clientHeight - 55 + "px");
}

.ScrolledDiv
{
/*	overflow: auto;*/
/*	height: expression(document.body.clientHeight - 50 +   "px" );*/
	width: 94%;
	padding: 20px;

}

.ScrolledDivCalendar
{
	overflow: auto;	
	height: expression(document.body.clientHeight - 85 + "px");
	width: 100%;
}

.ScrolledDiv180
{
	overflow: auto;	
	height: expression(document.body.clientHeight - 180 + "px");
}

.BorderDiv
{
	background-color: #164D7F;
	width: 80%;	
	border: 1px solid black; 
}

.Div80
{
	background-color: #164D7F;
	width: 80%;	
	border: 2px solid black; 	
}

.Div90
{
	background-color: #164D7F;
	width: 90%;	
	border: 2px solid black; 	
}

.Div
{
	background-color: #164D7F;
	border: 2px solid black; 	
}

.Label
{
	font: normal 11px verdana;
	color: #000066;
	background-color: transparent;
	text-decoration: none;
	width: 100%;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
}

.labelcell
{
	font: normal 11px verdana;
	color: #000066;
	width: 20%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
	text-align: left;
}
.contentcell
{
	font: normal 11px verdana;
	color: #000066;
	width: 80%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
	text-align: left;
}

.LabelBig
{
	font: normal 14px verdana;
	color: #000066;
}

.TMLabel
{
	font: normal 11px verdana;
	color: #000066;

}

.CalLabel
{
	font: normal 9px verdana;
	color: #000066;
}

.CalLabelRed
{
	font: normal 9px verdana;
	color: Red;	
}

.CalLabelBlue
{
	font: normal 9px verdana;
	color: Blue;
}

.MsgLabel
{
	font: normal 14px verdana;
	color: Red;
}

.textbox
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	height: 16px;
	margin: 0;
	padding: 0;

}

.textboxreq
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color:  transparent;
	border: 1px solid #ebebeb;
	height: 16px;
	margin: 0;
	padding: 0;
}

.LabelBold
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 2px;
}

.TMLabelBold
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 2px;
	text-decoration: none;
}

.LabelBoldUnd
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 2px;
	text-decoration: underline;
	text-align: left;
}

.ListFramemail
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	vertical-align: top;
	width: 40%;
	background-color: #E9EDF2;
}

.listbox
{
	font: normal 11px verdana;
	color: #000066;
	width: 100%;
	font-family: Verdana;
	background-color: #E9EDF2;
	text-align: left;
}

.listboxreq
{
	font: normal 11px verdana;
	color: #000066;
	width: 100%;
	font-family: Verdana;
	background-color: #FFFF99;
	text-align: left;
}

.DropDownList
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}

.DropDownListReq
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FFFF99;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}


.TextBoxDate
{
	font: normal 11px verdana;
	color: #333333;
	width: 85%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}

.buttons
{
	margin: 4px;
	vertical-align: middle;
	font: normal 10px verdana;
	text-align: center;
	color: #000066;
}

.RepeaterTable
{	
	background-color: White;
	width: 100%;
	border-width: 0px;	
}

.Repeater
{
	border-style: solid; 
	border-width: 1px; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-top: 1px; 
	padding-bottom: 1px;	
}

.RepeaterHeader
{
	background-color: #164D7F;
	font-weight: bold;
}

.RepeaterHeaderLabel
{
	font-size: 11px;
	font-style: normal;
	font-family: verdana;
	color: White;
}

.RepeaterRow
{
	border-style: solid; 
	border-width: 2px; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-top: 1px; 
	padding-bottom: 1px
}

.RepeaterSeparator
{
	height: 2px;
	background-color: Black;
	border-color: Black;
	border-style: solid; 
	border-width: 2px; 	
}

.RepeaterMsgLabel
{
	font: normal 11px verdana;
	color: #000066;
	font-family: Verdana;
	font-style: italic;	
}

.DataGridHeader
{
	font: bold 11px Verdana;
	color: #000066;
	text-align: left;
	background-color: #E9EDF2;
	border: 1px solid #ebebeb;
	padding: 3px;
	vertical-align: middle;
}
a.datagridheader:link
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.datagridheader:active
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.datagridheader:visited
{
	text-decoration: none;
	text-align: left;
}
a.datagridheader:hover
{
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:link
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:active
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:visited
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:hover
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
.SelectedItem
{
	font: italic bold 11px verdana;
	color: #000066;
	text-decoration: none;
	padding: 2px;
}
A.SelectedItem:link
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}
A.SelectedItem:visited
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}
A.SelectedItem:active
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}

A.SelectedItem:hover
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:link
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:visited
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:active
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:hover
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
.NonSelectedItem
{
	font: normal 11px verdana;
	color: #000066;
	text-decoration: none;
	padding: 2px;
}
.buttons
{
	margin: 4px;
	vertical-align: middle;
	font-family: Verdana;
	font-size: 10px;
	color: #000066;
	font-weight: normal;
}
.buttons1
{
	margin: 4px;
	width: 100%;
	vertical-align: middle;
	font-family: Verdana;
	font-size: 10px;
	color: #000066;
	font-weight: normal;
}
.topemail
{
	font-family: verdana;
	font-size: xx-small;
	color: #FFFFFF;
	background-color: #164D7F;
	text-align: right;
	padding: 6px;
	width: 100%;
	vertical-align: top;
}
.spacerdiv {height: 6px}
.twocolumnlabelcell
{
	width: 32%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px;
	white-space: nowrap;
}
.twocolumncontentcell
{
	width: 68%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px;
	white-space: nowrap;
	text-align: center;
}
.scrollright
{
overflow: auto;
width: 60%;
padding: 20px;
bottom: 45px;
position: absolute;
white-space: nowrap;
float: left;
top: 25px;
/* top: 155px; */
/*left: 28%;*/
margin-right: 1px;
 border-style:solid;
}