﻿
div.RptLit {
    top: 10px;
}

div.RptTitle {
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #0d47a1;
}

div.RptDescrip {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
    width: 715px;
    color: #0d47a1;
}

.RadMultiPage {
    padding-left: 10px;
    padding-top: 10px;
    border-width: 1px 0px 0px 0px;
    border-color: #0d47a1;
    border-style: Solid;
    min-width: 800px;
}

.PrefNameLinkBtn {
    text-decoration: none;
}

div.ReportSettingsSummary {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 33%
}

div.ReportSettingMgt {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 33%
}

div.ReportRunSection {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20%
}

div.OptWarning {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #b71c1c;
}

div.OptSummary {
    margin-top: 10px;
    margin-bottom: 15px;
}

div.SettingsLabel {
    font-weight: bold;
}

.SettingNameLabel {
    top: 10px;
}

.SettingNameTextbox {
    top: 10px;
}

.SettingDescripLabel {
    top: 15px;
}

.SettingsDescripTextbox {
    top: 8px;
}

div.buttonSave {
    top: 6px;
}

div.CharRemainingLabel {
    text-align: right;
    margin-right: 5px;
    margin-top: -30px;
    font-size: 10pt;
}

.ViewLabel {
    background-color: #E3EEFF;
    color: #0d47a1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: 1px solid #98B3DE;
    margin-right: 10px;
    margin-top: -10px;
}

.ViewOptionsLabel {
    top: 10px;
}

.ViewOptionsDDL {
    top: 10px;
}

div.ExportBtn {
    margin-top: 10px;
    margin-bottom: 20px;
}

div.ReportOptLabel {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
    width: 20%;
}

div.GenRptOpt {
    margin-top: 10px;
    margin-left: 6px;
}

div.SettingValidation {
    margin-top: 5px;
    font-weight: bold;
}

.imgSucessful {
    top: -45px;
}

div.lblSaved {
    float: left;
    margin-top: 23px;
    color: #0d47a1;
    font-weight: bold;
}

div.SavedSuccess {
    margin-top: 20px;
}

.EditDescrip {
    font-size: 8pt;
}

.EditName {
    font-size: 8pt;
}

div.ManageAppSettTitle {
    background-color: #E3EEFF;
    color: #0d47a1;
    width: 1450px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #98B3DE;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10pt;
}

.ToThemeBold {
    font-weight: bold;
    color: #0d47a1;
    padding-top: 4px;
    background-color: transparent;
}

div.ManageConfigExport {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

div.ManageConfigRadGrid {
    float: left;
    margin-left: 10px;
    margin-top: 11px;
}
