﻿div.ResetDiv {
    clear: both;
}

div.InactiveCheckBoxContainer {
    position: relative;
    left: 0px;
}

div.ErrorMsgContainer {
    position: relative;
    color: Red;
    font-weight: bold;
    white-space: pre-line;
}

div.UserNameContainer {
    position: relative;
    color: Blue;
    font-weight: bold;
    white-space: pre-line;
}

div.RequiredFieldContainer {
    position: relative;
    left: 365px;
    color: Red;
    font-weight: bold;
}

div.test7 {
}

div.CaptionLabelSmall {
    position: inherit;
    background-color: #E3EEFF;
    color: #0F3789;
    width: 351px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #98B3DE;
    margin-bottom: 3px;
}

div.CaptionLabelSmall2 {
    position: inherit;
    background-color: #E3EEFF;
    color: #0F3789;
    width: 341px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #98B3DE;
    margin-bottom: 3px;
}

div.CaptionLabel2 {
    color: #1565c0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #0d47a1;
    margin-bottom: 3px;
    font-size: 1em;
}

div.MainContainer {
    margin: 10px 10px 10px 0px;
    width: 99%;
    padding: 0.5em;
}

div.SelectedContainer {
    position: inherit;
    display: block;
    margin: 10px 10px 10px 10px;
    width: 100%;
}

div.DateOptionsSelector {
    min-height: 100px;
}

div.CampusSelector {
    min-height: 60px;
}

div.SchoolReportTypeSelector {
}

div.datespacer {
    height: 5px;
}

.RadListBox span.rlbText {
    font-size: 10px;
}

.InactiveListBoxText {
    font-size: 10px !important;
    font-style: italic !important;
    font-weight: 100 !important;
    /* text-decoration:line-through !important; */
}

.PickedList .RadListBox span.rlbText {
    font-size: 10px;
}

.RadListBox li.rlbItem, .RadListBox li.rlbSelected, .RadListBox span.rlbText {
    padding: 0 0 0 1;
    line-height: 10px;
}

.RadListBox {
}

    .RadListBox span.rlbText {
        padding: 0 0 0 1;
        line-height: 10px;
    }

div.StudentSearchGrid {
    margin: 5px 0px 25px 0px;
    top: 0px;
    left: 0px;
}

div.StudentSearchMessage {
    margin: 5px 0px 0px 0px;
    top: 0px;
    left: 0px;
}

div.SelectedStudentGrid {
    position: inherit;
    margin: 0px 0px 0px 0px;
}

div.GridSpacer {
    height: 50px;
}

div.StudentSearchFilters {
    margin: 10px 0px 0px 0px;
}
/*
.PickedList .rlbGroup, .rlbList  
{
	width:310px;
	height:100px;
	}
.PickerList, .rlbList  
{
	width:310px;
	height:100px;
	}
	.PickerList .rlbGroup
{

	}
*/
div.RadListBox .rlbText {
    white-space: nowrap;
}

html, body, form {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    height: 100%;
}

.ParamSetToolTip {
    width: 250px;
}

span.RadListBox1Counter {
    position: relative;
    left: 149px;
}

span.RadListBox2Counter {
    position: relative;
    left: 465px;
}

span.DateModifier1 {
    position: relative;
    left: 0px;
}

span.DatePicker1 {
    position: relative;
    left: 25px;
}

span.DatePicker1Single {
    position: relative;
    left: 75px;
}

span.DateModifier2 {
    position: relative;
    left: 0px;
}

span.DatePicker2 {
    position: relative;
    left: 25px;
}

div.DateRow1 {
    margin: 10px 0px 15px 0px;
}

div.ShowWorkUnits {
    float: left;
}

div.GroupWorkUnits {
    float: right;
}

div.SortOrderGrid {
    position: relative;
    margin: 10px 0px 25px 0px;
    top: 0px;
    left: 0px;
}

div.SelectedSortOrderGrid {
    float: left;
    margin: 5px 10px 0px 0px;
}

div.SortOrderInstructions {
    float: right;
    margin: 15px 20px 5px 5px;
    width: 300px;
}

.TreeParentNode {
    font-weight: bold;
}

div.DisplaySummaryMsg {
    color: Black;
}

.GridItemDropIndicator_Web20 {
    border-top: 4px solid #426FBD !important;
}
/* 
RadMultiPage.SearchmultiPage
	{
		display:block;
	}
*/
.textbox2 {
    line-height: 24px !important;
}
