﻿html, body
{
    overflow:auto;
}
.dropdownlist2
{
font: normal 11px ;
color: #333333;
width: 300px;
text-align: left;
background-color: #fafafa;
border: 1px solid #6788BE;
/*padding: 0px 3px;*/
margin-left: 0px;
height:22px;
}
.classsectionlabelcell
{
/*width: 15%;
vertical-align: top; 
background-color: white;*/
padding: 3px;
text-align:left;
/*white-space: nowrap; */
}
.classsectioncontentcell
{
/*width: 35%;
vertical-align: top;
background-color: white; 
padding: 3px;
white-space: nowrap; */
padding: 3px;
text-align:left;
}
.classsectioncontentcella
 {
    width:30%;
    vertical-align: top;
	background-color: white;
	padding: 3px;
	white-space: nowrap;
}
#contentnew{
    float:left;
    width:750px;
    padding:10px;
}
#contentnew2{
    float:left;
    width:500px;
    padding:10px;
}
#contentleft {
    float:left;
    width:325px;

}
#contentright {
    float:left;
    width:325px;

}
.rowform
{
/*margin:2px;*/
padding:3px;
}
.labelpop
{
font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
	width:200px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
}
.detailsframe
{
	vertical-align: top;
	width: 100%;
	background-color: #ffffff;
	text-decoration: none;
}
.textboxpop
{
font: normal 11px ;
color: #333333;
width: 300px;
height:22px;
text-align: left;
background-color: #fafafa;
border: 1px solid #6788BE;
padding: 0px 3px;
}