

body
{
    line-height: 120%;
	background: white;
	font-size: 9pt;
	font-family: Verdana;
}
table
{
	border: 0;
}

#wrapper, #content
{
	margin: 0;
	padding: 0;
	border: 0;
	float: none !important;
	color: black;
}

div#content
{
	margin-left: 5%;
	padding-top: 1em;
	border-top: 1px solid #930;
}
.scrollwholeprint
{
	color: black;
	padding: 2em;
	float: none;
}
.scrollsingleframe
{
	color: black;
	padding: 0;
	float: none;
	overflow: visible;
}
.printheader
{
	font: bold 9pt verdana;
	color: #000066;
	background-color: transparent;
	width: 100%;
	vertical-align: middle;
}
.printheaderrow
{
	font: bold 9pt verdana;
	color: #000066;
	background-color: #CCCDDD;
	width: 100%;
	vertical-align: middle;
}

.printcell
{
	border-bottom: 1pt solid #000066;
	padding: 3pt;
}

.printcontent
{
	font: normal 9pt verdana;
	color: #000066;
	background-color: transparent;
	width: 100%;
	vertical-align: middle;
}
.Label
{
	font: normal 9pt verdana;
	color: #000066;
	background-color: transparent;
	width: 100%;
	padding: .2em;
}
.spacer
{
	padding: 2pt;
}
.attendanceprintcolumns
{
	width: 20%;
	vertical-align: top;
	background-color: Transparent;
	padding: .2em;
	white-space: nowrap;
	font-size: 9pt;
	color: #000066;
}
#header, .menutable , #footer
{
	display: none;
}

.detailsframetop {border: 0}
h1
{
	font: bold 16pt verdana;
	color: #000066;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	text-align: center;
}
h2
{
	font: bold 12pt verdana;
	color: #000066;
	border-bottom: 4px solid #ebebeb;
	vertical-align: middle;
	margin: 1em 0 1em 0;
	padding: .1em;
	background-color: #e9edf2;
	text-align: left;
	width: 100%;
}
.resumecontainer
{
	margin: 0;
	padding: 1em;
	width: 100%;
	overflow: visible;
	height: 100%;
}
ul
{
	padding: 0;
	margin: 0 1em 0 1em;
}
li
{
	width: 100%;
	font: normal 9pt arial;
	color: #000066;
	text-align: left;
	margin: 0;
	padding: .2em;
}
.resumeheader ul
{
	padding: 0;
	margin: 0;
}
.resumeheader li
{
	width: 100%;
	font: normal 9pt arial;
	color: #000066;
	text-align: center;
	margin: 0;
	padding: 0;
}
