﻿h1 {font: bold 18px verdana;color: #000066; vertical-align: middle; margin: 0; padding: 0; text-align: center}
h2 {font: bold 15px verdana;color: #000066; border-bottom: 4px solid #ebebeb; vertical-align: middle; margin: 16px 0 16px 0; padding: 4px; background-color: #e9edf2; text-align: left; width: 100%}
.resumecontainer { border: 1px solid #ebebeb; margin: 0; padding: 16px; width: 100%}
ul {padding: 0; margin:0 20px 0 20px}
/*li {width: 100%; font: normal 11px arial; color: #000066; text-align: left; margin: 0; padding: 2px}*/
.resumeheader ul {padding: 0; margin: 0}
.resumeheader li {width: 100%; font: normal 11px arial; color: #000066; text-align: center; margin: 0; padding: 0}
.Labelsmall
{
	font: normal 11px verdana;
	color: #000066;
	background-color: transparent;
	width: 100%;
	padding: 0;
	vertical-align: bottom;
}
.DropDownListsmall
{
	font: normal 11px verdana;
	color: #333333;
	width: 90%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0;
}
.DropDownListModuleStart
{
	font: normal 11px verdana;
	color: #333333;
	width: 95%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0;
}
.TextBoxsmall
{
	font: normal 11px verdana;
	color: #333333;
	width: 99%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0;
}
.Listboxes
{
	font: normal 11px verdana;
	color: #333333;
	width: 100%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0;	
}

