﻿/* SITE STYLES */

/*---------------------------------*/
/*Telerik RadGrid Web20 Skin*/
/*---------------------------------*/

/*global*/

.MaintenanceGrid_Web20
{
    border:1px solid #4e75b3;
    background:#fff;
    color:#000;
     font-family: "Segoe UI", Arial, sans-serif;
    font-size:11px;
}

.MaintenanceGrid_Web20,
.MaintenanceGrid_Web20 .rgMasterTable,
.MaintenanceGrid_Web20 .rgDetailTable,
.MaintenanceGrid_Web20 .rgGroupPanel table,
.MaintenanceGrid_Web20 .rgCommandRow table,
.MaintenanceGrid_Web20 .rgEditForm table,
.MaintenanceGrid_Web20 .rgPager table,
.GridToolTip_Web20
{
    /*font:12px/16px "segoe ui",arial,sans-serif;*/
    font-family: "Segoe UI", Arial, sans-serif;
    font-size:11px;
}

.MaintenanceGrid_Web20 .rgHeader:first-child,
.MaintenanceGrid_Web20 th.rgResizeCol:first-child,
.MaintenanceGrid_Web20 .rgFilterRow>td:first-child,
.MaintenanceGrid_Web20 .rgRow>td:first-child,
.MaintenanceGrid_Web20 .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.MaintenanceGrid_Web20 .rgAdd,
.MaintenanceGrid_Web20 .rgRefresh,
.MaintenanceGrid_Web20 .rgEdit,
.MaintenanceGrid_Web20 .rgDel,
.MaintenanceGrid_Web20 .rgFilter,
.MaintenanceGrid_Web20 .rgPagePrev,
.MaintenanceGrid_Web20 .rgPageNext,
.MaintenanceGrid_Web20 .rgPageFirst,
.MaintenanceGrid_Web20 .rgPageLast,
.MaintenanceGrid_Web20 .rgExpand,
.MaintenanceGrid_Web20 .rgCollapse,
.MaintenanceGrid_Web20 .rgSortAsc,
.MaintenanceGrid_Web20 .rgSortDesc,
.MaintenanceGrid_Web20 .rgUpdate,
.MaintenanceGrid_Web20 .rgCancel,
.MaintenanceGrid_Web20 .rgUngroup,
.MaintenanceGrid_Web20 .rgExpXLS,
.MaintenanceGrid_Web20 .rgExpDOC,
.MaintenanceGrid_Web20 .rgExpPDF,
.MaintenanceGrid_Web20 .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.MaintenanceGrid_Web20 .rgHeaderDiv
{
	background:#537ab8 0 -7050px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6550px;
}

.MaintenanceGrid_Web20 .rgHeader,
.MaintenanceGrid_Web20 th.rgResizeCol
{
	border:1px solid;
	border-color:#fff #6e8ec2 #204582 #355a99;
	border-top-width:0;
	background:0 -2300px repeat-x #7fa5d7 url('Grid/sprite.gif');
}

.MaintenanceGrid_Web20 th.rgSorted
{
	border-color:#fff #8eaad6 #204582 #204582;
	background-color:#c0d5ee;
	background-position:0 -2600px;
}

.MaintenanceGrid_Web20 .rgHeader,
.MaintenanceGrid_Web20 .rgHeader a
{
    color:#fff;
}

.MaintenanceGrid_Web20 th.rgSorted,
.MaintenanceGrid_Web20 th.rgSorted a
{
	color:#0f3789;
}

/*rows*/

.MaintenanceGrid_Web20 .rgRow td,
.MaintenanceGrid_Web20 .rgAltRow td,
.MaintenanceGrid_Web20 .rgEditRow td,
.MaintenanceGrid_Web20 .rgFooter td
{
	border-style:solid;
	border-width:0 1px 1px;
}

.MaintenanceGrid_Web20 .rgRow td,
.MaintenanceGrid_Web20 .rgAltRow td
{
	border-color:#fff #fff #cfd9e7 #829cbf;
}

.MaintenanceGrid_Web20 .rgRow .rgSorted,
.MaintenanceGrid_Web20 .rgAltRow .rgSorted
{
	border-bottom-color:#cfd9e7;
	background-color:#e3eeff;
}

.MaintenanceGrid_Web20 .rgSelectedRow .rgSorted,
.MaintenanceGrid_Web20 .rgActiveRow .rgSorted,
.MaintenanceGrid_Web20 .rgHoveredRow .rgSorted,
.MaintenanceGrid_Web20 .rgEditRow .rgSorted
{
	background-color:transparent;
}

.MaintenanceGrid_Web20 .rgRow a,
.MaintenanceGrid_Web20 .rgAltRow a,
.MaintenanceGrid_Web20 .rgEditRow a,
.MaintenanceGrid_Web20 .rgFooter a,
.MaintenanceGrid_Web20 .rgEditForm a
{
	color:#0f3789;
}

.MaintenanceGrid_Web20 .rgSelectedRow
{
    background:#cdffb1;
}
*+html .MaintenanceGrid_Web20 .rgSelectedRow .rgSorted{background-color:#cdffb1}
* html .MaintenanceGrid_Web20 .rgSelectedRow .rgSorted{background-color:#cdffb1}

.MaintenanceGrid_Web20 .rgActiveRow,
.MaintenanceGrid_Web20 .rgHoveredRow
{
    background:#e3eeff;
}
*+html .MaintenanceGrid_Web20 .rgActiveRow .rgSorted,
*+html .MaintenanceGrid_Web20 .rgHoveredRow .rgSorted{background-color:#e3eeff}
* html .MaintenanceGrid_Web20 .rgActiveRow .rgSorted,
* html .MaintenanceGrid_Web20 .rgHoveredRow .rgSorted{background-color:#e3eeff}

.MaintenanceGrid_Web20 .rgEditRow
{
	background:#fff;
}
*+html .MaintenanceGrid_Web20 .rgEditRow .rgSorted{background-color:#fff}
* html .MaintenanceGrid_Web20 .rgEditRow .rgSorted{background-color:#fff}

.MaintenanceGrid_Web20 .rgSelectedRow td,
.MaintenanceGrid_Web20 .rgActiveRow td,
.MaintenanceGrid_Web20 .rgHoveredRow td,
.MaintenanceGrid_Web20 .rgEditRow td
{
	border-left-width:0;
	border-right-width:0;
	padding-left:8px;
	padding-right:8px;
}

.MaintenanceGrid_Web20 .rgSelectedRow td,
.MaintenanceGrid_Web20 .rgSelectedRow td.rgSorted
{
	border-bottom-color:#71bf25;
}

.MaintenanceGrid_Web20 .rgActiveRow td,
.MaintenanceGrid_Web20 .rgHoveredRow td,
.MaintenanceGrid_Web20 .rgActiveRow td.rgSorted,
.MaintenanceGrid_Web20 .rgHoveredRow td.rgSorted
{
	border-bottom-color:#b1caee;
}

.MaintenanceGrid_Web20 .rgEditRow td,
.MaintenanceGrid_Web20 .rgEditRow td.rgSorted
{
	border-color:#fff #fff #4e75b3 #fff;
}

.MaintenanceGrid_Web20 .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.MaintenanceGrid_Web20 .rgFooterDiv,
.MaintenanceGrid_Web20 .rgFooter
{
	background:#e3eeff;
}

.MaintenanceGrid_Web20 .rgFooter td
{
	border-top-width:1px;
	border-color:#829cbf #e3eeff #fff #e3eeff;
}

/*status*/

.MaintenanceGrid_Web20 .rgPager .rgStatus
{
	border:1px solid;
	border-color:#829cbf #8caabb #fff #8caabb;
	border-left-width:0;
}

.MaintenanceGrid_Web20 .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.MaintenanceGrid_Web20 .rgPager
{
	background:#e3eeff;
}

.MaintenanceGrid_Web20 td.rgPagerCell
{
	border:1px solid;
	border-color:#829cbf #fff #fff;
	border-right-width:0;
}

.MaintenanceGrid_Web20 .rgInfoPart
{
	color:#666;
}

.MaintenanceGrid_Web20 .rgInfoPart strong
{
	color:#000;
}

.MaintenanceGrid_Web20 .rgPageFirst
{
	background-position:0 -550px;
}
.MaintenanceGrid_Web20 .rgPageFirst:hover
{
	background-position:0 -600px;
}
.MaintenanceGrid_Web20 .rgPagePrev
{
	background-position:0 -700px;
}
.MaintenanceGrid_Web20 .rgPagePrev:hover
{
	background-position:0 -750px;
}
.MaintenanceGrid_Web20 .rgPageNext
{
	background-position:0 -850px;
}
.MaintenanceGrid_Web20 .rgPageNext:hover
{
	background-position:0 -900px;
}
.MaintenanceGrid_Web20 .rgPageLast
{
	background-position:0 -1000px;
}
.MaintenanceGrid_Web20 .rgPageLast:hover
{
	background-position:0 -1050px;
}

.MaintenanceGrid_Web20 .rgPager .rgPagerButton
{
	border-color:#00002a #00002a #000;
	background:#466abb repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.MaintenanceGrid_Web20 .rgNumPart a:hover,
.MaintenanceGrid_Web20 .rgNumPart a:hover span,
.MaintenanceGrid_Web20 .rgNumPart a.rgCurrentPage,
.MaintenanceGrid_Web20 .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.MaintenanceGrid_Web20 .rgNumPart a
{
	color:#000;
}

.MaintenanceGrid_Web20 .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#0f3789;
}

.MaintenanceGrid_Web20 .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.MaintenanceGrid_Web20 .rgNumPart a.rgCurrentPage,
.MaintenanceGrid_Web20 .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#0d202b;
}

.MaintenanceGrid_Web20 .rgNumPart a.rgCurrentPage span,
.MaintenanceGrid_Web20 .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.MaintenanceGrid_Web20 .rgHeader .rgSortAsc
{
	background-position:3px -247px;
	height:10px;
}

.MaintenanceGrid_Web20 .rgHeader .rgSortDesc
{
	background-position:3px -197px;
	height:10px;
}

.MaintenanceGrid_Web20 .rgSorted .rgSortAsc
{
	background-position:3px -147px;
}

.MaintenanceGrid_Web20 .rgSorted .rgSortDesc
{
	background-position:3px -97px;
}

.GridReorderTop_Web20,
.GridReorderBottom_Web20
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Web20
{
	background-position:0 -50px;
}

/*filtering*/

.MaintenanceGrid_Web20 .rgFilterRow
{
	background:#537ab8;
}

.MaintenanceGrid_Web20 .rgFilterRow td
{
    border:1px solid;
    border-top-width:0;
    border-color:#537ab8 #537ab8 #3c5c90;
}

.MaintenanceGrid_Web20 .rgFilter
{
	background-position:0 -300px;
}

.MaintenanceGrid_Web20 .rgFilter:hover
{
	background-position:0 -350px;
}

.MaintenanceGrid_Web20 .rgFilterActive,
.MaintenanceGrid_Web20 .rgFilterActive:hover
{
	background-position:0 -400px;
}

.MaintenanceGrid_Web20 .rgFilterBox
{
	border:1px solid #4e75b3;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_Web20 .rgHCMClear,
.RadMenu_Web20 .rgHCMFilter
{
	border-color:#0f1d48 #07112d #010615;
	background:#617fc5 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#fff;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.RadMenu_Web20 .rgHCMClear:hover,
.RadMenu_Web20 .rgHCMFilter:hover
{
	border-color:#3f5f94;
	background-position:center -67px;
	background-color:#c1d5ef;
	color:#0f3789;
}

/*context menu*/

.GridContextMenu_Web20 .rmLeftImage
{
	background-image:url('../Common/Grid/contextMenu.gif');
}

.GridContextMenu_Web20 .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_Web20 .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_Web20 .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_Web20 .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_Web20 .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_Web20 .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_Web20 .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_Web20 .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.MaintenanceGrid_Web20 .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #4e75b3;
	background:#e3eeff;
}

.MaintenanceGrid_Web20 .rgGroupPanel td
{
	border:0;
	padding:3px;
	vertical-align:middle;
}

.MaintenanceGrid_Web20 .rgGroupPanel td td
{
	padding:0;
}

.MaintenanceGrid_Web20 .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.MaintenanceGrid_Web20 .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.MaintenanceGrid_Web20 .rgUngroup
{
	background-position:0 -6500px;
}

.MaintenanceGrid_Web20 .rgGroupItem
{
	border:1px solid #4e75b3;
	background:#c6d8f2;
	color:#0f3789;
}

.MaintenanceGrid_Web20 .rgGroupHeader
{
    background:#859bbc;
    font-size:1.1em;
    line-height:21px;
	color:#fff;
}

.MaintenanceGrid_Web20 .rgGroupHeader td
{
    padding:0 8px;
}

.MaintenanceGrid_Web20 td.rgGroupCol,
.MaintenanceGrid_Web20 td.rgExpandCol
{
	background:#859bbc none;
	border-color:#859bbc;
}

.MaintenanceGrid_Web20 .rgExpand
{
	background-position:5px -496px;
}

.MaintenanceGrid_Web20 .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.MaintenanceGrid_Web20 .rgEditForm
{
	border-bottom:1px solid #829cbf;
}

.MaintenanceGrid_Web20 .rgUpdate
{
	background-position:0 -1800px;
}

.MaintenanceGrid_Web20 .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.MaintenanceGrid_Web20 .rgDetailTable
{
	border-color:#4e75b3;
}

/*command row*/

.MaintenanceGrid_Web20 .rgCommandRow
{
	background:#3b548c 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#fff;
}

.MaintenanceGrid_Web20 .rgCommandCell
{
	border:0;
	padding:0;
}

.MaintenanceGrid_Web20 thead .rgCommandCell
{
	border-bottom:1px solid #6788be;
}

.MaintenanceGrid_Web20 tfoot .rgCommandCell
{
	border-top:1px solid #6788be;
}

.MaintenanceGrid_Web20 .rgCommandTable
{
	border:1px solid #243567;
}

.MaintenanceGrid_Web20 .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.MaintenanceGrid_Web20 .rgCommandTable td td
{
	padding:0;
}

.MaintenanceGrid_Web20 .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.MaintenanceGrid_Web20 .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.MaintenanceGrid_Web20 .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.MaintenanceGrid_Web20 .rgEdit
{
	background-position:0 -1700px;
}

.MaintenanceGrid_Web20 .rgDel
{
	background-position:0 -1750px;
	background-image:url('images/transhcan3.png');
}

.MaintenanceGrid_Web20 .rgExpXLS,
.MaintenanceGrid_Web20 .rgExpDOC,
.MaintenanceGrid_Web20 .rgExpPDF,
.MaintenanceGrid_Web20 .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.MaintenanceGrid_Web20 .rgExpXLS
{
	background-position:0 0;
}
.MaintenanceGrid_Web20 .rgExpDOC
{
	background-position:0 -50px;
}
.MaintenanceGrid_Web20 .rgExpPDF
{
	background-position:0 -100px;
}
.MaintenanceGrid_Web20 .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Web20
{
	background:#1346ad;
}

/*row drag n drop*/

.GridItemDropIndicator_Web20
{
    border-top:1px dashed #1346ad;
}

/*tooltip*/

.GridToolTip_Web20
{
	border:1px solid #4e75b3;
	padding:3px;
	background:#e3eeff;
	color:#000;
}

/*rtl*/

.RadGridRTL_Web20 .rgHeader:first-child,
.RadGridRTL_Web20 th.rgResizeCol:first-child,
.RadGridRTL_Web20 .rgFilterRow>td:first-child,
.RadGridRTL_Web20 .rgRow>td:first-child,
.RadGridRTL_Web20 .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_Web20 .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Web20 .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Web20 .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Web20 .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Web20 .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Web20 .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Web20 .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Web20 .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Web20 .rgExpand
{
	background-position:-20px -496px;
}



/*---------------------------------*/
/*Session notification*/
/*---------------------------------*/
.clockSession
{
    width: 409px;
    height: 174px;
    margin: auto;
    background: url(Img/clockSession.jpg) no-repeat;
}
        
.contSession
{
    width: 270px;
    float: right;
    text-align: center;
    margin: 20px 20px 0 0 ;
}
        
.sessionExpire
{
    color: #3366ff;
    padding-top: 30px;
}
        
.showNotification
{
    padding-top: 15px;
    color: #666;
}
        
.timeRemain
{
    padding-top: 5px; 
    color: #000;
}
        
.timeSeconds
{
    font-size: 30px;
}
        
.infoIcon, .notificationContent
{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
        
.infoIcon
{
    width: 32px;
    height: 32px;
    margin: 0 10px ;
    vertical-align: top;
}
        
.notificationContent
{
    width: 625px;
    vertical-align: bottom;
    font-family: Verdana;
    font-size: 10pt;
    color:Navy;
    }


/*---------------------------------*/
/*Link Site Map*/
/*---------------------------------*/

.LinkSiteMap .rsmLink,
.LinkSiteMap .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	background: #6b8dc2;
	color: #FFF;
	margin:0px;
	font-size:11px;
	line-height:150%;
	border-style:solid; 
	padding-left:0px;
	text-align:left;
	margin-left:0px;
	text-indent:0px;
    font-weight:bold;
    font-style:normal;
}
.LinkSiteMapLinkActive a {
    color: #000;
    text-decoration:none;
}

div.LinkSiteMap .rsmLink,
div.LinkSiteMap .rsmTemplate
{
	padding-left: 0px;
	background-color:White;
    text-decoration:none;
}
div.LinkSiteMap .rsmLink:hover
{
	color: #EEE;
	
}


/* ------------------ DISABLED LOOK -------------------------*/

.LinkSiteMapDisabled .rsmLink,
.LinkSiteMapDisabled .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	background: #6b8dc2;
	color: #FFF;
	margin:0px;
	font-size:11px;
	line-height:150%;
	border-style:solid; 
	padding-left:0px;
	text-align:left;
	margin-left:0px;
	text-indent:0px;
    font-weight:normal;
    font-style:italic;
}
div.LinkSiteMapDisabled .rsmLink,
div.LinkSiteMapDisabled .rsmTemplate
{
	padding-left: 0px;
	background-color:White;
}
div.LinkSiteMapDisabled .rsmLink:hover
{
	color: #EEE;
	
}
.LinkSiteMapDisabled a {
    color: #808080;
    text-decoration:none;
    
}


/*---------------------------------*/
/*Uploadify*/
/*---------------------------------*/

/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
	position: relative;
	margin-bottom: 1em;
}
/*.uploadify-button {
	background-color: #505050;
	background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #505050),
		color-stop(1, #707070)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
}*/
.uploadify:hover .uploadify-button {
	background-color: #606060;
	background-image: linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #606060),
		color-stop(1, #808080)
	);
	background-position: center bottom;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}



/*---------------------------------*/
/*Doc Management*/
/*---------------------------------*/


#frame   { background:white;margin:0 auto; }
#panel   { background:#E9EDF2; width:350px; float:left;height:950px; padding:3px; }
#content { background:white; padding:5px;margin: 0 10px 0 10px; }
#foot    { background:cornflowerblue }
.tblLabels {font-family: Arial; font-size: 9pt; font-weight: bold;width:125px;color:rgb(53, 91, 153); }
.tblRadio {font-family: Arial; font-size: 10pt; font-weight: bold;}
.loadingImage {display: inline-block; margin: auto; }
.filterheaderRow {background-color: #f5f5f5;}
.header { color: rgb(53, 91, 153);font-size: 12pt;font-weight: bold;}
.hdnUserName{ color: white;}

.k-popup .k-list .k-item {
    min-height: 1.8em;
}

/*table td, table th {
    border: 1px solid;
    border-color:lightslategray;
    
}*/

.clear{
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
a {
    text-decoration: none;
}
#tab-container{
    font-family: Arial,  Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height:14px;
    /*margin: 3em auto;*/
    width: 100%;
    overflow: hidden;
}
#tab-container ul{
    list-style: none;
    list-style-position: outside;
    width: 100%;
    padding:0px;
    margin:0px;

}
#tab-container ul.tab-menu li{
    display: block;
    float: left;
    position: relative;
    font-weight: 700;
    padding: 2px 10px 2px 10px;
    background: #eee;
    border: 1px solid #ddc;
    border-bottom: none;
    border-width: 1px;
    color: #999;
    cursor: default;
    height: 12px;
    margin-bottom: -1px;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#tab-container ul.tab-menu li.active{
    background: #fff;
    color: rgb(53, 91, 153);
    height: 15px;
    border-bottom: 0;
}
.tab-top-border {
    border-bottom: 1px solid #d0ccc9;
}
.tab-content{
    margin: 0 auto;
    background: #efefef;
    background: #fff;
    border: 1px solid #ddc;
    border-top-style: none;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 11px;
    display: none;
    height: 60px;
}
#tab-container div.active{
    display: block;
}
.tab-content h1{
    line-height: 1em;
    height: 28px;
    font-size: 22px;
}
#content h4 {
    color:rgb(53, 91, 153);
}




/*---------------------------------*/
/*MASTER PAGE STYLES*/
/*---------------------------------*/

.HiddenWrapper {
    visibility: hidden;
}

.grdFavorites .rgRow:hover .HiddenWrapper,
.grdFavorites .rgAltRow:hover .HiddenWrapper {
    visibility: visible;
}
    #Label1Panel {
        display: inline !important;
    }

.lblError {
    background: #CC0000;
    border: 1px solid darkred;
    color: #b71c1c;
    font: bold 16px "Segoe UI", Arial, sans-serif;
    vertical-align: middle;
    display: none;
    height: 30px;
    line-height: 28px;
    position: absolute;
    padding-left: 5px;
    width: 743px;
    z-index: 6000;
    cursor: pointer;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=90) !important;
    /*opacity: 0.9;*/
    -moz-opacity: 0.9;
    /*filter: alpha(opacity=90);*/
}