﻿.rcbHeader ul,
.rcbFooter ul,
.rcbItem ul, .rcbHovered ul, .rcbDisabled ul
{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.col1
{
    float: left;
    width: 200px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 14px;
}
.col2
{
    float: left;
    width: 80px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 14px;
}
.col3
{
    float: left;
    width: 300px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 14px;
}
.col4
{
    float: left;
    width: 160px;
    margin: 0;
    padding: 0 5px 0 0;
    line-height: 14px;
}

.Table100 
{
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0
}

.Label
{
	background-color: transparent;
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
}

.button
{
    vertical-align: middle;
    margin-left: 10px;
}

.selection-result
{
    padding: 10px 0 10px 0;
    display: block;
}

div.bigModuleBottom
{
    padding-top: 25px;
}

.style1
{
    width: 125px;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
}
.style2
{
    width: 115px;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    height: 25px;
}
.style3
{
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 4px 3px 4px 3px;
    white-space: nowrap;
    text-align: center;
    height: 25px;
}
.warning{ color: #FF4207 !important;}
.col-left{ float: left;width: 100px;line-height: 35px;}
.col-right{ float: left;width: 70%;}
.row{ margin-bottom: 10px;clear: both;}
.red{ color: #b71c1c;}
.align_right{ text-align: right;}

.k-button-error {
    color: #FFFFFF !important;
    border-color: #EF6161 !important;
    background-color: #F06461 !important;
}
.errorPopup {
    padding-left: 10px;
    min-width: 300px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.errorPopup h3 {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    padding-top: 5px;
    color: #EF6161;
}
.errorPopup img {
    float: left;
    margin-right: 15px;
}
.errorPopup p{float: right;
    width: 250px;
    margin: 0px;
    color: #4C4C4C;
}
.errorPopup .action {
    clear: both;
    text-align: center;
    padding-top: 15px;
}
.hidden{ display: none;visibility: hidden;}
.left{ float: left;}
.right{ float: right;}
.clear{ clear: both;}
.heading1{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #164D7F;
    text-align: left;
    padding: 6px;
    width: 100%;
    vertical-align: bottom;
}