﻿html, body{margin: 0; padding: 0; height: 100%; width: 100%;text-align: center; overflow: hidden;}
table { padding: 0; margin: 0;}
ul { padding: 0; margin: 0; list-style: none; list-style-type: none;}
li { padding: 0; margin: 5px 0 0 16px; list-style: none; list-style-type: none;}
h2 { font: normal 16px verdana; font-weight: bold; color: #000066; background-color: transparent; width: 25%; margin: 20px 10px 10px 10px; padding: 4px; border: 1px solid #a5c7e7; background-color: #efeff7; text-align: center;}
h3 {font: bold 14px verdana;color: #000066;background-color: #E9EDF2;padding-left: 6px;border: 1px solid #ebebeb;vertical-align: middle;}
h4 {font: bold 13px verdana;color: #000066; vertical-align: middle; margin: 0; padding: 0}
h5 {font: bold 18px verdana;color: #000066; vertical-align: middle; margin: 0; padding: 0}
h6 {font: bold 15px verdana;color: #000066; border-bottom: 4px solid #ebebeb; vertical-align: middle; margin: 16px 0 16px 0; padding: 4px; background-color: #e9edf2}
#content {border: #ebebeb 1px solid;font: 11px Verdana;overflow: hidden;width: 100%;color: #333333;background-color: #fafafa;text-align: left;}

.tothemeshow /* #000066 Dark Blue */
{
	font: normal 11px verdana;
	color: #000066;
	background-color: transparent;
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
}
.listframe  /* #E9EDF2 Lt Blue Background */
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	vertical-align: top;
	width: 27%;
	background-color: #E9EDF2;
}
.listframetop  /* #ffff99 Yellow Background */
{
	font: normal 11px verdana;
	border-bottom: #000000 1px solid;
	vertical-align: top;
	width: 100%;
	padding-left: 10px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-top: 4px;
	background-color: #ffff99;
	text-align: center;
}
.Label
{
	font: normal 11px verdana;
	color: #000066;
	background-color: transparent;
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
}
.listframebottom /* #E9EDF2 Lt Blue Background */
{
    vertical-align: top;
    white-space: nowrap;
	width: 100%;
	background-color: #E9EDF2;

}
.scrollleftfilters
{
	overflow: auto;
	width: 100%;
	top: 2px;
	bottom: 50px;
	position: relative;
	white-space: nowrap;
	padding: 10px;
	/* height: expression(document.body.clientHeight - 207 + "px"); */
	text-align: left;
	vertical-align:top;
}
.ItemStyle
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
	background-color: Transparent;
}
.SelectedItemStyle
{
	font:  bold 11px verdana;
	color: navy;
	text-decoration: none;
}
.leftside
{
	background-position: left top;
	background-image: url(../Images/left_gradient.gif);
	width: 9px;
	border-bottom: #000000 1px solid;
	border-top: #000000 1px solid;
	background-repeat: no-repeat;
}
.DetailsFrameTop
{
	vertical-align: top;
	border-right: #000000 1px solid;
	width: 100%;
	background-color: #ffffff;
}
.MenuFrame
{
	border-top: black 1px solid;
	background-image: url(../Images/content_bg.gif);
	vertical-align: top;
	width: 100%;
	height: 22px;
	white-space: nowrap;
	background-repeat: repeat-x;
}
.save
{
	padding-left: 28px;
	font-size: xx-small;
	background-image: url(../Images/save_button.gif);
	border-bottom-width: 0px;
	width: 66px;
	cursor: hand;
	background-repeat: no-repeat;
	font-family: verdana;
	height: 22px;
	text-align: left;
	border-width: 0px;
}
.new
{
	border-width: 0px;
	font-size: xx-small;
	background-image: url(../Images/new_button.gif);
	border-bottom-width: 0px;
	padding-left:28px;
	width: 66px;
	cursor: hand;
	background-repeat: no-repeat;
	font-family: verdana;
	height: 22px;
	text-align: left;
}
.delete
{
	font-size: xx-small;
	background-image: url(../Images/delete_button.gif);
	border-bottom-width: 0px;
	padding-left:26px;
	width: 66px;
	cursor: hand;
	background-repeat: no-repeat;
	font-family: verdana;
	height: 22px;
	text-align: left;
	border-width: 0px;
}
.maincontenttable 
{
	padding-right: 0px
 }
 .detailsframe
{
	vertical-align: top;
	width: 100%;
	background-color: #ffffff;
	white-space: nowrap;
	
}
.scrollright2
{
	margin:25px 50px 50px 25px;
	padding: 16px;
	overflow: auto;
	white-space: nowrap;
}
.scrollright
{
	overflow: auto;
	width: 100%;
	bottom: 45px;
	position: absolute;
	white-space: nowrap;
	float: left;
	top: 155px;
	/*height: expression(document.body.clientHeight - 196 + "px"); */
	left: 28%;
	padding: 16px;
	margin-right: 1px;
}
.contenttable
{
	background-color: white;
}
.twocolumnlabelcell
{
	width: 32%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
}
.twocolumncontentcell
{
	width: 68%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
	text-align: center;
}
.CheckboxInternational /* #000066 Dark Blue */
{
	font: normal 11px verdana;
	color: #000066;
	width: 100%;
	background-color: transparent;
	padding: 0px 1px;
	margin-left : 0;
	text-align: left;
}
.TextBox  /* #333333-Black, #FAFAFA-White, #ebebeb-Lt Blue */
{
	font: normal 11px verdana;
	color: #333333;
	width: 100%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}
.DropDownList /* #333333-Black, #FAFAFA-White, #ebebeb-Lt Blue */
{
	font: normal 11px verdana;
	color: #333333;
	width: 100%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
    margin-left: 0px;
}
.twocolumncontentcelldate
{
	width: 68%;
	vertical-align: top;
	background-color: Transparent;
	padding: 3px;
	white-space: nowrap;
	text-align: left;
}
.contentcellheader /* Lt Blue-#E9EDF2 Blue, #ebebeb-Lt Blue */
{
	width: 100%;
	background-color: #E9EDF2;
	padding-left: 6px;
	border: 1px solid #ebebeb;
	vertical-align: middle;
	height: 20px;
    white-space: nowrap;
}

