html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #333;
    font-size: 0.9em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 5px 0 0 16px;
    list-style: none;
    list-style-type: none;
}

.Label {
    font-size: 11px;
    font-style: normal;
    font-family: verdana;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
}

.scrollleftsettermmodule {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    float: left;
    height: expression(document.body.clientHeight - 170 + "px");
    text-align: left;
    vertical-align: top;
}

.scrollrightsetterm {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 70px;
    height: expression(document.body.clientHeight - 95 + "px");
    left: 35%;
    padding: 16px;
    margin-right: 1px;
}

.ToTheme6 {
    font-size: 11px;
    font-style: normal;
    color: #0d47a1;
    font-family: verdana;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ListFramemail {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 40%;
    background-color: #f2f2f2;
}

.ListFramedocument {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 40%;
    background-color: #f2f2f2;
}

.listbox {
    color: #0d47a1;
    width: 100%;
    font-family: Verdana;
    background-color: #f2f2f2;
    text-align: left;
}

.scrollleftmail {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    float: left;
    height: expression(document.body.clientHeight - 200 + "px" );
    text-align: left;
    vertical-align: top;
}

.scrollleftdocmanage {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    float: left;
    height: expression(document.body.clientHeight - 174 + "px" );
    text-align: left;
    vertical-align: top;
}

.scrollleftpopup {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 40px;
    position: relative;
    padding: 10px;
    margin: 0;
    height: expression(document.body.clientHeight - 105 + "px");
    text-align: left;
    vertical-align: top;
}

.scrollleftpopups {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 40px;
    position: relative;
    padding: 10px;
    margin: 0;
    height: expression(document.body.clientHeight - 74 + "px");
    text-align: left;
    vertical-align: top;
}

.scrollleftsap {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 40px;
    position: relative;
    padding: 10px;
    margin: 0;
    height: expression(document.body.clientHeight - 95 + "px");
    text-align: left;
    vertical-align: top;
}

.scrollleftcoursefees {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 40px;
    position: relative;
    margin: 0;
    height: expression(document.body.clientHeight - 105+ "px");
    text-align: left;
    vertical-align: top;
}

.scrollleftweighting {
    overflow: auto;
    width: 100%;
    top: 0;
    bottom: 40px;
    position: relative;
    margin: 0;
    height: expression(document.body.clientHeight - 105+ "px");
    text-align: left;
    vertical-align: top;
}

.buttontopfilter {
    vertical-align: middle;
    font: normal 10px verdana;
    color: #0d47a1;
    width: 100px;
}

.DropDownList {
    font: normal 11px verdana;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.DropDownListFF {
   	font-style : normal;
    font-size: 11px;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    /*padding: 0px 3px;*/
    /*margin-left: 0px;*/
}

.LabelBoldUnd {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

.ListFrametop {
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-top: 4px;
    background-color: #ffff99;
    text-align: center;
}

.ListFramebottom {
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    background-color: #f2f2f2;
}

.employersearch {
    text-align: left;
    width: 32%;
}

.employersearch2 {
    text-align: left;
    width: 68%;
    white-space: nowrap;
}

.docmgmtsearch {
    text-align: left;
    width: 28%;
}

.docmgmtsearch2 {
    text-align: left;
    width: 72%;
    white-space: nowrap;
}

.leftside {
    background-position: left top;
    background-image: url(../Images/left_gradient.gif);
    width: 9px;
    border-bottom: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    background-repeat: no-repeat;
}

.DetailsFrametopemail {
    vertical-align: top;
    border-bottom: #ebebeb 1px solid;
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    width: 50%;
    background-color: #ffffff;
}

.DetailsFramemsgs {
    vertical-align: top;
    border-bottom: #ebebeb 1px solid;
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    width: 50%;
    background-color: #ffffff;
}

.DetailsFrame {
    vertical-align: top;
    width: 90%;
    font-family: Verdana;
    background-color: #ffffff;
    text-decoration: none;
}

.DetailsFrameFF {
    vertical-align: top;
    width: 90%;
    font-family: Verdana;
    background-color: #ffffff;
    text-decoration: none;
    overflow: auto;
}

.EntranceTestLabel {
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.save {
    padding-left: 28px;
    font-size: xx-small;
    background-image: url(../Images/save_button.gif);
    border-bottom-width: 0;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-family: verdana;
    height: 22px;
    text-align: left;
    border-width: 0;
}

.new {
    border-width: 0;
    font-size: xx-small;
    background-image: url(../Images/new_button.gif);
    border-bottom-width: 0;
    padding-left: 28px;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-family: verdana;
    height: 22px;
    text-align: left;
}

.hidden {
    display: none !important;   
}

.tothemeshow {
    font-size: 9pt;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    padding: 2px;
    vertical-align: bottom;
}    

.delete {
    font-size: xx-small;
    background-image: url(../Images/delete_button.gif);
    border-bottom-width: 0;
    padding-left: 26px;
    width: 66px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-family: verdana;
    height: 22px;
    text-align: left;
    border-width: 0;
}

.MenuFrame {
    border-top: black 1px solid;
    background-image: url(../Images/content_bg.gif);
    vertical-align: top;
    width: 100%;
    height: 22px;
    white-space: nowrap;
    background-repeat: repeat-x;
}

.scrollwholeadmreq {
    overflow: auto;
    width: 100%;
    bottom: 5px;
    position: absolute;
    top: 74px;
    height: expression(document.body.clientHeight - 100 + "px");
    left: 0;
    padding: 20px;
}

.scrollwholepopup {
    overflow: auto;
    width: 100%;
    bottom: 5px;
    position: relative;
    top: 0;
    height: expression(document.body.clientHeight - 207 + "px");
    left: 0;
    padding: 20px;
    margin-right: 1px;
}

.singleframescroll {
    overflow: auto;
    width: 100%;
    bottom: 0;
    position: relative;
    top: 0;
    height: expression(document.body.clientHeight - 132 + "px");
    left: 0;
    padding: 20px;
}

.scrollrightmail {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 65px;
    height: expression(document.body.clientHeight - 90 + "px" );
    left: 36%;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-right: 1px;
}

.scrollwhole2 {
    overflow: auto;
    width: 100%;
    bottom: 45px;
    position: absolute;
    top: 40px;
    height: expression(document.body.clientHeight - 100 + "px" );
    left: 0;
    padding: 20px;
    margin-right: 1px;
}

.scrollwholedocs {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    top: 50px;
    height: expression(document.body.clientHeight - 60 + "px" );
    left: 0;
    padding: 20px;
    margin-right: 1px;
}

.requirementdisplayscroll {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: relative;
    top: 0;
    height: expression(document.body.clientHeight - 95 + "px" );
    left: 0;
    padding: 20px;
    margin-right: 1px;
}

.scrollwholeusers {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 70px;
    height: expression(document.body.clientHeight - 60 + "px" );
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollwholebooks {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 74px;
    height: expression(document.body.clientHeight - 98 + "px" );
    left: 0;
    padding: 16px;
}

.scrollwholeprodef {
    overflow: auto;
    width: 90%;
    bottom: 40px;
    /*position: absolute;*/
    top: 71px;
    /*height: expression(document.body.clientHeight - 95 + "px" );*/
    left: 0;
    padding: 16px;
    margin-right: 1px;
}

.scrollright2 {
    /* top; right; bottom; left */
    margin: 5px 50px 50px 1px;
    padding: 16px;
    overflow: auto;
    /*white-space: nowrap;*/
}

.TextBoxDate {
    color: #333333;
    width: 85%;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding: 0 3px;
}

.twocolumnlabelcell {
    width: 32%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
}

.twocolumnlabelcell {
    width: 32%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
}

.stdpopcell {
    vertical-align: top;
    background-color: Transparent;
    padding: 4px;
    white-space: nowrap;
}

.twocolumncontentcell {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    /*text-align: center;*/
}

.twocolumncontentcell {
    width: 68%;
    vertical-align: top;
    background-color: Transparent;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.DataGridHeaderdoc {
    color: #0d47a1;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ebebeb;
    padding: 3px;
}

.contentcellheader {
    width: 100%;
    background-color: #f2f2f2;
    padding-left: 6px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    height: 20px;
}

.buttons {
    margin: 4px;
    vertical-align: middle;
    text-align: center;
    color: #0d47a1;
}

.docbuttons {
    margin: 4px;
    vertical-align: middle;
    text-align: left;
    color: #0d47a1;
}

.LabelBold {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
}

.scrollright {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 70px;
    height: expression(document.body.clientHeight - 120 + "px" );
    left: 41%;
    padding: 20px;
}

.scrollrightdocument {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 70px;
    height: expression(document.body.clientHeight - 120 + "px" );
    left: 51%;
    padding: 20px;
}

.scrollrightcoursefees {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 70px;
    height: expression(document.body.clientHeight - 120 + "px" );
    left: 28%;
    padding: 20px;
}

.scrollrightaddreq {
    overflow: auto;
    width: 100%;
    bottom: 40px;
    position: absolute;
    top: 72px;
    height: expression(document.body.clientHeight - 95 + "px" );
    left: 28%;
    padding: 20px;
}

.DataGridHeader {
    color: #0d47a1;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ebebeb;
    padding: 3px;
    vertical-align: middle;
}

a.datagridheader:link {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.datagridheader:active {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.datagridheader:visited {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.datagridheader:hover {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.labelboldund:link {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.labelboldund:active {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.labelboldund:visited {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

a.labelboldund:hover {
    font-weight: bold;
    color: #0d47a1;
    background-color: transparent;
    width: 100%;
    padding: 2px;
    vertical-align: bottom;
    text-decoration: underline;
    text-align: left;
}

.SelectedItem {
    color: #0d47a1;
    text-decoration: none;
    padding: 2px;
}

A.SelectedItem:link {
    color: #0d47a1;
    text-decoration: none;
}

A.SelectedItem:visited {
    color: #0d47a1;
    text-decoration: none;
}

A.SelectedItem:active {
    color: #0d47a1;
    text-decoration: none;
}

A.SelectedItem:hover {
    color: #0d47a1;
    text-decoration: none;
}

A.NonSelectedItem:link {
    color: #0d47a1;
    text-decoration: none;
}

A.NonSelectedItem:visited {
    color: #0d47a1;
    text-decoration: none;
}

A.NonSelectedItem:active {
    color: #0d47a1;
    text-decoration: none;
}

A.NonSelectedItem:hover {
    color: #0d47a1;
    text-decoration: none;
}

.NonSelectedItem {
    color: #0d47a1;
    text-decoration: none;
    padding: 2px;
}

.ToThemeemail {
    font-style: normal;
    color: #0d47a1;
    background-color: transparent;
    text-decoration: none;
    width: 30%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
}

.textbox {
    color: #333333;
    font-style: normal;
    width: 100%;
    text-decoration: none;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding-left: 3px;
    padding-right: 2px;
}

.emaillistbox {
    color: #333333;
    font-style: normal;
    width: 100%;
    height: expression(document.body.clientHeight - 275 + "px" );
    text-decoration: none;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.ToTheme7 {
    color: #0d47a1;
    font-style: normal;
    width: 200px;
    text-decoration: none;
    text-align: left;
    background-color: White;
}

.Dropemail {
    color: #333333;
    font-style: normal;
    width: 50%;
    text-decoration: none;
    text-align: left;
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding-left: 3px;
    padding-right: 2px;
}

.emailFrame {
    vertical-align: top;
    width: 100%;
    background-color: Transparent;
}

.contentcellemail {
    width: 12%;
    vertical-align: middle;
    background-color: #f2f2f2;
    padding: 3px;
    border-bottom-style: solid;
    border-bottom-color: #D7D5D5;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: #D7D5D5;
    border-left-width: 1px;
    border-right-width: 1px;
}

.contentcellemail2 {
    width: 12%;
    vertical-align: middle;
    background-color: #F5F7F9;
    padding: 3px;
    border-bottom-style: solid;
    border-bottom-color: #D7D5D5;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: #D7D5D5;
    border-left-width: 1px;
    border-right-width: 1px;
}

.contenttableemail {
    border-top-style: solid;
    border-top-color: #D7D5D5;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-color: #D7D5D5;
    border-right-width: 1px;
}

.contenttable {
    background-color: white;
}

.contentcell4email {
    width: 88%;
    vertical-align: middle;
    background-color: #f2f2f2;
    padding: 6px;
    border-bottom-style: solid;
    border-bottom-color: #D7D5D5;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: #D7D5D5;
    border-left-width: 1px;
    border-right-width: 1px;
}

.contentcell4email2 {
    width: 88%;
    vertical-align: middle;
    background-color: #F5F7F9;
    padding: 6px;
    border-bottom-style: solid;
    border-bottom-color: #D7D5D5;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: #D7D5D5;
    border-left-width: 1px;
    border-right-width: 1px;
}

.emptycell {
    width: 4%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
}

.contentcell4 {
    width: 30%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.contentcell {
    width: 18%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.buttons {
    margin: 4px;
    vertical-align: middle;
    color: #0d47a1;
    font-weight: normal;
}

.buttons1 {
    margin: 4px;
    width: 100%;
    vertical-align: middle;
    color: #0d47a1;
    font-weight: normal;
}

.emailcolumns {
    width: 45%;
    vertical-align: top;
}

.emailbuttoncolumn {
    width: 10%;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
}

.topemail {
    color: #FFFFFF;
    background-color: #164D7F;
    text-align: right;
    padding: 6px;
    width: 100%;
    vertical-align: top;
}

.toppopupheader {
    color: #FFFFFF;
    background-color: #164D7F;
    padding: 6px;
    vertical-align: top;
}

A.close:link {
    color: white;
    text-decoration: none;
}

A.close:visited {
    color: white;
}

A.close:active {
    color: white;
    text-decoration: none;
}

A.close:hover {
    color: white;
    text-decoration: underline;
}

a:link {
    font-weight: normal;
    color: #0d47a1;
    text-decoration: underline;
}

a:visited {
    font-weight: normal;
    color: #0d47a1;
    text-decoration: underline;
}

a:hover {
    font-weight: normal;
    color: #ff9800;
    text-decoration: underline;
}

a:active {
    font-weight: normal;
    color: #0d47a1;
    text-decoration: underline;
}

.scrollrightmessages {
    overflow: auto;
    width: 100%;
    bottom: 20px;
    position: absolute;
    white-space: nowrap;
    float: left;
    top: 70px;
    height: expression(document.body.clientHeight - 20 + "px" );
    left: 50%;
    padding: 20px;
    margin-right: 1px;
}

.messagebox {
    color: #333333;
    width: 100%;
    text-align: left;
    height: expression(document.body.clientHeight - 275 + "px" );
    background-color: #FAFAFA;
    border: 1px solid #ebebeb;
    padding-bottom: 3px;
}

.ListFramemessages {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 50%;
    background-color: #f2f2f2;
}

.leftframetable {
    padding: 2px;
}

#footer {
    color: #444;
    width: 100%;
    position: absolute;
    height: 24px;
    /*background-color: #1565c0;*/
    bottom: 0;
    left: 0;
    vertical-align: bottom;
    text-align: center;
    padding-top: 4px;
    white-space: nowrap;
}

.scrollleft {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    float: left;
    height: expression(document.body.clientHeight - 176 + "px");
    text-align: left;
    vertical-align: top;
}

.scrollleftaddreq {
    overflow: auto;
    width: 100%;
    top: 2px;
    bottom: 50px;
    position: relative;
    white-space: nowrap;
    padding: 10px;
    float: left;
    height: expression(document.body.clientHeight - 101 + "px");
    text-align: left;
    vertical-align: top;
}

.ListFrame {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 27%;
    background-color: #f2f2f2;
}

.ListFrameprogramver {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 25%;
    background-color: #f2f2f2;
}

.DetailsFrametop {
    vertical-align: top;
    border-bottom: #ebebeb 1px solid;
    border-right: #ebebeb 1px solid;
    width: 100%;
    background-color: #ffffff;
}

.spacerdiv {
    height: 6px;
}

.leftsidedocmgt {
    background-position: left top;
    background-image: url(../images/left_gradient.gif);
    width: 9px;
    border-bottom: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    background-repeat: no-repeat;
}

.detailsframerightdocmgt {
    vertical-align: top;
    border-bottom: #ebebeb 1px solid;
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    width: 75%;
    background-color: #ffffff;
}

.listframeleftdocmgt {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 25%;
    background-color: #f2f2f2;
}


.listframedocmgt {
    border-right: #ebebeb 1px solid;
    border-top: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
    vertical-align: top;
    width: 100%;
    padding: 3px;
    background-color: #f2f2f2;
}

.maincontenttable {
    padding-right: 0;
    width: 100%;
}

.maincontenttableff {
    padding-right: 0;
    width: 90%;
}

.listframebottom {
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    background-color: #f2f2f2;
}

.docmgmtsearch1 {
    text-align: left;
    width: 30%;
}

.docmgmtsearch21 {
    text-align: left;
    width: 70%;
    white-space: nowrap;
}

.scrollleftdocmanage1 {
    overflow: auto;
    /*position:relative; */
    height: 400px;
    margin-right: 1px;
    padding: 0 0 1px 0;
}

.scrollwholedocs1 {
    overflow: auto;
    width: 100%;
    height: 475px;
    margin-right: 1px;
    padding: 3px 0 0 3px;
}

.DataGridItemStyle {
    padding: 3px;
    text-align: left;
    vertical-align: top;
}

.DataGridAlternatingStyle {
    background-color: #f0f4f8;
    color: #0d47a1;
    text-align: left;
    border: 1px solid #f3f5f6;
    padding: 3px;
    vertical-align: top;
}

.contentcellheader1 {
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    height: 20px;
}

.DataGridHeaderweighting {
    color: #0d47a1;
    text-align: left;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 3px;
    vertical-align: middle;
}

.classsectionlabelcell, .classsectionlabelcell {
    padding: 5px;
    margin: 5px;
    vertical-align: top;
}

.classsectioncontentcell {
    /*width: 35%;
vertical-align: top;
background-color: white; 
padding: 3px;
white-space: nowrap; */
    width: 35%;
    padding: 3px;
    text-align: left;
}

.classsectioncontentcella {
    width: 30%;
    padding: 3px;
    text-align: left;
}

.listframetop2 {
    /* border-right: #ebebeb 1px solid;
border-top: #ebebeb 1px solid;
vertical-align: top;
width: 27%; */
    padding: 4px 0;
    text-align: center;
    background-color: #f2f2f2;
    /*border-bottom: #ebebeb 1px solid; */
}

.fivecolumnheader {
    width: 30%;
    padding: 4px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #6788BE;
}

.fivecolumnspacer {
    width: 2%;
    background-color: white;
}

.fivecolumncontent {
    width: 32%;
    height: 100%;
    vertical-align: top;
}

.fivecolumnfooter {
    width: 30%;
    padding: 4px;
    text-align: center;
    background-color: white;
}

.tostudentskillsprog {
    font-style: normal;
    color: #333333;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px;
}

.cellprogverdef {
    width: 40%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}

.cellprogverdef2 {
    width: 60%;
    vertical-align: top;
    background-color: white;
    padding: 3px;
    white-space: nowrap;
}
.regex {
    color: #b71c1c;
}
