html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	text-align: center;
    overflow-y: auto;
    overflow-x: auto;
}
ul
{
	padding: 0;
	margin: 20px 40px 20px 40px;
	list-style: none;
	list-style-type: none;
	text-align: left;
}
h1
{
	margin: 0;
	padding: 0;
	font: bold 13px verdana;
	color: #fff;
}
th
{
	width: 100%;
	background-color: #a3adb8;
	padding: 3px 6px 3px 6px;
	border-bottom: 1px solid #83929f;
	vertical-align: middle;
	height: 20px;
	text-align: left;
}
.tableborder
{
	border: 1px solid #83929f;
}
.headerimage
{
	background-color: #164D7F;
}

.headertitle
{
	font: bold larger verdana;
	color: #FFFFFF;
	background-color: #164D7F;
	padding: 6px;
	vertical-align: middle;
}

.headerlabel
{
	font: normal 9px verdana;
	color: #FFFFFF;
	background-color: #164D7F;
	vertical-align: top;
}

.AlignedDiv
{
	background-color: White;
	margin: 0;
	padding: 20px;
	overflow: auto;
	bottom: 0;
	position: relative;
	left: 0;
	top: 0;
	height: expression(document.body.clientHeight - 55 + "px");
}
.scrollmsg
{
	background-color: White;
	margin: 0;
	padding: 0;
	overflow: scroll;
	bottom: 0;
	position: relative;
	left: 0;
	top: 0;
	height: expression(document.body.clientHeight - 55 + "px");
}
.AlignedDivCalendar
{
	background-color: White;
	margin: 0;
	padding: 20px 0 20px 20px;
	overflow: auto;
	bottom: 0;
	position: relative;
	left: 0;
	top: 0;
	height: expression(document.body.clientHeight - 55 + "px");
}


.ScrolledDivFull
{
	overflow: auto;
	height: expression(document.body.clientHeight);

}

.ScrolledDiv
{
	overflow: auto;
	height: expression(document.body.clientHeight - 100 +   "px" );
	width: 95%;
	padding: 20px;

}

.ScrolledDivCalendar
{
	overflow: auto;	
	height: expression(document.body.clientHeight - 105 +   "px" );
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #83929f
}
.ScrolledDivCalendarMonth
{
	overflow: auto;	
	height: expression(document.body.clientHeight - 85 +   "px" );
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #83929f
}

.ScrolledDiv180
{
	overflow: auto;
	height: expression(document.body.clientHeight - 180 +   "px" );
}

.BorderDiv
{
	background-color: #164D7F;
	width: 80%;
	border: 1px solid black;
}

.Div80
{
	background-color: #164D7F;
	width: 80%;
	border: 2px solid black;
}

.Div90
{
	background-color: #164D7F;
	width: 90%;
	border: 2px solid black;
}

.Div
{
	background-color: White;
	margin: 0;
	padding: 20px;
}

.Label
{
	font: normal 11px verdana;
	color: #000066;
}
.labelcell
{
	font: normal 11px verdana;
	color: #000066;
	width: 20%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
	text-align: left;
}
.contentcell
{
	font: normal 11px verdana;
	color: #000066;
	width: 80%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px 3px 4px 3px;
	white-space: nowrap;
	text-align: left;
}

.LabelBig
{
	font: normal 14px verdana;
	color: #000066;
}

.TMLabel
{
	font: normal 11px verdana;
	color: #000066;
}

.CalLabel
{
	font: normal 9px verdana;
	color: #000066;
}

.CalLabelRed
{
	font: normal 9px verdana;
	color: Red;
}

.CalLabelBlue
{
	font: normal 9px verdana;
	color: Blue;
}

.MsgLabel
{
	font: normal 14px verdana;
	color: Red;
}

.textbox
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0;
	height: 16px
}
.textboxmsg
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0;
}

.textboxreq
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FFFF99;
	border: 1px solid #ebebeb;
	padding: 0;
	height: 16px
}

.LabelBold
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 2px;
}
.LabelBoldcalendar
{
	font: bold 10px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 4px;
}

.TMLabelBold
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 2px;
	text-decoration: none;
}

.LabelBoldUnd
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	padding: 2px;
	text-decoration: underline;
	text-align: left;
}

.ListFramemail
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	vertical-align: top;
	width: 40%;
	background-color: #E9EDF2;
}

.listbox
{
	font: normal 11px verdana;
	color: #000066;
	width: 100%;
	background-color: #E9EDF2;
	text-align: left;
}

.listboxreq
{
	font: normal 11px verdana;
	color: #000066;
	width: 100%;
	background-color: #FFFF99;
	text-align: left;
}

.DropDownList
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}

.DropDownListReq
{
	font: normal 11px verdana;
	color: #333333;
	text-align: left;
	background-color: #FFFF99;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}


.TextBoxDate
{
	font: normal 11px verdana;
	color: #333333;
	width: 85%;
	text-align: left;
	background-color: #FAFAFA;
	border: 1px solid #ebebeb;
	padding: 0px 3px;
}

.buttons
{
	margin: 4px;
	vertical-align: middle;
	font: normal 10px verdana;
	text-align: center;
	color: #000066;
}

.RepeaterTable
{
	background-color: White;
	width: 100%;
	border-width: 0px;
}

.Repeater
{
	border: 1px solid #83929f;
	padding: 0;
}

.RepeaterHeader
{
	background-color: #a3adb8;
	font-weight: bold;
}

.RepeaterHeaderLabel
{
	font: bold 11px verdana;
	color: White;
	text-align: left;
	padding: 4px;
	background-color: #a3adb8;
}
.RepeateritemLabel
{
	font: normal 11px verdana;
	color: #000066;
	text-align: left;
	padding: 3px;
}

.RepeaterRow
{
	border: 2px solid black;
	padding: 1px 4px 1px 4px;
}

.RepeaterSeparator
{
	height: 2px;
	background-color: Black;
	border: 2px solid black;
}

.RepeaterMsgLabel
{
	font: normal 11px verdana;
	color: #000066;
	font-family: Verdana;
	font-style: italic;
}
.DataGridHeaderCalendar
{
	font: bold 11px Verdana;
	color: #000066;
	text-align: center;
	width: 12%;
	background-color: #e7edf3;
	border: 1px solid #83929f;
	padding: 3px;
	vertical-align: middle;
}
.DataGridHeaderCalendarright
{
	font: bold 11px Verdana;
	color: #000066;
	text-align: right;
	background-color: #e7edf3;
	border: 1px solid #83929f;
	padding: 3px;
	vertical-align: middle;
}

.DataGridHeader
{
	font: bold 11px Verdana;
	color: #000066;
	text-align: left;
	background-color: #E9EDF2;
	border: 1px solid #ebebeb;
	padding: 3px;
	vertical-align: middle;
}
a.datagridheader:link
{
	font: normal 11px verdana;
	font-weight: bold;
	color: #000066;
	background-color: transparent;
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.datagridheader:active
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.datagridheader:visited
{
	text-decoration: none;
	text-align: left;
}
a.datagridheader:hover
{
	width: 100%;
	padding: 2px;
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:link
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:active
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:visited
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
a.labelboldund:hover
{
	vertical-align: bottom;
	text-decoration: none;
	text-align: left;
}
.SelectedItem
{
	font: italic bold 11px verdana;
	color: #000066;
	text-decoration: none;
	padding: 2px;
}
A.SelectedItem:link
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}
A.SelectedItem:visited
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}
A.SelectedItem:active
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}

A.SelectedItem:hover
{
	font: italic bold 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:link
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:visited
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:active
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
A.NonSelectedItem:hover
{
	font: normal 11px verdana;
	color: navy;
	text-decoration: none;
}
a.message:link,a.message:visited,a.message:active { font-family: verdana; font-size: 12px; font-weight: normal; color: #000066; text-decoration: none; }
a.message:hover { font-family: verdana; font-size: 12px; font-weight: normal; color: #fff; background-color: #000066 }
a.graphicalview:link,a.graphicalview:visited,a.graphicalview:active { font-family: verdana; font-size: 11px; font-weight: normal; color: #000066; text-decoration: none; }
a.graphicalview:hover { font-family: verdana; font-size: 11px; font-weight: normal; color: #000066; text-decoration: underline}

.NonSelectedItem
{
	font: normal 11px verdana;
	color: #000066;
	text-decoration: none;
	padding: 2px;
}
.buttons
{
	font: normal 10px verdana;
	margin: 4px;
	vertical-align: middle;
	color: #000066;
}
.buttons1
{
	margin: 4px;
	width: 100%;
	vertical-align: middle;
	font: normal 10px verdana;
	color: #000066;
}
.topemail
{
	font-family: verdana;
	font-size: xx-small;
	color: #FFFFFF;
	background-color: #164D7F;
	text-align: right;
	padding: 6px;
	width: 100%;
	vertical-align: top;
}
.spacerdiv
{
	height: 6px;
}
.MenuFrame
{
	border-top: black 1px solid;
	/*background-image: url(../Images/taskmanager_content_bg.gif);*/
	background-image: url(../Images/PageHeader3.png);
	vertical-align: top;
	height: 26px;
	white-space: nowrap;
	background-repeat: repeat-x;
	text-align: right;
	/*padding-left: 212px;*/
	width: 100%;
}
.MenuFramediv
{
	border-top: black 1px solid;
	background-image: url(../Images/taskmanager_content_bg.gif);
	vertical-align: top;
	height: 26px;
	white-space: nowrap;
	background-repeat: repeat-x;
	width: 100%;
}
.calendarmenuitems
{
	/*background-image: url(../Images/menuborder.gif);*/
	background-repeat: no-repeat;
	background-position: left;
	height: 26px;
	float: left;
	text-align:center;
	color: White;
	font: normal 12px verdana;
	padding: 3px 7px 0 7px;
	margin: 0 0 0 0;
}
.newtaskdiv
{
	/*background-image: url(../Images/newtaskbutton.gif);*/
	background-image: url(../Images/PageHeader3.png);
	background-repeat: no-repeat;
	width: 75px;
	height: 19px;
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	text-align: center;
}


.resettaskdiv
{
	background-image: url(../Images/taskresetbutton.gif);
	background-repeat: no-repeat;
	width: 87px;
	height: 26px;
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	text-align: center;
}

.taskbuttons
{
	color: White;
	font: normal 12px verdana;
	padding: 3px 0 0 0;
}
.advancetaskdiv
{
	background-image: url(../Images/advfilterbutton.gif);
	background-repeat: no-repeat;
	width: 105px;
	height: 26px;
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	text-align: center;
}
.taskbgrightdiv
{
	/*background-image: url(../Images/task_content_bg_right.gif);*/
	/*background-repeat: no-repeat;
	width: 21px;
	height: 19px;
	float: left;
	margin: 4px 0 0 0;
	padding: 0;
	text-align: center;*/
}
.dropdowntaskmenu
{
	width: 195px;
	height: 18px;
	font: normal 11px verdana;
	color: Black;
}

#footer
{
	font: normal 11px verdana;
	color: #444;
	width: 100%;
	position: absolute;
	height: 24px;
	bottom: 0;
	left: 0;
	vertical-align: bottom;
	text-align: center;
	padding-top: 6px;
	white-space: nowrap;
}
.scrollwholetask
{
	overflow: auto;
	width: 100%;
	bottom: 5px;
	position: relative;
	top: 0;
	height: expression(document.body.clientHeight - 50 + "px");
	left:0;
	padding: 20px;
}
.workflowpopup
{
	overflow: auto;
	width: 100%;
	bottom: 5px;
	position: relative;
	top: 0;
	height: expression(document.body.clientHeight - 72 + "px");
	left:0;
	padding: 20px;
}
.scrollwholelook
{
	overflow: auto;
	width: 100%;
	bottom: 5px;
	position: relative;
	top: 0;
	height: 293px;
	left:0;
	padding: 20px;
}
.twocolumnlabelcell
{
	width: 32%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px;
	white-space: nowrap;
}
.twocolumncontentcell
{
	width: 68%;
	vertical-align: top;
	background-color: Transparent;
	padding: 4px;
	white-space: nowrap;
	text-align: center;
}
.DetailsFrametopemail
{
	vertical-align: top;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	width: 100%;
	background-color: #ffffff;
}
