.MyGridClass {
    height: auto !important;
}

.enrollmentStyle {
    width: 30%;
}

.termStyle {
    width: 20%;
}

.classStyle {
    width: 40%;
}

.spaceStyle {
    width: 10%;
}

.rgRow td, .rgAltRow td, .rgHeader td, .rgFilterRow td {
    border-left: solid 1px silver !important;
}
