﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="StudentTermination.aspx.vb" Inherits="AdvWeb.AR.AR_StudentTermination" MasterPageFile="~/NewSite.master" %>

<%@ MasterType VirtualPath="~/NewSite.master" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/StudentTerminationTab/StudentSearch.ascx" TagPrefix="FAME" TagName="StudentSearch" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/StudentTerminationTab/EnrollmentDetails.ascx" TagPrefix="FAME" TagName="EnrollmentDetails" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/StudentTerminationTab/TerminationControls.ascx" TagPrefix="FAME" TagName="TerminationControls" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/R2T4ResultsTab/R2T4Results.ascx" TagPrefix="FAME" TagName="R2T4Results" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/R2T4InputTab/StudentInformation.ascx" TagPrefix="FAME" TagName="StudentInformation" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/R2T4InputTab/TitleIVAid.ascx" TagPrefix="FAME" TagName="TitleIVAid" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/R2T4InputTab/PercentageOfPeriod.ascx" TagPrefix="FAME" TagName="PercentageOfPeriod" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/R2T4InputTab/InstitutionalCharges.ascx" TagPrefix="FAME" TagName="InstitutionalCharges" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/R2T4InputTab/R2T4InputControls.ascx" TagPrefix="FAME" TagName="R2T4InputControls" %>
<%@ Register Src="~/usercontrols/AR/StudentTermination/ApproveTerminationTab/ApproveTermination.ascx" TagPrefix="FAME" TagName="ApproveTermination" %>


<asp:Content ID="cssAndScriptContent" ContentPlaceHolderID="Additional_head" runat="Server">
    <link href="../css/AdvantageValidator.css" rel="stylesheet" />
    <link href="../css/AR/StudentTermination.css" rel="stylesheet" />
    <link href="../css/AR/font-awesome.css" rel="stylesheet" />
    <script type="text/javascript" src="../Scripts/Storage/storageCache.js"></script>
    <script type="text/javascript" src="../Scripts/common-util.js"></script>
    <%-- Include the API SDK on the Page
        When the typescript project is compiled, or a typescript file is saved, this file is automatically generated for you
    --%>
    <script src="../Scripts/Fame.Advantage.API.Client.js"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/ImportLeads.css" />
    <script src="../js/CheckAll.js" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="r2T4StudentTerminationContent" ContentPlaceHolderID="ContentMain1" runat="Server">
    <script src="../Scripts/AR/StudentTermination/R2T4StudentTermination.js"></script>
</asp:Content>

<asp:Content ID="hiddenFieldContent" ContentPlaceHolderID="ContentError" runat="Server">
    <asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
    </asp:ScriptManagerProxy> 
    <%-- Get the Current Campus from the Server Side and put it into a hidden field that is accesible --%>
    <asp:HiddenField runat="server" ID="hdnCampusId" ClientIDMode="Static" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentMain2" runat="Server">
    <div id="tabsForm">
        <br />
        <h4>Student Termination
        </h4>
        <br />
        <div id="tabs" class="m-tabs">
            <ul id="progress" class="m-nav m-nav-tabs">
                <li id="liTerminationDetails" class="is-active m-nav-item">
                    <span id="TabTerminationDetails" class="m-nav-itemlink">Termination Details</span></li>
                <li id="liR2T4Input" class="m-nav-item">
                    <span id="TabR2T4Input" class="m-nav-itemlink">R2T4 Input</span></li>
                <li id="liR2T4Result" class="m-nav-item">
                    <span id="TabR2T4Result" class="m-nav-itemlink">R2T4 Results</span></li>
                <li id="liApproveTermination" class="m-nav-item">
                    <span class="m-nav-itemlink" id="TabApproveTermination">Approve Termination</span></li>
            </ul>
            <div id="content1" class="m-tab-content">
                <div id="divTerminationDetail" class="m-tab-pane m-detailbox-body is-active">
                    <FAME:StudentSearch runat="server" ID="StudentSearch" />
                    <FAME:EnrollmentDetails runat="server" id="EnrollmentDetails" />
                    <FAME:TerminationControls runat="server" ID="TerminationControls" />
                </div>
                <div id="divR2T4Input" class="m-tab-pane m-detailbox-body">
                    <div>
                        <FAME:StudentInformation runat="server" ID="StudentInformation" />
                    </div>
                    <div class="panelbar">
                        <FAME:TitleIVAid runat="server" ID="TitleIVAid" />
                        <FAME:PercentageOfPeriod runat="server" ID="PercentageOfPeriod" />
                        <FAME:InstitutionalCharges runat="server" ID="InstitutionalCharges" />
                    </div>
                    <div>
                        <FAME:R2T4InputControls runat="server" ID="R2T4InputControls" />
                    </div>
                </div>
                <FAME:R2T4Results runat="server" ID="R2T4Results" /> 
                <FAME:ApproveTermination runat="server" ID="ApproveTermination" />
            </div>
            
        </div>
    </div>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="BottomScriptContentPlaceHolder">
    <script type="text/javascript">
        $(document).ready(function() {
            /**
             * Overriding global campus change functionality so a confirmation dialog can be presented to the user
             */
            var masterPageCampusDropDown = new MasterPage.MasterPageCampusDropDown();
            masterPageCampusDropDown.initializeDropDownWithConfirmationOnChange("Are you sure you want to change the Campus? Current student termination details would not be saved/updated.");
        });
    </script>
</asp:Content>