﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="WidgetLinks.ascx.vb" Inherits="usercontrols_widgets_WidgetLinks" %>
<script type="text/javascript">

</script>
<asp:ScriptManagerProxy ID="ScriptManagerProxyWidgetLinks" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxyWidgetLinks" runat="server">
    <AjaxSettings>
    </AjaxSettings>
</telerik:RadAjaxManagerProxy>
                        <span style="float:right;width:20px;height:20px;margin-right:5px;">
                        <asp:Image ID="ImageAdd" runat="server"  ImageUrl="~/images/action_add.png" ToolTip="Add"/>
                        </span>
                      <telerik:RadGrid ID="grdWidgetLinks" runat="server"  Height="100%"  width="100%" Skin="Telerik"
                            BorderWidth="0px" ShowStatusBar="True" AutoGenerateColumns="False" 
                            CellSpacing="0" DataSourceID="XmlDataSource1" GridLines="None" AllowMultiRowSelection="true">             
                                                        <ClientSettings EnableAlternatingItems="false" EnableRowHoverStyle="false" AllowRowsDragDrop="false"> 
                                                        <Selecting AllowRowSelect="True" EnableDragToSelectRows="false"/> 
                                                          <Scrolling AllowScroll="false" />
                                                          <ClientEvents OnRowMouseOver="showContent" OnRowMouseOut="hideContent" OnGridCreated="initializeItems" />
                                                        </ClientSettings> 

                                                         <MasterTableView AllowCustomSorting="true" 
                                                         GridLines="None" ShowHeader="False" AllowAutomaticUpdates="true"
                                                         AllowAutomaticDeletes="true" EditMode="PopUp" DataSourceID="XmlDataSource1">
                                                        <CommandItemSettings ExportToPdfText="Export to PDF"></CommandItemSettings>
                                                             <RowIndicatorColumn>
                                                                 <HeaderStyle Width="20px" />
                                                             </RowIndicatorColumn>
                                                             <ExpandCollapseColumn>
                                                                 <HeaderStyle Width="20px" />
                                                             </ExpandCollapseColumn>
                                                             <Columns>  

                                                            <telerik:GridTemplateColumn UniqueName="HistoryTemplate">
                                                            <ItemTemplate>
                                                            <div>
                                                            <span style="vertical-align:top;width:170px;font-size:xx-small;"><a href="http://www.google.com" target="_blank"  title="This is a really long page name">
                                                            <%# DataBinder.Eval(Container.DataItem,"Description") %></a></span>
                                                            <span class="HiddenWrapper">
                                                            <span style="float:right;width:20px;height:20px;">
                                                               <asp:Image ID="Image3" runat="server"  ImageUrl="~/images/action_delete.png" ToolTip="Delete"/>
                                                            </span>
                                                            <span style="float:right;width:20px;height:20px;">
                                                               <asp:Image ID="Image1" runat="server"  ImageUrl="~/images/edit.gif" ToolTip="Edit"/>
                                                            </span>
                                                            </span>
                                                            </div>
                                                            </ItemTemplate>
                                                            </telerik:GridTemplateColumn>                                            
                                                             </Columns>                                      
                                                        <EditFormSettings>
                                                        <EditColumn UniqueName="EditCommandColumn1" FilterControlAltText="Filter EditCommandColumn1 column"></EditColumn>
                                                        </EditFormSettings>  
                                                         </MasterTableView>
                                                            <PagerStyle Mode="Slider" />
                                                            <FilterMenu EnableImageSprites="False"></FilterMenu>
                                                            <HeaderContextMenu CssClass="GridContextMenu GridContextMenu_Default"></HeaderContextMenu>
                                                        </telerik:RadGrid>                      

                        <asp:XmlDataSource ID="XmlDataSource1" runat="server" 
                            DataFile="~/LinkCollection.xml"></asp:XmlDataSource>
<%--                        <div style="margin:5px 5px 10px 5px;"><asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://www.fameinc.com" ToolTip="sdasfasfdasfasfafasfdf">FAME</asp:HyperLink></div>
                        <div style="margin:5px 5px 10px 5px;"><asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="http://www.fameinc.com">Google</asp:HyperLink></div>
                        <div style="margin:5px 5px 10px 5px;"><asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="http://www.fameinc.com">FAME</asp:HyperLink></div>
                        <div style="margin:5px 5px 10px 5px;"><asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="http://www.fameinc.com">FAME</asp:HyperLink></div>
                        <div style="margin:5px 5px 10px 5px;"><asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="http://www.fameinc.com">FAME</asp:HyperLink></div>--%>

