﻿@model FAME.Advantage.RestApi.DataTransferObjects.Templates.UserSetup

<p> Your email address of @Model.Username was added to Advantage.</p>

<p>Click below to set up your password: @Model.Link </p>

<p>  If you have any issues, please contact your System Administrator.</p>

<p>  Thank you,</p>

<p>  FAME</p>

<p>   Tech Support</p>

<p>  Phone: 800.327.5772 </p>
<p>
    Help Center: https://Support.FAMEinc.com
</p>
