
<%@ Control Language="VB" ClassName="JSCalendar" %>

<script runat="server">

    Protected Sub Page_Load(ByVal sender As Object, ByVal e As System.EventArgs)
    End Sub
</script>

<script language="javascript">
</script>

<asp:TextBox ID="txtDate" runat="server" CssClass="textbox" />
