.tabStripWrapper {
    width: 950px;
    height: auto;
    margin: 0 auto;
}

.btnSave {
    line-height: 20px;
    width: 100px;
    padding: 12px 10px;
    color: white;
    font-family: Arial,Helvetica, sans-serif;
    background-color: #00B4FF;
    cursor: pointer;
    border: none;
    overflow: visible;
    font-weight: bold;
    font-size: small;
    border-radius: 5px 5px 5px 5px;
}

.RadTabStrip_Metro .rtsLevel .rtsTxt {
    text-transform: none !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px !important;
    font-size: small !important;
}

.mainLayout {
    border: solid 5px silver;
    border-radius: 0px 0px 5px 5px;
}
