﻿{{#if lines}}
{{spaces 8}}/*<summary>The constructor for {{class}}</summary>*/
{{spaces 8}}public {{class}}()
{{spaces 8}}{
{{#each lines}}
{{spaces 8}}    {{property-name}} = new HashSet<{{property-type}}>();
{{/each}}
{{spaces 7}} }

{{/if}}
