﻿{{#each properties}}
{{#each property-annotations}}
{{spaces 8}}{{{property-annotation}}}
{{/each}}
{{spaces 8}}/*<summary>The get and set for {{property-name}}</summary>*/
{{spaces 8}}public {{property-type}} {{property-name}} { get; set; }
{{/each}}
{{#if nav-properties}}

{{#each nav-properties}}
{{#each nav-property-annotations}}
{{spaces 8}}{{{nav-property-annotation}}}
{{/each}}
{{#if nav-property-collection}}
{{spaces 8}}/*<summary>The navigational property for {{nav-property-name}}</summary>*/
{{spaces 8}}public virtual ICollection<{{nav-property-type}}>{{nav-property-name}} { get; set; }
{{else}}
{{spaces 8}}/*<summary>The navigational property for {{nav-property-name}}</summary>*/
{{spaces 8}}public virtual {{nav-property-type}} {{nav-property-name}} { get; set; }
{{/if}}
{{/each}}
{{/if}}
