/*
 * CSS For DotNetNuke Skin by bestdnnskins.com
 * Copyright 2014 By BESTDNNSKINS.COM
 */
/*-------- Design style --------*/
.floatl{ float:left;}
.floatr{ float:right;}
.pc_display { display:block;}
.mobile_display { display:none;}
.mobile_nav{ display:none;}
.pre_defined_color {background:#4882b3;}

.skin_wrapper {width:1140px;margin:0 auto;position:inherit!important;z-index:1;padding:0; }
.skin_width { width:100%; max-width:1140px;min-width:767px;margin:0 auto; position:relative; }
.skin_body { background:#fff; box-shadow: 0px 0px 3px 0px rgba(0,0,0,.1);}

.skin_user { min-height:20px; }
.skin_header { border-bottom:1px solid #eee;   }
.header_style { position:relative; min-height:90px; padding:0 10px;}
.logo_style { float:left; padding:3px; margin:0!important; height:160px; }
.site_logo { line-height:70px; }
.user_style { float:right; padding:5px 0; }
.menu_style { position:absolute; right:10px; top:10px; }

.skin_banner { }
.banner_style { background:#eee;}

.skin_main { min-height:550px; }
.skin_content { padding:20px 20px;}
.content_whitebg{ background:#fff; }

.content_graybg{ background:#f5f5f5; position:relative;}
.content_graybg:before{ content: ' '; background:#eaeaea; position: absolute; top:0; left: 0; width: 100%;height:3%; max-height:1px; z-index:0;}
.skin_main_padding{ padding:0 20px;}

.footer_top{ background:#313131; }
.copyright_bg{ background:#292929; height:70px;}
.footer_bottom{ color:#8d9093;}
.copyright_style{ float:left; line-height:70px; padding:0 15px;}
.footer_right{ float:right;line-height:70px;  padding:0 20px;}
.footer_shadow_style { height:75px; position:relative; top:-1px; z-index:-1; }

/*page name*/
.page_name { background:#4882b3;min-height:60px; }
.pagename_style { padding:0 20px; }
.pagename_style h1{ float:left; color:#fff; line-height:60px; font-size:17px; font-weight:normal; position:relative; z-index:913; margin:0; }
.pagename_style h1:hover {}
.breadcrumb_style {float:right; color:#fff; line-height:60px;}

/*leftsidebar layout*/
.LM_position { float:left; width:22%;padding:0; margin:20px 0; }
.LM_skin_content { float:left; min-height:350px; width:78%; padding:15px 0 0 25px; margin-bottom:20px;}
.leftside_style { padding:0;}

/*--------- StandardMenu style ----------*/
#standardMenu { position:relative; margin:0 auto;}
#standardMenu ul { list-style:none; margin:0; padding:0;}
#standardMenu li{ position:relative; display:block; float:left; margin:0; list-style-type:none;}

#standardMenu .rootMenu li a{ display:block; position:relative; cursor:pointer; text-decoration:none;}
#standardMenu .rootMenu > li.selected > a, #standardMenu .rootMenu > li.breadcrumb > a { text-decoration:none; }
#standardMenu .rootMenu li:hover a, #standardMenu .rootMenu li a:hover { text-decoration:none;}

#standardMenu .rootMenu li a span { display:block; padding:0 18px; line-height:80px; color:#777;  white-space:nowrap; font-size:14px; font-weight:normal;text-transform:none;  transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
#standardMenu .rootMenu li.selected a span, #standardMenu .rootMenu li.breadcrumb a span, #standardMenu .rootMenu li:hover a span, #standardMenu .rootMenu li a:hover span { color:#4882b3; }

/*-- submenu --*/
#standardMenu .subMenu {position:absolute;left:0; width:200px; top:78px;z-index:1210;display:none;padding:0; border-top:3px solid #4882b3; }
#standardMenu .subMenu ul{ margin:0; padding:0; position:relative; z-index:1200; background:#f7ff7f7; background:rgba(250,250,250,.92); border:1px solid #ddd; border:1px solid rgba(0,0,0,.1); }
#standardMenu .subMenu li{ float:none; clear:both; background:none; width:100%; padding:0; *margin-bottom:-3px;}
#standardMenu .subMenu li.item a{ border:none;border-bottom:1px solid #ddd;  padding:0; margin:0; background:none; }
#standardMenu .subMenu li.last > a{ border-bottom: none;}
#standardMenu .subMenu li.item a span{ display:block; background:none; font-size:12px; color:#555; font-weight:normal; white-space:normal; height:auto; line-height:1.5em; padding:10px 15px 10px 15px; text-transform:none; margin:0; border:none;}
#standardMenu .subMenu li.selected > a span, #standardMenu .subMenu li.breadcrumb > a span, #standardMenu .subMenu li.item a:hover span { cursor:pointer;color:#4882b3;}
#standardMenu .subMenu .subarrow{ background:url(../images/menu-arrow01.gif) no-repeat; position:absolute; right:0; top:15px; width:15px; height:7px;z-index:999;}

#standardMenu ul li ul li ul{ display:none; width:200px; margin:0;}
#standardMenu ul li ul li ul.level1{ display: none;position:absolute;left:198px; top:-1px; }
#standardMenu ul li ul li ul li ul.level2 { display:none;position:absolute;left:198px;top:-1px; }
#standardMenu ul li ul li ul li ul li:hover ul.level3 { display: block;position:absolute;left:198px;top:-1px; }
#standardMenu ul li ul li ul li ul li ul li:hover ul.level4 { display: block;position:absolute;left:198px;top:-1px; }

#standardMenu img.mmIcon {max-height:24px; margin-right: 7px; vertical-align: middle;}
#standardMenu img.rootIcon {max-height:40px; margin-right:7px; margin-left:-10px; vertical-align: middle;}

/*--------- MegaMenu style ----------*/
#megaMenu { position:relative; margin:0 auto;}
#megaMenu ul { list-style:none; margin:0; padding:0;}
#megaMenu li{ position:relative; display:block; float:left; margin:0; list-style-type:none;}

#megaMenu .root li a{ display:block; position:relative; cursor:pointer; text-decoration:none;}
#megaMenu .root > li.selected > a, #megaMenu .root > li.breadcrumb > a { text-decoration:none; }
#megaMenu .root li:hover a, #megaMenu .root li a:hover { text-decoration:none;}

#megaMenu .root li a span { display:block; padding:0 18px; line-height:80px; color:#777;  white-space:nowrap; font-size:14px; font-weight:normal;text-transform:none;  transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
#megaMenu .root li.selected a span, #megaMenu .root li.breadcrumb a span, #megaMenu .root li:hover a span, #megaMenu .root li a:hover span{ color:#4882b3;}

/*-- category --*/
#megaMenu .category{ display:none; position:absolute;left:0;top:78px;z-index:1210;width:380px; padding:0; border-top:3px solid #4882b3;}
#megaMenu .category > ul{ margin:0; position:relative; z-index:1200; padding:5px 9px 20px; background:#f7ff7f7; background:rgba(250,250,250,.92); border:1px solid #ddd; border:1px solid rgba(0,0,0,.1); border-top:none;}
#megaMenu .category li{ background:none; margin:0; width:180px; padding:0 10px; float:left; }
#megaMenu .category li.item a{ border-bottom:1px dashed #aaa; border-bottom:1px dashed rgba(0,0,0,.25);background:none;}
#megaMenu .category li.item a span{ display:block; background:none; font-size:12px; color:#555; font-weight:normal; white-space:normal; height:auto; line-height:1.5em; padding:11px 0 8px 2px; margin:0; text-transform:none; border:none; }
#megaMenu .category li.selected > a span, #megaMenu .category li.item a:hover span { background:none; text-decoration:none; color:#4882b3; cursor:pointer; }

#megaMenu .leaf li{ clear:both; float:none; width:175px; margin:0 0 0 5px; padding:0; }
#megaMenu .leaf li.item a{ padding:0 0 0 8px; background:url(../images/right.gif) left 15px no-repeat; border:none;}
#megaMenu .leaf li.item a span{ padding:8px 0; font-weight:normal; }
#megaMenu .leaf li li{ clear:both;float:none; width:165px; margin:0 0 0 10px; }

#megaMenu img.mmIcon {max-height:24px; margin-right: 7px; vertical-align: middle;}
#megaMenu img.rootIcon {max-height:40px; margin-right:7px; margin-left:-10px; vertical-align: middle;}


/*--------- LeftMenu style ----------*/
#leftMenu { position:relative; margin:0 auto;}
#leftMenu ul { list-style:none; margin:0 0 20px; padding:0;}
#leftMenu li{ display:block; float:none; list-style-type:none; margin:0; padding:0; line-height:normal;}
#leftMenu .leftRoot li a {text-decoration:none;}
#leftMenu .leftRoot li a span { display:none; text-decoration:none;} 

/*-- left submenu --*/
#leftMenu .leftSub { z-index:900;width:100%; display:none;padding:0; margin:0;}
#leftMenu .leftRoot li.breadcrumb .leftSub { display:block; }
#leftMenu .leftSub ul{ margin:0; padding:0; position:relative; background:none; border:none; z-index:900;}
#leftMenu .leftSub li{float:none; clear:both; padding:0; position:relative; background: url(../images/menu-arrow01.gif) no-repeat 10px 17px; border:1px solid #ddd; margin:3px 0;  }

#leftMenu .leftSub li.item a{ background:none;  }
#leftMenu .leftSub li.item a span{ background:10px 17px; display:block; font-size:14px; color:#555555; font-weight:bold; font-family:'Open Sans',Arial, Tahoma, sans-serif; white-space:normal;line-height:22px; padding:10px 10px 10px 25px; text-shadow:none; text-transform:none; margin:0; }
#leftMenu .leftSub li.selected > a span, #leftMenu .leftSub li a:hover span{background: url(../images/menu-arrow02.gif) no-repeat 10px 17px #4882b3; color:#fff; transition: all 0.2s ease 0s;  -webkit-transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;}

#leftMenu .level1{ display: block; }
#leftMenu .level1 li{ background:none;  margin:0; border:none; border-radius:0; webkit-border-radius:0; -moz-border-radius:0; }
#leftMenu .level1 li.item a span { font-size:13px; font-weight:normal; padding:8px 8px 8px 25px;}
#leftMenu .level1 li.selected > a span, #leftMenu .level1 li a:hover span{background:none!important; color:#4882b3;}
#leftMenu .level1 li a:hover span{background:none; color:#4882b3;background-image:none;}


/*--------- Pane Style ----------*/
.DNNEmptyPane{ display:none!important;}
.dnnpane [class*="col-sm"],.dnnpane [class^="col-sm"] { padding: 10px 15px; }
.bannerpane p{ margin:0;}
.bannerpane {}

.color_grid12{}
.content_grid12{}
.one_grid4{}
.one_grid8{}
.two_grid6a{}
.two_grid6b{}
.three_grid4a{}
.three_grid4b{}
.three_grid4c{}
.four_grid3a{}
.four_grid3b{}
.four_grid3c{}
.four_grid3d{}
.five_grid12{}
.six_grid8{}
.six_grid4{}
.seven_grid3a{}
.seven_grid3b{}
.seven_grid3c{}
.seven_grid3d{}
.eight_grid4a{}
.eight_grid4b{}
.eight_grid4c{}
.nine_grid6a{}
.nine_grid6b{}
.ten_grid12{}
.grayGrid12{}

.footer_grid4a { margin:50px 0 20px 0;}
.footer_grid4b { margin:50px 0 20px 0;}
.footer_grid4c { margin:50px 0 20px 0;}
.footerpane { margin:0 0 30px 0;}

.leftsidepane { padding:10px 0; }
.l_one_grid8 {}
.l_one_grid4 {}
.l_two_grid6a {}
.l_two_grid6b {}
.l_three_grid4 {}
.l_three_grid8 {}
.l_four_grid4a {}
.l_four_grid4b {}
.l_four_grid4c {}
.l_five_grid12 {}

/*--------- Login & User Style ----------*/
#Login{ float:right; padding-right:0; height:32px; border:1px solid #e5e5e5; background:#fff; background:rgba(255,255,255,.8); }
#Login ul { margin:0; padding:0;}
#Login .registerGroup, #Login .registerGroup *, #Login .loginGroup, #Login .loginGroup *{ display:block;} 
#Login .registerGroup, #Login .loginGroup{ float:left; padding:0;margin:0;} 

/* Register Group Styles */
#Login .registerGroup li{ float:left; height:30px; border-right:1px solid #eee;}
#Login .registerGroup .buttonGroup{ margin-right:0;}
#Login .registerGroup a, #Login .loginGroup a{ position:relative; display:block; padding:0 8px; min-width:15px; min-height:11px; font-weight:normal; font-size:11px; vertical-align:middle; color :#222; border-right:none; height:30px; vertical-align:middle; line-height:30px;  -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
#Login .registerGroup a:hover,#Login .loginGroup a:hover{ color:#4882b3; text-decoration:none;}
#Login .registerGroup a strong,#Login .loginGroup a strong{ position:absolute; left:0; top:0; width:100%; height:100%; display:block; font-size:11px; font-weight:bold; vertical-align:baseline; overflow:hidden; text-indent:-9999px;}
.registerGroup .userMessages strong,.registerGroup .userNotifications strong{ background:url(../images/userLoginSprite.png) no-repeat 9px 11px;}
.registerGroup .userNotifications strong{ background-position:-91px 9px;}
.registerGroup .userMessages strong:hover{background-position:9px -41px;}
.registerGroup .userNotifications strong:hover{ background-position:-91px -43px;}
#Login .registerGroup a span{ position:absolute;right:0; top:0; display:inline-block; padding:2px; min-width:10px; line-height:12px; text-align:center; background:rgb(31,152,241); font-size:12px; color:#fff; text-shadow: 0px 1px 0px #333333;}
#Login .registerGroup .userProfileImg a{ padding:0;background:none;min-width:25px;}
#Login .registerGroup a img{ border:0px solid blue;height:30px; width:30px;background:#555;}

/*--------- Language Style ----------*/
.language-object{float:left;display:block; margin:0; padding-right:10px; padding-top:8px;}
.language-object .Language {margin:0 2px;}
.language-object span img{height:18px; width:25px;opacity:0.7; margin:0; border:2px solid transparent;}
.language-object span:hover img{opacity:1;}
.language-object .Language.selected img{ opacity:1; border-color:#555; border-color:rgba(0,0,0,.2); -webkit-border-radius: 2px;border-radius: 2px;}

/*--------- Footer Pane Content style ----------*/
.footerpane_style, .footerpane_style *{ color:#8c8c8c;}
.footerpane_style a, .footerpane_style a:link{ color :#8c8c8c; text-decoration : none; }
.footerpane_style a:visited { color :#8c8c8c; text-decoration : none; }
.footerpane_style a:hover { color :#fff; text-decoration : none; }
.footerpane_style a:active { color :#8c8c8c; text-decoration : none; }

/*--------- Scroll Top Style ----------*/
#top-link { background:url(../images/scroll_top.png) no-repeat scroll center top #999; background: url(../images/scroll_top.png) no-repeat scroll center top rgba(0, 0, 0,0.3); border: 0 none; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-border-radius: 2px; bottom:25px; right: 50px; display:block; height:38px; padding:0; width:50px; position: fixed; text-decoration: none; z-index: 903;}
#top-link:hover { background:url(../images/scroll_top.png) no-repeat scroll center bottom #666; background:url(../images/scroll_top.png) no-repeat scroll center bottom rgba(0, 0, 0,0.5);  -webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; -o-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}

/*--------- Color Picker Style ----------*/
#custom_wrapper{display:block;position: fixed;top: 80px;left:-155px;width: 150px;padding: 15px 0;background: #fff;z-index: 99999;font-size: 12px;border: 1px solid #E1E1E1;border-bottom: 1px solid rgba(150, 150, 150, 0.2);-webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);}
#custom-button {display:block;position: fixed;top: 110px;left:0;cursor:pointer;z-index: 9999; background-color:#fff; border:1px solid #999; border:1px solid rgba(0,0,0,.1); padding:7px;}
.custom-button {-webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear;animation: spin 2s infinite linear; }
.custom-button:hover ,.custom-button:active{ -webkit-animation: none; -moz-animation: none; -o-animation: none;animation: none;}
@-moz-keyframes spin {0% { -moz-transform: rotate(0deg); }100% { -moz-transform: rotate(359deg); }}
@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(359deg); }}
@-o-keyframes spin {0% { -o-transform: rotate(0deg); }100% { -o-transform: rotate(359deg); }}
@-ms-keyframes spin {0% { -ms-transform: rotate(0deg); }100% { -ms-transform: rotate(359deg); }}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(359deg); }}
#custom_wrapper div, #custom_wrapper span, #custom_wrapper p, #custom_wrapper li, #custom_wrapper td {color: #555!important;}
#custom_wrapper #bg_color {width: 100%;height: 25px;cursor: pointer;}
#custom_wrapper .custom_inner{width: 84%;margin:auto;}
.colorpicker_preview{width: 100%;height: 30px;margin: 5px 0 0 0;}
#custom_wrapper .use-form-styles select{width: 110px;}
.color-box, .pattern-box, .pattern-box2, .bg-box { width:27px;height:27px;display:block;float:left; margin:5px 2px 0 2px;border: 1px solid #cacaca;}
.pattern-box, .pattern-box2 { background:#ccc center center;}
#colorpicker { width: 36px;height: 36px;background: url(../images/colorpicker/select2.png);}
#colorpicker div { width: 28px;height: 28px;background: url(../images/colorpicker/select2.png) center;}
#custom_wrapper #bg_pattern { margin-top:10px; margin-bottom:12px;}
.optional_width { position:relative; padding:5px 0 0 0;}
#boxed_button { background:#777; float:left; margin-top:2px; padding:5px 7px; color:#FFFFFF;}
#stretched_button { background:#777;  float:right; margin-top:2px; padding:5px 7px; color:#FFFFFF;}
#boxed_button:hover, #stretched_button:hover { text-decoration:none;}
#custom_wrapper #custom-reset{ float:left; padding:5px 11px; margin:0; background:#444444; color:#fff; text-decoration:none;} 
#custom_wrapper .getcss_btn{ float:right; padding:5px 10px; margin:0; background:#444444; color:#fff; text-decoration:none;}
#getCSSModal .modal-dialog { width:660px; }
#getCSSModal h4#cssModalLabel { margin:0; }
textarea.get-css { height: 325px; width: 597px; resize: none; cursor: text;}
ul.mega_option { list-style:none; margin:0; padding:0; margin-bottom:12px;}
ul.mega_option li { list-style:none; margin:0 0 5px; padding:0; float:left; margin-right:4px;}
ul.mega_option li:last-child {margin-right:0;}
ul.mega_option li a {background:#eee; float:left; margin-top:5px; padding:4px 5px; border:1px solid #cacaca;  color:#000;}


/**********************************/
/*** Content Pages Style ***/
/**********************************/	
/*--------- Nav Tabs Style ----------*/
.nav { }
.nav-tabs { border-bottom: 1px solid #d9d9d9;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border-color: #d9d9d9 #d9d9d9 transparent; color:#4882b3; }
.nav-tabs > li > a { padding-top:12px; color:#555;border-radius:0; webkit-border-radius:0; -moz-border-radius:0; background:#f2f2f2; border:1px solid #d9d9d9;outline:none; }
.nav-tabs > li > a:hover { color:#4882b3; border:1px solid #d9d9d9;}
.nav-tabs > li > a, .nav-pills > li > a{ margin-right:-1px;}
.tab-content { border:1px solid #d9d9d9; border-top:none; padding:5px 10px;}
.tab_container span{ font-size:36px; float:left; padding-left:8px;}
.tab_container_right{ padding-left:60px;}
.tab_container_right h3{ color:#666;}
.tab_container_right:hover h3{ color:#4882b3;-webkit-transition: all 0.4s ease-in 0s; -moz-transition: all 0.4s ease-in 0s; transition: all 0.4s ease-in 0s;}
.tab-content p { line-height:2em;}
.tab_container { width:100%; }

/*--------- Quovolve Style ----------*/
.quovolve-box ul.quovolve { background:#4882b3; margin:10px 0 90px;padding:0;}
.quovolve-box { padding-top:20px;}
.quovolve-box ul { clear: both;list-style: none; margin: 0;padding:5px 0;}
.quovolve-box ul li { list-style:none;padding: 15px 20px;position: relative;}
.quovolve-box ul li p { margin: 0;text-align:left;color:#fff;}
.quovolve-box ul li cite { background:none;border-radius: 2px; position:absolute; left:10px; bottom: -90px;color: #555;display: block;font-size: 14px;font-style: normal;padding: 2px 6px 3px;z-index: 900; font-weight:normal; }
.quovolve-box ul li cite:before { border-bottom: 10px solid transparent;border-left: 10px solid #4882b3;border-top:0 solid transparent;content: "";height: 0;left: 25%;position: absolute;top: -22px;width: 0;}
.quovolve-box ul li cite img { float: left;padding-right: 10px;} 
.quovolve-box ul li cite span { color:#4882b3; display: inline-block; padding-top: 25px;} 
.quovolve-box .quovolve-nav .nav-numbers { height: 6px;margin: 0;width: 100%;padding:0;}
.quovolve-box .quovolve-nav .nav-numbers li { float: left;list-style: none;margin-right: 3px;}
.quovolve-box .quovolve-nav .nav-numbers li a { background:#595959;border-radius: 100% 100% 100% 100%;display: block;height: 6px;text-indent: -9999px;width: 6px; text-decoration:none; outline:none; }
.quovolve-box .quovolve-nav .nav-numbers li.active a { background:#4882b3; }
.quovolve-box .quovolve-nav .nav-numbers li a:hover { background:#4882b3;}

/*--------- Icon Hover Effects ----------*/
.icon_hover { position:relative; text-align:center; min-height:80px; }
.icon_hover .glyphicon-effect{position:absolute;top:0;left:40%;}
.icon_hover .glyphicon{display:inline-block;cursor: pointer;margin: 0 auto;width:70px;height:70px;border-radius: 50%;position: relative;z-index: 1; background:#fff; }
.icon_hover .glyphicon:after{pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 50%;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.icon_hover .glyphicon:before{speak: none;font-style: normal;font-weight: normal;font-variant: normal; font-size:32px;vertical-align:middle; line-height:71px;text-transform: none;display: block;-webkit-font-smoothing: antialiased;}

/* Effect 1 */
.icon_hover .icon-effect-1 .glyphicon{background:#4882b3;-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;transition: transform ease-out 0.1s, background 0.2s;color: #fff;}
.icon_hover .icon-effect-1 .glyphicon:after{top: 0;left: 0;padding: 0;z-index: -1;box-shadow: 0 0 0 2px #4882b3;opacity: 0;}
.icon_hover:hover .icon-effect-1 .glyphicon{background: #666!important;color: #fff;}
.icon_hover:hover .icon-effect-1 .glyphicon:after{-webkit-animation: sonarEffect 1s ease-out 95ms;-moz-animation: sonarEffect 1s ease-out 95ms;animation: sonarEffect 1s ease-out 95ms;}
@-webkit-keyframes sonarEffect{0%{opacity: 0.3;}40%{opacity: 0.5;box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #666, 0 0 0 10px rgba(255,255,255,0.5);}100%{box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #666, 0 0 0 10px rgba(255,255,255,0.5);-webkit-transform: scale(1.5);opacity: 0;}}
@-moz-keyframes sonarEffect{0%{opacity: 0.3;}40%{opacity: 0.5;box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #666, 0 0 0 10px rgba(255,255,255,0.5);}100%{box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #666, 0 0 0 10px rgba(255,255,255,0.5);-moz-transform: scale(1.5);opacity: 0;}}
@keyframes sonarEffect{0%{opacity: 0.3;}40%{opacity: 0.5;box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #666, 0 0 0 10px rgba(255,255,255,0.5);}100%{box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #666, 0 0 0 10px rgba(255,255,255,0.5);transform: scale(1.5);opacity: 0;}}

/* Effect 2 */
.icon_hover:hover .icon-effect-2 .glyphicon:after{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);opacity: 1;}
.icon_hover .icon-effect-2 .glyphicon{background:#4882b3;color: #fff;}
.icon_hover:hover .icon-effect-2 .glyphicon{background:#666!important;color: #fff;}
.icon_hover:hover .icon-effect-2 .glyphicon:after{ box-shadow: 0 0 0 2px #666!important;}
.icon_hover .icon-effect-2 .glyphicon:after{top: -5px;left: -5px;padding: 5px;box-shadow: 0 0 0 2px #4882b3;-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;-webkit-transform: scale(.8);-moz-transition: -moz-transform 0.2s, opacity 0.2s;-moz-transform: scale(.8);-ms-transform: scale(.8);transition: transform 0.2s, opacity 0.2s;transform: scale(.8);opacity: 0;}

/* Effect 3 */
.icon_hover .icon-effect-3 .glyphicon{-webkit-transition: color 0.3s;-moz-transition: color 0.3s;transition: color 0.3s;box-shadow: 0 0 0 2px #4882b3;}
.icon_hover .icon-effect-3 .glyphicon:after{top:-1px;left:-1px;padding:1px;z-index: -1;background: #4882b3;-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;-moz-transition: -moz-transform 0.2s, opacity 0.3s;transition: transform 0.2s, opacity 0.3s;}
.icon_hover .icon-effect-3 .glyphicon{color: #fff;}
.icon_hover:hover .icon-effect-3 .glyphicon{color: #666!important;box-shadow: 0 0 0 2px #666!important;}
.icon_hover:hover .icon-effect-3 .glyphicon:after{-webkit-transform: scale(1.3);-moz-transform: scale(1.3);-ms-transform: scale(1.3);transform: scale(1.3);opacity: 0;}

/* Effect 4 */
.icon_hover .icon-effect-4 .glyphicon{ background:#4882b3; color:#FFF; }
.icon_hover:hover .icon-effect-4 .glyphicon{-webkit-animation: spinAround 2s linear infinite;-moz-animation: spinAround 2s linear infinite;animation: spinAround 2s linear infinite; background:#666!important; -webkit-transition: all 0.4s ease-in 0s; -moz-transition: all 0.4s ease-in 0s; transition: all 0.4s ease-in 0s; }
.icon-effect-4 .icon-sort:hover:before{-webkit-animation: spinAround 2s linear infinite;-moz-animation: spinAround 2s linear infinite;animation: spinAround 2s linear infinite;}
@-webkit-keyframes spinAround{from{-webkit-transform: rotate(0deg)}to{-webkit-transform: rotate(360deg);}}
@-moz-keyframes spinAround{from{-moz-transform: rotate(0deg)}to{-moz-transform: rotate(360deg);}}
@keyframes spinAround{from{transform: rotate(0deg)}to{transform: rotate(360deg);}}

/* Effect 5*/ 
.icon_hover .icon-effect-5 .glyphicon{background: #4882b3;color: #fff;}
.icon_hover:hover .icon-effect-5 .glyphicon{background: #666!important;}
.icon_hover:hover .icon-effect-5 .glyphicon:before{-webkit-animation: toTopFromBottom 0.3s forwards;-moz-animation: toTopFromBottom 0.3s forwards;animation: toTopFromBottom 0.3s forwards;}
@-webkit-keyframes toTopFromBottom{49%{-webkit-transform: translateY(-100%);}50%{opacity: 0;-webkit-transform: translateY(100%);}51%{opacity: 1;}}
@-moz-keyframes toTopFromBottom{49%{-moz-transform: translateY(-100%);}50%{opacity: 0;-moz-transform: translateY(100%);}51%{opacity: 1;}}
@keyframes toTopFromBottom{49%{transform: translateY(-100%);}50%{opacity: 0;transform: translateY(100%);}51%{opacity: 1;}}

/* Effect 6 */
.icon-effect-6 .glyphicon{ color:#fff;background: #4882b3;}
.icon_hover:hover .icon-effect-6 .glyphicon{background: #666!important;}
.icon-effect-6 .glyphicon:after{top: -4px;left: -4px;padding: 4px;z-index: -1;}
.icon_hover:hover .icon-effect-6 .glyphicon:after{opacity: 1;box-shadow: 3px 3px 0 #666!important; -webkit-transform 0.4s;-moz-transition: -moz-transform 0.4s;transition: transform 0.4s;}
.icon-effect-6 .glyphicon:before{-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);-webkit-transition: -webkit-transform 0.4s;-moz-transition: -moz-transform 0.4s;transition: transform 0.4s;}
.icon_hover:hover .icon-effect-6 .glyphicon:before{-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}

/* Icon Effect 5 Variant */
.icon_effect {text-align:center;}
.icon_effect .glyphicon{display:inline-block;cursor: pointer;margin: 0 auto;width:70px;height:70px;border-radius: 50%;position: relative;z-index: 1; }
.icon_effect .glyphicon:after{pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 50%;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.icon_effect .glyphicon:before{speak: none;font-style: normal;font-weight: normal;font-variant: normal; font-size:32px;vertical-align:middle; line-height:71px;text-transform: none;display: block;-webkit-font-smoothing: antialiased;}
.icon_effect .icon-effect-5 .glyphicon{box-shadow: 0 0 0 4px rgba(0,0,0,.5); color:#666;overflow: hidden;-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;transition: background 0.3s, color 0.3s, box-shadow 0.3s;}
.icon_effect .icon-effect-5 .glyphicon:after{display: none;}
.icon_effect:hover .icon-effect-5 .glyphicon{background:#4882b3;color: #FFF;box-shadow: 0 0 0 8px rgba(0,0,0,0.3);}
.icon_effect:hover .icon-effect-5a .glyphicon:before{-webkit-animation: toRightFromLeft 0.3s forwards;-moz-animation: toRightFromLeft 0.3s forwards;animation: toRightFromLeft 0.3s forwards;}
.icon_effect:hover .icon-effect-5b .glyphicon:before{-webkit-animation:toLeftFromRight 0.3s forwards;-moz-animation:toLeftFromRight 0.3s forwards;animation:toLeftFromRight 0.3s forwards;}
.icon_effect:hover .icon-effect-5c .glyphicon:before{-webkit-animation:toTopFromBottom 0.3s forwards;-moz-animation:toTopFromBottom 0.3s forwards;animation:toTopFromBottom 0.3s forwards;}
.icon_effect:hover .icon-effect-5d .glyphicon:before{-webkit-animation:toBottomFromTop 0.3s forwards;-moz-animation:toBottomFromTop 0.3s forwards;animation:toBottomFromTop 0.3s forwards;}

/*---------carouFredSel Style ----------*/
.carouFredSel { position:relative; height:auto; }
.carouFredSel ul { list-style:none; margin:0; padding:0; width:auto;}
.carouFredSel ul li { float:left; list-style:none; height:auto;  position:relative; margin:0 6px ; border-bottom:1px solid #f3f3f3;}
.carouFredSel ul li:hover { border-bottom:1px solid #4882b3; background:#f9f9f9; }
.carouFredSel ul li:hover img {filter:Alpha(Opacity=80);opacity:0.8;}
.carousel_nav{position:absolute; right:-17px; top:-40px;padding:5px 25px 0 5px;background:none;}
a#carousel_prev{display:inline-block;width:21px;height:21px;background:#4882b3 url(../images/carouFredSel_prev.png) no-repeat center center; transition: all 0.8s ease 0s; -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s; }
a#carousel_next{display:inline-block;width:21px;height:21px;background:#4882b3 url(../images/carouFredSel_next.png) no-repeat center center; transition: all 0.8s ease 0s; -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s; }
a#carousel_prev:hover {background-color:#555;}
a#carousel_next:hover {background-color:#555;}
.carouFredSel ul li h3.carousel_subtitle { color:#595959; text-align:center; font-size:18px;}
.carouFredSel ul li:hover h3.carousel_subtitle { transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -moz-transition: all 0.3s ease-in 0s; color:#4882b3; }
.carouFredSel li p { text-align:center; color:#bababa; padding-bottom:16px;  }

/*--------- CarouFredSel02 Style ----------*/
.carouFredSel02 { position:relative; margin-bottom:20px; }
.carouFredSel02 ul { list-style:none; margin:0; padding:0; width:auto;  }
.carouFredSel02 ul li { float:left; list-style:none; height:auto; min-height:345px; margin:0 10px; position:relative;  }
.carouFredSel02 .carouFredSel_nav { position:absolute; right:0; top:-50px;  padding:5px 8px 5px 5px;}
.caroul_prev02 { background: url(../images/crousel_l.png) no-repeat center center #4882b3;  margin-right:5px; padding:4px 12px; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.caroul_next02 { background: url(../images/crousel_r.png) no-repeat center center #4882b3;  padding:4px 12px; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.caroul_prev02:hover { background: url(../images/crousel_l.png) no-repeat center center #555!important; }
.caroul_next02:hover { background: url(../images/crousel_r.png) no-repeat center center #555!important; }

/*--------- CarouFredSel Style ----------*/
.carousel_up { position:relative; padding:0 ; margin:0; border:none; min-height:200px; }
.carousel_up ul { list-style:none; margin:0; padding:0; width:auto;}
.carousel_up ul li { list-style:none; height:auto; padding:0 0 20px; }

.carousel_up ul li .carousel_up_img{ float:left; padding-top:7px;  }
.carousel_up ul li .carousel_up_text{ padding-left:28px; }
.carousel_up ul li .carousel_up_text a{ color:#4882b3;}

/*--------- Accordion2 Style ----------*/
.accordion_style{  margin:10px 0 30px;}
.accordion_style .accordion2{ width:100%;}
.ui-accordion .ui-accordion-header { border:solid 1px #dddddd; cursor: pointer;margin-top:8px; display: block;min-height: 0;padding:5px 40px 5px 12px;position: relative;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background: url(../images/toggle_icon.png) no-repeat right  3px ;font-weight:normal;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(../images/toggle_icon.png) no-repeat right  -29px ; font-weight:normal;  }
.ui-helper-reset { font-size: 100%;list-style: none outside none;margin: 0;outline: 0 none;padding: 0;text-decoration: none;}
.accordion2 p { font-size: 100%;line-height:20px;list-style: none outside none;margin: 0;outline: 0 none;padding:8px 12px;text-decoration: none; border:1px solid #dddddd; border-top:none;}
.accordion2 > h3{color:#444;font-size:15px!important;}
.ui-accordion .ui-accordion-content {overflow: auto;}

/*---------- Portfolio List -------------- */
.portfolio-list {width:100%;float:left;margin:0;}
.portfolio-list > img{width:100%;height:auto;}
.portfolio-list li {overflow:hidden;position:relative;margin:5px;}
.portfolio-list li > .portfolio-overlay{width:100%;height:100%;position:absolute;top:0px;left:0px; background:#4882b3; filter:alpha(opacity=82); opacity:0.82; margin-top:-300%;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;transition: all .3s ease-in-out;}
.portfolio-list li:hover > .portfolio-overlay{margin-top:0%;z-index:19;}
.portfolio-list li > .overlay-link,
.portfolio-list li > .overlay-zoom{width:29px;height:29px;line-height:28px;font-size:15px;color:white;background-color:rgba(0,0,0,.3);position:absolute;top:50%;left:50%;margin:-200% 0px 0px -35px;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;text-align:center;z-index:20;}
.portfolio-list li > .overlay-zoom{margin:-300% 0px 0px 5px;-webkit-transition: all .6s ease-in-out;-moz-transition: all .6s ease-in-out;transition: all .6s ease-in-out;}
.portfolio-list li:hover > .overlay-link{margin:-20px 0px 0px -35px;}
.portfolio-list li:hover > .overlay-zoom{margin:-20px 0px 0px 5px;}

/*------------------ Fancybox Style -------------------*/
.fancybox_style{height:auto; padding:0;overflow:hidden;}
.fancybox_style ul { list-style:none; margin:0; padding:0;}
.fancybox_style ul li { list-style:none; padding:5px 10px 5px 0; float:left; }
.fancybox_style ul li a { position:relative; display:block;}
.fancybox_style ul li a img { border:4px solid rgba(0,0,0,.1); filter:Alpha(Opacity=100);opacity:1; }
.fancybox_style ul li a img:hover {  filter:Alpha(Opacity=70);opacity:0.7; }
.fancybox_style .img-overlay { background:url(../images/fancy_zoom.png) no-repeat scroll center center #000; position: absolute; left:0; top:0; width:100%; height: 100%; opacity: 0; -webkit-transition: all 0.6s ease-in 0s; -moz-transition: all 0.6s ease-in 0s; transition: all 0.6s ease-in 0s;}
.fancybox_style .img-overlay:hover { opacity: 0.6;}

/*-------- Magnify Images ----------*/
.magnify_img { overflow: hidden;-webkit-transition:all .6s ease-out;-moz-transition:all .6s ease-out;-o-transition:all .6s ease-out;-ms-transition:all .6s ease-out;transition:all .6s ease-out;-webkit-transform:scale(0.85);-moz-transform:scale(0.85);-o-transform:scale(0.85);-ms-transform:scale(0.85);transform:scale(0.85); }
.magnify_img:hover { opacity: 1; -webkit-transform:scale(1.0);-moz-transform:scale(1.0);-o-transform:scale(1.0);-ms-transform:scale(1.0);transform:scale(1.0);}


/*------------------ Home Top Colorbg  -------------------*/
ul.content_list li{ list-style:none; }
.content_colorbg{ background:#EDF6FD; }
.content_colorbg .site_welcome { color:#fff; font-size:20px; font-weight:bold; line-height:75px;}
.top_icons { margin-top:25px;}
.top_icons a {background-color:#4882b3;}

/*-------- Content Line Style ----------*/
.content_line { height:1px; background:#eee; overflow:hidden; margin:0 -20px; margin-bottom:30px;}

/*--------- Home Main Top Styles ----------*/
.main_top{position:relative; text-align:center;padding:20px 0; margin-top:35px; }
.main_top h3{ padding:60px 0 0 0; color:#666;}
.main_top:hover h3{ color:#4882b3;-webkit-transition: all 0.6s ease-in 0s; -moz-transition: all 0.6s ease-in 0s; transition: all 0.6s ease-in 0s;}
.main_top_list{ padding:10px 10px;}
.main_top .readmore a{color:#4882b3; padding-bottom:10px;}
.main_top .readmore a:hover{color:#555!important;-webkit-transition: all 0.6s ease-in 0s; -moz-transition: all 0.6s ease-in 0s; transition: all 0.6s ease-in 0s;}

/*-------- Home portfolio ----------*/
.home_portfolio{height:auto;overflow:hidden; margin-top:-47px; margin-bottom:40px;}

/*--------Blog Post Style----------*/
.blog_post { margin-top:10px; margin-bottom:30px;}
.blog_post ul li {margin-bottom: 17px !important;}
.blog_post img {cursor: pointer;float: left;margin: 0;padding-top: 5px;}
.post_right {padding-left: 100px;}
.post_right p {padding-top: 5px; padding-left:15px;}
.post_right p a { color:#4f4f4f;}
.post_right p a:hover { color:#4882b3;}
.post_right span {color: #777777;font-style: italic;padding-left:10px}

/*-------- Home List Style----------*/
.home_list { margin-top:5px;}
.home_list ul li { padding: 10px 3px 20px !important;}
.home_list ul li a { color:#4f4f4f;}
.home_list ul li span {float: left; position:relative;font-size: 13px;transition: all 0.4s ease 0s; padding-right:10px;}
.home_list li:hover a, .page_list li:hover a span {color: #4882b3;transition: all 0.4s ease 0s;}

/*--------- Footer About style ----------*/
.footer_about p {color: #939393 !important;line-height: 20px; padding-bottom: 10px;}
.footer_about p span { color:#fff;}

/*---------Product List Style ----------*/
.logo_list h3 {color: #4f4f4f; font-size: 20px; margin:12px 0 0 0;  }
.logo_list h3:hover {color: #4882b3; transition: all 0.8s ease 0s; -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.select_logo { margin-top:5px;}
.logo_list .select_logo a { opacity: 0.7; padding: 0 39px 0 20px; transition: all 0.7s ease 0s;}
.logo_list .select_logo a:hover {opacity: 1; transition: all 0.6s ease 0s;}

/*----------------- About Us Page ---------------*/
.dynamic_bar { margin-top:-15px;}
.dynamic_bar .progress{ height:22px; margin-bottom:30px; }
.dynamic_bar .progress-bar-success1 { background:#39b6d6;}
.dynamic_bar .progress-bar-success2 { background:#f76816;}
.dynamic_bar .progress-bar-success3 { background:#4882b3;}
.dynamic_bar .progress .sr-only{ position:relative; z-index:1000; color:#fff; line-height:22px;}

/*------------- Our Services Area --------------*/
.our_services{ text-align:center; padding:0 0 50px 0;}
.our_services h3{ color:#666; }
.our_services:hover h3{ color:#4882b3; cursor:pointer;transition: all 0.6s ease 0s;  -webkit-transition:all 0.6s ease 0s;-moz-transition:all 0.6s ease 0s;}

/*--------- Testimonials Page Style ----------*/
.testimonials_style{ border:1px solid #e1e1e1; border-left:3px solid #4882b3; padding:15px; margin-top:-55px;-webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s;}
.testimonials_style:hover{ border-left:3px solid #666!important;transition: all 0.4s ease 0s;  -webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;  }
.testimonials_style img{ float:left;}
.testimonials_style .testimonials_right{ padding-left:110px;background:url(../images/quotes_img.png) no-repeat 100px top;}
.testimonials_style .testimonials_right span{ color:#4882b3;}

/*--------- Services Page Style ----------*/
.services_top{ padding-bottom:40px;}
.features_list{ padding-bottom:25px; margin-top:-15px; margin-bottom:10px;  }
.features_list span{ float:left; width:70px; height:70px; text-align:center; line-height:68px;margin:0; font-size:25px; color:#4882b3; border:1px solid #4882b3;border-radius:100%;-webkit-border-radius:100%; -moz-border-radius:100%;}
.features_list .features_list_right{ padding-left:85px;}
.features_list .features_list_right h3{ color:#444;}
.features_list:hover .features_list_right h3{ color:#4882b3;transition: all 0.4s ease 0s;  -webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;}
.features_list:hover span{ color:#444;border:1px solid #444;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;-webkit-animation: pulse ease-in-out 1 normal 500ms;-moz-animation: pulse ease-in-out 1 normal 500ms;-ms-animation: pulse ease-in-out 1 normal 500ms;animation: pulse ease-in-out 1 normal 500ms;}
.service_list{ text-align:center; padding:30px 50px; margin-bottom:-20px;border:1px solid #e1e1e1;}
.service_list:hover{border:1px solid #4882b3;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.service_list .glyphicon{ font-size:25px; color:#4882b3;}
.service_list  h3{ color:#444;}
.service_list:hover h3{ color:#4882b3;transition: all 0.4s ease 0s;  -webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;}
.service_list:hover .glyphicon{ color:#444;transition: all 0.4s ease 0s;  -webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;}
.service_list.swing:hover .glyphicon{-ms-animation: 800ms ease-in-out 0s normal none 1 swing;-webkit-animation: 800ms ease-in-out 0s normal none 1 swing;-moz-animation: 800ms ease-in-out 0s normal none 1 swing;animation: 800ms ease-in-out 0s normal none 1 swing;   }
.service_list.bounce:hover .glyphicon{-ms-animation: 1500ms ease-in-out 0s normal none 1 bounce;-webkit-animation: 1500ms ease-in-out 0s normal none 1 bounce;-moz-animation: 1500ms ease-in-out 0s normal none 1 bounce;animation: 1500ms ease-in-out 0s normal none 1 bounce;}
.service_list.shake:hover .glyphicon{-ms-animation: 1500ms ease-in-out 0s normal none 1 shake;-webkit-animation: 1500ms ease-in-out 0s normal none 1 shake;-moz-animation: 1500ms ease-in-out 0s normal none 1 shake;animation: 1500ms ease-in-out 0s normal none 1 shake;}
.service_list.bounceIn:hover .glyphicon{-ms-animation: 1000ms ease-in-out 0s normal none 1 bounceIn;-webkit-animation: 1000ms ease-in-out 0s normal none 1 bounceIn;-moz-animation: 1000ms ease-in-out 0s normal none 1 bounceIn;animation: 1000ms ease-in-out 0s normal none 1 bounceIn;}
.service_list.flash:hover .glyphicon{-ms-animation: 1200ms ease-in-out 0s normal none 1 flash;-webkit-animation: 1200ms ease-in-out 0s normal none 1 flash;-moz-animation: 1200ms ease-in-out 0s normal none 1 flash;animation: 1200ms ease-in-out 0s normal none 1 flash;}
.service_list.fadeInUp:hover .glyphicon{-ms-animation: 500ms ease-in-out 0s normal none 1 fadeInUp;-webkit-animation: 500ms ease-in-out 0s normal none 1 fadeInUp;-moz-animation: 500ms ease-in-out 0s normal none 1 fadeInUp;animation: 500ms ease-in-out 0s normal none 1 fadeInUp;}

/*------------------ Price Table Page -------------------*/
.price_title { color:#000;padding:0 3px;}
.price-table{text-align:center;margin-bottom:80px; padding:0 20px;}
.price-table li:before{content: '';width:auto;}
.price-table [class^="icon-"]{font-size:16px;}
.price-table ul, .price-table ul li{ list-style:none;  margin:0; }
.five-col .col{width:20%;}
.four-col .col{width:25%;}
.three-col .col{width:33.33333%;}
.two-col .col{width:50%;}
.col{float:left;margin:0;background:#f6f6f6;position:relative;margin-bottom:15px;}
.col.high{z-index:10;top:-5px; margin:0 -1px;-webkit-box-shadow: 0px 2px 18px rgba(0,0,0,0.3);box-shadow: 0px 2px 18px rgba(0,0,0,0.3);-moz-box-shadow: 0px 2px 18px rgba(0,0,0,0.3); }
.no-shadow .col.high{}
.col.low{background:#f6f6f6;z-index:5;}
.col .wrap-inner{border-left:1px solid white;}
.price-table .head{background:#4882b3;padding:10px;}
.head.another_color{ background:#373737;}
.price-table .head h3{text-transform:uppercase;font-size:15px;font-weight:bold;color:#fff; margin-top:10px;}
.price-table .head span{color:#fff;}
.price-table .price{padding:10px;background:#e6e6e6;min-height:52px;}
.price-table .high .price{background:#e6e6e6;}
.price-table .low .price{background:#e6e6e6;}
.price-table .price h4{margin-bottom:0;color:#373737;font-weight:bold; font-size:35px;}
.price-table .price span{margin-top:5px;text-transform:uppercase;display:block;color:#373737;font-size:11px;}
.price-table .foot{padding:10px;background:#ddd;overflow:hidden;min-height:30px;}
.price-table .high .foot{padding-top:15px;padding-bottom:15px;}
.price-table .row-titles{text-align:center;}
.price-table .row-titles .head{display:block;}
.price-table .row-titles .price{background:#e6e6e6;padding-left:20px;}
.price-table .row-titles li{padding-left:20px;}
.col ul{padding:0;}
.col:first-child .wrap-inner,.col.high .wrap-inner{border:none;}
.price-table li{padding:10px 10px;min-height:20px;}
.price-table li:last-child{border:none;}
.price-table li:nth-child(even),.price-table li.even{background:#efefef;}
.price-table .col.low li:nth-child(even),.price-table .col.low li.even{background:#efefef;}
.foot a{ color:#fff!important;}
.price_bottom{ padding:6px 12px; background:#373737; vertical-align: middle;display: inline-block;}
.price_bottom:hover{ background:#4882b3;-webkit-transition: all 0.5s ease-in 0s; -moz-transition: all 0.5s ease-in 0s; transition: all 0.5s ease-in 0s;}
.price_bottom_success{ padding:6px 12px; background:#4882b3; vertical-align: middle;display: inline-block;}
.price_bottom_success:hover{ background:#373737;-webkit-transition: all 0.5s ease-in 0s; -moz-transition: all 0.5s ease-in 0s; transition: all 0.5s ease-in 0s;}

/*--------- Sidebar Tag style ----------*/
.sidebar_tag ul { list-style:none; margin:0; padding:0;}
.sidebar_tag ul li { list-style:none; margin-bottom:13px; padding:3px 0; float:left; }
.sidebar_tag ul li a { background:#f1f1f1; border:1px solid #e1e1e1; margin:0 2px; padding:6px 8px; text-decoration:none; color:#666;border-radius:3px; webkit-border-radius:3px; -moz-border-radius:3px;}
.sidebar_tag ul li a:hover{ background:#4882b3;border:1px solid #4882b3; color:#fff; border-radius:3px; webkit-border-radius:3px; -moz-border-radius:3px;-webkit-transition: all 0.2s ease-in 0s; -moz-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s;}

/*--------- Categories style ----------*/
.categories_style ul{ padding-top:10px;margin:0px 5px;}
.categories_style li{ border-bottom:1px solid #ededed; line-height:2.5em; list-style:none;}
.categories_style li a{ color:#555;}
.categories_style li a:hover{ color:#4882b3;}

/*--------- Popular Posts style ----------*/
.popular_posts { margin-bottom:30px;}
.popular_posts img{ float:left;  margin-right:10px;padding-top:5px;}
.post_right{ padding-left:75px;}
.post_right p{ padding-top:5px;}
.post_right span{ font-style:italic;}

/*------------------ 404 Page -------------------*/
.error_page{ text-align:center; margin-bottom:-30px;}
.error_page .sorry_title h3{ font-size:160px; color:#ccc;}
.error_page .sorry_title h3:hover{ color:#4882b3;-webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s;}
.error_page .sorry_text p{ font-size:19px; line-height:2em;}
.error_page .sorry_text p span a{ color:#e7402f; padding-left:7px;}
.error_page .sorry_img{ padding:40px 0 160px 0;}

/*--------- Map Style ----------*/
.map_style{ position:relative; margin:-30px -20px -40px; }
.inner2_page .fullwidthpane .map_style {margin-bottom:-105px;}
.map_style .contact_address{position:absolute; top:10%; right:15%; background:#fff; background:rgba(255,255,255,.8); width:40%;}
.map_style .contact_address button img{ padding:15px;}
.map_style .contact_address h3{ padding-left:17px;}
.map_style .address_information{border-bottom:1px solid #e1e1e1;padding:10px 20px;}
.contact_address ul li{ padding-bottom:8px!important;}
.contact_number{ padding:10px 20px 30px 20px;}
.contact_number .input_box{background:#fff; border:1px solid #e2e2e2;width:100%; margin-bottom:15px;}
.contact_number .input_box[type="text"]{ padding:10px 0 10px 5px;outline:none;}
.contact_number .textarea_box{background:#fff; border:1px solid #e2e2e2; width:100%;margin-bottom:15px;}
.contact_number .textarea_box[type="text"]{ padding:5px 0 5px 5px; min-height:100px;outline:none;}
.contact_number .btn-primary{ background:#4882b3;border-radius:0; webkit-border-radius:0; -moz-border-radius:0; border:none; padding:8px 12px; margin-top:18px; outline:none;border-radius:3px;-webkit-border-radius:3px; -moz-border-radius:3px;-webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; }
.contact_number .btn-primary:hover{ background:#555!important;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}

/*--------- Testimonials Page Style ----------*/
.testimonials_page{ border:1px solid #eeeeee; position:relative; border-left:3px solid #4882b3; margin-top:20px;  }
.testimonials_page:hover { border-left:3px solid #333;-webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s;}
.testimonials_page .testimonials_text{ padding:12px;}
.testimonials_page .testimonials_bottom{ height:80px;padding:10px; background:url(../images/testimonials_icon.png) no-repeat 40% center #fff;}
.testimonials_page .testimonials_bottom p{ font-weight:bold; font-size:15px; padding-top:7px;}
.testimonials_page img{ float:left; margin:0 10px 30px;}
.testimonials_page .testimonials_right_text{ padding-left:60px;}

/*--------- Page Number Style ----------*/
.page_number_style{ text-align:center; margin-bottom:20px;}
.page_number_style .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{ background:#4882b3;border-color:#4882b3;}

/*--------- Sidebar Left Content Style ----------*/
.sidebar_content {  border-left:1px solid #ededed;padding-left:30px; margin-bottom:30px;}
.sidebar_content p a{ color:#4882b3; }
.sidebar_content .sidebar_blockquote{ border-left:5px solid #4882b3; background:#f1f1f1;}
.sidebar_content .sidebar_blockquote:hover{ border-left:5px solid #333;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.sidebar_content .sidebar_blockquote p{ padding:15px 5px 15px 15px; color:#444; font-size:13px; font-style:italic;;}

/*--------- Sidebar Right Content Style ----------*/
.sidebar_content_right {  border-right:1px solid #ededed;padding-right:30px; margin-bottom:30px;}
.sidebar_content_right p a{ color:#4882b3; }
.sidebar_content_right .sidebar_blockquote{ border-left:5px solid #4882b3; background:#f1f1f1;}
.sidebar_content_right .sidebar_blockquote:hover{ border-left:5px solid #333;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.sidebar_content_right .sidebar_blockquote p{ padding:15px 5px 15px 15px; color:#444; font-size:13px; font-style:italic;;}

/*--------- Full Width Style ----------*/
.full_width { margin-top:20px;}
.full_width h3 { color:#555; margin-bottom:20px;}
.full_width p a{ color:#4882b3;}
.full_width .sidebar_blockquote{ border-left:5px solid #4882b3; background:#f1f1f1;}
.full_width .sidebar_blockquote:hover{ border-left:5px solid #333;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.full_width .sidebar_blockquote p{ padding:15px 5px 15px 15px; color:#444; font-size:13px; font-style:italic;;}

/*---------- Project style -------------- */
.project_inner{position:relative;overflow:hidden; text-align:center; }
.project_inner figure{width:100%;height:0;padding:0 0 100%;margin:0;}
.project_inner .project_rollover{position:absolute; left:0;bottom:0;display:block;height:21%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:height 0.3s ease-in-out 0s;-moz-transition:height 0.3s ease-in-out 0s;-ms-transition:height 0.3s ease-in-out 0s;-o-transition:height 0.3s ease-in-out 0s;transition:height 0.3s ease-in-out 0s;color:#fff; width:100%;}
.project_inner:hover .project_rollover {height:100%;}
.project_inner .entry-content p{display:block;float:left;padding-left:16px;}
.project_inner .entry-title{padding:30px 0;}
.project_inner .entry-title a {color:#fff!important;font-size:16px; padding:20px 0;}
.project_inner a{color:#fff!important;}
.project_inner .project_item1, .project_inner .project_item5{ background:#3389D7; }
.project_inner .project_item2, .project_inner .project_item6{ background:#fabe09; }
.project_inner .project_item3, .project_inner .project_item7{ background:#f97a14; }
.project_inner .project_item4, .project_inner .project_item8{ background:#33bee5; }


/*--------- Animation----------*/
.animated.fadeInLeft1 {
	-webkit-animation:fadeInLeftBig 300ms .1s ease both;
	-moz-animation:fadeInLeftBig 300ms .1s ease both;
	animation:fadeInLeftBig 900ms .1s ease both;
}
.animated.fadeInLeft2 {
	-webkit-animation:fadeInLeftBig 600ms .1s ease both;
	-moz-animation:fadeInLeftBig 600ms .1s ease both;
	animation:fadeInLeftBig 1.2s .1s ease both;
}
.animated.fadeInLeft3 {
	-webkit-animation:fadeInLeftBig 900ms .1s ease both;
	-moz-animation:fadeInLeftBig 900ms .1s ease both;
	animation:fadeInLeftBig 1.5s .1s ease both;
}
.animated.fadeInLeft4 {
	-webkit-animation:fadeInLeftBig 1.2s .1s ease both;
	-moz-animation:fadeInLeftBig 1.2s .1s ease both;
	animation:fadeInLeftBig 1.8s .1s ease both;
}

.animated.scaleUp1 {
	-ms-animation: 800ms linear 100ms both scaleUp;
	-webkit-animation: 800ms linear 100ms both scaleUp;
	-moz-animation: 800ms linear 100ms both scaleUp;
	animation: 800ms linear 100ms both scaleUp;
}
.animated.scaleUp2 {
	-ms-animation: 800ms linear 700ms both scaleUp;
	-webkit-animation: 800ms linear 700ms both scaleUp;
	-moz-animation: 800ms linear 700ms both scaleUp;
	animation: 800ms linear 700ms both scaleUp;
}
.animated.scaleUp3 {
	-ms-animation: 800ms linear 1100ms both scaleUp;
	-webkit-animation: 800ms linear 1100ms both scaleUp;
	-moz-animation: 800ms linear 1100ms both scaleUp;
	animation: 800ms linear 1100ms both scaleUp;
}
.animated.scaleUp4 {
	-ms-animation: 800ms linear 1500ms both scaleUp;
	-webkit-animation: 800ms linear 1500ms both scaleUp;
	-moz-animation: 800ms linear 1500ms both scaleUp;
	animation: 800ms linear 1500ms both scaleUp;
}

.animation.periodic {
  opacity: 1; 
}
.animated.periodic1 {
  -webkit-animation: fadeInUp 300ms linear 100ms both;
  -moz-animation: fadeInUp 300ms linear 100ms both;
  -ms-animation: fadeInUp 300ms linear 100ms both;
  -o-animation: fadeInUp 300ms linear 100ms both;
  animation: fadeInUp 300ms linear 100ms both;
}
.animated.periodic2 {
  -webkit-animation: fadeInUp 300ms linear 400ms both;
  -moz-animation: fadeInUp 300ms linear 400ms both;
  -ms-animation: fadeInUp 300ms linear 400ms both;
  -o-animation: fadeInUp 300ms linear 400ms both;
  animation: fadeInUp 300ms linear 400ms both;
}
.animated.periodic3  {
  -webkit-animation: fadeInUp 300ms linear 800ms both;
  -moz-animation: fadeInUp 300ms linear 800ms both;
  -ms-animation: fadeInUp 300ms linear 800ms both;
  -o-animation: fadeInUp 300ms linear 800ms both;
  animation: fadeInUp 300ms linear 800ms both;
}
.animated.periodic4  {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}
.animated.periodic5  {
  -webkit-animation: fadeInUp 300ms linear 1600ms both;
  -moz-animation: fadeInUp 300ms linear 1600ms both;
  -ms-animation: fadeInUp 300ms linear 1600ms both;
  -o-animation: fadeInUp 300ms linear 1600ms both;
  animation: fadeInUp 300ms linear 1600ms both;
}
.animated.periodic6  {
  -webkit-animation: fadeInUp 300ms linear 2000ms both;
  -moz-animation: fadeInUp 300ms linear 2000ms both;
  -ms-animation: fadeInUp 300ms linear 2000ms both;
  -o-animation: fadeInUp 300ms linear 2000ms both;
  animation: fadeInUp 300ms linear 2000ms both;
}
.animated.periodic7  {
  -webkit-animation: fadeInUp 300ms linear 2400ms both;
  -moz-animation: fadeInUp 300ms linear 2400ms both;
  -ms-animation: fadeInUp 300ms linear 2400ms both;
  -o-animation: fadeInUp 300ms linear 2400ms both;
  animation: fadeInUp 300ms linear 2400ms both;
}
.animated.periodic8  {
  -webkit-animation: fadeInUp 300ms linear 2800ms both;
  -moz-animation: fadeInUp 300ms linear 2800ms both;
  -ms-animation: fadeInUp 300ms linear 2800ms both;
  -o-animation: fadeInUp 300ms linear 2800ms both;
  animation: fadeInUp 300ms linear 2800ms both;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes scaleUp {
  0% {
    opacity: 0;
    -moz-transform: scale(.6);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes scaleUp {
  0% {
    opacity: 0;
    -ms-transform: scale(.6);
  }
  100% {
    opacity: 1;
    -ms-transform: scale(1);
  }
}
@-o-keyframes scaleUp {
  0% {
    opacity: 0;
    -o-transform: scale(.6);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}
.animated.scaleUp {
  -webkit-animation-name: scaleUp;
  -moz-animation-name: scaleUp;
  -o-animation-name: scaleUp;
  animation-name: scaleUp;
}

.animated.both{
-webkit-animation:fadeIn 1.5s .4s ease both;
-moz-animation:fadeIn 1.5s .4s ease both;}
{
0%{opacity:0}
100%{opacity:1}
}
{
0%{opacity:0}
100%{opacity:1}
}

@-webkit-keyframes toRightFromLeft {
	49% {
	-webkit-transform:translate(100%);
}
50% {
	opacity:0;
	-webkit-transform:translate(-100%);
}
51% {
	opacity:1;
}
}@-moz-keyframes toRightFromLeft {
	49% {
	-moz-transform:translate(100%);
}
50% {
	opacity:0;
	-moz-transform:translate(-100%);
}
51% {
	opacity:1;
}
}@keyframes toRightFromLeft {
	49% {
	transform:translate(100%);
}
50% {
	opacity:0;
	transform:translate(-100%);
}
51% {
	opacity:1;
}
}
@-webkit-keyframes toLeftFromRight {
	49% {
	-webkit-transform:translate(-100%);
}
50% {
	opacity:0;
	-webkit-transform:translate(100%);
}
51% {
	opacity:1;
}
}@-moz-keyframes toLeftFromRight {
	49% {
	-moz-transform:translate(-100%);
}
50% {
	opacity:0;
	-moz-transform:translate(100%);
}
51% {
	opacity:1;
}
}@keyframes toLeftFromRight {
	49% {
	transform:translate(-100%);
}
50% {
	opacity:0;
	transform:translate(100%);
}
51% {
	opacity:1;
}
}
@-webkit-keyframes toTopFromBottom {
	49% {
	-webkit-transform:translateY(-100%);
}
50% {
	opacity:0;
	-webkit-transform:translateY(100%);
}
51% {
	opacity:1;
}
}@-moz-keyframes toTopFromBottom {
	49% {
	-moz-transform:translateY(-100%);
}
50% {
	opacity:0;
	-moz-transform:translateY(100%);
}
51% {
	opacity:1;
}
}@keyframes toTopFromBottom {
	49% {
	transform:translateY(-100%);
}
50% {
	opacity:0;
	transform:translateY(100%);
}
51% {
	opacity:1;
}
}
@-webkit-keyframes toBottomFromTop {
	49% {
	-webkit-transform:translateY(100%);
}
50% {
	opacity:0;
	-webkit-transform:translateY(-100%);
}
51% {
	opacity:1;
}
}@-moz-keyframes toBottomFromTop {
	49% {
	-moz-transform:translateY(100%);
}
50% {
	opacity:0;
	-moz-transform:translateY(-100%);
}
51% {
	opacity:1;
}
}@keyframes toBottomFromTop {
	49% {
	transform:translateY(100%);
}
50% {
	opacity:0;
	transform:translateY(-100%);
}
51% {
	opacity:1;
}
}
