/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a,
.flexslider a,
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus{outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin: 0;padding: 0;list-style: none;}
.flexslider ul, .flexslider li, flexslider ul li{list-style-type:none!important;padding:0;margin:0;}

/* FlexSlider Necessary Styles */
.flexslider{margin: 0;padding: 0;}
.flexslider .slides > li{display: none;-webkit-backface-visibility: hidden;}
.flexslider .slides img{max-width: 100%;display: block;margin:0 auto;}
.flex-pauseplay span{text-transform: capitalize;}
/* Clearfix for the .slides element*/
.slides:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .slides{display: block;}
* html .slides{height: 1%;}
/* No JavaScript Fallback*/
.no-js .slides > li:first-child{display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider{background:#eee;position: relative;zoom: 1;}
.flexslider .slides{zoom: 1;}
.flexslider .slides > li{position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish*/
.flex-container{zoom: 1;position: relative;}
/* Caption style*/
.flex-caption {width:auto; max-width:40%; overflow:hidden; margin:0; position: absolute; left:50px; top:35px; background: none; font-size: 14px; }
.flex-caption:hover h1 { transition: all 0.8s ease-in 0s; -webkit-transition: all 0.8s ease-in 0s; -moz-transition: all 0.8s ease-in 0s; color:#595959;}
.flex-caption p{ line-height:1.5em;}

.flex-caption2 {width:auto; max-width:40%; overflow:hidden; margin:0; position: absolute; right:20px; top:20px; background: none; font-size: 14px; }
.flex-caption2:hover h1 { transition: all 0.8s ease-in 0s; -webkit-transition: all 0.8s ease-in 0s; -moz-transition: all 0.8s ease-in 0s; color:#595959;}
.flex-caption2 p{ line-height:1.5em;}

.banner_readmore{ padding-top:12%; margin-left:-5px; min-height:100px;}
.banner_readmore span{ margin:0 7px;}
.banner_readmore .readmore_button { padding:8px 14px; background:#4882b3; color:#fff; border-bottom:2px solid #bababa ;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; }
.banner_readmore .readmore_button:hover{ background:#595959!important;transition: all 0.5s ease-in 0s; -webkit-transition: all 0.5s ease-in 0s; -moz-transition: all 0.5s ease-in 0s;}

/* Direction Nav*/
.flex-direction-nav{height: 0;}
.flex-direction-nav li{list-style:none;}
.flex-direction-nav a{width:40px;height:40px;margin:0;display: block;background:url(../images/bg_direction_nav.png) no-repeat;position: absolute;top: 42%;cursor: pointer;text-indent: -999em;opacity:0;filter: alpha(opacity=0);}
.flex-direction-nav .flex-next{background-position: -150px 0;right:5px;}
.flex-direction-nav .flex-next:hover{background-position: -150px -75px;right:5px;}
.flex-direction-nav .flex-prev{left:5px;}
.flex-direction-nav .flex-prev:hover{background-position: 0 -75px;}
.flexslider:hover .flex-next{opacity: 1;filter: alpha(opacity=100);right:5px;}
.flexslider:hover .flex-prev{opacity: 1;filter: alpha(opacity=100);left:5px;}
.flex-direction-nav .flex-disabled,
.flex-direction-nav .disabled{opacity: .3!important;filter:alpha(opacity=30);cursor: default;}

/* Control Nav*/
.flex-control-nav{display:none;}


/** FlexSlider2 **/
/* Browser Resets*/
.flexslider2 a, .flexslider2 a:active, .flexslider2 a:focus{outline: none;}
.flexslider2 ul, .flexslider2 li, flexslider ul li{list-style:none;padding:0;margin:0;}

/* FlexSlider Necessary Styles */
.flexslider2{margin: 0;padding: 0;}
.flexslider2 .slides > li{display: none;-webkit-backface-visibility: hidden;}
.flexslider2 .slides img{max-width: 100%;display: block;}

/* FlexSlider Default Theme*/
.flexslider2{background:none;position: relative;zoom: 1;}
.flexslider2 .slides{zoom: 1;}
.flexslider2 .slides > li{position: relative;}



/* Direction Nav*/
.flexslider2:hover .flex-next{opacity: 1;filter: alpha(opacity=100);right:5px;}
.flexslider2:hover .flex-prev{opacity: 1;filter: alpha(opacity=100);left:5px;}

.flexslider_bg{ background:#3389D7;}

/** Flexslider3  **/
/* Browser Resets */
.flexslider3 a, .flexslider3 a:active, .flexslider3 a:focus  {outline: none;}
.flexslider3 ul, .flexslider3 li, flexslider ul li  {list-style:none; padding:0; margin:0;}

/* FlexSlider Necessary Styles */
.flexslider3 {margin: 0; padding: 0;}
.flexslider3 .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider3 .slides img {max-width: 100%; display: block;}

/* FlexSlider Default Theme */
.flexslider3 {background:none; position: relative;zoom: 1;}
.flexslider3 .slides {zoom: 1;}
.flexslider3 .slides > li {position: relative;}

/* Direction Nav */
.flexslider3 .flex-direction-nav {*height: 0;}
.flexslider3 .flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flexslider3 .flex-direction-nav .flex-prev { left: -50px; display:none; }
.flexslider3 .flex-direction-nav .flex-next { right: -50px; text-align: right;  display:none; }
.flexslider3 .flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider3 .flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider3 .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flexslider3 .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flexslider3 .flex-direction-nav a:before  { font-family:'Open Sans', Arial, Tahoma, sans-serif; font-size: 40px; display:none; }
.flexslider3 .flex-direction-nav a.flex-next:before  {  }

/* Control Nav */
.flexslider3 .flex-control-nav { position: absolute; bottom:-35px; z-index:990;  width:96%; text-align:center; display:block;}
.flexslider3 .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flexslider3 .flex-control-paging li a {width: 11px; height: 11px; display: block;border:1px solid #3389D7; background:none;  cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none; box-shadow: none; }
.flexslider3 .flex-control-paging li a:hover { background:#3389D7;}
.flexslider3 .flex-control-paging li a.flex-active {background:#3389D7; cursor: default;}

.flexslider3 .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flexslider3 .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flexslider3 .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flexslider3 .flex-control-thumbs img:hover {opacity: 1;}
.flexslider3 .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


/** flexslider_thum **/
/* Browser Resets*/
.flexslider_thum a, .flexslider_thum a:active, .flexslider_thum a:focus{outline: none;}
.flexslider_thum ul, .flexslider_thum li, flexslider ul li{list-style:none;padding:0;margin:0;}

/* FlexSlider Necessary Styles*/
.flexslider_thum{margin: 0;padding: 0;}
.flexslider_thum .slides > li{display: none;-webkit-backface-visibility: hidden;}
.flexslider_thum .slides img{max-width: 100%;width: 100%;display: block; border:1px solid #dedede; padding:5px; }

/* FlexSlider Default Theme */
.flexslider_thum{background:none;position: relative;zoom: 1;}
.flexslider_thum .slides{zoom: 1;}
.flexslider_thum .slides > li{position: relative; }

/* Direction Nav */
.flexslider_thum:hover .flex-next{opacity: 1;filter: alpha(opacity=100);right:6px;}
.flexslider_thum:hover .flex-prev{opacity: 1;filter: alpha(opacity=100);left:6px;}

/* Control Nav */
.flexslider_thum .flex-control-thumbs{margin: 10px 0 0;position: static;overflow: hidden;width:100%;display:block;}
.flexslider_thum .flex-control-thumbs li{width: 15.83%;float: left;margin:0 1% 0 0;}
.flexslider_thum .flex-control-thumbs li:last-child { margin:0; }
.flexslider_thum .flex-control-thumbs img{width: 100%;display: block;opacity: .8;cursor: pointer;border:1px solid #dedede; padding:2px;}
.flexslider_thum .flex-control-thumbs img:hover{opacity: 1;}
.flexslider_thum .flex-control-thumbs .flex-active{opacity: 1;cursor: default;}

@media handheld, only screen and (max-width: 1140px) {
.flex-caption { font-size: 12px; font-weight:normal; left:50px; top:20px;}
.flex-caption h1 { font-size:24px;}
.flex-caption h2 { font-size:20px;}
.flex-caption h3 { font-size:16px;}
.flex-caption .mobile_hidden { display:none; }

.flex-caption2 { font-size: 12px; font-weight:normal; right:50px; top:20px;}
.flex-caption2 h1 { font-size:24px;}
.flex-caption2 h2 { font-size:20px;}
.flex-caption2 h3 { font-size:16px;}
.flex-caption2 .mobile_hidden { display:none; }

}

@media handheld, only screen and (max-width: 767px) {
.flex-caption { left:10px; top:40px; }
.flex-caption h1 { font-size:16px;}
.flex-caption h2 { font-size:15px;}
.flex-caption h3 { font-size:14px;}
.flex-caption p { font-size: 11px; }
.flex-caption .mobile_hidden { display:none; }
.readmore_box_banner span{ margin:0 5px ;}

.flex-caption2 { right:10px; top:40px; }
.flex-caption2 h1 { font-size:16px;}
.flex-caption2 h2 { font-size:15px;}
.flex-caption2 h3 { font-size:14px;}
.flex-caption2 p { font-size: 11px; }
.flex-caption2 .mobile_hidden { display:none; }
.flex-caption2 { font-size:12px;}

}
@media handheld, only screen and (max-width: 535px) {
.flex-caption {  top:20px; }
.flex-caption2 { top:20px; }

.readmore_box_banner .readmore_banner02{ display:none;}
}

@media handheld, only screen and (max-width: 479px) {
.flex-caption { left:5px; top:5px; }
.flex-caption h1 { font-size:12px;}
.flex-caption h2 { font-size:12px;}
.flex-caption h3 { font-size:12px;}

.flex-caption2 { right:5px; top:5px; }
.flex-caption2 h1 { font-size:12px;}
.flex-caption2 h2 { font-size:12px;}
.flex-caption2 h3 { font-size:12px;}
}
@media handheld, only screen and (max-width: 420px) {
.flex-caption p { display:none; }
.flex-caption2 p { display:none; }
}