/*
 * CSS For DotNetNuke Skin by bestdnnskins.com
 * Copyright 2014 By BESTDNNSKINS.COM
 */
/*--------- CSS Reset for Mobile ----------*/
@media handheld, only screen and (max-width: 767px) {
body {-webkit-text-size-adjust:none;}
.skin_wrapper { width:auto!important; min-width:300px;}
.skin_width,body{width:100%;min-width:0;}
.floatl, .floatr{ float: none;}
.pc_display { display:none;}
.mobile_display { display:block;}

/*-------- design style --------*/
.skin_user { background:#fff!important; min-height:0; }
.user_style { margin-right:10px;}
.skin_body {  -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }
.skin_header { border-bottom:none; padding:10px 0; }
.logo_style{ float:none; position:relative; padding:10px 0; margin:0!important; text-align:left; }
.site_logo {padding:0; margin-right:50px; line-height:normal; }
.menu_style { position:static; right:auto; top:auto; display:none; min-height:0; }
.copyright_bg{ height:auto;}
.copyright_style { float:none; text-align:center; line-height:30px; padding-top:10px;}
.footer_right { float:none; text-align:center; line-height:30px; padding-bottom:10px;}

/*page name*/
.page_name { min-height:50px; }
.pagename_style h1{ line-height:50px; font-size:20px; }
.breadcrumb_style{ display:none; }

/*leftsidebar layout*/
.LM_position { float:none; width:auto; padding:10px 0 0;}
.LM_skin_content { float:none; width:auto; padding:0 0 20px;}
#leftMenu { display:none;}

/*--------- mobile style ----------*/
.mobile_nav { display:block; position:absolute; width:40px; height:40px; bottom:10px; right:-5px; z-index:1000; }
.menuclick {background:url(../images/btn_menu.png) no-repeat center center; width:40px; height:40px; display: block; }

/*--------- StandardMenu style ----------*/
#standardMenu li{ float:none; border-bottom:1px solid #fff; border-bottom:1px solid rgba(255,255,255,.9); }
#standardMenu li.lampback{ display:none;}

#standardMenu .rootMenu li a{ background:#6b6b6b;}
#standardMenu .rootMenu li.selected a, #standardMenu .rootMenu li.breadcrumb a, #standardMenu .rootMenu li:hover a, #standardMenu .rootMenu li a:hover { background:#4882b3;}
#standardMenu .rootMenu li a span { padding:0 20px; color:#FFFFFF!important; font-size:12px;font-weight:600;height:38px; line-height:38px; }

#standardMenu .rootMenu a span .navarrow{ position:absolute; width:60px; height:38px; right:0; background:url(../images/mobile_navarrow.png) no-repeat center 0;}
#standardMenu .rootMenu a span .navarrow2{ background-position:center -42px;}

/*-- submenu --*/
#standardMenu .subMenu{ position:static; width:auto; padding:0; border:none; }
#standardMenu .subMenu ul{ background:none; border:none;}
#standardMenu .subMenu ul li {border:none;}
#standardMenu .subMenu li.item a{ background:#f5f5f5; border-bottom:1px solid #ccc; border-bottom:1px solid rgba(0,0,0,.1); }
#standardMenu .subMenu li.selected > a, #standardMenu .subMenu li.item a:hover { background:#ddd;}
#standardMenu .subMenu li.item a span{ padding:0 15px 0 25px; color:#333!important; font-weight:normal; background:none; height:35px; line-height:35px;}
#standardMenu .level1 li.item a span{ padding-left:40px; }
#standardMenu .level2 li.item a span{ padding-left:55px; }
#standardMenu .level3 li.item a span{ padding-left:70px; }
#standardMenu .subMenu .subarrow{ display:none; background:none;}

#standardMenu ul li ul li ul{ display:block;width:auto;}
#standardMenu ul li ul li ul.level1{ display: block; position:static; left:auto; top:auto;}
#standardMenu ul li ul li ul li ul.level2 { display: block; position:static; left:auto; top:auto;}
#standardMenu ul li ul li ul li ul li ul.level3 { display: block; position:static; left:auto; top:auto;}
#standardMenu ul li ul li ul li ul li:hover ul.level3 { display: block;position:static;left:auto;top:auto;}

/*--------- MegaMenu style ----------*/
#megaMenu li{ float:none; border-bottom:1px solid #fff; border-bottom:1px solid rgba(255,255,255,.9); }
#megaMenu li.lampback{ display:none;}

#megaMenu .root li a{ background:#6b6b6b;}
#megaMenu .root li.selected a, #megaMenu .root li.breadcrumb a, #megaMenu .root li:hover a, #megaMenu .root li a:hover { background:#4882b3;}
#megaMenu .root li a span { padding:0 20px; color:#FFFFFF!important; font-size:12px;font-weight:600;height:38px; line-height:38px; }

#megaMenu .root a span .navarrow{ position:absolute; width:60px; height:38px; right:0; background:url(../images/mobile_navarrow.png) no-repeat center 0;}
#megaMenu .root a span .navarrow2{ background-position:center -42px;}

/*-- category --*/
#megaMenu .category{position:static; width:auto!important; padding:0; border:none;}
#megaMenu .category ul{background:#f5f5f5;  border:none; padding:0;}
#megaMenu .category li{ width:auto; padding:0; float:none; border:none; }
#megaMenu .category li.item a{ background:none; border-bottom:1px solid #ccc; border-bottom:1px solid rgba(0,0,0,.1); }
#megaMenu .category li.selected > a, #megaMenu .category li a:hover { background:#ddd;}
#megaMenu .category li.item a span{ padding:0 15px 0 25px; color:#333!important; font-weight:normal; background:none; height:35px; line-height:35px;}
#megaMenu .category li li.item a span{ padding-left:40px; }
#megaMenu .category li li li.item a span{ padding-left:55px; }
#megaMenu .category li li li li.item a span{ padding-left:70px; }

#megaMenu .leaf li{ width:auto; margin:0; padding:0; }
#megaMenu .leaf li.item a{ padding:0;}
#megaMenu .leaf li li{width:auto; }


/*--------- pane style ----------*/
.bannerpane {}
.color_grid12{}
.content_grid12{}
.one_grid4{}
.one_grid8{}
.two_grid6a{}
.two_grid6b{}
.three_grid4a{}
.three_grid4b{}
.three_grid4c{}
.four_grid3a{}
.four_grid3b{}
.four_grid3c{}
.four_grid3d{}
.five_grid12{}
.six_grid8{}
.six_grid4{}
.seven_grid3a{}
.seven_grid3b{}
.seven_grid3c{}
.seven_grid3d{}
.eight_grid4a{}
.eight_grid4b{}
.eight_grid4c{}
.nine_grid6a{}
.nine_grid6b{}
.ten_grid12{}
.grayGrid12{}

.footer_grid4a { margin:10px 0;}
.footer_grid4b { margin:10px 0;}
.footer_grid4c { margin:10px 0;}
.footerpane { margin:0 0 10px 0;}

.leftsidepane {}
.l_one_grid8 {}
.l_one_grid4 {}
.l_two_grid6a {}
.l_two_grid6b {}
.l_three_grid4 {}
.l_three_grid8 {}
.l_four_grid4a {}
.l_four_grid4b {}
.l_four_grid4c {}
.l_five_grid12 {}

/*--------- Scroll Top Style ----------*/
#top-link { bottom: 40px; right: 20px; }

/*-------- colorbg style -------*/
.top_icons { display:none;}
.content_colorbg .site_welcome { font-size:18px; line-height:20px;}

/*Title_portfolio_page*/
.home_portfolio{ margin:0; text-align:left; }

/*--------- Quovolve Style ----------*/
.quovolve-box ul.quovolve { margin: 10px 0 55px;}

/*--------- Footer Tag ----------*/
.footer_tag ul li a { margin-right:5px; }

/*--------- DNN Default Style Reset ----------*/
.dnnFormPopup { width: 90%!important;}
.LoginPanel, .dnnLogin  {width:auto; max-width:480px;}
.dnnLogin  .dnnForm  {min-width: 0; width:auto;}
.dnnLogin  .dnnFormLabel { width:auto; }
.LoginPanel .dnnPrimaryAction{margin-left:82px;}
.LoginPanel .dnnLoginRememberMe{padding-left:82px;}
#dnn_ctr_Login_UP .dnnForm {min-width:280px; width:auto;}
div.dnnRegistrationForm .dnnForm {width:auto;}
div.dnnRegistrationForm .dnnFormItem label, div.dnnRegistrationForm .dnnFormItem .dnnFormLabel, div.dnnRegistrationForm .dnnFormItem .dnnTooltip {width:110px;}
#dnn_ctr_Register_UP  .dnnForm {min-width:280px; max-width:480px; width:auto;}
}

@media handheld, only screen and (max-width:380px) {
#Login .registerGroup .userProfileImg { display:none; }
#Login .registerGroup a, #Login .loginGroup a { padding:0 7px;}
.registerGroup .userMessages strong,.registerGroup .userNotifications strong{ background:url(../images/userLoginSprite.png) no-repeat 8px 11px;}
.registerGroup .userNotifications strong{ background-position:-92px 9px;}
.registerGroup .userMessages strong:hover{background-position:8px -41px;}
.registerGroup .userNotifications strong:hover{ background-position:-92px -43px;}
.language-object{ display:inline; float:left; margin:0; padding-right:5px;}
}

/*--------- Retina Styles ----------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
.menuclick { background-image: url(../images/retina/btn_menu@2x.png); -webkit-background-size:20px 20px; -moz-background-size:20px 20px; background-size:20px 20px; }

#standardMenu .rootMenu a span .navarrow, #standardMenu .rootMenu a span .navarrow2, 
#megaMenu .root a span .navarrow, #megaMenu .root a span .navarrow2
{background-image:url(../images/retina/mobile_navarrow@2x.png); -webkit-background-size:17px 80px; -moz-background-size:17px 80px; background-size:17px 80px;}
}