/*
 * CSS For DotNetNuke Skin by bestdnnskins.com
 * Copyright 2014 By BESTDNNSKINS.COM
 */
/*--------- CSS Reset for Tablet ----------*/
@media handheld, only screen and (max-width: 1140px){
/*-------- Design style --------*/
.skin_wrapper { width:auto!important; margin:0 auto; max-width:768px }
.menu_style { right:5px; }
.logo_style { float:left; padding-left:5px; }

/*--------- Menu Style ----------*/
#standardMenu .rootMenu li a span, #megaMenu .root li a span { padding:0 8px; font-size:12px; }
#megaMenu .category{ width: 340px!important;}
#megaMenu .category li { width: 160px;}
#megaMenu .leaf li{ width:155px; }
#megaMenu .leaf li li{ width:145px; }

/*--------- colorbg style ----------*/
.content_colorbg .site_welcome { line-height:35px;}
.top_icons { margin-top:20px;}

/*---------Product List Style ----------*/
.logo_list { display:none;}

/*--------- Footer Style ----------*/
.footer_shadow { display:none!important; }

/*--------- Color Picker Style ----------*/
#custom_wrapper, #custom-button{display:none;}

/*--------- Scroll Top Style ----------*/
#top-link { bottom: 20px; right: 10px; }

}
