/* Translucent - Responsive Banner Rotator / Slider | v1.4.1 | (c) 2011-12 Ramesh Kumar | http://codecanyon.net/user/VF */
.TB_Wrapper {
    background: #EEEEEE url(../images/TB-preloader.gif) center center no-repeat;
	max-width: 1600px;  /* set the width of your custom banner here */ 
	height: 550px;  /* set the height of your custom banner here */ 
	position: relative;
	cursor:e-resize;
}

.TB_Wrapper .icon {
	background-image: url(../images/TB-icons.png);
	background-repeat: no-repeat;
}

.TB_Wrapper .timer_sprite {
	background-image: url(../images/TB-timer-sprite.png);
}

.TB_Wrapper .Slides {
	z-index: 1;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
	
.TB_Wrapper .Slide {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #EEEEEE url(../images/TB-preloader.gif) center center no-repeat;
}

.TB_Wrapper .Slide img {	
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	border: 0px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
	
/* Global Description Style */	
.TB_Wrapper .Slide div {
	z-index:4;
	position:absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:100;	
	font-size:16px;	
	color:#FFF;
}
	
/*Hyperlink Styles*/
.TB_Wrapper a:link{		
	color:#FFF;
	text-decoration:none;
}
	
.TB_Wrapper a:visited{		
	color:#FFF;
}
	
.TB_Wrapper a:hover{		
	color:#FFF;
	text-decoration:underline;
}
	
.TB_Wrapper a:active{		
	color:#FFF;
}

.TB_Wrapper .noSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.TB_Wrapper .buttonText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000;
}

.TB_Wrapper .buttonTextSizeNormal {
	font-size: 12px;
}

.TB_Wrapper .buttonTextSizeTouch {
	font-size: 16px;
}


.TB_Wrapper .txtCont {
	z-index:4;
	overflow: hidden;
	position:absolute;	
	left: 0px;
	top: 0px;
}

.TB_Wrapper .captionCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
}

.TB_Wrapper .navHolder {
	position: absolute; 
	-webkit-touch-callout: none; 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.TB_Wrapper .rounded{ 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 	
	-khtml-border-radius: 2px;
	border-radius: 2px;
}


/* For IE8 and older versions */
.TB_Wrapper .buttonShadow {
	z-index: 1;
	position: absolute;
	background-color: #000000;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=10);
}

.TB_Wrapper .buttonAlpha {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=35);
}

.TB_Wrapper .buttonTopBot {
	z-index: 3;
	position: absolute;
	left: 1px;
	right: 1px;
	top: 0px;
	height: 100%;
	filter: alpha(opacity=100);
}

.TB_Wrapper .buttonCent {
	z-index: 4;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	filter: alpha(opacity=100);
}
@media handheld, only screen and (max-width: 767px) {
.TB_Wrapper .Slide div {
	font-weight:normal;	
	font-size:12px;	
}
}