.mainTable {
    height: auto;
    margin: 0 auto;
    border-color: #00B4FF;
    cursor: pointer;
    background-color: darkgrey;
}

.cssButtons {
    line-height: 15px;
    padding: 12px 10px;
    color: white;
    font-family: Arial,Helvetica, sans-serif;
    background-color: #00B4FF;
    cursor: pointer;
    border: none;
    overflow: visible;
    font-weight: bold;
    font-size: small;
    border-radius: 5px 5px 5px 5px;
    height: 100% !important;
}

.applyBackground {
    background-color: white !important;
}
