/** 
 * Kendo UI v2016.1.412 (http://www.telerik.com/kendo-ui)                                                                                                                                               
 * Copyright 2016 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                                                                                                                                                                                                                                                                                                                    
*/

.k-theme-test-class, .ktb-theme-id-default {
    opacity: 0;
}

.ktb-var-accent {
    color: #304579;
}

.ktb-var-base {
    color: #daecf4;
}

.ktb-var-background {
    color: #ffffff;
}

.ktb-var-border-radius {
    /*border-radius: 4px;*/
}

.ktb-var-normal-background {
    color: #ffffff;
}

.ktb-var-normal-gradient {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
}

.ktb-var-normal-text-color {
    color: #ffffff;
}

.ktb-var-hover-background {
    color: #ef6c00;
}

.ktb-var-hover-gradient {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.4)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
}

.ktb-var-hover-text-color {
    color: #ffffff;
}

.ktb-var-selected-background {
    color: #304579;
}

.ktb-var-selected-gradient {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,35447B 100%);
}

.ktb-var-selected-text-color {
    color: #ffffff;
}

.ktb-var-error {
    color: #ffe0d9;
}

.ktb-var-warning {
    color: #ffe79e;
}

.ktb-var-success {
    color: #eaf7ec;
}

.ktb-var-info {
    color: #e5f5fa;
}

.ktb-var-series-a {
    color: #0069a5;
}

.ktb-var-series-b {
    color: #0098ee;
}

.ktb-var-series-c {
    color: #ef6c00;
}

.ktb-var-series-d {
    color: #ffb800;
}

.ktb-var-series-e {
    color: #ff8517;
}

.ktb-var-series-f {
    color: #e34a00;
}

.k-grid-norecords-template {
    background-color: #ffffff;
    border: 1px solid rgb(0,109,204);
}

.k-in, .k-item, .k-window-action {
    border-color: transparent;
}

.k-block, .k-widget {
    background-color: #ffffff;
}

.k-autocomplete, .k-block, .k-button-group .k-tool, .k-calendar th, .k-colorpicker .k-i-arrow-s, .k-content, .k-dropdown-wrap, .k-dropzone-active, .k-editable-area, .k-filter-row > th, .k-footer-template td, .k-grid td, .k-grid td.k-state-selected, .k-grid-content-locked, .k-grid-footer, .k-grid-footer-locked, .k-grid-footer-wrap, .k-grid-header, .k-grid-header-locked, .k-grid-header-wrap, .k-group, .k-group-footer td, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-header, .k-input, .k-pager-refresh, .k-pager-wrap, .k-pager-wrap .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar > .k-item > .k-link, .k-separator, .k-slider-track, .k-splitbar, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-textbox, .k-textbox > input, .k-tiles, .k-toolbar, .k-tooltip, .k-treemap-tile, .k-upload-files, .k-widget {
    border-color: rgb(0,109,204);
}

    .k-calendar th, .k-dropzone-hovered, .k-footer-template td, .k-grid-footer, .k-group, .k-group-footer td, .k-grouping-header, .k-pager-wrap, .k-toolbar, .k-widget .k-status, .k-widget.k-popup {
        background-color: #f5f5f5;
    }

.k-grouping-row td, .k-resize-handle-inner, td.k-group-cell {
    background-color: #304579;
}

.k-list-container {
    border-color: #dedede;
    background-color: #FFFFF;
}

.k-content, .k-editable-area, .k-panel > li.k-item, .k-panelbar > li.k-item, .k-tiles {
    background-color: #ffffff;
}

.k-alt, .k-pivot-layout > tbody > tr:first-child > td:first-child, .k-resource.k-alt, .k-separator {
    background-color: #E0E7FB;
}

.k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-list > .k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-recur-view .k-check:active, .k-pager-wrap .k-link:hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-state-hover, .k-state-hover:hover .k-header.k-alt, .k-pivot-rowheaders .k-alt .k-alt {
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.k-autocomplete.k-header, .k-dropdown-wrap.k-state-active, .k-numeric-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-textbox {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

    .k-autocomplete .k-input, .k-autocomplete.k-state-focused .k-input, .k-dropdown-wrap .k-input, .k-dropdown-wrap.k-state-focused .k-input, .k-numeric-wrap.k-state-focused .k-input, .k-picker-wrap.k-state-focused .k-input, .k-textbox > input {
        border-color: rgb(0,109,204);
    }

    .k-textbox > input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover {
        background: 0 0;
    }

        .k-input, .k-multiselect-wrap, .k-textbox > input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover {
            background-color: #ffffff;
        }

            .k-input[readonly] {
                background-color: #ffffff;
                color: #FFFFFF;
            }

.k-block, .k-content, .k-dropdown .k-input, .k-popup, .k-toolbar, .k-widget {
    color: #2a2a2a;
}

.k-inverse {
    color: #ffffff;
}

.k-block {
    color: #FFFFFF;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #FFFFFF;
}

.k-panelbar > li > .k-link, .k-tabstrip-items .k-link {
    color: #FFFFFF;
}

.k-grid-header .k-header > .k-link, .k-header, .k-treemap-title {
    color: #FFFFFF;
}

.k-autocomplete, .k-button, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    border-color: #0f1d48;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1);
}

.k-block, .k-button, .k-draghandle, .k-grid-header, .k-grouping-header, .k-header, .k-pager-wrap, .k-toolbar, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-color: #304579;
}

.k-column-menu .k-state-active .k-sprite, .k-column-menu .k-state-hover .k-sprite, .k-icon:hover, .k-pager-numbers .k-current-page .k-link:hover:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after, .k-state-focused .k-icon, .k-state-hover .k-icon, .k-state-selected .k-icon {
    opacity: 1;
}

.k-column-menu .k-sprite, .k-icon, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after, .k-state-disabled .k-icon {
    opacity: .9;
}

.k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked {
    opacity: .9;
}

.k-tool {
    border-color: transparent;
}

.k-column-menu .k-sprite, .k-drop-hint, .k-gantt-views > .k-current-view > .k-link:after, .k-grid-mobile .k-resize-handle-inner:after, .k-grid-mobile .k-resize-handle-inner:before, .k-grouping-dropclue, .k-icon, .k-pager-numbers .k-current-page .k-link:after, .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after, .k-tool-icon {
    background-image: url(Fame/sprite.png);
    border-color: transparent;
}

.k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked {
    background-image: url(Fame/sprite.png);
    border-color: transparent;
}

.k-loading, .k-state-hover .k-loading {
    background-image: url(Fame/loading.gif);
    background-position: 50% 50%;
}

.k-loading-image {
    background-image: url(Fame/loading-image.gif);
}

.k-loading-color {
    background-color: #ffffff;
}

.k-button {
    border-color: #0f1d48;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1);
}

.k-draghandle {
    border-color: #a0dba9;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .k-draghandle:hover {
        border-color: #95d79f;
        background-color: #7cd1f5;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.k-scheduler {
    color: #FFFFFF;
    background-color: #ffffff;
}

.k-scheduler-layout {
    color: #FFFFFF;
}

.k-scheduler-datecolumn, .k-scheduler-groupcolumn {
    background-color: #ffffff;
    color: #FFFFFF;
}

.k-scheduler-header th, .k-scheduler-header-wrap, .k-scheduler-table td, .k-scheduler-times, .k-scheduler-times th, .k-scheduler-times tr {
    border-color: #2357ab;
}

.k-nonwork-hour {
    background-color: #E0E7FB;
}

.k-gantt .k-nonwork-hour {
    background-color: rgba(218,236,244,.2);
}

.k-gantt .k-header.k-nonwork-hour {
    background-color: rgba(218,236,244,.15);
}

.k-scheduler-table .k-today, .k-today > .k-scheduler-datecolumn, .k-today > .k-scheduler-groupcolumn {
    background-color: #f2f8fb;
}

.k-scheduler-now-arrow {
    border-left-color: #ff6745;
}

.k-scheduler-now-line {
    background-color: #ff6745;
}

.k-event, .k-task-complete {
    border-color: #5ec0e9;
    background: #1ea4dd 0 -257px url(textures/highlight.png) repeat-x;
    color: #FFFFFF;
}

.k-event-inverse {
    color: #ffffff;
}

.k-event.k-state-selected {
    background-position: 0 0;
    -webkit-box-shadow: 0 0 0 2px #FFFFFF;
    box-shadow: 0 0 0 2px #FFFFFF;
}

.k-event .k-resize-handle:after, .k-task-single .k-resize-handle:after {
    background-color: #003b54;
}

.k-scheduler-marquee:after, .k-scheduler-marquee:before {
    border-color: #304579;
}

.k-panelbar .k-content, .k-panelbar .k-item, .k-panelbar .k-panel {
    background-color: #ffffff;
    color: #304579;
    border-color: #2357ab;
}

.k-panelbar > li > .k-link {
    color: #FFFFFF;
}

.k-panelbar > .k-item > .k-link {
    border-color: #2357ab;
}

.k-panel > li.k-item {
    background-color: #ffffff;
}

.k-active-filter, .k-state-active, .k-state-active:hover, .k-tabstrip .k-state-active {
    background-color: #ffffff;
    border-color: #68b1d2;
    color: #FFFFFF;
}

.k-fieldselector .k-list-container {
    background-color: #ffffff;
}

.k-button.k-state-focused, .k-button:focus {
    border-color: #2357ab;
}

.k-button.k-state-hover, .k-button:hover {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.k-button.k-state-active, .k-button:active {
    color: #ffffff;
    background-color: #304579;
    border-color: #146b90;
}

    .k-button.k-state-active:hover, .k-button:active:hover {
        color: #ffffff;
        border-color: #1cb1ef;
        background-color: #157299;
    }

.k-button.k-state-disabled, .k-button.k-state-disabled:active, .k-button.k-state-disabled:hover, .k-button[disabled], .k-state-disabled .k-button, .k-state-disabled .k-button:active, .k-state-disabled .k-button:hover {
    color: #68b1d2;
    border-color: #2357ab;
    background-color: #daecf4;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
}

.k-button:focus:not(.k-state-disabled):not([disabled]) {
    -webkit-box-shadow: inset 0 0 3px 1px #3f5f94;
    box-shadow: inset 0 0 3px 1px #3f5f94;
}

.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
    -webkit-box-shadow: inset 0 0 3px 1px #0e4a64;
    box-shadow: inset 0 0 3px 1px #0e4a64;
}

.k-menu .k-state-hover > .k-state-active {
    background-color: transparent;
}

.k-state-highlight {
    background: #ffffff;
    color: #FFFFFF;
}

.k-grouping-row .k-state-focused, .k-state-focused {
    border-color: rgb(0,109,204);
}

.k-calendar .k-link {
    color: #FFFFFF;
}

.k-calendar .k-footer {
    padding: 0;
}

    .k-calendar .k-footer .k-nav-today {
        color: #FFFFFF;
        text-decoration: none;
        background-color: #ffffff;
    }

        .k-calendar .k-footer .k-nav-today.k-state-hover, .k-calendar .k-footer .k-nav-today:hover {
            background-color: #ffffff;
            text-decoration: underline;
        }

        .k-calendar .k-footer .k-nav-today:active {
            background-color: #ffffff;
        }

.k-calendar .k-link.k-nav-fast {
    color: #FFFFFF;
}

.k-calendar .k-nav-fast.k-state-hover {
    text-decoration: none;
    background-color: #ef6c00;
    color: #FFFFFF;
}

.k-calendar .k-link.k-state-hover {
    /*border-radius: 4px;*/
}

.k-calendar .k-today {
    -webkit-box-shadow: inset 0 0 0 1px #304579;
    box-shadow: inset 0 0 0 1px #304579;
}

    .k-calendar .k-today .k-link {
        color: #304579;
        font-weight: 700;
    }

.k-calendar td.k-today.k-state-focused, .k-calendar td.k-today.k-state-focused.k-state-hover {
    -webkit-box-shadow: inset 0 0 3px 1px #59cfff;
    box-shadow: inset 0 0 3px 1px #59cfff;
}

.k-calendar td.k-today.k-state-hover, .k-calendar td.k-today.k-state-selected {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .k-calendar td.k-today.k-state-hover .k-link {
        color: #FFFFFF;
    }

.k-calendar .k-footer .k-link {
    border-radius: 0;
}

.k-calendar th {
    background-color: #f5f5f5;
}

.k-calendar td.k-state-selected.k-state-hover {
    background-color: #0d6a92;
    background-image: none;
}

.k-calendar td.k-state-selected .k-link, .k-calendar td.k-today.k-state-selected.k-state-hover .k-link {
    color: #ffffff;
}

.k-calendar td.k-state-focused.k-state-selected, .k-calendar td.k-state-selected.k-state-active, .k-calendar td.k-state-selected.k-state-hover:active, .k-calendar td.k-state-selected:active {
    -webkit-box-shadow: inset 0 0 3px 1px #59cfff;
    box-shadow: inset 0 0 3px 1px #59cfff;
}

.k-window-titlebar .k-link {
    /*border-radius: 4px;*/
}

.k-calendar-container.k-group {
    border-color: #2357ab;
}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
    border-color: #0f1d48;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1);
}

.k-group-header + .k-list > .k-item.k-first, .k-static-header + .k-list > .k-item.k-first, .k-virtual-item.k-first {
    border-top-color: #3f5f94;
}

.k-group-header + div > .k-list > .k-item.k-first {
    -webkit-box-shadow: 0 -1px 0 0 rgb(0,109,204);
    box-shadow: 0 -1px 0 0 rgb(0,109,204);
}

.k-popup > .k-group-header, .k-popup > .k-virtual-wrap > .k-group-header {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.k-popup .k-list .k-item > .k-group {
    background: rgb(0,109,204);
    color: #ffffff;
    border-bottom-left-radius: 3px;
}

.k-popup .k-treeview .k-item > .k-group {
    background: 0 0;
    color: #FFFFFF;
}

.k-marquee-text {
    color: #ffffff;
}

.k-button.k-state-focused, .k-grid-header th.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-state-focused, td.k-state-focused {
    -webkit-box-shadow: inset 0 0 3px 1px #59cfff;
    box-shadow: inset 0 0 3px 1px #59cfff;
}

    .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
        -webkit-box-shadow: inset 0 0 3px 1px #0e4a64;
        box-shadow: inset 0 0 3px 1px #0e4a64;
    }

.k-ie8 .k-button.k-state-focused, .k-ie8 .k-button:focus, .k-ie8 .k-grid-header th.k-state-focused, .k-ie8 .k-listview > .k-state-focused, .k-ie8 .k-menu li.k-state-focused, .k-ie8 .k-panelbar span.k-state-focused, .k-ie8 .k-tool.k-state-hover, .k-ie8 td.k-state-focused {
    background-color: #ef6c00;
}

.k-list-optionlabel.k-state-selected.k-state-focused, .k-list > .k-state-selected.k-state-focused {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-panelbar > li.k-state-default > .k-link.k-state-selected, .k-panelbar > li > .k-state-selected, .k-state-selected > .k-link {
    color: #ffffff;
}

.k-dropdown .k-state-focused, .k-filebrowser-dropzone, .k-list > .k-state-hover, .k-mobile-list .k-edit-label.k-check:active, .k-mobile-list .k-item > .k-label:active, .k-mobile-list .k-item > .k-link:active, .k-mobile-list .k-recur-view .k-check:active, .k-pager-wrap .k-link:hover, .k-scheduler .k-scheduler-toolbar ul li.k-state-hover, .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-state-hover, .k-state-hover:hover {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.k-ie8 .k-window-titlebar .k-state-hover {
    border-color: #3f5f94;
}

.k-state-focused > .k-select, .k-state-hover > .k-select {
    border-color: #3f5f94;
}

.k-button.k-state-focused, .k-button.k-state-hover, .k-button:focus, .k-button:hover, .k-draghandle:hover, .k-other-month.k-state-hover .k-link, .k-pager-wrap .k-link:hover, .k-state-hover, .k-state-hover:hover, .k-textbox:hover, div.k-filebrowser-dropzone em {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1); 
}

.k-pager-wrap {
    background-color: #304579;
    color: #FFFFFF;
}

.k-autocomplete.k-state-active, .k-button:active, .k-dropdown-wrap.k-state-active, .k-numeric-wrap.k-state-active, .k-panelbar > .k-item > .k-state-focused, .k-picker-wrap.k-state-active, .k-state-active, .k-state-active:hover, .k-state-active > .k-link {
    background-image: none;
}

.k-button.k-state-active, .k-button:active, .k-draghandle.k-state-selected:hover, .k-state-selected {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1); 
}

.k-button.k-state-active, .k-button:active, .k-draghandle.k-state-selected:hover {
    background-position: 50% 50%;
}

.k-tool-icon {
    background-image: url(Fame/sprite.png);
}

.k-other-month.k-state-hover .k-link, .k-state-hover > .k-link, div.k-filebrowser-dropzone em {
    color: #FFFFFF;
}

.k-autocomplete.k-state-focused, .k-autocomplete.k-state-hover, .k-dropdown-wrap.k-state-focused, .k-dropdown-wrap.k-state-hover, .k-numeric-wrap.k-state-focused, .k-numeric-wrap.k-state-hover, .k-picker-wrap.k-state-focused, .k-picker-wrap.k-state-hover {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.km-pane-wrapper .k-mobile-list input:not([type=checkbox]):not([type=radio]), .km-pane-wrapper .k-mobile-list textarea, .km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]) {
    color: #FFFFFF;
}

.k-dropdown .k-state-hover .k-input {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
}

.k-state-error {
    border-color: #ff6745;
    background-color: #eef9fe;
    color: #115b7a;
}

.k-state-disabled {
    opacity: .7;
}

.k-ie8 .k-state-disabled {
    filter: alpha(opacity=70);
}

.k-loading-mask.k-state-selected, .k-tile-empty.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

.k-dropzone em, .k-other-month, .k-other-month .k-link, .k-slider .k-draghandle, .k-state-disabled, .k-state-disabled .k-button, .k-state-disabled .k-link, .k-tile-empty strong {
    color: #68b1d2;
}

.k-dropzone .k-upload-status {
    color: #FFFFFF;
}

.k-progressbar-indeterminate {
    background: url(Fame/indeterminate.gif);
}

    .k-progressbar-indeterminate .k-progress-status-wrap, .k-progressbar-indeterminate .k-state-selected {
        display: none;
    }

.k-slider-track {
    background-color: rgb(0,109,204);
}

.k-slider-selection {
    background-color: #304579;
}

.k-slider-horizontal .k-tick {
    background-image: url(Fame/slider-h.gif);
}

.k-slider-vertical .k-tick {
    background-image: url(Fame/slider-v.gif);
}

.k-widget.k-tooltip {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-position: 50% 50%;
    background-color: #304579;
    color: #FFFFFF;
    border-color: transparent;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
}

.k-widget.k-tooltip-validation {
    border-color: #ffe79e;
    background-color: #ffe79e;
    color: #6b5100;
}

.input-append .k-tooltip-validation, .input-prepend .k-tooltip-validation {
    font-size: 12px;
    position: relative;
    top: 3px;
}

.k-callout-n {
    border-bottom-color: #304579;
}

.k-callout-w {
    border-right-color: #304579;
}

.k-callout-s {
    border-top-color: #304579;
}

.k-callout-e {
    border-left-color: #304579;
}

.k-tooltip-validation .k-callout-n {
    border-bottom-color: #ffe79e;
}

.k-tooltip-validation .k-callout-w {
    border-right-color: #ffe79e;
}

.k-tooltip-validation .k-callout-s {
    border-top-color: #ffe79e;
}

.k-tooltip-validation .k-callout-e {
    border-left-color: #ffe79e;
}

.k-splitbar {
    background-color: #daecf4;
}

.k-restricted-size-horizontal, .k-restricted-size-vertical {
    background-color: #115b7a;
}

.k-file {
    background-color: #ffffff;
    border-color: #2357ab;
}

.k-file-progress {
    color: #2498bc;
}

    .k-file-progress .k-progress {
        background-color: #e5f5fa;
    }

.k-file-success {
    color: #3ea44e;
}

    .k-file-success .k-progress {
        background-color: #eaf7ec;
    }

.k-file-error {
    color: #d92800;
}

    .k-file-error .k-progress {
        background-color: #ffe0d9;
    }

.k-tile {
    border-color: #ffffff;
}

.k-textbox:hover, .k-tiles li.k-state-hover {
    border-color: #3f5f94;
}

.k-tiles li.k-state-selected {
    border-color: #146b90;
}

.k-filebrowser .k-tile .k-file, .k-filebrowser .k-tile .k-folder {
    background-image: url(Fame/imagebrowser.png);
    -webkit-background-size: auto auto;
    background-size: auto auto;
}

.k-leaf, .k-leaf.k-state-hover:hover {
    color: #ffffff;
}

    .k-leaf.k-inverse, .k-leaf.k-inverse.k-state-hover:hover {
        color: #000;
    }

.k-button, .k-widget {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-slider, .k-treeview, .k-upload {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-state-hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-autocomplete.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-picker-wrap.k-state-focused, .k-textbox:focus {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}

.k-state-selected {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-state-active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-grid tr:hover {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-color: rgb(0,109,204);
    color: #FFFFFF !important;
}

.k-pivot-rowheaders .k-grid tr:hover {
    background: 0 0;
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover {
    background-color: #0d6a92;
    background-image: none;
}

.k-autocomplete.k-state-border-down, .k-autocomplete.k-state-border-up, .k-datepicker-calendar, .k-dropdown-wrap.k-state-active, .k-filebrowser .k-image, .k-grid .k-filter-options, .k-menu .k-menu-group, .k-multiselect.k-state-focused, .k-picker-wrap.k-state-active, .k-popup, .k-time-popup, .k-tooltip {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.k-treemap-tile.k-state-hover {
    -webkit-box-shadow: inset 0 0 0 3px rgb(0,109,204);
    box-shadow: inset 0 0 0 3px rgb(0,109,204);
}

.k-window {
    border-color: rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 7px 1px rgba(128,128,128,.3);
    box-shadow: 1px 1px 7px 1px rgba(128,128,128,.3);
    background-color: #ffffff;
}

    .k-window.k-state-focused {
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,.3);
        box-shadow: 1px 1px 7px 1px rgba(0,0,0,.3);
    }

    .k-window-maximized .k-window-content, .k-window-maximized .k-window-titlebar, .k-window.k-window-maximized {
        border-radius: 0;
    }

.k-shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
}

.k-inset {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
}

.k-editor-inline ::-moz-selection {
    background-color: #146b90;
    text-shadow: none;
    color: #ffffff;
}

.k-editor-inline ::selection {
    background-color: #146b90;
    text-shadow: none;
    color: #ffffff;
}

.k-editor-inline ::-moz-selection {
    background-color: #146b90;
    text-shadow: none;
    color: #ffffff;
}

.k-widget.k-notification.k-notification-info {
    background-color: #e5f5fa;
    color: #2498bc;
    border-color: #b6e3f1;
}

.k-widget.k-notification.k-notification-success {
    background-color: #eaf7ec;
    color: #0099d9;
    border-color: #c5e9cb;
}

.k-widget.k-notification.k-notification-warning {
    background-color: #ffe79e;
    color: #9e7700;
    border-color: #ffe38f;
}

.k-widget.k-notification.k-notification-error {
    background-color: #ffe0d9;
    color: #d92800;
    border-color: #ffb6a6;
}

.k-gantt .k-treelist {
    background: #E0E7FB;
}

    .k-gantt .k-treelist .k-alt {
        background-color: #d2e8f2;
    }

    .k-gantt .k-treelist tr:hover {
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
        background-color: rgb(0,109,204);
    }

    .k-gantt .k-treelist .k-alt.k-state-selected, .k-gantt .k-treelist .k-alt.k-state-selected > td, .k-gantt .k-treelist .k-state-selected, .k-gantt .k-treelist .k-state-selected td {
        background-color: #304579;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,35447B 100%);
    }

        .k-gantt .k-treelist .k-state-selected:hover, .k-gantt .k-treelist .k-state-selected:hover td {
            background-color: #0d6a92;
            background-image: none;
        }

.k-task-dot:after {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.k-task-dot:hover:after {
    background-color: #ffffff;
}

.k-task-summary {
    border-color: #0099d9;
    background: #0099d9;
}

.k-task-milestone, .k-task-summary-complete {
    border-color: #FFFFFF;
    background: #FFFFFF;
}

.k-state-selected.k-task-summary {
    border-color: #3ab2e4;
    background: #3ab2e4;
}

.k-state-selected .k-task-summary-complete, .k-state-selected.k-task-milestone {
    border-color: #304579;
    background: #304579;
}

.k-task-single {
    background-color: #7ecced;
    border-color: #5ec0e9;
    color: #FFFFFF;
}

.k-state-selected.k-task-single {
    border-color: #146b90;
}

.k-line {
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.k-state-selected.k-line {
    background-color: #304579;
    color: #304579;
}

.k-resource {
    background-color: #ffffff;
}

.k-i-kpi-decrease, .k-i-kpi-denied, .k-i-kpi-equal, .k-i-kpi-hold, .k-i-kpi-increase, .k-i-kpi-open {
    background-image: url(Fame/sprite_kpi.png);
}

.k-autocomplete, .k-block, .k-button, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-gantt-views > .k-current-view, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button .k-gantt-views, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content {
    border-radius: 4px;
}

.k-tool {
    text-align: center;
    vertical-align: middle;
}

    .k-tool.k-group-start, .k-toolbar .k-button-group .k-group-start, .k-toolbar .k-split-button .k-button {
        border-radius: 4px 0 0 4px;
    }

.k-rtl .k-tool.k-group-start, .k-rtl .k-toolbar .k-button-group .k-group-start, .k-rtl .k-toolbar .k-split-button .k-button {
    border-radius: 0 4px 4px 0;
}

.k-toolbar .k-button-group > .k-group-end {
    border-radius: 4px;
}

.k-tool.k-group-end, .k-toolbar .k-button-group .k-button + .k-group-end, .k-toolbar .k-split-button .k-split-button-arrow {
    border-radius: 0 4px 4px 0;
}

.k-rtl .k-tool.k-group-end, .k-rtl .k-toolbar .k-button-group .k-group-end, .k-rtl .k-toolbar .k-split-button .k-split-button-arrow {
    border-radius: 4px 0 0 4px;
}

.k-group-start.k-group-end.k-tool {
    border-radius: 4px;
}

.k-autocomplete.k-state-border-up, .k-calendar-container.k-state-border-up, .k-dropdown-wrap.k-state-border-up, .k-filter-menu, .k-list-container.k-state-border-up, .k-multiselect.k-state-border-up, .k-numeric-wrap.k-state-border-up, .k-picker-wrap.k-state-border-up, .k-window-content {
    border-radius: 0 0 4px 4px;
}

    .k-autocomplete.k-state-border-up .k-input, .k-dropdown-wrap.k-state-border-up .k-input, .k-numeric-wrap.k-state-border-up .k-input, .k-picker-wrap.k-state-border-up .k-input, .k-picker-wrap.k-state-border-up .k-selected-color {
        border-radius: 0 0 0 4px;
    }

    .k-multiselect.k-state-border-up .k-multiselect-wrap {
        border-radius: 0 0 4px 4px;
    }

.k-autocomplete.k-state-border-down, .k-block > .k-header, .k-calendar-container.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-gantt-views.k-state-expanded, .k-gantt-views.k-state-expanded > .k-current-view, .k-list-container.k-state-border-down, .k-multiselect.k-state-border-down, .k-numeric-wrap.k-state-border-down, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap.k-state-border-down, .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-window-titlebar {
    border-radius: 4px 4px 0 0;
}

.k-split-button.k-state-border-down > .k-button {
    border-radius: 4px 0 0 0;
}

.k-split-button.k-state-border-up > .k-button {
    border-radius: 0 0 0 4px;
}

.k-split-button.k-state-border-down > .k-split-button-arrow {
    border-radius: 0 4px 0 0;
}

.k-split-button.k-state-border-up > .k-split-button-arrow {
    border-radius: 0 0 4px 0;
}

.k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
    border-radius: 4px 0 0 4px;
}

.k-rtl .k-dropdown-wrap .k-input, .k-rtl .k-numeric-wrap .k-input, .k-rtl .k-picker-wrap .k-input {
    border-radius: 0 3px 3px 0;
}

.k-numeric-wrap .k-link {
    border-radius: 0 3px 0 0;
}

    .k-numeric-wrap .k-link + .k-link {
        border-radius: 0 0 3px 0;
    }

.k-colorpicker .k-selected-color {
    border-radius: 3px 0 0 3px;
}

.k-rtl .k-colorpicker .k-selected-color {
    border-radius: 0 3px 3px 0;
}

.k-autocomplete.k-state-border-down .k-input {
    border-radius: 4px 4px 0 0;
}

.k-dropdown-wrap.k-state-border-down .k-input, .k-numeric-wrap.k-state-border-down .k-input, .k-picker-wrap.k-state-border-down .k-input, .k-picker-wrap.k-state-border-down .k-selected-color {
    border-radius: 4px 0 0 0;
}

.k-numeric-wrap .k-link.k-state-selected {
    background-color: #304579;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap {
    border-radius: 3px 3px 0 0;
}

.k-datetimepicker .k-select + .k-select, .k-dropdown-wrap .k-select, .k-list-container.k-state-border-right, .k-numeric-wrap .k-select, .k-picker-wrap .k-select {
    /*border-radius: 0 4px 4px 0;*/
}

.k-rtl .k-datetimepicker .k-select + .k-select, .k-rtl .k-dropdown-wrap .k-select, .k-rtl .k-list-container.k-state-border-right, .k-rtl .k-numeric-wrap .k-select, .k-rtl .k-picker-wrap .k-select {
    border-radius: 4px 0 0 4px;
}

.k-numeric-wrap.k-expand-padding .k-input {
    border-radius: 4px;
}

.k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox > input {
    border-radius: 3px;
}

.k-dropzone, .k-fieldselector .k-list .k-item, .k-list .k-state-focused, .k-list .k-state-highlight, .k-list .k-state-hover, .k-list .k-state-selected, .k-list-optionlabel {
    border-radius: 3px;
}

.k-grid .k-slider .k-button, .k-slider .k-button {
    border-radius: 13px;
}

.k-draghandle {
    border-radius: 7px;
}

.k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link, .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li, .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
    border-radius: 4px 0 0 4px;
}

.k-rtl .k-scheduler-toolbar > ul li:first-child, .k-rtl .k-scheduler-toolbar > ul li:first-child .k-link, .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li, .k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link, .km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child, .km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
    border-radius: 0 4px 4px 0;
}

.k-edit-field > .k-scheduler-navigation, .k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today, .k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link {
    border-radius: 4px;
}

.k-scheduler-toolbar .k-nav-next, .k-scheduler-toolbar .k-nav-next .k-link, .k-scheduler-toolbar ul + ul li:last-child, .k-scheduler-toolbar ul + ul li:last-child .k-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.k-rtl .k-scheduler-toolbar .k-nav-next, .k-rtl .k-scheduler-toolbar .k-nav-next .k-link, .k-rtl .k-scheduler-toolbar ul + ul li:last-child, .k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
    border-radius: 4px 0 0 4px;
}

.k-scheduler div.k-scheduler-footer .k-link, .k-scheduler div.k-scheduler-footer ul li {
    border-radius: 4px;
}

.k-event, .k-event .k-link, .k-more-events, .k-task-complete, .k-task-single {
    border-radius: 3px;
}

.k-scheduler-mobile .k-event {
    border-radius: 2px;
}

.k-grid-mobile .k-column-active + th.k-header {
    border-left-color: #FFFFFF;
}

.k-ie .km-pane-wrapper .k-content, .k-ie .km-pane-wrapper .k-group, .k-ie .km-pane-wrapper .k-header, .k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button, .k-ie .km-pane-wrapper .k-widget, .km-pane-wrapper .k-mobile-list .k-edit-field, .km-pane-wrapper .k-mobile-list .k-edit-label, .km-pane-wrapper .k-mobile-list .k-item, html .km-pane-wrapper .km-widget {
    color: #FFFFFF;
}

@media screen and (-ms-high-contrast:active) and (-ms-high-contrast:none) {
    div.km-pane-wrapper a {
        color: #FFFFFF;
    }
}

.km-pane-wrapper .k-mobile-list .k-edit-field, .km-pane-wrapper .k-mobile-list .k-item, .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
    background-color: #ffffff;
    border-top: 1px solid #2357ab;
}

    .km-pane-wrapper .k-mobile-list .k-edit-field textarea {
        outline-width: 0;
    }

    .km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
        background-color: #304579;
        border-top-color: #146b90;
    }

    .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
        border-top-color: transparent;
    }

    .km-pane-wrapper .k-mobile-list .k-item:last-child {
        -webkit-box-shadow: inset 0 -1px 0 #2357ab;
        box-shadow: inset 0 -1px 0 #2357ab;
    }

.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child, .km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3), .km-pane-wrapper .k-mobile-list > ul > li > .k-link {
    color: #3690b7;
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
    border-bottom: 1px solid #2357ab;
}

.km-pane-wrapper .k-mobile-list .k-edit-field {
    -webkit-box-shadow: 0 1px 1px #2357ab;
    box-shadow: 0 1px 1px #2357ab;
}

.km-actionsheet .k-grid-delete, .km-actionsheet .k-scheduler-delete, .km-pane-wrapper .k-filter-menu .k-button[type=reset], .km-pane-wrapper .k-scheduler-delete {
    color: #ffffff;
    border-color: #ff6745;
    background-color: red;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.3)),to(rgb(84, 106, 159,.15)));
    background-image: -webkit-linear-gradient(top,rgb(84, 106, 159,.3),rgb(84, 106, 159,.15));
    background-image: linear-gradient(to bottom,rgb(84, 106, 159,.3),rgb(84, 106, 159,.15));
}

    .km-actionsheet .k-grid-delete:active, .km-actionsheet .k-scheduler-delete:active, .km-pane-wrapper .k-filter-menu .k-button[type=reset]:active, .km-pane-wrapper .k-scheduler-delete:active {
        background-color: #900;
    }

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
    background-position: 50% 50%;
    background-color: #304579;
    border-color: #2357ab;
}

.k-autocomplete.k-state-hover, .k-dropdown-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-picker-wrap.k-state-hover {
    background-color: #304579;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.4)),to(rgb(84, 106, 159)));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
    background-position: 50% 50%;
}

.k-multiselect.k-header, input.k-textbox, textarea.k-textbox {
    border-color: #2357ab;
}

    .k-multiselect.k-header.k-state-hover {
    }

    .k-autocomplete.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-multiselect.k-header.k-state-focused, .k-numeric-wrap.k-state-focused, .k-picker-wrap.k-state-focused {
        background-color: #507CC3;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.4)),to(rgb(84, 106, 159)));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
        background-position: 50% 50%;
        border-color: #bdbdbd;
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    }

.k-list-container {
    color: #304579;
}

.k-dropdown .k-input, .k-menu .k-popup {
    color: #304579;
}

.k-dropdown .k-state-focused .k-input:hover {
    color: #304579;
}

.k-state-default > .k-select {
    border-color: #2357ab;
}

.k-state-hover > .k-select {
    border-color: #3f5f94;
}

.k-state-focused > .k-select {
    border-color: #bdbdbd;
}

.k-tabstrip:focus {
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}

.k-panelbar > li.k-state-default > .k-link, .k-tabstrip-items .k-state-default .k-link {
    color: #FFFFFF;
}

    .k-panelbar > li.k-state-default > .k-link.k-state-hover, .k-panelbar > li.k-state-hover > .k-link, .k-tabstrip-items .k-state-hover .k-link {
        color: #304579;
    }

.k-panelbar > .k-state-focused.k-state-hover {
    border-color: #3f5f94;
    color: #0f3789;
    background-color: #cddcf1;
    background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-tabstrip-items .k-state-default {
    border-color: #2357ab;
}

.k-tabstrip-items .k-state-hover {
    border-color: #3f5f94;
}

.k-panelbar .k-tabstrip-items .k-state-active, .k-tabstrip-items .k-state-active {
    background-color: #ffffff;
    background-image: none;
    border-color: #68b1d2;
}

.k-tabstrip .k-content.k-state-active {
    background-color: #ffffff;
    color: #FFFFFF;
}

.k-menu .k-item, .k-menu.k-header {
    border-color: #2357ab;
}

.k-column-menu, .k-column-menu .k-item, .k-overflow-container .k-overflow-group {
    border-color: #2357ab;
}

.k-overflow-container .k-overflow-group {
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 #ffffff;
}

    .k-overflow-container .k-overflow-group + .k-overflow-group, .k-toolbar-first-visible.k-overflow-group {
        -webkit-box-shadow: 0 1px 0 #ffffff;
        box-shadow: 0 1px 0 #ffffff;
    }

.k-toolbar-last-visible.k-overflow-group {
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.k-column-menu .k-separator {
    border-color: #2357ab;
    background-color: transparent;
}

.k-menu .k-group {
    border-color: #2357ab;
}

.k-grid-filter.k-state-active {
    background-color: #ffffff;
}

.k-grid-footer td, .k-group-footer td, .k-grouping-row td {
    color: #FFFFFF;
    border-color: #2357ab;
    font-weight: 700;
}

.k-grouping-header {
    color: #FFFFFF;
}

.k-grid td.k-state-focused {
    -webkit-box-shadow: inset 0 0 3px 1px #59cfff;
    box-shadow: inset 0 0 3px 1px #59cfff;
}

.k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
    border-color: #2357ab;
}

.k-overflow-container .k-primary, .k-primary {
    color: #ffffff;
    border-color: #115e7f;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,#35447B 100%);
    background-position: 50% 50%;
    background-color: #304579;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .k-primary.k-state-focused, .k-primary:focus {
        color: #ffffff;
        border-color: #115e7f;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.4)),to(rgb(84, 106, 159)));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
        -webkit-box-shadow: 0 0 3px 0 #304579;
        box-shadow: 0 0 3px 0 #304579;
    }

    .k-primary:hover {
        color: #ffffff;
        border-color: #1cb1ef;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.4)),to(rgb(84, 106, 159)));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.4) 0,rgb(84, 106, 159) 100%);
        background-color: #157299;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .k-primary:focus:active:not(.k-state-disabled):not([disabled]), .k-primary:focus:not(.k-state-disabled):not([disabled]) {
        -webkit-box-shadow: 0 0 3px 0 #304579;
        box-shadow: 0 0 3px 0 #304579;
    }

    .k-primary:active {
        color: #ffffff;
        border-color: #146b90;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,35447B 100%);
        background-color: #14688b;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .k-primary.k-state-disabled, .k-primary.k-state-disabled:active, .k-primary.k-state-disabled:hover, .k-state-disabled .k-primary, .k-state-disabled .k-primary:active, .k-state-disabled .k-primary:hover {
        color: #e6e6e6;
        border-color: #e6e6e6;
        background-color: #1883b0;
        background-image: url(textures/highlight.png);
        background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
        background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
        background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,35447B 100%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.k-pager-numbers .k-link, .k-treeview .k-in {
    border-color: transparent;
}

.k-grid .k-hierarchy-cell .k-icon, .k-scheduler-table .k-icon, .k-treeview .k-icon {
    background-color: transparent;
    border-radius: 4px;
}

.k-scheduler-table .k-state-hover .k-icon {
    background-color: transparent;
}

.k-button:focus, .k-split-button:focus {
    outline: 0;
}

.k-split-button:focus {
    -webkit-box-shadow: inset 0 0 4px 2px #3f5f94;
    box-shadow: inset 0 0 4px 2px #3f5f94;
}

    .k-split-button:focus > .k-button {
        background: 0 0;
        border-color: #2357ab;
    }

.k-editor .k-tool:focus {
    outline: 0;
    border-color: #2357ab;
    -webkit-box-shadow: inset 0 0 3px 1px #3f5f94;
    box-shadow: inset 0 0 3px 1px #3f5f94;
}

.k-checkbox-label:before {
    border-color: #2357ab;
    background: #ffffff;
    border-radius: 3px;
}

.k-checkbox-label:hover:before, .k-checkbox:checked + .k-checkbox-label:hover:before {
    border-color: #7cbcd8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-checkbox:checked + .k-checkbox-label:before {
    background-color: #ffffff;
    border-color: #a0dba9;
    color: #146b90;
}

.k-checkbox-label:active:before {
    -webkit-box-shadow: 0 0 3px 0 #304579;
    box-shadow: 0 0 3px 0 #304579;
    border-color: #146b90;
}

.k-checkbox:checked + .k-checkbox-label:active:before {
    -webkit-box-shadow: 0 0 3px 0 #304579;
    box-shadow: 0 0 3px 0 #304579;
    border-color: #146b90;
}

.k-checkbox:disabled + .k-checkbox-label {
    color: #68b1d2;
}

    .k-checkbox:disabled + .k-checkbox-label:hover:before {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .k-checkbox:checked:disabled + .k-checkbox-label:active:before, .k-checkbox:checked:disabled + .k-checkbox-label:before, .k-checkbox:checked:disabled + .k-checkbox-label:hover:before, .k-checkbox:disabled + .k-checkbox-label:before {
        color: #68b1d2;
        background: #dff4fd;
        border-color: #9cd9a6;
        border-radius: 3px;
    }

.k-checkbox:focus + .k-checkbox-label:before {
    border-color: #146b90;
    -webkit-box-shadow: 0 0 3px 0 #304579;
    box-shadow: 0 0 3px 0 #304579;
}

.k-checkbox:indeterminate + .k-checkbox-label:after {
    background-color: #146b90;
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,35447B 100%);
    border-color: #146b90;
    border-radius: 2px;
}

.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
    border-color: #146b90;
    background-color: #146b90;
}

.k-radio-label:before {
    border-color: #2357ab;
    border-radius: 50%;
    background-color: #ffffff;
    border-width: 1px;
}

.k-radio-label:hover:before, .k-radio:checked + .k-radio-label:hover:before {
    border-color: #7cbcd8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.k-radio:checked + .k-radio-label:after {
    background-color: #157299;
    border-radius: 50%;
}

.k-radio-label:active:before {
    border-color: #146b90;
    -webkit-box-shadow: 0 0 3px 0 #304579;
    box-shadow: 0 0 3px 0 #304579;
}

.k-radio:checked + .k-radio-label:active:before {
    -webkit-box-shadow: 0 0 3px 0 #304579;
    box-shadow: 0 0 3px 0 #304579;
    border-color: #146b90;
}

.k-radio:disabled + .k-radio-label {
    color: #68b1d2;
}

    .k-radio:disabled + .k-radio-label:active:before, .k-radio:disabled + .k-radio-label:before, .k-radio:disabled + .k-radio-label:hover:after, .k-radio:disabled + .k-radio-label:hover:before {
        background: #dff4fd;
        border-color: #bfbfbf;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.k-radio:focus + .k-radio-label:before {
    border-color: #146b90;
    -webkit-box-shadow: 0 0 3px 0 #304579;
    box-shadow: 0 0 3px 0 #304579;
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
    .k-callout, .k-column-menu .k-sprite, .k-drop-hint, .k-grouping-dropclue, .k-icon:not(.k-loading), .k-mobile-list .k-check:checked, .k-mobile-list .k-edit-field [type=checkbox]:checked, .k-mobile-list .k-edit-field [type=radio]:checked, .k-state-active .k-tool-icon, .k-state-active.k-state-hover .k-tool-icon, .k-state-hover .k-tool-icon, .k-state-selected .k-tool-icon, .k-state-selected.k-state-hover .k-tool-icon, .k-tool-icon {
        background-image: url(Fame/sprite_2x.png);
        -webkit-background-size: 340px 336px;
        background-size: 340px 336px;
    }

    .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input {
        border-radius: 3px 0 0 3px;
    }

    .k-i-kpi-decrease, .k-i-kpi-denied, .k-i-kpi-equal, .k-i-kpi-hold, .k-i-kpi-increase, .k-i-kpi-open {
        background-image: url(Fame/sprite_kpi_2x.png);
        -webkit-background-size: 96px 16px;
        background-size: 96px 16px;
    }
}

@media screen and (-ms-high-contrast:active) {
    .k-editor-toolbar-wrap .k-button-group .k-tool:focus, .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused {
        border-color: #ffffff;
    }
}

@media only screen and (max-width:1024px) {
    .k-ff .k-grid .k-pager-numbers, .k-ff .k-pager-numbers, .k-ie11 .k-grid .k-pager-numbers, .k-ie11 .k-pager-numbers, .k-safari .k-grid .k-pager-numbers, .k-safari .k-pager-numbers, .k-webkit .k-grid .k-pager-numbers, .k-webkit .k-pager-numbers {
        -ms-transform: translatey(-100%);
        transform: translatey(-100%);
        -webkit-transform: translatey(-100%);
    }

        .k-ff .k-grid .k-pager-numbers .k-current-page, .k-ff .k-pager-numbers .k-current-page, .k-ie11 .k-grid .k-pager-numbers .k-current-page, .k-ie11 .k-pager-numbers .k-current-page, .k-safari .k-grid .k-pager-numbers .k-current-page, .k-safari .k-pager-numbers .k-current-page, .k-webkit .k-grid .k-pager-numbers .k-current-page, .k-webkit .k-pager-numbers .k-current-page {
            -ms-transform: translatey(100%);
            transform: translatey(100%);
            -webkit-transform: translatey(100%);
        }

            .k-ff .k-pager-numbers .k-current-page .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-safari .k-pager-numbers .k-current-page .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-webkit .k-pager-numbers .k-current-page .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
                background-image: url(textures/highlight.png);
                background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159,.45)),to(rgb(84, 106, 159)));
                background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
                background-image: none,linear-gradient(to bottom,rgb(84, 106, 159,.45) 0,rgb(84, 106, 159) 100%);
                background-position: 50% 50%;
                background-color: #deeef5;
                border-color: rgb(0,109,204);
            }

            .k-ff .k-pager-numbers .k-current-page .k-link, .k-ie11 .k-pager-numbers .k-current-page .k-link, .k-safari .k-pager-numbers .k-current-page .k-link, .k-webkit .k-pager-numbers .k-current-page .k-link {
                border-color: #2357ab;
            }

    .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
        border-radius: 4px;
    }

    .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
        border-radius: 0;
    }

        .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
            border-radius: 3px 3px 0 0;
        }

    .k-ff .k-scheduler-toolbar > ul li:first-child, .k-ff .k-scheduler-toolbar > ul li:first-child .k-link, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-ie11 .k-scheduler-toolbar > ul li:first-child, .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-safari .k-scheduler-toolbar > ul li:first-child, .k-safari .k-scheduler-toolbar > ul li:first-child .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li .k-link, .k-webkit .k-scheduler-toolbar > ul li:first-child, .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
        border-radius: 0;
    }

        .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
            border-radius: 0 0 3px 3px;
        }

    .k-ff .k-pager-numbers .k-current-page .k-link:hover, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-ie11 .k-pager-numbers .k-current-page .k-link:hover, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-safari .k-pager-numbers .k-current-page .k-link:hover, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover, .k-webkit .k-pager-numbers .k-current-page .k-link:hover, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
        border-color: #3f5f94;
        color: #0f3789;
        background-color: #cddcf1;
        background-image: linear-gradient(#dee7f4, #afbede 50%, #98acd5 50%, #cddcf1);
    }

    .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
        color: #FFFFFF;
        min-width: 75px;
    }

    .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
        color: #FFFFFF;
    }

    .k-ff .k-pager-numbers .k-current-page .k-link:after, .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after, .k-ie11 .k-pager-numbers .k-current-page .k-link:after, .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after, .k-safari .k-pager-numbers .k-current-page .k-link:after, .k-safari .k-scheduler-views > li.k-state-selected > .k-link:after, .k-webkit .k-pager-numbers .k-current-page .k-link:after, .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        right: .333em;
        width: 1.333em;
        height: 1.333em;
    }

    .k-ff .k-pager-numbers.k-state-expanded, .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-ie11 .k-pager-numbers.k-state-expanded, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-safari .k-pager-numbers.k-state-expanded, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-webkit .k-pager-numbers.k-state-expanded, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: #2357ab;
        background-color: #304579;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    }

    .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-safari .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded, .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
        border-width: 1px;
        background-image: none;
        border-radius: 4px;
    }

    .k-ff .k-pager-numbers .k-link, .k-ff .k-pager-numbers .k-state-selected, .k-ie11 .k-pager-numbers .k-link, .k-ie11 .k-pager-numbers .k-state-selected, .k-safari .k-pager-numbers .k-link, .k-safari .k-pager-numbers .k-state-selected, .k-webkit .k-pager-numbers .k-link, .k-webkit .k-pager-numbers .k-state-selected {
        border-radius: 3px;
    }

    .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers, .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
        position: absolute;
    }
}

.k-chart .k-mask {
    background-color: #ffffff;
    filter: alpha(opacity=68);
    opacity: .68;
}

.k-chart .k-selection {
    border-color: rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    -webkit-transition: -webkit-box-shadow .2s linear,border-color .2s linear;
    transition: box-shadow .2s linear,border-color .2s linear;
}

    .k-chart .k-selection:hover {
        border-color: rgba(0,0,0,.3);
        -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
        box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
    }

.k-chart .k-handle {
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

    .k-chart .k-handle:hover {
        background-color: #ffffff;
        border-color: #b8b8b8;
        -webkit-box-shadow: 0 0 0 2px rgba(111,101,96,.5);
        box-shadow: 0 0 0 2px rgba(111,101,96,.5);
    }

.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #242424;
}

.k-chart .k-navigator-hint .k-scroll {
    background: rgba(19,104,140,.7);
    height: 4px;
}

.k-map .k-marker {
    background-image: url(Fame/markers.png);
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {
    .k-map .k-marker {
        background-image: url(Fame/markers_2x.png);
    }
}

.k-map .k-attribution {
    color: #666;
}

.k-spreadsheet-column-header, .k-spreadsheet-row-header {
    background-color: #ffffff;
}

.k-spreadsheet-column-header, .k-spreadsheet-row-header, .k-spreadsheet-top-corner {
    background-color: #daecf4;
    background-image: none;
    color: #000;
    border-color: #3f5f94;
}

.k-spreadsheet-top-corner {
    border-color: #3f5f94;
}

    .k-spreadsheet-top-corner:after {
        border-color: transparent #3f5f94 #3f5f94 transparent;
    }

.k-spreadsheet-pane {
    border-color: #3f5f94;
}

    .k-spreadsheet-pane .k-spreadsheet-haxis, .k-spreadsheet-pane .k-spreadsheet-vaxis {
        border-color: #b3d8e8;
    }

    .k-spreadsheet-pane .k-spreadsheet-column-header, .k-spreadsheet-pane .k-spreadsheet-row-header {
        border-color: #3f5f94;
    }

    .k-spreadsheet-pane .k-spreadsheet-merged-cell {
        background-color: #ffffff;
    }

    .k-spreadsheet-pane .k-selection-full, .k-spreadsheet-pane .k-selection-partial {
        border-color: rgba(19,104,140,.2);
        background-color: rgba(19,104,140,.2);
    }

    .k-spreadsheet-pane .k-filter-range {
        border-color: #304579;
    }

    .k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-full, .k-spreadsheet-pane .k-spreadsheet-column-header .k-selection-partial {
        border-bottom-color: #304579;
    }

    .k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-full, .k-spreadsheet-pane .k-spreadsheet-row-header .k-selection-partial {
        border-right-color: #304579;
    }

.k-auto-fill, .k-spreadsheet-selection {
    border-color: #304579;
    -webkit-box-shadow: inset 0 0 0 1px #fff,0 0 0 1px #304579;
    box-shadow: inset 0 0 0 1px #fff,0 0 0 1px #304579;
}

.k-spreadsheet-selection {
    background-color: rgba(19,104,140,.2);
}

.k-spreadsheet-active-cell {
    border-color: #304579 !important;
    background-color: #ffffff;
}

    .k-spreadsheet-active-cell.k-single {
        background-color: #ffffff;
    }

.k-spreadsheet > .k-spreadsheet-formula-bar {
    background-color: #ffffff;
    border-color: #daecf4 #daecf4 #3f5f94;
}

    .k-spreadsheet > .k-spreadsheet-formula-bar:before {
        border-color: #3f5f94;
    }

    .k-spreadsheet > .k-spreadsheet-formula-bar:after {
        border-color: #daecf4;
    }

.k-spreadsheet .k-spreadsheet-formula-input {
    background-color: #ffffff;
    color: #FFFFFF;
}

.k-spreadsheet .k-resize-handle, .k-spreadsheet .k-resize-hint-handle, .k-spreadsheet .k-resize-hint-marker {
    background-color: #304579;
}

.k-spreadsheet .k-resize-hint-vertical .k-resize-hint-handle, .k-spreadsheet .k-resize-hint-vertical .k-resize-hint-marker {
    background-color: #304579;
}

.k-spreadsheet .k-single-selection::after {
    background-color: #304579;
    border-color: #ffffff;
}

.k-spreadsheet .k-auto-fill-punch {
    background-color: rgb(84, 106, 159,.5);
}

.k-spreadsheet .k-single-selection.k-dim-auto-fill-handle::after {
    background-color: rgba(19,104,140,.5);
}

.k-spreadsheet-format-cells .k-spreadsheet-preview {
    border-color: rgb(0,109,204);
}

.k-spreadsheet-filter {
    border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 1px #b3d8e8;
    box-shadow: inset 0 0 0 1px #b3d8e8;
}

    .k-spreadsheet-filter.k-state-active {
        color: #ffffff;
        background-color: #304579;
    }

    .k-spreadsheet-filter:hover {
        color: #FFFFFF;
        background: #ef6c00;
        border-color: #55c5f3;
    }

.k-action-window .k-action-buttons {
    border-color: rgb(0,109,204);
}

.k-spreadsheet-sample {
    color: #00abf2;
}

.k-state-selected .k-spreadsheet-sample {
    color: inherit;
}

.k-spreadsheet-window .k-list, .k-spreadsheet-window .k-list-wrapper {
    border-color: rgb(0,109,204);
    border-radius: 4px;
}

.k-spreadsheet-window .export-config, .k-spreadsheet-window .k-edit-field > .k-orientation-label {
    border-color: rgb(0,109,204);
}

.k-spreadsheet-window .k-edit-field > input[type=radio]:checked + .k-orientation-label {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgb(84, 106, 159)),to(35447B));
    background-image: none,-webkit-linear-gradient(top,rgb(84, 106, 159) 0,35447B 100%);
    background-image: none,linear-gradient(to bottom,rgb(84, 106, 159) 0,35447B 100%);
    background-color: #304579;
    color: #ffffff;
}

.k-spreadsheet-window .k-page-orientation {
    border-color: #2357ab;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

    .k-spreadsheet-window .k-page-orientation:before {
        background: #ffffff;
        border-color: transparent;
        border-bottom-color: #2357ab;
        border-left-color: #2357ab;
    }

.k-spreadsheet-window .k-margins-horizontal, .k-spreadsheet-window .k-margins-vertical {
    background: 0 0;
    border-color: rgb(0,109,204);
}

.k-spreadsheet-toolbar.k-toolbar .k-button-group .k-button {
    border-radius: 4px;
}

.k-spreadsheet-toolbar > .k-button, .k-spreadsheet-toolbar > .k-button-group, .k-spreadsheet-toolbar > .k-widget {
    border-radius: 4px;
}

.k-spreadsheet-toolbar > .k-separator {
    border-color: rgb(0,109,204);
}

.k-spreadsheet-toolbar .k-overflow-anchor {
    border-radius: 0;
}

.k-spreadsheet-popup {
    border-radius: 4px;
}

    .k-spreadsheet-popup .k-separator {
        background-color: rgb(0,109,204);
    }

    .k-spreadsheet-popup .k-button {
        background-color: transparent;
    }

        .k-spreadsheet-popup .k-button:hover {
            background-color: #ef6c00;
        }

    .k-spreadsheet-popup .k-state-active {
        background-color: #304579;
        color: #000;
    }

        .k-spreadsheet-popup .k-state-active:hover {
            background-color: #0d475f;
        }

.k-spreadsheet-filter-menu .k-details {
    border-color: rgb(0,109,204);
}

.k-spreadsheet-filter-menu .k-details-content .k-space-right {
    background-color: #ffffff;
}

.k-spreadsheet-filter-menu .k-spreadsheet-value-treeview-wrapper {
    background-color: #ffffff;
    border-color: rgb(0,109,204);
    border-radius: 4px 0 0 4px;
}

.k-syntax-ref {
    color: #f82;
}

.k-syntax-num {
    color: #09f;
}

.k-syntax-func {
    font-weight: 700;
}

.k-syntax-str {
    color: #38b714;
}

.k-syntax-error {
    color: red;
}

.k-syntax-bool {
    color: #a9169c;
}

.k-syntax-startexp {
    font-weight: 700;
}

.k-syntax-paren-match {
    background-color: #caf200;
}

.k-series-a {
    border-color: #0069a5;
    background-color: rgba(0,105,165,.15);
}

.k-series-b {
    border-color: #0098ee;
    background-color: rgba(0,152,238,.15);
}

.k-series-c {
    border-color: #ef6c00;
    background-color: rgba(123,210,246,.15);
}

.k-series-d {
    border-color: #ffb800;
    background-color: rgba(255,184,0,.15);
}

.k-series-e {
    border-color: #ff8517;
    background-color: rgba(255,133,23,.15);
}

.k-series-f {
    border-color: #e34a00;
    background-color: rgba(227,74,0,.15);
}

.k-spreadsheet-sheets-remove:hover .k-icon {
    color: #c22;
}

.k-spreadsheet-formula-list .k-state-focused {
    background-color: #304579;
    color: #ffffff;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .k-icon.k-font-icon {
        background-image: none;
    }
}

.k-spreadsheet .k-widget[data-property=fontSize] {
    width: 60px;
}

.k-spreadsheet .k-widget[data-property=format] {
    width: 100px;
}

.k-spreadsheet .k-widget[data-property=fontFamily] {
    width: 130px;
}

.k-spreadsheet-toolbar .k-combobox .k-input {
    color: #FFFFFF;
}

.k-spreadsheet-toolbar .k-combobox .k-state-active .k-input, .k-spreadsheet-toolbar .k-combobox .k-state-focused .k-input, .k-spreadsheet-toolbar .k-combobox .k-state-hover .k-input {
    color: #FFFFFF;
}
/*# sourceMappingURL=kendo.blueopal.min.css.map */


.dropdown-header {
    background-color: transparent !important;
}

.k-dropdown-wrap.k-state-default {
    background-color: #FFF !important;
    color: #FFFFFF !important;
}

.k-dropdown.k-input {
    color: #304579 !important;
}

.k-state-default > .k-select {
    border-color: #0f1d48;
    color: #ffffff;
    background-color: #687dc1;
    background-image: linear-gradient(#8d9dd2, #5762a3 50%, #3c4d8f 50%, #687dc1);
}

.dropdown-header > span {
    border: none !important;
}

.k-dropdown .k-input {
    height: 30px !important;
    line-height: 29px !important;
    margin: 0 !important;
    padding: 0 !important;
}

#containerInfoPage .k-dropdown .k-input {
    height: 25px !important;
    line-height: 25px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.k-select .k-icon {
    top: 0;
    margin: 0;
    position: relative;
}

.k-link h4 {
    color: #AFBEDE;
}
.k-state-active .k-link h4, .k-state-hover .k-link h4 {
    color: #304579 ;
} 
.k-state-hover .k-link h4 {
    color: #304579;
}

.k-tooltip{
	background:  #687dc1 !important;    
	border: 0 solid;
	/*border-color:  #355b99 !important;*/
	color: #FFFFFF !important;
	border-radius: 8px;  
}