
.cssButtons {
    line-height: 15px;
    width: 100px;
    padding: 12px 10px;
    color: white;
    font-family: Arial,Helvetica, sans-serif;
    background-color: #00B4FF;
    cursor: pointer;
    border: none;
    overflow: visible;
    font-weight: bold;
    font-size: small;
    border-radius: 5px 5px 5px 5px;
    height: 100% !important;
}

.tblHeader {
    width: 60% !important;
    margin: 0 auto;
    background-color: #00B4FF;
    border: solid 1px black;
    padding-left: 22% !important;
    border-radius: 5px 5px 0 0;
    font-family: Arial,Helvetica, sans-serif;
    font-size: large !important;
    font-weight: bold;
}

.mainTable {
    width: 60% !important;
    height: auto;
    margin: 0 auto;
    border-color: #00B4FF;
    cursor: pointer;
    padding-left: 2em;
    padding-right: 2em;
    border: solid 1px black;
    border-radius: 0 0 5px 5px;
}
