<%@ Control Language="VB" ClassName="HeaderSimple" %>

<script runat="server">

</script>

<!-- begin header -->
<table cellSpacing="0" cellPadding="0" width="100%" summary="Header Table" border="0">
<tr>
    <td class="topemail"><a class="close" href="javascript:" onClick="top.close()">X Close</a></td>
</tr>
</table>
<!-- end header -->						
