<%@ Page Language="vb" AutoEventWireup="false" Inherits="GetSchoolLogo" CodeFile="GetSchoolLogo.aspx.vb" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Print Any Report</title>
    <link href="../CSS/localhost.css" type="text/css" rel="stylesheet">
    <meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
    <meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
    <meta content="JavaScript" name="vs_defaultClientScript">
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
</head>
<body style="overflow: auto">
    <form id="Form1" method="post" runat="server">
    </form>
</body>
</html>
