﻿<%@ Page Title="Vendor Configuration" Language="VB" MasterPageFile="~/NewSite.master" AutoEventWireup="false" CodeFile="VendorsConfig.aspx.vb" Inherits="AD_VendorsConfig" %>

<asp:Content ID="Content1" ContentPlaceHolderID="Additional_head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentMain1" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentError" runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentMain2" runat="Server">
    <style >
        .k-grid-content {
            max-height: 600px;
        }
    </style>
    <script src="../Scripts/Advantage.Client.SY.js"></script>
    <div id="ContentVendor" style="margin: 10px">
        <p>Lead Vendors Configuration:</p>
        <div id="VendorGrid"></div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            var manager = new Wapi.WapiVendors();

        });

    </script>
</asp:Content>

