﻿<%@ Control Language="VB" AutoEventWireup="true" CodeFile="AdvantageRadAjaxLoadingControl.ascx.vb" Inherits="AdvWeb.usercontrols.AdvantageRadAjaxLoadingControl" %>
<telerik:RadAjaxLoadingPanel ID="AdvantageRadAjaxLoadingControl1" runat="server"  InitialDelayTime="300" MinDisplayTime="500">
</telerik:RadAjaxLoadingPanel>