﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="AjaxManagers.ascx.vb" Inherits="usercontrols_AjaxManagers" %>
<telerik:RadScriptManager ID="RadScriptManager1" Runat="server">
</telerik:RadScriptManager>
<telerik:RadAjaxManager ID="RadAjaxManager1" runat="server">
</telerik:RadAjaxManager>
<telerik:RadSkinManager ID="RadSkinManager1" Runat="server" >
</telerik:RadSkinManager>
<telerik:RadToolTipManager ID="RadToolTipManager1" runat="server" AutoTooltipify="true" Position="TopCenter" ShowCallout="false">
</telerik:RadToolTipManager>
<telerik:RadFormDecorator ID="RadFormDecorator1" Runat="server" DecoratedControls="Default, ValidationSummary"/>
<telerik:RadWindowManager ID="RadWindowManager1" runat="server">
</telerik:RadWindowManager>


