﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="EmployeeStatus.ascx.vb" Inherits="usercontrols_EmployeeStatus" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
 <div id="wonderbar" style="min-width:980px;width:100%; height:45px;"> <!-- border-style:solid;border-color:#EFEFEF; border-width:10px; -->
    <div id="infobar" style="width: 100%;">
                <div style="margin-top:10px;">
                    <div class="wbspan" style="float:left;width:20px;margin-left:5px;" >   
                        <asp:ImageButton ID="SearchGlass" runat="server" ImageUrl="~/images/search.png"
                    ToolTip="Search for Employees" CausesValidation="false" />    
                    </div>
                    <div class="wbspan">
                     <span style="margin-right:5px;float:left;width:400px;"><b>Dave Nottingham</b></span>
                    </div>
                    <div class="wbspan" style="float:left;width:375px;">
                    <b>Finanical Aid Officer</b>
                    </div>
                    <div class="wbspan"  style="float:left;width:125px;">
                     <b>Status:</b> Active


                    </div>
                </div>
                <div style="clear:both;"></div>
                <div style="margin-top:5px;">
                    <div class="wbspan"  style="float:left;width:400px;margin-left:30px;">
                     <b>Phone:</b> (954) 555-1212
                    </div>
                    <div class="wbspan"  style="float:left;width:375px;">                     
                     <b>DOB:</b>  07/03/1982
                    </div>
                    <div class="wbspan"  style="float:left;width:150px;">
                     <b>Hire Date:</b> 04/04/2011
                    </div>
                </div>
        
    </div>
</div>
