﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="EmployerStatus.ascx.vb" Inherits="usercontrols_EmployerStatus" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
<div id="wonderbar" style="width:100%; height:45px;"> <!-- border-style:solid;border-color:#EFEFEF; border-width:10px; -->
    <div id="infobar" style="width: 100%;">
                <div style="margin-top: 5px;">
                    <div class="wbspan" style="float:left;width:420px;margin-left:5px;" >
                                            <asp:HyperLink ID="SearchGlass" CssClass="advlink" runat="server"   ImageUrl="~/images/search.png"
                        NavigateUrl="~/PL/StudentSearch.aspx?resid=308&mod=AR&cmpid=a78274b8-1cf0-4891-bdac-867df80bb6ec" ToolTip="Search for Employers"></asp:HyperLink>
                        <span style="margin-right:5px;"><b>Apple Personal Computers</b></span>
                    </div>
                    <div class="wbspan" style="float:left;width:375px;">
                    <b>Contact:</b> Steve Jobs
                    </div>
                    <div class="wbspan"  style="float:left;width:125px;">
                     <b>Status:</b> Active


                    </div>
                </div>
                <div style="clear:both;"></div>
                <div style="margin-top: 5px;">
                    <div class="wbspan"  style="float:left;width:400px;margin-left:25px;">
                     <b>Phone:</b> (954) 555-1212
                    </div>
                    <div class="wbspan"  style="float:left;width:375px;">
                     <b>Title:</b> CEO
                    </div>
                    <div class="wbspan"  style="float:left;width:150px;">
                     <b>Placement:</b>  09/12/2011
                    </div>
                </div>
        
    </div>
</div>

