﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="GoogleAnalytics.ascx.vb" Inherits="usercontrols_GoogleAnalytics" %>

<% if (LoadGoogleAnalyticsScript)  %>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        var gaCode = '<%=GoogleAnalyticsCode%>';
               
        ga('create', gaCode, 'auto');
        ga('send', 'pageview');

    </script>
<% End If %>