﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="header.ascx.vb" Inherits="usercontrols_header" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy> 
            <div id="CampusSelector"  style="width:480px;margin-left:auto;margin-right:auto;">
<%--               <telerik:RadComboBox ID="ddlCampusSelector" runat="server"  style="width:450px;">
                    <Items>
                        <telerik:RadComboBoxItem runat="server" Text="Fremont Campus" 
                            Value="Fremont Campus" />
                        <telerik:RadComboBoxItem runat="server" Text="Brighton Campus" 
                            Value="Brighton Campus" />
                        <telerik:RadComboBoxItem runat="server" Text="Ashton Campus" 
                            Value="Ashton Campus" />
                        <telerik:RadComboBoxItem runat="server" Text="Fort Wayne Campus" 
                            Value="Fort Wayne Campus" />
                        <telerik:RadComboBoxItem runat="server" Text="IMDT Campus" 
                            Value="IMDT Campus" />
                    </Items>
                </telerik:RadComboBox>--%>
            </div>

