﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="LeadStatus.ascx.vb" Inherits="usercontrols_LeadStatus" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
 <div id="wonderbar" style="width:100%; height:45px;"> <!-- border-style:solid;border-color:#EFEFEF; border-width:10px; -->
    <div id="infobar" style="width: 100%;">
                <div style="margin-top: 5px;">
                    <div class="wbspan" style="float:left;width:420px;margin-left:5px;" >
                                            <asp:HyperLink ID="SearchGlass" CssClass="advlink" runat="server"   ImageUrl="~/images/search.png"
                        NavigateUrl="~/PL/StudentSearch.aspx?resid=308&mod=AR&cmpid=a78274b8-1cf0-4891-bdac-867df80bb6ec" ToolTip="Search for Leads"></asp:HyperLink>
                        <span style="margin-right:5px;"><b>Steve Smith</b></span>
                    </div>
                    <div class="wbspan" style="float:left;width:375px;">
                    <b>New Lead - Prospective Student </b>
                    </div>
                    <div class="wbspan"  style="float:left;width:150px;">
                       <b>Assigned:</b>  09/04/2011
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div style="margin-top: 5px;">
                    <div class="wbspan"  style="float:left;width:400px;margin-left:25px;">
                     <b>Phone:</b> (954) 555-1212
                    </div>
                    <div class="wbspan"  style="float:left;width:375px;">
                    <b>Admissions Rep:</b> Balaji Govindarajulu
                    </div>
                    <div class="wbspan"  style="float:left;width:150px;">
                     <b>Applied:</b> 09/04/2011
                    </div>
                </div>
        
    </div>
</div>
