﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="RecentStudentControl.ascx.vb" Inherits="usercontrols_RecentStudentControl" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
<%--<telerik:RadTreeList runat="server" ID="RecentStudentTreeList" 
    DataKeyNames="StudentId"  ParentDataKeyNames="StudentId" 
    DataSourceID="EntityDataSource1" AutoGenerateColumns="False">
    <Columns>
        <telerik:TreeListBoundColumn DataField="StudentID" HeaderText="Student ID" 
            SortExpression="StudentID" UniqueName="StudentID">
        </telerik:TreeListBoundColumn>
        <telerik:TreeListBoundColumn DataField="FirstName" HeaderText="First Name" 
            UniqueName="FirstName">
        </telerik:TreeListBoundColumn>
        <telerik:TreeListBoundColumn DataField="LastName" HeaderText="Last Name" 
            SortExpression="LastName" UniqueName="LastName">
        </telerik:TreeListBoundColumn>
        <telerik:TreeListBoundColumn DataField="StuEnrollId" HeaderText="StuEnrollId" 
            SortExpression="StuEnrollId" UniqueName="StuEnrollId">
        </telerik:TreeListBoundColumn>
        <telerik:TreeListBoundColumn DataField="StatusCodeDescrip" HeaderText="StatusCodeDescrip" 
            SortExpression="StatusCodeDescrip" UniqueName="StatusCodeDescrip">
        </telerik:TreeListBoundColumn>
    </Columns>
</telerik:RadTreeList>
            <telerik:RadComboBox ID="RadComboBox1" runat="server" DataTextField="firstname" DataValueField="studentid"  DataSourceID="EntityDataSource1">
            </telerik:RadComboBox>
<asp:EntityDataSource ID="EntityDataSource1" runat="server" 
    ConnectionString="name=Ross_2_6Entities" 
    DefaultContainerName="Ross_2_6Entities" EnableFlattening="False" 
    EntitySetName="StudentEnrollmentSearches" 
    Select="it.[StuEnrollId], it.[StudentId], it.[FirstName], it.[LastName], it.[StatusCodeDescrip]">
</asp:EntityDataSource>--%>

