﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentAccounts.ascx.vb" Inherits="usercontrols_StudentAccounts" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
    <telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server"  >
    </telerik:RadAjaxManagerProxy>


 <div>Student Accounts</div>
