﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentFinAid.ascx.vb" Inherits="usercontrols_StudentFinAid" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
    <telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server"  >
    </telerik:RadAjaxManagerProxy>


 <div>Student FinAid</div>
