﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentDisclosure.ascx.vb" Inherits="usercontrols_StudentDisclosure" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
    <telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server"  >
    </telerik:RadAjaxManagerProxy>


 <div>Student Disclosure</div>
