﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentAcademics.ascx.vb" Inherits="usercontrols_StudentAcademics" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
    <telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server"  >
    </telerik:RadAjaxManagerProxy>


 <div>Student Academics</div>
