﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentNotes.ascx.vb" Inherits="usercontrols_StudentNotes" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
    <telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server"  >
    </telerik:RadAjaxManagerProxy>
                        <telerik:RadEditor style="margin:25px 25px 25px 25px;width:650px;" ID="RadEditor1" runat="server" Skin="Default">
                        <Content>
                        <div style='margin:10px;padding:10px;background-color:#E7F3FF;text-align:left'>
                        <div style='font-weight:bold;'>2/7/2011 1:39:37 PM - Jeffrey Spring</div>
                        <div>Renee called at 1:37 to say that she would not be in class today.</div>
                        </div>
                        <div style='margin:10px;padding:10px;background-color:White;text-align:left'>
                        <div style='font-weight:bold;'>1/11/2011 10:58:24 AM - Jeffrey Spring</div>
                        <div>Renee called at 10:54 to say that she would not be in class this afternoon. She cannot get out due to the weather. </div>
                        </div>
                        </Content>
                    </telerik:RadEditor>
    