﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentDocs.ascx.vb" Inherits="usercontrols_StudentDocs" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
    <telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server"  >
    </telerik:RadAjaxManagerProxy>

                    <telerik:RadFileExplorer ID="RadFileExplorer1" runat="server" style="margin:10px 10px 10px 25px;" height="400px" Width="650px">
                    <Configuration ViewPaths="~/Renee_Johnson" UploadPaths="~/Renee_Johnson"
                        DeletePaths="~/Renee_Johnson" />
                    </telerik:RadFileExplorer>
