﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentAddress.ascx.vb" Inherits="usercontrols_StudentAddress" %>
     <div style="background-color:White;margin:15px;padding:10px;">
     <div style="margin:5px 5px 0px 5px;" >
        <span style="margin:5px 5px 0px 5px;width:250px;font-size:small;">Address: <asp:HyperLink CssClass="advlink"  ID="HyperLink0" runat="server"  NavigateUrl="~/studentinfo.aspx" style="margin:5px;">7445 White Oleander Drive, West Palm Beach FL 33415</asp:HyperLink></span>
    </div>
         <div style="margin:5px 5px 0px 5px;" >
        <span style="margin:5px 5px 0px 5px;width:250px;font-size:small;">Phone: <asp:HyperLink CssClass="advlink"  ID="HyperLink1" runat="server"  NavigateUrl="~/studentinfo.aspx" style="margin:5px;">954-555-2323 </asp:HyperLink></span>
    </div>
     <div style="margin:5px 5px 0px 5px;" >
        <span style="margin:5px 5px 0px 5px;width:250px;font-size:small;">Email: <asp:HyperLink CssClass="advlink"  ID="HyperLink2" runat="server"  NavigateUrl="~/studentinfo.aspx" style="margin:5px;">rjohnson@fameuniversity.edu </asp:HyperLink></span>
    </div>
    </div>