﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StudentStatus.ascx.vb" Inherits="usercontrols_StudentStatus" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
 <div id="wonderbar" style="width:100%; height:45px;"> <!--border-color:#43558C;border-style:solid;border:10px; -->
    <div id="infobar" style="width: 100%;">
                <div style="margin-top: 5px;">
                    <div class="wbspan" style="float:left;width:420px;margin-left:5px;" >
                                            <asp:HyperLink ID="SearchGlass" CssClass="advlink" runat="server"   ImageUrl="~/images/search.png"
                        NavigateUrl="~/PL/StudentSearch.aspx?resid=308&mod=AR&cmpid=a78274b8-1cf0-4891-bdac-867df80bb6ec" ToolTip="Search for Students"></asp:HyperLink>
                        <span style="margin-right:5px;"><b>Renee Johnson</b></span>
                    </div>
                    <div class="wbspan" style="float:left;width:375px;">
                    <b>Currently Attending</b>
                    </div>
                    <div class="wbspan"  style="float:left;width:125px;">
                     <b>LDA:</b> 09/26/2011


                    </div>
                </div>
                <div style="clear:both;"></div>
                <div style="margin-top: 5px;">
                    <div class="wbspan"  style="float:left;width:400px;margin-left:25px;">
                     <b>Heating, Air Conditioning & Refrigeration AAS (D)</b>
                    </div>
                    <div class="wbspan"  style="float:left;width:375px;">
                     <b>Start Date:</b> 04/04/2011
                    </div>
                    <div class="wbspan"  style="float:left;width:150px;">
                     <b>Grad Date:</b>  08/16/2012
                    </div>
                </div>  
    </div>
</div>