﻿/*--------------------------------------------------------------------------------------------------------------------
<copyright file="{{class}}.cs" company="FAME Inc.">
    FAME Inc. 2018
</copyright>
<summary>
    The {{class}} definition.
</summary>
--------------------------------------------------------------------------------------------------------------------*/
namespace {{namespace}}
{
{{> imports}}

{{#if class-annotation}}
{{{class-annotation}}}
{{/if}}
    /*<summary>The entity definition for {{class}}</summary>*/
    public partial class {{class}}
    {
{{{> constructor}}}
{{> properties}}
    }
}