﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Advantage Data Fixer</h1>
    <p class="lead">Advantage Data Fixer is a tool to help fix and clean data issues in main Advantage. </p>
    <br/>
    <p>Please select your student and Happy Cleaning!</p>
    <p><a href="~/Leads" class="btn btn-primary btn-lg">Student Selection</a></p>
</div>

