/* CSS Document */

body{
	font-family: 'Open Sans', sans-serif;
	background:#E4E4E4;
	font-size:11px;
}

.page-header{
	margin-top:10px;
}

.container{
	background:#FFF;
}

.title{
	font-size:18px;
	font-weight:bold;
	color:#990033;
	margin-top:15px;
}

.form-group-sm .form-control{
	height:25px;
}

div.parent{
	margin-bottom:15px;
	padding: 0px 20px;
}

div.row{
	margin-bottom:15px;
}

.bottom-no-margin{
	margin-bottom: 0 !important;
}

.non-bold-sm{
	font-weight:normal;
	font-size:12px;
}

.no-padding{
	padding:0 !Important;
}

.input-xs{
	font-weight:bold;
	height:25px;
	padding:2px;
}

.input-xs1{
	font-weight:bold;
	height:25px;
	padding:2px;
}

.input-xs2{
	font-weight:bold;
	height:25px;
	padding:2px;
}

.input-xsOthers{
	font-weight:bold;
	height:25px;
	padding:2px;
}

.input-xs3{
	font-weight:bold;
	height:25px;
	padding:2px;
}

.input-xs4{
	font-weight:bold;
	height:25px;
	padding:2px;
}

.input-group-addon{
	height:25px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	font-size: 11px;
	/*background:#CC0033;
	color:#FFF;
	border-color:#CC0033;*/
}

.input-group-addon-nobg{
	font-weight:bold;
	border-color:#CCC;
	color:#000;
	background:#CCC;
}

.form-control{ font-size: 11px; }
.table td, .table th{ vertical-align:middle; }
h4{
	display:inline;
	font-weight:bold;
}
.form-calender{ font-size: 11px; border-radius: 4px !important;}
.table{
	margin-bottom:0 !important;
}

.no-border td{
	border:none !important;
}

.table td{ vertical-align:middle !important; }

.footer{
	padding:10px 10px 10px 10px;
	text-align:center;
}

input:not(disabled){ background:#FFFFCC !important; }
.clickable{ cursor:pointer; cursor:hand; }
.red{ font-weight:bold; color:#FF0000; }
.input-field-error{ border-color:#FF0000; color:#FF0000; }
.field-error{ color:#FF0000; }
.field-width-50prc{ width: 50% !Important; }

.fcontent{
    float: left;
    margin-left: -30px;
}

.headerFA{
    padding-left:35px !important;
}

.headerFC{
    padding-left:27px;
    margin-top:-15px;
    float:left;
}

.headerF{
    padding-left:28px;
    margin-top:-18px;
    float:left;
}

.balanceRefundField {
    margin-left: -35px;
}

.creditBalanceText {
    border-right-color: white !important;
}
