.blend {
	font-family: courier new;
	font-size: 10pt;
	border: 0;
	margin-bottom:-1;
}
.normalLabel {
	font-size:8pt;
}
.normalText {
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	color:#000000;
	background-color:#FFFFFF;
}
.plainText {
	font-family: courier new, courier, monospace;
	font-size: 10pt;
	color:#000000;
	background-color:#FFFFFF;
}
.controlWindowBody {
	font-family:arial, helvetica, sans-serif;
	font-size:8pt;
	padding: 7px ;		/* by FredCK */
	margin: 0px ;		/* by FredCK */
	/* color:000000;				by FredCK */
	/* background-color:DADADA;		by FredCK */
}
.readonlyInput {
	background-color:#DADADA;
	color: #000000;
	font-size:8pt;
	width:392px;
}
.textDefault {
	font-size:8pt;
	width: 200px;
}
.buttonDefault {
	width:90px;
	height:22px;
	font-size:8pt;
}
.suggSlct {
	width:200px;
	margin-top:2;
	font-size:8pt;
}