﻿@model AdvantageDataFixer.Models.adLead

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>adLead</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProspectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProspectID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Children)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Children)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SourceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SourceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrivLicNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrivLicNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlienNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlienNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecruitmentOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecruitmentOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForeignPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForeignPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForeignZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForeignZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InquiryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InquiryTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvertisementNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertisementNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneType2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneType2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneStatus2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneStatus2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForeignPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForeignPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDisabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFirstTimeInSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFirstTimeInSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFirstTimePostSecSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFirstTimePostSecSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntranceInterviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntranceInterviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistanceToSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistanceToSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgramOfInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramOfInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CampusOfInterest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampusOfInterest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransportationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransportationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreferredContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredContactId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressApt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressApt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoneEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoneEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighSchoolGradDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighSchoolGradDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendingHs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendingHs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonNotEnrolledId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonNotEnrolledId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfaStudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfaStudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adAdminCriteria.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adAdminCriteria.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adAgencySponsor.AgencySpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adAgencySponsor.AgencySpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adCitizenship.CitizenshipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adCitizenship.CitizenshipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adCounty.CountyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adCounty.CountyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adCountry.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adCountry.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adDegCertSeeking.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adDegCertSeeking.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adDependencyType.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adDependencyType.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adEdLvl.EdLvlCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adEdLvl.EdLvlCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adEthCode.EthCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adEthCode.EthCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adGender.GenderCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adGender.GenderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adGeographicType.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adGeographicType.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adLeadGroup.Descrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adLeadGroup.Descrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adMaritalStatu.MaritalStatCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adMaritalStatu.MaritalStatCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adNationality.NationalityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adNationality.NationalityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSourceAdvertisement.SourceAdvDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSourceAdvertisement.SourceAdvDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSourceCatagory.SourceCatagoryDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSourceCatagory.SourceCatagoryDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSourceType.SourceTypeDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSourceType.SourceTypeDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adVendorCampaign.CampaignCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adVendorCampaign.CampaignCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arAttendType.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arAttendType.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arHousing.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arHousing.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arPrgGrp.PrgGrpCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arPrgGrp.PrgGrpCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arPrgVersion.PrgVerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arPrgVersion.PrgVerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arProgram.ProgCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arProgram.ProgCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arProgSchedule.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arProgSchedule.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arShift.ShiftCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arShift.ShiftCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plAddressType.AddressDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plAddressType.AddressDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syCampus.CampCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syCampus.CampCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syFamilyIncome.FamilyIncomeDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syFamilyIncome.FamilyIncomeDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syInstitution.HSCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syInstitution.HSCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syPrefix.PrefixCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syPrefix.PrefixCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syState.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syState.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syState1.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syState1.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syState2.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syState2.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syStatusCode.StatusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syStatusCode.StatusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syStatus1.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syStatus1.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syStatus2.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syStatus2.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sySuffix.SuffixCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sySuffix.SuffixCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syUser.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syUser.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.syUser1.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.syUser1.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
