﻿@using GridMvc.Html
@model IEnumerable<AdvantageDataFixer.Models.adLead>

@{
    ViewBag.Title = "Students";
}


<h2>Students</h2>


<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Student Number Quick Search", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-6">
                    @Html.Editor("searchText", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2">
                    <button class="btn" id="quickSearchBtn">Search</button>
                </div>
                <div class="col-md-2">
                    <button class="btn" id="clearFiltersbtn">Clear Grid Filters</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width:1000px;">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.FirstName).Titled("First Name").Filterable(true);
    columns.Add(c => c.LastName).Titled("Last Name").Filterable(true);
    columns.Add(c => c.StudentNumber).Titled("ADV Student Number").Filterable(true);
    columns.Add().Titled("ADV Student Number").Encoded(false).Sanitized(false).RenderValueAs(data => Html.ActionLink("Edit", "Edit", "Leads", new { id = data.LeadId }, new { }).ToHtmlString());
    columns.Add(c => c.AfaStudentId).Titled("AFA Student Id").Filterable(true);
    columns.Add().Titled("AFA Student Id").Encoded(false).Sanitized(false).RenderValueAs(data => Html.ActionLink("Edit", "EditAfaStudentId", "Leads", new { id = data.LeadId }, new { }).ToHtmlString());
    columns.Add(c => c.LeadId).Titled("Options").Encoded(false).Sanitized(false).RenderValueAs(data => Html.ActionLink("Awards", "Index", "Awards", new { id = data.LeadId }, new { }).ToHtmlString() + " | " +  Html.ActionLink("Ledger", "Index", "Transactions", new { id = data.LeadId }, new { }).ToHtmlString());
}).WithPaging(20).Sortable(true)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var searchedItem = window.location.href.split('?grid-filter=StudentNumber__2__');

            if (searchedItem.length > 1) {
                $('#searchText').val(window.location.href.split('?grid-filter=StudentNumber__2__')[1]);
            }
        });

        $('#quickSearchBtn').on('click', function () {
            window.location.href = window.location.href.split('?')[0] + "?grid-filter=StudentNumber__2__" + $('#searchText').val();
        })

        $('#clearFiltersbtn').on('click', function () {
            window.location.href = window.location.href.split('?')[0];
        })
    </script>
}



