.RadAutoCompleteBox_Material {
  color: #424242  !important;
  font-family: "Roboto", "Noto", sans-serif  !important; }
  .RadAutoCompleteBox_Material .racTokenList {
    padding: 3px  !important;
    border-width: 0  !important;
    border-radius: 2px  !important;
    transition: all .2s ease-in-out  !important; }
    .RadAutoCompleteBox_Material .racTokenList:before {
      content: ""  !important;
      position: absolute  !important;
      bottom: 0  !important;
      left: 8px  !important;
      right: 8px  !important;
      border-bottom: 1px solid #E0E0E0  !important; }
  .RadAutoCompleteBox_Material .racToken {
    padding: 4px 30px 4px 12px  !important;
    border-width: 0  !important;
    border-radius: 1em  !important;
    color: #424242  !important;
    background: #EEEEEE  !important;
    margin-right: 8px  !important;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out  !important; }
    .RadAutoCompleteBox_Material .racToken:before {
      content: ""  !important;
      display: inline-block  !important;
      height: 1.42857em  !important;
      vertical-align: top  !important; }
    .RadAutoCompleteBox_Material .racToken + .racToken {
      margin-left: 0  !important; }
  .RadAutoCompleteBox_Material .racRemoveTokenLink {
    width: 16px  !important;
    height: 16px  !important;
    line-height: 16px  !important;
    right: 8px  !important;
    margin-top: -8px  !important;
    border-radius: 1em  !important;
    color: #EEEEEE  !important;
    background: #757575  !important;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out  !important; }
    .RadAutoCompleteBox_Material .racRemoveTokenLink .p-icon {
      font-family: "Material Icons"  !important;
      line-height: inherit  !important;
      vertical-align: top  !important; }
      .RadAutoCompleteBox_Material .racRemoveTokenLink .p-icon:before {
        content: "\e14c"  !important;
        line-height: 16px  !important; }
  .RadAutoCompleteBox_Material .racTextToken {
    padding: 3px 2px  !important;
    margin-left: 5px  !important; }
    .RadAutoCompleteBox_Material .racTextToken + .racTextToken {
      margin-left: 0  !important; }
  .RadAutoCompleteBox_Material .racHovered.racTokenList,
  .RadAutoCompleteBox_Material .racFocused.racTokenList {
    border-color: #E0E0E0  !important;
    color: #424242  !important;
    background-color: #ffffff  !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2)  !important; }
    .RadAutoCompleteBox_Material .racHovered.racTokenList:before,
    .RadAutoCompleteBox_Material .racFocused.racTokenList:before {
      display: none  !important; }
  .RadAutoCompleteBox_Material .racFocused.racToken {
    color: #ffffff  !important;
    background: #757575  !important; }
    .RadAutoCompleteBox_Material .racFocused.racToken .racRemoveTokenLink {
      color: #757575  !important;
      background: #ffffff  !important; }
  .RadAutoCompleteBox_Material .racToken.racHovered {
    color: #ffffff  !important;
    background: #757575  !important; }
    .RadAutoCompleteBox_Material .racToken.racHovered .racRemoveTokenLink {
      color: #757575  !important;
      background: #ffffff  !important; }
      .RadAutoCompleteBox_Material .racToken.racHovered .racRemoveTokenLink.racHovered, .RadAutoCompleteBox_Material .racToken.racHovered .racRemoveTokenLink:hover {
        color: #212121  !important; }
  .RadAutoCompleteBox_Material .racToken.racSelected {
    color: #ffffff  !important;
    background: #757575  !important; }
    .RadAutoCompleteBox_Material .racToken.racSelected .racRemoveTokenLink {
      color: #757575  !important;
      background: #ffffff  !important; }
  .RadAutoCompleteBox_Material .racDisabled.racTokenList {
    color: #757575  !important;
    background: transparent  !important;
    box-shadow: none  !important; }
    .RadAutoCompleteBox_Material .racDisabled.racTokenList:before {
      display: block  !important;
      border-color: #EEEEEE  !important; }
  .RadAutoCompleteBox_Material .racDisabled .racToken {
    color: #424242  !important;
    background: #E0E0E0  !important; }
  .RadAutoCompleteBox_Material .racInput {
    padding: 3px  !important; }
  .RadAutoCompleteBox_Material .racToken + .racInput {
    margin-left: -8px  !important; }
  .RadAutoCompleteBox_Material .racEmptyMessage {
    font-style: normal  !important; }
  .RadAutoCompleteBox_Material .p-i-loading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>')  !important; }
  .RadAutoCompleteBox_Material .racLabel {
    font-weight: 500  !important;
    font-size: 0.857em  !important;
    color: #757575  !important; }

.RadAutoCompleteBoxPopup_Material {
  border-color: #E0E0E0  !important;
  color: #424242  !important;
  background-color: #ffffff  !important;
  font-family: "Roboto", "Noto", sans-serif  !important;
  border: 0  !important;
  border-radius: 2px  !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2)  !important; }
  .RadAutoCompleteBoxPopup_Material .racList {
    padding: 8px 0  !important; }
  .RadAutoCompleteBoxPopup_Material .racItem {
    padding: 6px 13px  !important; }
  .RadAutoCompleteBoxPopup_Material .racItemHovered {
    color: #424242  !important;
    background-color: #EEEEEE  !important; }
  .RadAutoCompleteBoxPopup_Material .racFocused {
    box-shadow: inset 0 0 5px transparent  !important; }
  .RadAutoCompleteBoxPopup_Material .racItemSelected {
    color: #0d47a1  !important;
    background-color: transparent  !important; }
