.RadCalendar_Material {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    font-family: "Roboto", "Noto", sans-serif !important;
}

    .RadCalendar_Material .rcTitlebar {
        border-color: #1565c0 !important;
        color: #ffffff !important;
        background-color: #1565c0 !important;
        padding: 5px !important;
    }

    .RadCalendar_Material .rcPrev,
    .RadCalendar_Material .rcNext,
    .RadCalendar_Material .rcFastPrev,
    .RadCalendar_Material .rcFastNext {
        margin: 0 !important;
        padding: 8px !important;
        border: 0 none !important;
        color: #ffffff !important;
        background-color: #1565c0 !important;
        border-radius: 3em !important;
        border-color: #1565c0 !important;
        color: #ffffff !important;
        background-color: #1565c0 !important;
    }

        .RadCalendar_Material .rcPrev:hover,
        .RadCalendar_Material .rcNext:hover,
        .RadCalendar_Material .rcFastPrev:hover,
        .RadCalendar_Material .rcFastNext:hover {
            background-color: rgba(255, 255, 255, 0.24) !important;
        }

    .RadCalendar_Material .t-font-icon:before {
        font-size: 18px !important;
    }

    .RadCalendar_Material .rcTitle {
        font-size: 1.143em !important;
        line-height: 1.25em !important;
        padding: 8px 0 !important;
    }

    .RadCalendar_Material .rcMain {
        border-color: #E0E0E0 !important;
        padding: 4px !important;
    }

        .RadCalendar_Material .rcMain td {
            border-color: transparent !important;
            text-align: center !important;
        }

    .RadCalendar_Material .rcRow a,
    .RadCalendar_Material .rcRow span {
        border-radius: 3em !important;
        color: #424242 !important;
        padding: 7px !important;
        line-height: 1.42857 !important;
        width: 1.42857em !important;
    }

    .RadCalendar_Material span.t-ripple,
    .RadCalendar_Material span.t-ripple-container {
        padding: 0 !important;
    }

    .RadCalendar_Material .rcWeek,
    .RadCalendar_Material .rcRow th {
        color: rgba(66, 66, 66, 0.6) !important;
        line-height: 1.42857 !important;
        width: 1.42857em !important;
    }

        .RadCalendar_Material .rcWeek th {
            text-align: center !important;
            padding: 9px !important;
        }

    .RadCalendar_Material .rcRow {
        /*td:last-child {
			padding-right: 8px  !important;
		}

		&:last-child > th {
			padding-bottom: 17px  !important;
		}

		&:last-child > td {
			padding-bottom: 8px  !important;
		}*/
    }

        .RadCalendar_Material .rcRow th {
            padding: 9px 9px 9px 17px !important;
            padding: 9px !important;
        }

    .RadCalendar_Material .rcMain .rcOtherMonth a,
    .RadCalendar_Material .rcMain .rcOutOfRange span {
        color: rgba(66, 66, 66, 0.4) !important;
    }

    .RadCalendar_Material .rcToday a {
        color: #0d47a1 !important;
        background-color: transparent !important;
    }

    .RadCalendar_Material .rcSelected a {
        background-color: #1565c0 !important;
        color: #FFFFFF !important;
    }

    .RadCalendar_Material .rcHover a {
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

    .RadCalendar_Material .rcFocus a {
        box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.5) inset !important;
    }

.RadCalendarPopupShadows .RadCalendar_Material {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

    .RadCalendarPopupShadows .RadCalendar_Material .rcMain {
        border: 0 none !important;
    }

.RadCalendarMonthView_Material {
    border: 0 none !important;
    padding: 0 !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

    .RadCalendarMonthView_Material td {
        padding: 0 !important;
    }

    .RadCalendarMonthView_Material tr:first-child td {
        padding-top: 8px !important;
    }

    .RadCalendarMonthView_Material tr:nth-last-child(2) td {
        padding-bottom: 8px !important;
    }

    .RadCalendarMonthView_Material a {
        padding: 6px 13px !important;
        color: #424242 !important;
        border: 0 none !important;
        border-radius: 0 !important;
        box-sizing: border-box !important;
        min-width: 64px !important;
    }

        .RadCalendarMonthView_Material a:hover {
            background-color: #EEEEEE !important;
            color: #424242 !important;
        }

    .RadCalendarMonthView_Material .rcSelected a {
        background: transparent !important;
        color: #0d47a1 !important;
    }

    .RadCalendarMonthView_Material td.rcButtons {
        background-color: #F5F5F5 !important;
        border-top: 1px solid #E0E0E0 !important;
        text-align: right !important;
        padding: 6px 10px !important;
    }

        .RadCalendarMonthView_Material td.rcButtons a {
            text-transform: uppercase !important;
            background-color: transparent !important;
            border: 0 none !important;
            padding: 8px !important;
            min-width: 64px !important;
            color: #424242 !important;
        }

            .RadCalendarMonthView_Material td.rcButtons a:hover {
                background-color: rgba(66, 66, 66, 0.12) !important;
            }

    .RadCalendarMonthView_Material #rcMView_Today {
        float: left !important;
    }

    .RadCalendarMonthView_Material #rcMView_OK {
        color: #1565c0 !important;
    }

        .RadCalendarMonthView_Material #rcMView_OK:hover {
            background-color: rgba(63, 81, 181, 0.12) !important;
        }

.RadPicker_Material .RadInput_Material {
    border-bottom: transparent !important;
}

.RadPicker_Material {
    font-family: "Roboto", "Noto", sans-serif !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}
    .RadPicker_Material .riLabel {
        font-size: .857em !important;
        color: #757575 !important;
        font-weight: 500 !important;
        padding-right: 25px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .RadPicker_Material .RadInput {
        padding-right: 50px !important;
        position: relative !important;
    }

        .RadPicker_Material .RadInput:before {
            content: "" !important;
            border-bottom: 1px solid !important;
            border-color: inherit !important;
            position: absolute !important;
            left: 13px !important;
            right: 13px !important;
            bottom: 0 !important;
        }

    .RadPicker_Material .RadInputError:before {
        border-bottom-width: 2px !important;
    }

    .RadPicker_Material.RadDateTimePicker .RadInput {
        padding-right: 88px !important;
    }

    .RadPicker_Material input.riTextBox,
    .RadPicker_Material input.riTextBox:hover {
        border-color: transparent !important;
        box-shadow: none !important;
        padding-right: 0 !important;
    }

    .RadPicker_Material .rcSelect {
        bottom: 0 !important;
        right: 0 !important;
        top: 0 !important;
    }

    .RadPicker_Material .rcCalPopup,
    .RadPicker_Material .rcTimePopup {
        border-left: 1px solid transparent !important;
        color: #757575 !important;
        outline: none !important;
    }

        .RadPicker_Material .rcCalPopup:focus,
        .RadPicker_Material .rcTimePopup:focus {
            background-color: #EEEEEE !important;
        }

        .RadPicker_Material .rcCalPopup:before,
        .RadPicker_Material .rcTimePopup:before {
            font-family: "Material Icons" !important;
            font-size: 18px !important;
        }

    .RadPicker_Material.rcCalPopupOpen .rcCalPopup,
    .RadPicker_Material.rcMYPopupOpen .rcCalPopup,
    .RadPicker_Material.rcTimePopupOpen .rcTimePopup {
        background-color: #EEEEEE !important;
    }

    .RadPicker_Material:hover .RadInput:not(.RadInputDisabled), .RadPicker_Material.rcMYPopupOpen .RadInput:not(.RadInputDisabled), .RadPicker_Material.rcTimePopupOpen .RadInput:not(.RadInputDisabled), .RadPicker_Material.rcCalPopupOpen .RadInput:not(.RadInputDisabled) {
        background-color: #FAFAFA !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important;
        border-color: transparent !important;
    }

        .RadPicker_Material:hover .RadInput:not(.RadInputDisabled):before, .RadPicker_Material.rcMYPopupOpen .RadInput:not(.RadInputDisabled):before, .RadPicker_Material.rcTimePopupOpen .RadInput:not(.RadInputDisabled):before, .RadPicker_Material.rcCalPopupOpen .RadInput:not(.RadInputDisabled):before {
            display: none !important;
        }

    .RadPicker_Material:hover .rcCalPopup,
    .RadPicker_Material:hover .rcTimePopup, .RadPicker_Material.rcMYPopupOpen .rcCalPopup,
    .RadPicker_Material.rcMYPopupOpen .rcTimePopup, .RadPicker_Material.rcTimePopupOpen .rcCalPopup,
    .RadPicker_Material.rcTimePopupOpen .rcTimePopup, .RadPicker_Material.rcCalPopupOpen .rcCalPopup,
    .RadPicker_Material.rcCalPopupOpen .rcTimePopup {
        border-color: #EEEEEE !important;
    }

    .RadPicker_Material .rcCalPopup:before {
        content: "\e8df" !important;
    }

    .RadPicker_Material .rcTimePopup:before {
        content: "\e8b5" !important;
    }

.RadCalendarMultiView_Material .rcMain {
    border: 0 none !important;
    padding: 0 !important;
}

.RadCalendarMultiView_Material .rcMainTable {
    border-collapse: collapse !important;
}

.RadCalendarMultiView_Material .rcCalendar {
    border: 0 none !important;
}

.RadCalendarMultiView_Material span.rcTitle {
    font-size: 1.429em !important;
    line-height: 1 !important;
    padding: 8px 0 !important;
}

.RadCalendarMultiView_Material .rcMainTable .rcTitle {
    background-color: #1565c0 !important;
    color: #ffffff !important;
    border: 0 none !important;
    border-top: 1px solid #ffffff !important;
    font-size: 1.143em !important;
    line-height: 1.25em !important;
    padding: 14px 0 !important;
}

.RadCalendarMultiView_Material .rcRow > :first-child,
.RadCalendarMultiView_Material .rcWeek > :first-child {
    border-left: 1px solid #E0E0E0 !important;
}

.RadCalendarMultiView_Material .rcLastCol .rcRow > :last-child,
.RadCalendarMultiView_Material .rcLastCol .rcWeek > :last-child {
    border-right: 1px solid #E0E0E0 !important;
}

.RadCalendarMultiView_Material td.rcLastRow {
    border-bottom: 1px solid #E0E0E0 !important;
}

.RadCalendarTimeView_Material {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    border: 0 none !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    font-family: "Roboto", "Noto", sans-serif !important;
}

    .RadCalendarTimeView_Material th {
        background-color: #1565c0 !important;
        color: #ffffff !important;
        line-height: normal !important;
        font-size: 1.143em !important;
        padding: 14px 10px !important;
    }

    .RadCalendarTimeView_Material td {
        padding: 0 !important;
        border-color: transparent !important;
    }

    .RadCalendarTimeView_Material tr:nth-child(2) td {
        padding-top: 8px !important;
    }

    .RadCalendarTimeView_Material tr:last-child td {
        padding-bottom: 8px !important;
    }

    .RadCalendarTimeView_Material a {
        padding: 6px 13px !important;
        color: #424242 !important;
        border: 0 none !important;
        border-radius: 0 !important;
    }

    .RadCalendarTimeView_Material td.rcSelected a {
        color: #0d47a1 !important;
    }

    .RadCalendarTimeView_Material td.rcHover a {
        background-color: #EEEEEE !important;
    }

    .RadCalendarTimeView_Material .rcFooter {
        border-color: #E0E0E0 !important;
    }
