.RadCloudUpload_Material {
  font-family: "Roboto", "Noto", sans-serif  !important; }
  .RadCloudUpload_Material .rcuFileWrap {
    border-color: #E0E0E0  !important;
    color: #424242  !important;
    background-color: #F5F5F5  !important;
    border: 0  !important;
    border-radius: 4px  !important;
    padding: 8px 32px  !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2)  !important;
    text-transform: uppercase  !important; }
  .RadCloudUpload_Material .rcuHeader .rcuToggleButton {
    border: 0  !important;
    right: 12px  !important; }
  .RadCloudUpload_Material .rcuInfoPanel {
    border-color: #E0E0E0  !important;
    border-radius: 2px  !important; }
  .RadCloudUpload_Material .rcuHeader {
    padding: 10px 13px  !important;
    border-color: #E0E0E0  !important;
    color: #424242  !important;
    background-color: #F5F5F5  !important;
    background-image: none  !important; }
    .RadCloudUpload_Material .rcuHeader .p-i-loading {
      margin-right: 12px  !important;
      margin-left: -2px  !important; }
  .RadCloudUpload_Material .rcuBody {
    padding: 0  !important;
    border: 0  !important;
    background-color: #F5F5F5  !important; }
  .RadCloudUpload_Material .rcuFileList {
    border-color: #E0E0E0  !important;
    color: #424242  !important;
    background-color: #ffffff  !important;
    margin: 0  !important;
    border-width: 1px 0 0  !important; }
  .RadCloudUpload_Material .rcuLI {
    padding-left: 26px  !important; }
  .RadCloudUpload_Material .rcuFileName,
  .RadCloudUpload_Material .rcuFileSize {
    padding: 14px  !important; }
  .RadCloudUpload_Material .rcuProgressBar {
    top: 21px  !important;
    border: 0  !important;
    background-color: #E0E0E0  !important; }
  .RadCloudUpload_Material .rcuProgress {
    border-color: #ffffff  !important;
    background-color: #1565c0  !important; }
  .RadCloudUpload_Material .rcuButtons {
    right: 12px  !important; }
  .RadCloudUpload_Material .p-icon {
    color: #757575  !important; }
    .RadCloudUpload_Material .p-icon:before {
      font: 18px/1 "Material Icons"  !important; }
  .RadCloudUpload_Material .rcuLI > .p-icon {
    left: 18px  !important; }
  .RadCloudUpload_Material .p-i-arrow-60-down:before {
    content: "\e5c5"  !important; }
  .RadCloudUpload_Material .p-i-arrow-60-up:before {
    content: "\e5c7"  !important; }
  .RadCloudUpload_Material .p-i-check:before {
    content: "\e876"  !important; }
  .RadCloudUpload_Material .p-i-loading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>')  !important; }
  .RadCloudUpload_Material .p-i-upload:before {
    content: "\e2c6"  !important; }
  .RadCloudUpload_Material .p-i-x:before {
    content: "\e14c"  !important; }
  .RadCloudUpload_Material .p-i-info:before {
    content: "\e001"  !important; }
  .RadCloudUpload_Material .p-i-trash:before {
    content: "\e872"  !important; }
  .RadCloudUpload_Material .p-i-cancel:before {
    content: "\e033"  !important; }
  .RadCloudUpload_Material .rcuDropZone {
    color: #424242  !important;
    border: 0  !important;
    background-color: rgba(245, 245, 245, 0.8)  !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2)  !important; }
  .RadCloudUpload_Material .rcuHovered.rcuFileWrap {
    border-color: #EEEEEE  !important;
    color: #424242  !important;
    background-color: #EEEEEE  !important; }
  .RadCloudUpload_Material .rcuHovered .p-icon {
    color: #212121  !important; }
  .RadCloudUpload_Material .rcuPressed.rcuFileWrap {
    border-color: #E0E0E0  !important;
    color: #424242  !important;
    background-color: #E0E0E0  !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2)  !important; }
  .RadCloudUpload_Material .rcuButton,
  .RadCloudUpload_Material .p-icon {
    transition: color .2s ease-in-out, background .2s ease-in-out  !important; }

.rcuToolTip_Material {
  font-family: "Roboto", "Noto", sans-serif  !important;
  font-size: 0.86em  !important;
  color: #ffffff  !important;
  background: #424242  !important;
  border-radius: 2px  !important;
  box-shadow: none  !important; }
  .rcuToolTip_Material:before {
    display: none  !important; }
