.RadColorPicker_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadColorPicker_Material .rcpPalette {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadColorPicker_Material .rcpIcon ~ .rcpPalette {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadColorPicker_Material .rcpHeader {
    background-color: #F5F5F5 !important; }
  .RadColorPicker_Material .rcpImageButton,
  .RadColorPicker_Material a.rslDraghandle:before {
    color: #757575 !important; }
  .RadColorPicker_Material .rcpImageButton:hover {
    color: #212121 !important; }
  .RadColorPicker_Material .rcpIcon {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadColorPicker_Material .rcpIcon em,
  .RadColorPicker_Material .rcpColorPreview,
  .RadColorPicker_Material .rcpInput,
  .RadColorPicker_Material .rcpHexInput,
  .RadColorPicker_Material .rcpMillionColorsPalette,
  .RadColorPicker_Material .rcpMillionColorsSlider div.rslTrack {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important; }
  .RadColorPicker_Material .rcpIcon em:hover,
  .RadColorPicker_Material .rcpColorPreview:hover,
  .RadColorPicker_Material .rcpInput:hover,
  .RadColorPicker_Material .rcpHexInput:hover,
  .RadColorPicker_Material .rcpMillionColorsPalette:hover,
  .RadColorPicker_Material .rcpMillionColorsSlider div.rslTrack:hover {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: #BDBDBD !important; }
  .RadColorPicker_Material .rcpIcon em:active,
  .RadColorPicker_Material .rcpColorPreview:active,
  .RadColorPicker_Material .rcpInput:active,
  .RadColorPicker_Material .rcpHexInput:active,
  .RadColorPicker_Material .rcpMillionColorsPalette:active,
  .RadColorPicker_Material .rcpMillionColorsSlider div.rslTrack:active,
  .RadColorPicker_Material .rcpIcon em:focus,
  .RadColorPicker_Material .rcpColorPreview:focus,
  .RadColorPicker_Material .rcpInput:focus,
  .RadColorPicker_Material .rcpHexInput:focus,
  .RadColorPicker_Material .rcpMillionColorsPalette:focus,
  .RadColorPicker_Material .rcpMillionColorsSlider div.rslTrack:focus {
    border-color: #1565c0 !important;
    color: #424242 !important;
    background-color: transparent !important; }
  .RadColorPicker_Material .rcpIcon a,
  .RadColorPicker_Material .rcpTabs li,
  .RadColorPicker_Material .rcpButton {
    border: 0 !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }
  .RadColorPicker_Material .rcpIcon a:hover,
  .RadColorPicker_Material .rcpTabs li:hover,
  .RadColorPicker_Material .rcpButton:hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadColorPicker_Material .rcpTabs .rcpSelectedTab,
  .RadColorPicker_Material .rcpTabs .rcpSelectedTab:hover {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadColorPicker_Material .rcpIcon a:focus {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadColorPicker_Material .rcpIcon a:active:before,
  .RadColorPicker_Material .rcpTabs .rcpSelectedTab a,
  .RadColorPicker_Material .rcpTabs .rcpSelectedTab:hover a {
    color: #424242 !important; }
  .RadColorPicker_Material.rcpCustomColorWrapper {
    width: 28em !important;
    height: 21.28571em !important; }
    .RadColorPicker_Material.rcpCustomColorWrapper .rcpPalette {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadColorPicker_Material .rcpIcon,
  .RadColorPicker_Material .rcpIcon a,
  .RadColorPicker_Material .rcpButton {
    border-radius: 0.14286em !important; }
  .RadColorPicker_Material .rcpIcon a:before {
    right: 0.46429em !important; }
  .RadColorPicker_Material .rcpIcon a.t-ripple-effect {
    border: 0px solid transparent !important; }
  .RadColorPicker_Material .rcpIcon a.t-ripple-effect:before {
    right: 0.5em !important; }
  .RadColorPicker_Material .rcpViews,
  .RadColorPicker_Material .rcpPageView {
    padding: 0 !important; }
  .RadColorPicker_Material .rcpViews {
    margin: 0em 0em 0em -0.21429em !important;
    background-color: #ffffff !important; }
  .RadColorPicker_Material .rcpPalette {
    padding: 0 !important;
    border-radius: 0.14286em 0.14286em 0em 0em !important;
    border: none !important; }
  .RadColorPicker_Material .rcpHeader {
    height: 3.42857em !important;
    margin: 0em 0em 0em -0.21429em !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0.14286em 0.14286em 0em 0em !important; }
  .RadColorPicker_Material .rcpColorPreview {
    width: 5.14286em !important;
    height: 3.42857em !important;
    border: 0 !important; }
  .RadColorPicker_Material .rcpPalette .rcpHeader .rcpHexInput,
  .RadColorPicker_Material .rcpPalette .rcpHeader .rcpInput {
    height: 3.21429em !important;
    padding: 0em 0.71429em !important; }
  .RadColorPicker_Material .rcpHexInput,
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpHexInput {
    width: 5.71429em !important;
    border: 0 !important;
    border-radius: 0 !important; }
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpHexInput:hover,
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpHexInput:active,
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpHexInput:focus {
    background-color: transparent !important; }
  .RadColorPicker_Material .rcpImageButton {
    width: 3.42857em !important;
    height: 3.42857em !important;
    margin-left: 0 !important;
    text-align: center !important;
    position: relative !important;
    overflow: hidden !important; }
  .RadColorPicker_Material .rcpImageButton:before {
    margin: auto !important;
    position: absolute !important;
    height: 1em !important;
    line-height: 1 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important; }
  .RadColorPicker_Material .rcpButton {
    overflow: hidden !important;
    height: 3.42857em !important;
    line-height: 3.42857em !important;
    margin: 0 !important;
    padding: 0em 1.14286em !important;
    border: 0 !important;
    border-radius: 0 !important; }
  .RadColorPicker_Material .rcpPageView {
    margin: 0 !important; }
  .RadColorPicker_Material .rcpRecentColorsWrapper {
    padding: 0.71429em 0em 0.71429em 0.71429em !important; }
    .RadColorPicker_Material .rcpRecentColorsWrapper .rcpRecentColorsLabel {
      padding: 0 !important;
      font-size: 0.85714em !important;
      color: #757575 !important; }
    .RadColorPicker_Material .rcpRecentColorsWrapper .rcpRecentColors {
      padding: 0 !important; }
  .RadColorPicker_Material .rcpTabs {
    left: -0.14286em !important;
    bottom: -3.42857em !important; }
    .RadColorPicker_Material .rcpTabs _::-moz-range-track, body:last-child .RadColorPicker_Material .rcpTabs {
      bottom: -3.5em !important; }
    .RadColorPicker_Material .rcpTabs ul {
      width: 100% !important; }
    .RadColorPicker_Material .rcpTabs li {
      width: 25% !important;
      border-width: 2px 0 0 !important;
      border-style: solid !important;
      border-color: #F5F5F5 !important;
      padding: 0.89286em 0em !important;
      box-sizing: border-box !important;
      text-transform: uppercase !important;
      text-align: center !important;
      overflow: hidden !important; }
    .RadColorPicker_Material .rcpTabs li:active,
    .RadColorPicker_Material .rcpTabs .rcpSelectedTab {
      border-color: #1565c0 !important;
      border-radius: 0 !important; }
    .RadColorPicker_Material .rcpTabs .rcpSelectedTab a,
    .RadColorPicker_Material .rcpTabs .rcpSelectedTab:hover a {
      color: #1565c0 !important; }
    .RadColorPicker_Material .rcpTabs a,
    .RadColorPicker_Material .rcpTabs .rcpSelectedTab a {
      line-height: normal !important;
      background-image: none !important; }
    .RadColorPicker_Material .rcpTabs .rcpSelectedTab + li {
      margin: 1px 0 0 !important; }
  .RadColorPicker_Material .rcpInput,
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpInput {
    padding: 0 !important;
    border-width: 0 0 1px !important;
    border-radius: 0 !important; }
  .RadColorPicker_Material .rcpInput:active,
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpInput:active,
  .RadColorPicker_Material .rcpInput:focus,
  .RadForm.rfdTextbox .RadColorPicker_Material input.rcpInput:focus {
    border-width: 0 0 2px !important; }
  .RadColorPicker_Material .rcpSlider .rslTrack a.rslDraghandle:before {
    content: "" !important;
    display: none !important; }
  .RadColorPicker_Material .rcpSlider .rslTrack a.rslDraghandle,
  .RadColorPicker_Material .rcpSlider .rslTrack a.rslDraghandle:hover {
    width: 0.85714em !important;
    height: 0.85714em !important;
    border-radius: 3.21429em !important;
    background-color: #1565c0 !important;
    border-color: #1565c0 !important; }
  .RadColorPicker_Material .rcpSlider .rslTrack a.rslDraghandle:active {
    width: 1.28571em !important;
    height: 1.28571em !important; }
  .RadColorPicker_Material .rcpMillionColorsPalette,
  .RadColorPicker_Material .rcpHsvPageView .rcpMillionColorsPalette {
    width: 21.85714em !important;
    height: 17.85714em !important;
    border: 0 !important; }
  .RadColorPicker_Material div.rcpMillionColorsSlider {
    margin: 0.71429em 0em 0.71429em 1.28571em !important; }
  .RadColorPicker_Material .rcpMillionColorsPageView .rcpInputsWrapper {
    width: 4.28571em !important;
    margin: 0em 0em 0.35714em -1em !important; }
    .RadColorPicker_Material .rcpMillionColorsPageView .rcpInputsWrapper .rcpInput,
    .RadForm.rfdTextbox .RadColorPicker_Material .rcpMillionColorsPageView .rcpInputsWrapper input.rcpInput {
      width: 2.85714em !important;
      padding: 0.60714em 0em !important; }
  .RadColorPicker_Material .rcpPalette label, .RadColorPicker_Material .rcpRecentColorsLabel {
    line-height: 2.71429em !important; }
  .RadColorPicker_Material div.rcpMillionColorsSlider div.rslVertical .rslTrack {
    border: 0 !important; }
  .RadColorPicker_Material div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle {
    width: 0.85714em !important;
    height: 0.85714em !important;
    border-radius: 3.21429em !important;
    background-color: #1565c0 !important;
    border-color: #1565c0 !important;
    margin-left: -0.35714em !important;
    text-indent: -9999px !important; }
  .RadColorPicker_Material div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active {
    width: 1.28571em !important;
    height: 1.28571em !important;
    margin-left: -0.57143em !important; }
  .RadColorPicker_Material div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:before {
    content: "" !important; }
  .RadColorPicker_Material .rcpRGBPageView .rcpSlider {
    margin: 1em 0em 0em !important; }
  .RadColorPicker_Material .rcpRGBPageView ul li {
    margin-bottom: 0 !important; }
  .RadColorPicker_Material .rcpRGBPageView label {
    padding: 0em 0em 0em 0.71429em !important;
    line-height: 3.42857em !important;
    color: #757575 !important; }
  .RadColorPicker_Material .rcpRGBPageView .rcpInput,
  .RadForm.rfdTextbox .RadColorPicker_Material .rcpRGBPageView input.rcpInput {
    width: 2.85714em !important;
    margin: 0em 0.71429em 0em 1.07143em !important;
    padding: 0.60714em 0em !important; }
  .RadColorPicker_Material .rcpIcon {
    padding: 8px 0 !important;
    width: 5.14286em !important; }
  .RadColorPicker_Material .rcpIcon em {
    border: 0 none !important;
    height: 2.57143em !important;
    margin: -0.57143em 0em 0em !important;
    width: 2.57143em !important; }
  .RadColorPicker_Material .rcpEmptyColorPreview:before {
    content: "" !important;
    margin: 24px 0 0 -12px !important;
    width: 100px !important;
    height: 2px !important;
    transform: rotate(-45deg) !important;
    background-color: #f34235 !important; }
  .RadColorPicker_Material .rcpEmptyIcon em:before {
    content: "" !important;
    margin: 0 0 0 -10px !important;
    width: 65px !important;
    height: 2px !important;
    transform: rotate(-45deg) !important;
    background-color: #f34235 !important; }

.RadColorPickerRTL .rcpEmptyColorPreview:before {
  margin: 33px -7px 0 6px !important;
  width: 101px !important; }

.RadColorPickerRTL .rcpTabs ul {
  margin-right: 0.2em !important; }

.RadColorPickerRTL .rcpEmptyIcon em:before {
  margin: 18px -12px 0 -10px !important; }
