.RadComboBox_Material {
    color: #424242 !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    padding: 0px !important;
}

    .RadComboBox_Material .rcbInner {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: transparent !important;
        padding: 8px 50px 8px 13px !important;
        border-width: 0 !important;
        border-radius: 2px !important;
        transition: all 0.2s ease-in-out !important;
    }

        .RadComboBox_Material .rcbInner:before {
            content: "" !important;
            border: none !important;
            position: absolute !important;
            left: 13px !important;
            right: 13px !important;
            bottom: 0 !important;
        }

        .RadComboBox_Material .rcbInner.rcbToggleButtonHidden {
            padding-right: 13px !important;
        }

    .RadComboBox_Material .p-icon:before {
        font-size: 18px !important;
        font-family: "Material Icons" !important;
        content: "\e5c5" !important;
    }

    .RadComboBox_Material .rcbActionButton {
        padding: 8px !important;
        border-color: transparent !important;
        border-radius: 0 2px 2px 0 !important;
        transition: all 0.2s ease-in-out !important;
    }

        .RadComboBox_Material .rcbActionButton .p-icon {
            width: 1.42857em !important;
        }

    .RadComboBox_Material .rcbLabel {
        padding-top: 10px !important;
        font-weight: 500 !important;
        font-size: 0.857em !important;
        color: #757575 !important;
    }

    .RadComboBox_Material .rcbHovered {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #ffffff !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    }

        .RadComboBox_Material .rcbHovered:before {
            display: none !important;
        }

        .RadComboBox_Material .rcbHovered .rcbActionButton {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

    .RadComboBox_Material .rcbFocused,
    .RadComboBox_Material .rcbExpanded {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #ffffff !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    }

        .RadComboBox_Material .rcbFocused:before,
        .RadComboBox_Material .rcbExpanded:before {
            display: none !important;
        }

        .RadComboBox_Material .rcbFocused .rcbActionButton,
        .RadComboBox_Material .rcbExpanded .rcbActionButton {
            border-color: #E0E0E0 !important;
            color: #424242 !important;
            background-color: #ffffff !important;
        }

    .RadComboBox_Material .rcbReadOnly.rcbHovered {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

    .RadComboBox_Material .rcbReadOnly.rcbFocused {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #ffffff !important;
    }

.RadComboBox_Material_rtl .rcbInner {
    padding-left: 30px !important;
    padding-right: 13px !important;
}

    .RadComboBox_Material_rtl .rcbInner.rcbToggleButtonHidden {
        padding-left: 13px !important;
    }

.RadComboBox_Material_rtl .rcbActionButton {
    border-radius: 2px 0 0 2px !important;
}

.RadComboBoxDropDown_Material {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    border: 0 !important;
    border-radius: 2px !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

    .RadComboBoxDropDown_Material .rcbList {
        padding: 8px 0 !important;
    }

    .RadComboBoxDropDown_Material .rcbHeader {
        background-color: #0d47a1 !important;
        color: #FFFFFF !important;
    }

    .RadComboBoxDropDown_Material .rcbHeader,
    .RadComboBoxDropDown_Material .rcbFooter, .RadComboBoxDropDown_Material .rcbCheckAllItems, .RadComboBoxDropDown_Material .rcbMoreResults {
        border-color: #E0E0E0 !important;
        padding: 6px 13px !important;
    }

    .RadComboBoxDropDown_Material .rcbItem,
    .RadComboBoxDropDown_Material .rcbHovered,
    .RadComboBoxDropDown_Material .rcbSelected,
    .RadComboBoxDropDown_Material .rcbDisabled,
    .RadComboBoxDropDown_Material .rcbLoading {
        padding: 6px 13px !important;
    }

        .RadComboBoxDropDown_Material .rcbItem > label,
        .RadComboBoxDropDown_Material .rcbHovered > label,
        .RadComboBoxDropDown_Material .rcbSelected > label,
        .RadComboBoxDropDown_Material .rcbDisabled > label,
        .RadComboBoxDropDown_Material .rcbCheckAllItems > label,
        .RadComboBoxDropDown_Material .rcbCheckAllItemsHovered > label {
            margin: -6px -13px !important;
            padding: 6px 13px !important;
        }

    .RadComboBoxDropDown_Material .rcbSeparator {
        font-weight: 500 !important;
        color: #ffffff !important;
        background-color: #1565c0 !important;
    }

    .RadComboBoxDropDown_Material .p-icon:before {
        font-size: 18px !important;
        font-family: "Material Icons" !important;
        content: "\e5c5" !important;
    }

    .RadComboBoxDropDown_Material .rcbHovered {
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

    .RadComboBoxDropDown_Material .rcbSelected {
        color: #0d47a1 !important;
        background-color: transparent !important;
    }

    .RadComboBoxDropDown_Material .rcbLoading {
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

    .RadComboBoxDropDown_Material .rcbItem em {
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

    .RadComboBoxDropDown_Material .rcbCheckAllItems {
        padding: 6px 13px !important;
    }

    .RadComboBoxDropDown_Material .rcbCheckAllItemsHovered {
        color: #424242 !important;
        background-color: #EEEEEE !important;
        padding: 6px 13px !important;
    }
