.RadDataPager_Material {
  color: #424242 !important;
  padding: 5px !important;
  border: 1px solid #E0E0E0 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadDataPager_Material .rdpIcon:before {
    font-family: "WebComponentsIcons" !important; }
  .RadDataPager_Material .rdpAdvPart {
    line-height: inherit !important; }
  .RadDataPager_Material .rdpNumPart a {
    color: #ffffff !important; }
    .RadDataPager_Material .rdpNumPart a .t-ripple {
      border-radius: 90px !important; }
  .RadDataPager_Material .rdpPagerButton {
    border: 0 none !important;
    background-color: #F5F5F5 !important;
    color: #424242 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadDataPager_Material .rdpActionButton {
    border-radius: 90px !important; }
    .RadDataPager_Material .rdpActionButton:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
  .RadDataPager_Material .rdpNumPart a {
    color: #424242 !important;
    text-align: center !important;
    border-width: 0 !important;
    padding: 8px !important;
    min-width: 1.42857em !important; }
    .RadDataPager_Material .rdpNumPart a:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important;
      border-radius: 90px !important; }
    .RadDataPager_Material .rdpNumPart a.rdpCurrentPage {
      border-bottom: 2px solid #1565c0 !important;
      color: #1565c0 !important;
      background: none !important;
      border-radius: 0 !important;
      margin-bottom: -5px !important;
      padding-bottom: 11px !important; }
  .RadDataPager_Material .RadInput,
  .RadDataPager_Material .RadComboBox,
  .RadDataPager_Material .RadDropDownList {
    min-width: 90px !important; }
  .RadDataPager_Material .rdpActionButton {
    box-sizing: content-box !important; }
  .RadDataPager_Material .rdpPagerButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 8px 13px !important;
    border-radius: 0 !important; }
    .RadDataPager_Material .rdpPagerButton:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
  .RadDataPager_Material .rdpInfoPart,
  .RadDataPager_Material .rdpSliderLabel,
  .RadDataPager_Material .rdpPagerLabel {
    font-size: .857em !important;
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.66667 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important; }
    .RadDataPager_Material .rdpInfoPart strong,
    .RadDataPager_Material .rdpSliderLabel strong,
    .RadDataPager_Material .rdpPagerLabel strong {
      font-weight: 500 !important;
      font-size: 1.167em !important;
      line-height: 1.42857 !important;
      color: #424242 !important; }
  .RadDataPager_Material .RadSlider {
    margin: 7px 0 !important; }

.RadDataPager_Material .rdpActionButton {
  box-sizing: content-box !important;
  border: 0 none !important;
  background: none !important;
  padding: 8px !important;
  color: #757575 !important; }
