.RadDataForm_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadDataForm_Material .rdfLegend,
  .RadDataForm_Material .rdfBorders {
    border-color: #E0E0E0 !important; }
  .RadDataForm_Material .rdfHr {
    color: #E0E0E0 !important; }
  .RadDataForm_Material .rdfFieldHint {
    color: #c2c2c2 !important; }
