.RadDock_Material {
  font-family: "Roboto", "Noto", sans-serif !important;
  background-color: #ffffff !important;
  color: #424242 !important;
  border-color: #ffffff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadDock_Material.rdDragHelper {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadDock_Material .rdTitleWrapper {
    background-color: #1565c0 !important;
    color: #ffffff !important;
    border-bottom-color: #1565c0 !important; }
  .RadDock_Material .rdTitleWrapper .rdTitle {
    color: #ffffff !important; }
  .RadDock_Material .rdCommandButton {
    color: #ffffff !important; }
  .RadDock_Material .rdListItem:hover {
    background-color: rgba(255, 255, 255, 0.12) !important; }
  .RadDock_Material .rdContentWrapper {
    color: #424242 !important; }
  .RadDock_Material.RadDock_Collapsed .rdTitleWrapper {
    border-bottom-color: #1565c0 !important; }
  .RadDock_Material.rdRoundedCorner {
    border-radius: 0.14286em !important; }
  .RadDock_Material.rdRoundedCorner .rdTitleWrapper, .RadDock_Material.rdCollapsed.rdRoundedCorner,
  .RadDock_Material.rdCollapsed.rdRoundedCorner .rdTitleWrapper {
    border-radius: 0.14286em 0.14286em 0em 0em !important; }
  .RadDock_Material.rdRoundedCorner .rdContentWrapper {
    border-radius: 0em 0em 0.14286em 0.14286em !important; }
  .RadDock_Material.rdNone .rdContentWrapper {
    border-radius: 0.14286em !important; }
  .RadDock_Material .rdTitleWrapper {
    margin: -1px !important;
    padding: 14px 14px 13px !important; }
  .RadDock_Material .rdTitleWrapper .rdTitle {
    padding: 5px 0 !important;
    margin: -7px 0 -3px !important;
    font-size: 1.42857em !important;
    line-height: 1em !important; }
  .RadDock_Material .rdCommands {
    margin: -1.28571em 0em 0em !important;
    right: 1.14286em !important; }
  .RadDock_Material .rdListItem {
    margin: 0em 0em 0em 0.42857em !important;
    line-height: 1.42857em !important;
    padding: 7px !important;
    border-radius: 45px !important; }
  .RadDock_Material .rdContent {
    margin: 0.92857em 1.14286em !important; }
  .RadDock_Material .t-ripple-container {
    margin-top: -0.07143em !important;
    margin-left: -0.07143em !important; }
