.RadDropDownTree_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadDropDownTree_Material .rddtInner {
    height: auto !important;
    padding: 8px 36px 8px 13px !important;
    overflow: visible !important;
    border: 0 !important;
    border-radius: 2px !important;
    transition: all .2s ease-in-out !important; }
    .RadDropDownTree_Material .rddtInner:before {
      content: "" !important;
      position: absolute !important;
      bottom: 0 !important;
      left: 13px !important;
      right: 13px !important;
      border-bottom: 1px solid #E0E0E0 !important; }
  .RadDropDownTree_Material .rddtExtraPadding {
    padding-right: 60px !important; }
  .RadDropDownTree_Material .rddtFakeInput {
    height: auto !important;
    line-height: 1.42857 !important;
    height: 1.42857em !important; }
  .RadDropDownTree_Material .rddtClearButton {
    right: 35px !important; }
  .RadDropDownTree_Material .rddtIcon {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    top: 50% !important;
    margin-top: -12px !important;
    right: 6px !important;
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
    .RadDropDownTree_Material .rddtIcon:before {
      content: "\e5c5" !important;
      vertical-align: initial !important; }
  .RadDropDownTree_Material .rddtHovered {
    color: #424242 !important;
    background-color: #EEEEEE !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadDropDownTree_Material .rddtHovered:before {
      display: none !important; }
    .RadDropDownTree_Material .rddtHovered .rddtIcon {
      color: #212121 !important; }
  .RadDropDownTree_Material .rddtFocused {
    color: #424242 !important;
    background-color: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 2px 2px 0 0 !important; }
    .RadDropDownTree_Material .rddtFocused:before {
      left: 0 !important;
      right: 0 !important; }
    .RadDropDownTree_Material .rddtFocused .p-icon {
      color: #212121 !important; }

.rddtPopup_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  padding: 8px 0 !important;
  border: 0 !important;
  border-radius: 2px !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .rddtPopup_Material .rddtFilter {
    padding: 0 13px 8px !important;
    border: 0 !important; }
  .rddtPopup_Material .rddtFilterInput {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important;
    padding: 8px 0 !important;
    outline: 0 !important;
    border-width: 0 0 1px !important; }
  .rddtPopup_Material .RadTreeView {
    padding: 0 !important; }
  .rddtPopup_Material .RadTreeView em {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .rddtPopup_Material .RadTreeView .rtLines .rtLI:before,
  .rddtPopup_Material .RadTreeView .rtLines .rtOut:before {
    display: none !important; }
  .rddtPopup_Material .rddtFilterInput.rddtHovered {
    border-color: #BDBDBD !important;
    color: #424242 !important;
    background-color: transparent !important; }
  .rddtPopup_Material .rddtFilterInput.rddtFocused {
    border-bottom-color: #1565c0 !important;
    box-shadow: 0 1px 0 #1565c0 !important; }
