.RadDropDownList_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadDropDownList_Material .rddlInner {
    padding: 8px 36px 8px 13px !important;
    overflow: visible !important;
    border: 0 !important;
    border-radius: 2px !important;
    transition: all .2s ease-in-out !important; }
    .RadDropDownList_Material .rddlInner:before {
      content: "" !important;
      position: absolute !important;
      bottom: 0 !important;
      left: 13px !important;
      right: 13px !important;
      border-bottom: 1px solid #E0E0E0 !important; }
  .RadDropDownList_Material .rddlSelect {
    padding: 8px !important;
    width: 1.42857em !important; }
  .RadDropDownList_Material .p-i-arrow-60-down:before {
    font-size: 18px !important;
    font-family: "Material Icons" !important;
    content: "\e5c5" !important; }
  .RadDropDownList_Material .rddlHovered {
    color: #424242 !important;
    background-color: #EEEEEE !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadDropDownList_Material .rddlHovered:before {
      display: none !important; }
  .RadDropDownList_Material .rddlFocused {
    color: #424242 !important;
    background-color: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 2px 2px 0 0 !important; }
    .RadDropDownList_Material .rddlFocused:before {
      left: 0 !important;
      right: 0 !important; }

.rddlPopup_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  border-width: 0 !important;
  border-radius: 2px !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .rddlPopup_Material .rddlList {
    padding: 8px 0 !important; }
  .rddlPopup_Material .rddlItem {
    padding: 6px 13px !important; }
  .rddlPopup_Material .rddlItemHovered, .rddlPopup_Material .rddlItemLoading {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .rddlPopup_Material .rddlItemSelected {
    color: #0d47a1 !important;
    background-color: transparent !important; }
