.RadEditor_Material {
  background-color: #F5F5F5 !important;
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadEditor_Material .RadRibbonBar a.reDropdown {
    height: auto !important;
    padding: 8px 13px !important; }
    .RadEditor_Material .RadRibbonBar a.reDropdown:before {
      margin-top: -0.64286em !important; }
  .RadEditor_Material .RadRibbonBar .reTool {
    width: 2.35714em !important;
    height: 2.35714em !important;
    border-radius: 0 !important;
    border-width: 1px 0 1px 1px !important; }
    .RadEditor_Material .RadRibbonBar .reTool.rrbSmallButton {
      width: 1.42857em !important;
      height: 1.42857em !important; }
    .RadEditor_Material .RadRibbonBar .reTool:first-child {
      border-radius: 0.28571em 0em 0em 0.28571em !important; }
    .RadEditor_Material .RadRibbonBar .reTool:last-child {
      border-radius: 0em 0.28571em 0.28571em 0em !important;
      border-width: 1px !important; }
    .RadEditor_Material .RadRibbonBar .reTool.reSplitButton {
      min-width: 4em !important;
      height: 2.14286em !important; }
      .RadEditor_Material .RadRibbonBar .reTool.reSplitButton .reSplitArrow:before {
        margin: 9px auto auto !important; }
  .RadEditor_Material .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
    width: 2.28571em !important;
    height: 2.28571em !important; }
    .RadEditor_Material .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
      font-size: 16px !important;
      vertical-align: top !important; }
  .RadEditor_Material .RadRibbonBar .rrbMediumButton.reRibbonTool {
    height: 1.39286em !important; }
    .RadEditor_Material .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      margin-top: -0.78571em !important;
      height: 1.78571em !important; }
      .RadEditor_Material .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
        vertical-align: text-top !important; }
  .RadEditor_Material .RadRibbonBar .rrbLargeButton {
    width: inherit !important;
    height: 4.64286em !important; }
    .RadEditor_Material .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      height: 2.85714em !important; }
      .RadEditor_Material .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
        font-size: 32px !important;
        vertical-align: text-top !important; }
  .RadEditor_Material.rePopupContainer,
  .RadEditor_Material .rePopupTitle,
  .RadEditor_Material .reCommentInfoPanel,
  .RadEditor_Material .reCommentView,
  .RadEditor_Material .reCommentViewText,
  .RadEditor_Material .reCommentEdit {
    background-color: #F5F5F5 !important;
    border-color: #E0E0E0 !important; }
  .RadEditor_Material.rePopupContainer,
  .RadEditor_Material .rePopupTitle,
  .RadEditor_Material .reCommentInfoPanel,
  .RadEditor_Material .reCommentView,
  .RadEditor_Material .reCommentViewText,
  .RadEditor_Material .reCommentEdit {
    background-color: #1565c0 !important; }
  .RadEditor_Material .reTool {
    color: #757575 !important; }
  .RadEditor_Material .reTool:hover,
  .RadEditor_Material .reToolText:hover,
  .RadEditor_Material .reDropdown:hover,
  .RadEditor_Material.reInsertTable .reTool:hover:before,
  .RadEditor_Material .rePopupButton:hover,
  .RadEditor_Material .reCommentButton:hover,
  .RadEditor_Material .reAjaxSpellButton:hover {
    background-color: #EEEEEE !important;
    color: #424242 !important; }
  .RadEditor_Material .reTool:active,
  .RadEditor_Material .reTool:focus,
  .RadEditor_Material .reToolText:active,
  .RadEditor_Material .reToolText:focus,
  .RadEditor_Material .reToolSelected,
  .RadEditor_Material .reToolSelected:hover,
  .RadEditor_Material .reModes a:active,
  .RadEditor_Material .reDropdown:active,
  .RadEditor_Material .reDropdown:focus,
  .RadEditor_Material .rePopupButton:active,
  .RadEditor_Material .rePopupButton:focus,
  .RadEditor_Material .reCommentButton:active,
  .RadEditor_Material .reCommentButton:focus,
  .RadEditor_Material .reAjaxSpellButton:focus,
  .RadEditor_Material .reAjaxSpellButton:active {
    background-color: #E0E0E0 !important;
    color: #424242 !important; }
  .RadEditor_Material .reTool:hover .reSplitArrow {
    border-left-color: #BDBDBD !important; }
  .RadEditor_Material .reTool:active .reSplitArrow,
  .RadEditor_Material .reTool:focus .reSplitArrow {
    border-left-color: #1565c0 !important; }
  .RadEditor_Material .reSeparator {
    border-right-color: #E0E0E0 !important;
    border-left-color: transparent !important; }
  .RadEditor_Material .reContent {
    background-color: #ffffff !important;
    border-color: #E0E0E0 !important; }
  .RadEditor_Material.reToolBarLeft {
    padding-left: 3.78571em !important; }
  .RadEditor_Material.reToolBarRight {
    padding-right: 3.78571em !important; }
  .RadEditor_Material .reToolBarWrapperLeft,
  .RadEditor_Material .reToolBarWrapperRight {
    width: 3.3em !important; }
  .RadEditor_Material .reToolBarWrapperLeft .reSplitButton,
  .RadEditor_Material .reToolBarWrapperRight .reSplitButton {
    width: 3.71429em !important; }
  .RadEditor_Material .reToolBarWrapperLeft .reDropdown,
  .RadEditor_Material .reToolBarWrapperRight .reDropdown {
    min-width: 3.57143em !important;
    padding: 0.35714em 0em 0.35714em 0em !important; }
  .RadEditor_Material .reToolBarWrapperLeft .reSeparator,
  .RadEditor_Material .reToolBarWrapperRight .reSeparator {
    border-top-color: transparent !important;
    border-bottom-color: #E0E0E0 !important; }
  .RadEditor_Material .reTableDiv .reModule,
  .RadEditor_Material .reTableDiv .reRow {
    border-top-color: #E0E0E0 !important; }
  .RadEditor_Material .reModes a {
    background-color: #F5F5F5 !important;
    color: #424242 !important;
    border-color: #E0E0E0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadEditor_Material .reModes a:hover {
    background-color: #EEEEEE !important;
    color: #424242 !important;
    border-color: #EEEEEE !important; }
  .RadEditor_Material .reModes a:focus,
  .RadEditor_Material .reModes .reSelectedMode,
  .RadEditor_Material .reModes .reSelectedMode:hover {
    background-color: #E0E0E0 !important;
    color: #424242 !important;
    border-color: #E0E0E0 !important; }
  .RadEditor_Material .reDropdown,
  .RadEditor_Material .reDropdown.reToolDisabled,
  .RadEditor_Material .reDropdown.reToolDisabled:hover,
  .RadEditor_Material .reDropdown.reToolDisabled:active,
  .RadEditor_Material .reDropdown.reToolDisabled:focus {
    background-color: #F5F5F5 !important;
    color: #424242 !important; }
  .RadEditor_Material .reDropdown:before,
  .RadEditor_Material .reDropdown.reToolDisabled:before,
  .RadEditor_Material .reDropdown.reToolDisabled:hover:before,
  .RadEditor_Material .reDropdown.reToolDisabled:active:before,
  .RadEditor_Material .reDropdown.reToolDisabled:focus:before {
    color: #757575 !important; }
  .RadEditor_Material .reDOMElement {
    color: #1565c0 !important; }
  .RadEditor_Material .reRemoveDOMElement,
  .RadEditor_Material .reRemoveDOMElement:before {
    color: #f34235 !important; }
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"],
  .RadEditor_Material .reTableDiv input[type="text"] {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: #E0E0E0 !important; }
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"]:hover,
  .RadEditor_Material .reTableDiv input[type="text"]:hover {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: #EEEEEE !important; }
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"]:focus,
  .RadEditor_Material .reTableDiv input[type="text"]:focus,
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"]:active,
  .RadEditor_Material .reTableDiv input[type="text"]:active {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: #1565c0 !important; }
  .RadEditor_Material.reInlineEditor:hover {
    border-color: #EEEEEE !important; }
  .RadEditor_Material.RadWindow, .RadEditor_Material.RadWindow.reInlineEditor:hover {
    border-color: #E0E0E0 !important; }
  .RadEditor_Material.reInlineEditorSelected, .RadEditor_Material.reInlineEditorSelected:hover {
    border-color: #1565c0 !important; }
  .RadEditor_Material.RadWindow,
  .RadEditor_Material.RadWindow .rwContent {
    background-color: #F5F5F5 !important; }
  .RadEditor_Material .reResize {
    color: #757575 !important; }
  .RadEditor_Material.reDropDownBody {
    background-color: #ffffff !important; }
  .RadEditor_Material.reDropDownBody li:hover {
    background-color: #EEEEEE !important; }
  .RadEditor_Material.reInsertTable td {
    border-color: #E0E0E0 !important; }
  .RadEditor_Material .reFormatSetsHeader,
  .RadEditor_Material.reInsertTable .reItemOver {
    background-color: #EEEEEE !important;
    color: #212121 !important; }
  .RadEditor_Material {
    padding: 0 !important;
    border-radius: 0.14286em !important; }
  .RadEditor_Material .reToolBarWrapper {
    padding: 1px 0 0 !important;
    margin: 0 !important; }
  .RadEditor_Material .reToolBar {
    border-width: 0 0 1px !important;
    border-radius: 0 !important; }
  .RadEditor_Material .reTool {
    margin: -1px 0 0 !important;
    width: 2.57143em !important;
    height: 2.57143em !important;
    border: 0 !important;
    border-radius: 0 !important; }
  .RadEditor_Material .reDropdown {
    min-width: 3.57143em !important;
    margin: -1px 0 0 !important;
    padding: 0.07143em 0.71429em 0.07143em 1em !important;
    height: 2.42857em !important;
    line-height: 2.42857em !important;
    border-width: 0 !important;
    border-radius: 0.14286em !important; }
  .RadEditor_Material .reDropdown:before {
    right: 0em !important; }
  .RadEditor_Material .reSplitButton {
    width: 4.28571em !important; }
  .RadEditor_Material .reSplitArrow {
    width: 2.28571em !important;
    height: 2.57143em !important;
    border-left: 0 !important; }
  .RadEditor_Material a.reToolIcon.reSplitButton:before {
    margin: auto 0 auto .7142em !important; }
  .RadEditor_Material .reContent {
    margin: -3px 0 0 !important;
    border-width: 1px 0 0 !important; }
  .RadEditor_Material .reRow {
    margin: 0 !important; }
  .RadEditor_Material .reHTMLStructure {
    width: auto !important; }
  .RadEditor_Material.reDropDownBody .reToolBar {
    background-color: #ffffff !important; }
  .RadEditor_Material.reDropDownBody ul {
    padding: 0 !important; }
  .RadEditor_Material.reDropDownBody li {
    padding: 0.35714em !important; }
  .RadEditor_Material.reDropDownBody .reTool {
    height: auto !important; }
  .RadEditor_Material.reDropDownBody .reCustomLinks a {
    color: #1565c0 !important; }
  .RadEditor_Material .reRow {
    padding: 0.71429em 1em !important; }
  .RadEditor_Material .reModes a {
    width: 8.57143em !important;
    height: 2.57143em !important;
    margin: 0 !important;
    padding: 0.57143em 0.35714em 0.85714em !important;
    border-radius: 0 !important;
    text-transform: uppercase !important; }
  .RadEditor_Material .reModes a:first-child {
    border-radius: 0.14286em 0em 0em 0.14286em !important; }
  .RadEditor_Material .reModes a:last-child {
    border-radius: 0em 0.14286em 0.14286em 0em !important; }
  .RadEditor_Material .reResize:before {
    margin: .85em 0 0 .15em !important; }
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"],
  .RadEditor_Material .reTableDiv input[type="text"] {
    border-width: 0 0 1px !important;
    padding: 0.64286em 0em !important;
    vertical-align: middle !important; }
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"]:focus,
  .RadEditor_Material .reTableDiv input[type="text"]:focus,
  .RadEditor_Material.reDropDownBody.reAjaxSpellCheck input[type="text"]:active,
  .RadEditor_Material .reTableDiv input[type="text"]:active {
    border-width: 0 0 2px !important;
    padding: 0.60714em 0em !important; }
  .RadEditor_Material .reAltRow .reLabel {
    padding: 0.14286em 0.71429em 0.35714em 0.42857em !important;
    vertical-align: middle !important; }
  .RadEditor_Material .reRow .reSpinBoxButtons {
    top: 0.71429em !important; }
  .RadEditor_Material .reTableDiv .reRow .reSpinBox {
    width: 5em !important; }
  .RadEditor_Material .reTableDiv .reRow .reSpinBox input[type="text"] {
    width: 5em !important;
    padding: 0.64286em 0.64286em 0.64286em 0em !important;
    text-align: left !important; }
  .RadEditor_Material .reLabel + span {
    margin: 0em 1.42857em 0em 0em !important; }
  .RadEditor_Material.reDropDownBody.reColorPicker li {
    width: 1.42857em !important;
    height: 1.42857em !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important; }
  .RadEditor_Material.reDropDownBody.reColorPicker li div {
    width: 1.42857em !important;
    height: 1.42857em !important; }
  .RadEditor_Material.reDropDownBody.reColorPicker .reClear {
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    overflow: hidden !important; }
  .RadEditor_Material .reCustomColor {
    display: inline-block !important;
    padding: 0.71429em !important;
    color: #1565c0 !important; }
  .RadEditor_Material.reDropDownBody.reColorPicker .reColorPickerFooter {
    height: 3.21429em !important;
    border: 0 !important;
    border-radius: 0.14286em !important; }
  .RadEditor_Material.reDropDownBody.reColorPicker .reColorPickerFooter span {
    height: 2.28571em !important;
    line-height: 2.28571em !important;
    border: 1px solid #E0E0E0 !important;
    box-sizing: border-box !important; }
  .RadEditor_Material .reTool.reToolText {
    padding: 0 15px !important;
    line-height: 2.57143em !important; }
  .RadEditor_Material .reToolIcon.reTool.reToolText:before {
    margin: 0.14286em 0.21429em 0em 0em !important;
    vertical-align: initial !important; }
  .RadEditor_Material .reTool.reToolIcon.reSplitButton.reToolText:before {
    margin: 0em 0.21429em !important;
    vertical-align: initial !important; }
  .RadEditor_Material .RadRibbonBar .reTool {
    width: 2.35714em !important;
    height: 2.35714em !important;
    border-radius: 0 !important;
    border-width: 1px 0 1px 1px !important; }
    .RadEditor_Material .RadRibbonBar .reTool.rrbSmallButton {
      width: 1.42857em !important;
      height: 1.42857em !important; }
    .RadEditor_Material .RadRibbonBar .reTool:first-child {
      border-radius: 0.14286em 0em 0em 0.14286em !important; }
    .RadEditor_Material .RadRibbonBar .reTool:last-child {
      border-radius: 0em 0.14286em 0.14286em 0em !important;
      border-width: 1px !important; }
  .RadEditor_Material .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
    width: 2.28571em !important;
    height: 2.28571em !important; }
    .RadEditor_Material .RadRibbonBar .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
      font-size: 1.35714em !important;
      font-size: 1em \9 !important;
      vertical-align: top !important; }
  .RadEditor_Material .RadRibbonBar .rrbMediumButton.reRibbonTool {
    height: 1.39286em !important; }
    .RadEditor_Material .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      margin-top: -0.78571em !important;
      height: 1.78571em !important; }
      .RadEditor_Material .RadRibbonBar .rrbMediumButton.reRibbonTool .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
        vertical-align: text-top !important; }
  .RadEditor_Material .RadRibbonBar .rrbLargeButton {
    width: inherit !important;
    height: 4.64286em !important; }
    .RadEditor_Material .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon {
      height: 2.85714em !important; }
      .RadEditor_Material .RadRibbonBar .rrbLargeButton .rrbImagePlaceholder.reToolIcon.reRibbonToolIcon:before {
        font-size: 32px !important;
        vertical-align: text-top !important; }
  .RadEditor_Material.reRtl .reDropdown {
    padding: 0.07143em 1em 0.07143em 0.71429em !important; }
  .RadEditor_Material.reRtl .reDropdown:before {
    right: auto !important;
    left: 0 !important;
    padding: 0 !important; }
  .RadEditor_Material.reRtl .reSplitArrow {
    border-right: 0 !important; }
  .RadEditor_Material.reRtl a.reToolIcon.reSplitButton:before {
    margin: auto .7142em auto 0 !important; }
  .RadEditor_Material.reRtl .reModule.reStatistic {
    top: 0.92857em !important; }
  .RadEditor_Material .reModes a.t-ripple-effect {
    border: 0px solid transparent !important; }

.RadWindow_Material .rwContent.rwExternalContent {
  border-width: 0 1px 1px !important; }

.RadWindow_Material .reTablePropertyControlCell .lightTable {
  margin: 3px 4px 0 4px !important; }

.RadWindow_Material .reControlsLayout {
  margin: 5px 4px 0 4px !important; }

.RadWindow_Material .reDialogLabelLight[for="re1_ImageSrc"] span {
  width: 82px !important; }

.reTool .reNoAlignment {
  color: #424242 !important; }

/*Light dialogs CSS - should be reworked */
.reInsertImageWrapper, .reInsertLinkWrapper, .reInsertTableLightWrapper {
  padding: 20px 0 0 0 !important; }

.reInsertLinkWrapper .reControlsLayout td {
  padding: 3px 0 3px 3px !important; }

.reInsertImageWrapper .reControlsLayout td {
  padding: 3px 0 !important; }

.reConfirmCancelButtonsTblLight button {
  width: 75px !important; }

.reControlsLayout {
  width: 100% !important;
  height: 100% !important; }

.reControlsLayout .reControlCellLight input {
  width: 215px !important; }

.reControlsLayout .reControlCellLight select {
  width: 220px !important; }

.reControlsLayout .reConfirmCancelButtonsTblLight {
  height: auto !important;
  margin: 12px 0 !important;
  text-align: center !important;
  width: 100% !important; }

.reControlsLayout td,
.reControlsLayout .reImgPropertyControlCell td,
.reControlsLayout .reTablePropertyControlCell td {
  padding: 2px !important; }

.reControlsLayout .reTablePropertyControlCell td input[type="text"],
.reControlsLayout .reTablePropertyControlCell td input[type="password"] {
  padding: 2px 1px 0 !important; }

.reImgPropertyControlCell table {
  width: 100% !important;
  height: 100% !important; }

.reControlsLayout td.reImgPropertyControlCell {
  padding: 0 22px 0 38px !important; }

.reInsertImageWrapper .reControlsLayout .reControlCellLight input {
  width: 190px !important; }

.reTablePropertyControlCell .short {
  width: 80px !important; }

.reTablePropertyControlCell .lightTable {
  margin: -10px 4px 0 4px !important; }

table.reControlsLayout .reTablePropertyControlCell input.rfdIgnore,
table.reControlsLayout .reImgPropertyControlCell input.rfdIgnore {
  width: 40px !important; }
