.RadFileExplorer_Material {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadFileExplorer_Material,
  .RadFileExplorer_Material .rfeFilterTxt {
    border-color: #E0E0E0 !important; }
  .RadFileExplorer_Material .rfeAddressBox,
  .RadFileExplorer_Material .rfeAddressBox:hover,
  .RadFileExplorer_Material .rfeAddressBox:active,
  .RadFileExplorer_Material .rfeAddressBox:focus {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important; }
  .RadFileExplorer_Material .rfeLink {
    background-color: #F5F5F5 !important;
    color: #424242 !important; }
  .RadFileExplorer_Material .rfeLink:hover {
    background-color: #EEEEEE !important;
    color: #424242 !important; }
  .RadFileExplorer_Material .rfeSelectedLink,
  .RadFileExplorer_Material .rfeSelectedLink:hover {
    background-color: #E0E0E0 !important;
    color: #424242 !important; }
  .RadFileExplorer_Material .rfeFilterContainer {
    background-color: #ffffff !important; }
  .RadFileExplorer_Material .rfeDropZone {
    background-color: rgba(255, 255, 255, 0.8) !important; }
  .RadFileExplorer_Material .rfePageControlContainer {
    background-color: #F5F5F5 !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important; }
  .RadFileExplorer_Material .rfeThumbnailView .rlvI .rfeFileCount span,
  .RadFileExplorer_Material .rfeDropUploadInfoPanel {
    background-color: #ffffff !important;
    color: #424242 !important; }
  .RadFileExplorer_Material .rfePageControlContainer span {
    color: #424242 !important; }
  .RadFileExplorer_Material {
    border-radius: 0.14286em !important; }
  .RadFileExplorer_Material .rfeAddressBox {
    padding: 0.67857em 1.14286em !important; }
  .RadFileExplorer_Material .rfeLink {
    border-radius: 0.14286em !important; }
  .RadFileExplorer_Material .rfePageInfo {
    font-size: 0.85714em !important;
    font-weight: 500 !important;
    color: #757575 !important; }
  .RadFileExplorer_Material .rfeCurrentPage,
  .RadFileExplorer_Material .rfeTotalPages,
  .RadFileExplorer_Material .rfeStartItem,
  .RadFileExplorer_Material .rfeEndItem,
  .RadFileExplorer_Material .rfeTotalItems {
    font-size: 1.16666666em !important;
    font-weight: normal !important;
    color: #424242 !important; }
  .RadFileExplorer_Material .RadToolBar_Material {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    width: auto !important;
    height: 36px !important;
    padding: 0 !important;
    border-width: 0 !important;
    overflow: visible !important;
    font: inherit !important; }
    .RadFileExplorer_Material .RadToolBar_Material .rtbButton:not(.rtbSplitButton),
    .RadFileExplorer_Material .RadToolBar_Material .rtbSplitButton .rtbSplBtnActivator,
    .RadFileExplorer_Material .RadToolBar_Material .rtbArrow {
      padding: 8px 10px !important; }
    .RadFileExplorer_Material .RadToolBar_Material .rtbMore {
      padding: 8px !important; }
    .RadFileExplorer_Material .RadToolBar_Material:before {
      padding: 8px 0 !important; }

.RadWindow_Material .rfeUploadInfoPanel {
  background-color: #F5F5F5 !important;
  color: #424242 !important;
  border-color: #E0E0E0 !important; }

.RadWindow_Material.rfeDeleteDialog .rwDialogMessage {
  min-height: 120px !important; }

.RadWindow_Material .rwDialogMessage,
.RadWindow_Material .rfeUploadInfoPanel dt {
  font-size: 0.85714em !important;
  font-weight: 500 !important;
  color: #757575 !important; }

.RadWindow_Material .rwDialog.rwConfirmDialog {
  background-position: 30px 30% !important; }

.RadWindow_Material.rfeDeleteDialog div.rwDialogButtons {
  position: absolute !important; }
