.RadFilter_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadFilter_Material .rfMid,
  .RadFilter_Material .rfTools {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 0 !important;
    border-radius: 0 !important; }
  .RadFilter_Material .rfOper,
  .RadFilter_Material .rfField,
  .RadFilter_Material .rfExp,
  .RadFilter_Material .rfAddGr,
  .RadFilter_Material .rfAddExp,
  .RadFilter_Material .rfDel {
    border: 0 !important;
    transition: color ease-in-out .2s, background-color ease-in-out .2s !important; }
    .RadFilter_Material .rfOper:hover,
    .RadFilter_Material .rfField:hover,
    .RadFilter_Material .rfExp:hover,
    .RadFilter_Material .rfAddGr:hover,
    .RadFilter_Material .rfAddExp:hover,
    .RadFilter_Material .rfDel:hover {
      background-color: #EEEEEE !important; }
  .RadFilter_Material .rfOper,
  .RadFilter_Material .rfField,
  .RadFilter_Material .rfExp {
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    padding-left: 15px !important; }
  .RadFilter_Material .rfAddExp,
  .RadFilter_Material .rfAddGr,
  .RadFilter_Material .rfDel {
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    padding: 13px !important; }
  .RadFilter_Material .rfOper,
  .RadFilter_Material .rfField {
    margin-left: -1px !important; }
  .RadFilter_Material .rfDel {
    margin-right: -1px !important; }
  .RadFilter_Material .rfDel:hover,
  .RadFilter_Material .rfDel:focus,
  .RadFilter_Material .rfDel:active {
    color: #f34235 !important; }
  .RadFilter_Material .rfText {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding: 8px 0 7px !important;
    border-width: 0 0 1px !important; }
    .RadFilter_Material .rfText:hover {
      border-color: #BDBDBD !important;
      color: #424242 !important; }
  .RadFilter_Material .rfCheckBox {
    margin-top: -1px !important;
    margin-bottom: -1px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important; }
  .RadFilter_Material .rfPreview {
    color: #424242 !important; }
    .RadFilter_Material .rfPreview strong {
      opacity: .7 !important; }
    .RadFilter_Material .rfPreview em,
    .RadFilter_Material .rfPreview .rfBr {
      color: #1565c0 !important; }
  .RadFilter_Material .rfApply a,
  .RadFilter_Material .rfApply > span {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadFilter_Material .rfApply a input,
    .RadFilter_Material .rfApply > span input {
      padding: 6px 12px !important; }
    .RadFilter_Material .rfApply a:hover,
    .RadFilter_Material .rfApply > span:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
  .RadFilter_Material .RadInput,
  .RadFilter_Material .RadPicker,
  .RadFilter_Material .RadComboBox,
  .RadFilter_Material .RadDropDownList {
    margin-top: 2px !important;
    margin-bottom: 2px !important; }
