.RadForm_Material {
    color: #424242 !important;
    background-color: #ffffff !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    /* Primary Button styles */
    /* Flat Button styles */
}

    .RadForm_Material.rfdZone {
        background-color: #ffffff !important;
    }

    .RadForm_Material .rfdTextInput,
    .RadForm_Material.rfdTextbox .rfdTextInput,
    .RadForm_Material.rfdTextarea textarea,
    .RadForm_Material.rfdFieldset fieldset,
    .RadForm_Material.rfdFieldset legend,
    .RadForm_Material .rfdHeading,
    .RadForm_Material .rfdValidationSummaryControl,
    .RadForm_Material .rfdLoginControl {
        color: #424242 !important;
        font-family: "Roboto", "Noto", sans-serif !important;
    }

    .RadForm_Material .rfdHeading {
        border-bottom-color: #E0E0E0 !important;
    }

    .RadForm_Material.RadForm.rfdFieldset fieldset {
        border-color: #E0E0E0 !important;
        background-color: #F5F5F5 !important;
    }

    .RadForm_Material .rfdSkinnedButton {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #F5F5F5 !important;
        transition: all .2s ease-in-out !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    }

        .RadForm_Material .rfdSkinnedButton:hover {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

        .RadForm_Material .rfdSkinnedButton:active,
        .RadForm_Material .rfdClickedButton,
        .RadForm_Material .rfdFocusedButton {
            border-color: #E0E0E0 !important;
            color: #424242 !important;
            background-color: #E0E0E0 !important;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important;
        }

        .RadForm_Material .rfdSkinnedButton.rfdPrimaryButton {
            border-color: #1565c0 !important;
            color: #ffffff !important;
            background-color: #1565c0 !important;
        }

            .RadForm_Material .rfdSkinnedButton.rfdPrimaryButton:hover {
                border-color: #3949AB !important;
                color: #ffffff !important;
                background-color: #3949AB !important;
            }

            .RadForm_Material .rfdSkinnedButton.rfdPrimaryButton:active, .RadForm_Material .rfdSkinnedButton.rfdPrimaryButton.rfdClickedButton, .RadForm_Material .rfdSkinnedButton.rfdPrimaryButton.rfdFocusedButton {
                border-color: #303F9F !important;
                color: #ffffff !important;
                background-color: #303F9F !important;
            }

    .RadForm_Material.rfdButton .rfdSkinnedButton.rfdInputDisabled,
    .RadForm_Material.rfdButton .rfdSkinnedButton.rfdPrimaryButton.rfdInputDisabled {
        background-color: #E0E0E0 !important;
        color: #424242 !important;
        border-color: #E0E0E0 !important;
        box-shadow: none !important;
    }

    .RadForm_Material .rfdSkinnedButton.rfdFlatButton {
        padding: 8px !important;
        color: #424242 !important;
        background-color: transparent !important;
        border: 0 none !important;
        box-shadow: none !important;
        transition: none !important;
    }

        .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled.rfdPrimaryButton:hover, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled.rfdPrimaryButton:active, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled.rfdPrimaryButton.rfdClickedButton, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled.rfdPrimaryButton.rfdFocusedButton, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled[type="button"], .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled[type="submit"], .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdInputDisabled[type="reset"] {
            padding: 8px !important;
            color: #424242 !important;
            background-color: transparent !important;
            transition: none !important;
        }

        .RadForm_Material .rfdSkinnedButton.rfdFlatButton:hover {
            color: #424242 !important;
            background-color: rgba(66, 66, 66, 0.12) !important;
        }

        .RadForm_Material .rfdSkinnedButton.rfdFlatButton:active, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdClickedButton, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdFocusedButton {
            background-color: rgba(66, 66, 66, 0.24) !important;
        }

        .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdPrimaryButton {
            color: #1565c0 !important;
        }

            .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdPrimaryButton:hover {
                color: #1565c0 !important;
                background-color: rgba(63, 81, 181, 0.12) !important;
            }

            .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdPrimaryButton:active, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdPrimaryButton.rfdClickedButton, .RadForm_Material .rfdSkinnedButton.rfdFlatButton.rfdPrimaryButton.rfdFocusedButton {
                background-color: rgba(63, 81, 181, 0.24) !important;
            }

    .RadForm_Material .rfdTextInput,
    .RadForm_Material.rfdTextarea textarea {
        background-color: transparent !important;
        color: #424242 !important;
        border-color: transparent transparent #E0E0E0 !important;
    }

        .RadForm_Material .rfdTextInput:hover,
        .RadForm_Material.rfdTextarea textarea:hover {
            background-color: transparent !important;
            color: #424242 !important;
            border-color: transparent transparent #BDBDBD !important;
        }

        .RadForm_Material .rfdTextInput:active,
        .RadForm_Material.rfdTextarea textarea:active,
        .RadForm_Material .rfdTextInput:focus,
        .RadForm_Material.rfdTextarea textarea:focus {
            background-color: transparent !important;
            color: #424242 !important;
            border-color: transparent transparent #1565c0 !important;
        }

            .RadForm_Material .rfdTextInput:disabled,
            .RadForm_Material .rfdTextInput:focus:disabled,
            .RadForm_Material .rfdTextInput:active:disabled,
            .RadForm_Material.rfdTextarea textarea:disabled {
                background-color: transparent !important;
                color: #757575 !important;
                border-width: 0 0 1px !important;
                border-color: transparent transparent #EEEEEE !important;
            }

    .RadForm_Material .rfdCheckboxChecked .t-ripple-effect-icon,
    .RadForm_Material .rfdRadioChecked .t-ripple-effect-icon,
    .RadForm_Material .rfdCheckboxUnchecked .t-ripple-effect-icon,
    .RadForm_Material .rfdRadioUnchecked .t-ripple-effect-icon {
        display: inline-block !important;
        position: absolute !important;
        z-index: 1 !important;
        width: 1.71429em !important;
        height: 1.71429em !important;
    }

    .RadForm_Material .rfdRippleContainer {
        top: 0.21429em !important;
        left: 0 !important;
    }

    .RadForm_Material .rfdCheckboxChecked .t-ripple-container,
    .RadForm_Material .rfdRadioChecked .t-ripple-container,
    .RadForm_Material .rfdCheckboxUnchecked .t-ripple-container,
    .RadForm_Material .rfdRadioUnchecked .t-ripple-container {
        top: -0.21429em !important;
        top: -0.14286em \9 !important;
        left: -0.21429em !important;
        left: -0.14286em \9 !important;
    }

    .RadForm_Material _:-ms-fullscreen, .RadForm_Material .rfdCheckboxChecked .t-ripple-container,
    .RadForm_Material _:-ms-fullscreen, .RadForm_Material .rfdCheckboxUnchecked .t-ripple-container,
    .RadForm_Material _:-ms-fullscreen, .RadForm_Material .rfdRadioChecked .t-ripple-container,
    .RadForm_Material _:-ms-fullscreen, .RadForm_Material .rfdRadioUnchecked .t-ripple-container {
        top: -0.14286em !important;
        left: -0.14286em !important;
    }

    .RadForm_Material .rfdCheckboxUnchecked:before,
    .RadForm_Material .rfdRadioUnchecked:before,
    .RadForm_Material .rfdCheckboxChecked:hover:before,
    .RadForm_Material .rfdRadioChecked:hover:before,
    .RadForm_Material .rfdCheckboxUnchecked .rfdRippleContainer,
    .RadForm_Material .rfdRadioUnchecked .rfdRippleContainer,
    .RadForm_Material .rfdCheckboxChecked:hover .rfdRippleContainer,
    .RadForm_Material .rfdRadioChecked:hover .rfdRippleContainer {
        color: #757575 !important;
    }

    .RadForm_Material .rfdCheckboxChecked:before,
    .RadForm_Material .rfdRadioChecked:before,
    .RadForm_Material .rfdCheckboxUnchecked:hover:before,
    .RadForm_Material .rfdRadioUnchecked:hover:before,
    .RadForm_Material .rfdCheckboxChecked .rfdRippleContainer,
    .RadForm_Material .rfdRadioChecked .rfdRippleContainer,
    .RadForm_Material .rfdCheckboxUnchecked:hover .rfdRippleContainer,
    .RadForm_Material .rfdRadioUnchecked:hover .rfdRippleContainer {
        color: #0d47a1 !important;
    }

    .RadForm_Material label.rfdCheckboxUnchecked.rfdInputDisabled,
    .RadForm_Material label.rfdRadioUnchecked.rfdInputDisabled,
    .RadForm_Material.RadForm .rfdCheckboxChecked.rfdInputDisabled,
    .RadForm_Material.RadForm .rfdRadioChecked.rfdInputDisabled,
    .RadForm_Material .rfdCheckboxUnchecked.rfdInputDisabled:hover,
    .RadForm_Material .rfdRadioUnchecked.rfdInputDisabled:hover {
        color: #757575 !important;
    }

    .RadForm_Material .rfdRadioChecked:before,
    .RadForm_Material .rfdCheckboxChecked:before {
        color: #0d47a1 !important;
    }

    .RadForm_Material .rfdRadioUnchecked:hover:before,
    .RadForm_Material .rfdCheckboxUnchecked:hover:before,
    .RadForm_Material .rfdRadioChecked:hover:before,
    .RadForm_Material .rfdCheckboxChecked:hover:before {
        color: #0a6ebd !important;
    }

    .RadForm_Material .rfdRealInput:focus + .rfdRadioUnchecked:before,
    .RadForm_Material .rfdRealInput:focus + .rfdCheckboxUnchecked:before {
        box-shadow: 0 0 1px 1px rgba(66, 66, 66, 0.5) !important;
    }

    .RadForm_Material .rfdRealInput:focus + .rfdRadioChecked:before,
    .RadForm_Material .rfdRealInput:focus + .rfdCheckboxChecked:before {
        box-shadow: 0 0 1px 1px rgba(33, 150, 243, 0.5) !important;
    }

    .RadForm_Material label.rfdCheckboxUnchecked,
    .RadForm_Material label.rfdCheckboxChecked,
    .RadForm_Material label.rfdRadioUnchecked,
    .RadForm_Material label.rfdRadioChecked {
        padding: 0.3125em 0em 0.1875em 1.5em !important;
    }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_Material label.rfdCheckboxUnchecked,
    .RadForm_Material label.rfdCheckboxChecked,
    .RadForm_Material label.rfdRadioUnchecked,
    .RadForm_Material label.rfdRadioChecked {
        padding: 0.3125em 0em 0.1875em 1.5em !important;
    }
}

.RadForm_Material .rfdSelect_Material {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: transparent !important;
}

    .RadForm_Material .rfdSelect_Material:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important;
        border-color: transparent !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    }

    .RadForm_Material .rfdSelect_Material:active,
    .RadForm_Material .rfdSelect_Material:focus {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #E0E0E0 !important;
        border-color: transparent !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    }

    .RadForm_Material .rfdSelect_Material.rfdSelectDisabled,
    .RadForm_Material .rfdSelect_Material.rfdSelectDisabled:hover,
    .RadForm_Material .rfdSelect_Material.rfdSelectDisabled:active,
    .RadForm_Material .rfdSelect_Material.rfdSelectDisabled:focus {
        background-color: transparent !important;
    }

        .RadForm_Material .rfdSelect_Material.rfdSelectDisabled:hover:before,
        .RadForm_Material .rfdSelect_Material.rfdSelectDisabled:focus:before,
        .RadForm_Material .rfdSelect_Material.rfdSelectDisabled:active:before {
            display: block !important;
        }

    .RadForm_Material .rfdSelect_Material.rfdDropDownExpanded {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #ffffff !important;
        border-color: transparent !important;
    }

.RadForm_Material.rfdScrollBars .rfdSelectBox::-webkit-scrollbar,
.RadForm_Material.rfdScrollBars .rfdSelectBox::-webkit-scrollbar-thumb:vertical,
.RadForm_Material.rfdScrollBars .rfdSelectBox::-webkit-scrollbar-thumb:horizontal,
.RadForm_Material.rfdScrollBars form::-webkit-scrollbar,
.RadForm_Material.rfdScrollBars form::-webkit-scrollbar-thumb:vertical,
.RadForm_Material.rfdScrollBars form::-webkit-scrollbar-thumb:horizontal {
    background-color: #F5F5F5 !important;
}

.RadForm_Material.rfdScrollBars textarea::-webkit-scrollbar-corner {
    background-color: #e6e6e6 !important;
}

.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-thumb:vertical,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-thumb:horizontal {
    border-color: #E0E0E0 !important;
    background-color: #F5F5F5 !important;
}

.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:vertical:decrement,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:vertical:increment,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:horizontal:decrement,
.RadForm_Material.rfdScrollBars ::-webkit-scrollbar-button:horizontal:increment {
    background-image: none !important;
}

.RadForm_Material.rfdGrids .rfdTable {
    border: 1px solid #E0E0E0 !important;
    background: #ffffff !important;
    color: #424242 !important;
    font-family: inherit !important;
    font-size: inherit !important;
}

    .RadForm_Material.rfdGrids .rfdTable th {
        border-bottom: 1px solid #E0E0E0 !important;
        border-left: 1px solid #E0E0E0 !important;
        background-color: #fafafa !important;
        color: #424242 !important;
        padding: 7px;
        line-height: 30px;
    }

    .RadForm_Material.rfdGrids .rfdTable a {
        color: #2962ff !important;
    }

.RadForm_Material .rfdValidationSummaryControl,
.RadForm_Material .rfdLoginControl {
    background-color: #F5F5F5 !important;
    border: 1px solid #E0E0E0 !important;
}

.RadForm_Material a.rfdLoginControl,
.RadForm_Material a.rfdLoginControl:active,
.RadForm_Material a.rfdLoginControl:visited {
    color: #2962ff !important;
}

    .RadForm_Material a.rfdLoginControl:hover {
        color: #fb8c00 !important;
    }

.RadForm_Material.rfdRoundedCorners.rfdTextbox .rfdTextInput,
.RadForm_Material.rfdFieldset.rfdRoundedCorners.rfdFieldset fieldset,
.RadForm_Material.rfdRoundedCorners .rfdSelect,
.RadForm_Material.rfdRoundedCorners .rfdSelectBox li:first-child,
.RadForm_Material.rfdRoundedCorners legend,
.RadForm_Material.rfdRoundedCorners .rfdSelectBoxDropDown {
    border-radius: 4px !important;
}

    .RadForm_Material.rfdRoundedCorners .rfdSkinnedButton,
    .RadForm_Material.rfdRoundedCorners .rfdSelect:hover,
    .RadForm_Material.rfdRoundedCorners .rfdSelect:active,
    .RadForm_Material.rfdRoundedCorners .rfdSelect:focus,
    .RadForm_Material.rfdRoundedCorners .rfdSelectBox,
    .RadForm_Material.rfdRoundedCorners .rfdSelectBox ul {
        border-radius: 4px !important;
    }

        .RadForm_Material.rfdRoundedCorners .rfdSelectBox.rfdSelectBoxDropDown,
        .RadForm_Material.rfdRoundedCorners .rfdSelectBox.rfdSelectBoxDropDown ul {
            border-radius: 0em 0em 0.14286em 0.14286em !important;
        }

.RadForm_Material .rfdSkinnedButton {
    border-width: 0 !important;
    padding: 8px 13px !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.RadForm_Material .rfdTextInput,
.RadForm_Material.rfdTextarea textarea {
    border: 1px solid #e0e0e0 !important;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}

.RadForm_Material .rfdTextInput {
    line-height: 1.42857em !important;
    height: calc(1.42857em + 16px) \9 !important;
}

.RadForm_Material _:-ms-fullscreen, .RadForm_Material .rfdTextInput {
    height: calc(1.42857em + 16px) !important;
}

@media \0screen\,screen\9 {
    .RadForm_Material .rfdTextInput {
        height: 36px !important;
    }
}

.RadForm_Material .rfdTextInput:active,
.RadForm_Material .rfdTextInput:focus,
.RadForm_Material.rfdTextarea textarea:active,
.RadForm_Material.rfdTextarea textarea:focus {
    padding: 7px 0 6px !important;
    border-width: 1px 0 2px !important;
}

.RadForm_Material .rfdSelect_Material {
    border: 1px solid #E0E0E0 !important;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    min-width: 4.57143em !important;
    padding: 8px 13px !important;
}

    .RadForm_Material .rfdSelect_Material:before {
        display: block !important;
        position: absolute !important;
        right: 13px !important;
        bottom: 0 !important;
        left: 11px !important;
        content: "" !important;
        border: none !important;
    }

    .RadForm_Material .rfdSelect_Material:hover:before,
    .RadForm_Material .rfdSelect_Material:focus:before,
    .RadForm_Material .rfdSelect_Material:active:before {
        display: none !important;
    }

.RadForm_Material .p-i-radio-checked {
    color: #757575 !important;
}

.RadForm_Material .p-i-radio, .RadForm_Material .p-i-radio-checked {
    margin: 0.28571em 0em 0em !important;
}

.RadForm_Material.rfdLabel label,
.RadForm_Material.rfdLabel .rfdAspLabel {
    color: #757575 !important;
    vertical-align: middle !important;
    line-height: 2.57143em !important;
    font-size: 0.85714em !important;
    font-weight: 500 !important;
}

.RadForm_Material.rfdCheckbox .rfdCheckboxChecked,
.RadForm_Material.rfdCheckbox .rfdCheckboxUnchecked,
.RadForm_Material.rfdRadio .rfdRadioChecked,
.RadForm_Material.rfdRadio .rfdRadioUnchecked {
    padding: 0.35714em 0em 0em 2.35714em !important;
    font-size: 0.85714em !important;
    font-weight: 500 !important;
    line-height: 1.42857em !important;
}

    .RadForm_Material.rfdCheckbox .rfdCheckboxChecked:before,
    .RadForm_Material.rfdCheckbox .rfdCheckboxUnchecked:before,
    .RadForm_Material.rfdRadio .rfdRadioChecked:before,
    .RadForm_Material.rfdRadio .rfdRadioUnchecked:before {
        top: 0.21429em !important;
        font-size: 18px !important;
        font-family: 'Material Icons' !important;
        font-weight: normal !important;
        border-radius: 45px !important;
    }

    .RadForm_Material.rfdCheckbox .rfdCheckboxUnchecked:before {
        content: "\e835" !important;
    }

    .RadForm_Material.rfdCheckbox .rfdCheckboxChecked:before {
        content: "\e834" !important;
    }

    .RadForm_Material.rfdRadio .rfdRadioUnchecked:before {
        content: "\e836" !important;
    }

    .RadForm_Material.rfdRadio .rfdRadioChecked:before {
        content: "\e837" !important;
    }

.RadForm_Material .rfdRtl .rfdSelect:before {
    right: 2px !important;
    left: 2px !important;
}

.RadForm_Material.rfdLabel .rfdRtl label,
.RadForm_Material.rfdLabel .rfdRtl .rfdAspLabel {
    padding: 0.14286em 1.78571em 0em 0.71429em !important;
    padding: 0em 1.78571em 0em 0.71429em \9 !important;
}

.RadForm_Material.rfdRtl.rfdCheckbox .rfdCheckboxChecked,
.RadForm_Material.rfdRtl.rfdCheckbox .rfdCheckboxUnchecked,
.RadForm_Material.rfdRtl.rfdRadio .rfdRadioChecked,
.RadForm_Material.rfdRtl.rfdRadio .rfdRadioUnchecked,
.RadForm_Material.rfdCheckbox .rfdRtl .rfdCheckboxChecked,
.RadForm_Material.rfdCheckbox .rfdRtl .rfdCheckboxUnchecked,
.RadForm_Material.rfdRadio .rfdRtl .rfdRadioChecked,
.RadForm_Material.rfdRadio .rfdRtl .rfdRadioUnchecked {
    padding: 0.35714em 2.35714em 0em 0em !important;
}

@supports (-ms-accelerator: true) {
    .RadForm_Material.rfdCheckbox .rfdCheckboxChecked,
    .RadForm_Material.rfdCheckbox .rfdCheckboxUnchecked,
    .RadForm_Material.rfdRadio .rfdRadioChecked,
    .RadForm_Material.rfdRadio .rfdRadioUnchecked,
    .RadForm_Material.rfdRtl.rfdCheckbox .rfdCheckboxChecked,
    .RadForm_Material.rfdRtl.rfdCheckbox .rfdCheckboxUnchecked,
    .RadForm_Material.rfdRtl.rfdRadio .rfdRadioChecked,
    .RadForm_Material.rfdRtl.rfdRadio .rfdRadioUnchecked,
    .RadForm_Material.rfdCheckbox .rfdRtl .rfdCheckboxChecked,
    .RadForm_Material.rfdCheckbox .rfdRtl .rfdCheckboxUnchecked,
    .RadForm_Material.rfdRadio .rfdRtl .rfdRadioChecked,
    .RadForm_Material.rfdRadio .rfdRtl .rfdRadioUnchecked {
        padding-top: 0.21429em !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadForm_Material.rfdCheckbox .rfdCheckboxChecked:before,
    .RadForm_Material.rfdCheckbox .rfdCheckboxUnchecked:before,
    .RadForm_Material.rfdRadio .rfdRadioChecked:before,
    .RadForm_Material.rfdRadio .rfdRadioUnchecked:before {
        top: 0.14286em !important;
    }
}

.rfdSelectBox_Material {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
}

    .rfdSelectBox_Material.rfdSelectBoxDropDown {
        padding: 8px 0 !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
        border-color: #E0E0E0 transparent transparent !important;
    }

    .rfdSelectBox_Material li {
        padding: 6px 13px !important;
    }

        .rfdSelectBox_Material li:hover,
        .rfdSelectBox_Material .rfdSelect_hovered,
        .rfdSelectBox.rfdSelectBox_Material li:hover {
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

    .rfdSelectBox_Material .rfdSelect_selected,
    .rfdSelectBox.rfdSelectBox_Material .rfdSelect_selected:hover {
        color: #0d47a1 !important;
        background-color: transparent !important;
    }
