.RadGantt_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadGantt_Material .k-loading-color {
    background-color: #ffffff !important; }
  .RadGantt_Material .k-loading-image {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading.gif")%>') !important; }
  .RadGantt_Material .rgtHeader {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    min-height: calc(1.42857143em + 16px) !important;
    padding: 5px !important; }
  .RadGantt_Material .rgtActions .radButton {
    border-width: 0 !important;
    background: none !important; }
  .RadGantt_Material .rgtViews {
    margin: -5px -5px -5px 5px !important; }
    .RadGantt_Material .rgtViews .radButton {
      padding: 13px !important;
      border-width: 0 !important;
      border-radius: 0 !important;
      background: none !important; }
  .RadGantt_Material .rgtFooter {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }
  .RadGantt_Material .rgtTreelist {
    background-color: #F5F5F5 !important; }
  .RadGantt_Material .rgtTreelist .radGridHeader {
    text-align: left !important; }
  .RadGantt_Material .rgtTreelist .radGridHeader th {
    padding: 40px 16px 13px !important; }
  .RadGantt_Material .rgtTreelist .rgtTreelistGroup {
    font-weight: 500 !important; }
  .RadGantt_Material .rgtTreelist .radStateFocused {
    color: #424242 !important;
    background-color: #E3F2FD !important; }
  .RadGantt_Material .rgtTreelist .radStateSelected {
    background: #d1d6ef !important; }
  .RadGantt_Material .rgtTreelist .radStateSelected td {
    border-top-width: 0 !important; }
  .RadGantt_Material .rgtTreelist .rgtTreelistContent td {
    padding-bottom: 12px !important;
    border-bottom-width: 1px !important;
    border-color: #E0E0E0 !important; }
  .RadGantt_Material .rgtTreelist .k-edit-cell {
    padding-top: 6px !important;
    padding-bottom: 6px !important; }
  .RadGantt_Material .radIconCollapse,
  .RadGantt_Material .radIconExpand {
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
  .RadGantt_Material .radIconCollapse:before {
    content: "\e313" !important; }
  .RadGantt_Material .radIconExpand:before {
    content: "\e315" !important; }
  .RadGantt_Material .rgtSplitbar {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    width: 6px !important; }
  .RadGantt_Material .rgtSplitbar .radResizeHandle {
    width: 4px !important;
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
  .RadGantt_Material .rgtSplitbar .radResizeHandle:before {
    content: "\e5d4" !important;
    margin: -.5em 0 0 -.5em !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important; }
  .RadGantt_Material .rgtSplitbarHover {
    background-color: #e8e8e8 !important; }
  .RadGantt_Material .radLine {
    background-color: #757575 !important; }
  .RadGantt_Material .radLine.radStateSelected {
    background-color: #212121 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important; }
  .RadGantt_Material .radLine.radStateSelected .radArrowE,
  .RadGantt_Material .radLine.radStateSelected .radArrowW {
    color: #212121 !important; }
  .RadGantt_Material .radArrowE,
  .RadGantt_Material .radArrowW {
    color: #757575 !important; }
  .RadGantt_Material .radMarqueeColor {
    background-color: rgba(33, 150, 243, 0.4) !important; }
  .RadGantt_Material .rgtTaskWrap {
    margin-top: -7px !important; }
  .RadGantt_Material .rgtTaskDot:after {
    border-color: #757575 !important;
    background-color: #757575 !important; }
  .RadGantt_Material .rgtTaskDot:hover:after {
    background-color: #ffffff !important; }
  .RadGantt_Material .rgtResourceWrap {
    padding-top: 6px !important; }
  .RadGantt_Material .rgtResource {
    padding: 0 2px !important;
    background-color: #ffffff !important; }
  .RadGantt_Material .rgtTaskMilestone {
    margin-top: 8px !important;
    border-color: #424242 !important;
    background-color: #424242 !important; }
  .RadGantt_Material .rgtTaskMilestone.radStateSelected {
    border-color: #0d47a1 !important;
    background-color: #0d47a1 !important; }
  .RadGantt_Material .rgtTaskMilestone ~ .rgtTaskDot {
    top: 8px !important; }
  .RadGantt_Material .rgtTaskSummary {
    margin-top: 10px !important;
    border-color: #757575 !important;
    background-color: #757575 !important; }
  .RadGantt_Material .rgtTaskSummary.radStateSelected {
    border-color: #64b6f7 !important;
    background-color: #64b6f7 !important; }
  .RadGantt_Material .rgtComplete {
    border-color: #424242 !important;
    background-color: #424242 !important; }
  .RadGantt_Material .radStateSelected .rgtComplete {
    border-color: #0d47a1 !important;
    background-color: #0d47a1 !important; }
  .RadGantt_Material .rgtTaskSummary ~ .rgtTaskDot {
    top: 8px !important; }
  .RadGantt_Material .rgtTaskSingle {
    border-width: 0 !important;
    border-radius: 3px !important;
    color: #ffffff !important;
    background-color: #7985cb !important;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5) !important; }
  .RadGantt_Material .rgtTaskTemplate {
    padding-top: 8px !important;
    padding-bottom: 8px !important; }
  .RadGantt_Material .rgtTaskComplete {
    background-color: #1565c0 !important; }
  .RadGantt_Material .rgtTaskSingle .radResizeHandle:after {
    background-color: #ffffff !important; }
  .RadGantt_Material .rgtTaskActions {
    top: 8px !important; }
  .RadGantt_Material .rgtTaskActions .rgtTaskDelete,
  .RadGantt_Material .rgtTaskActions .rgtTaskDelete:hover {
    border-width: 0 !important;
    color: inherit !important;
    background: none !important; }
  .RadGantt_Material .rgtTaskSingle.radStateSelected {
    background-color: #64b6f7 !important; }
  .RadGantt_Material .rgtTaskSingle.radStateSelected .rgtTaskContent {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadGantt_Material .rgtTaskSingle.radStateSelected .rgtTaskComplete {
    background-color: #0d47a1 !important; }
  .RadGantt_Material .rgtTaskSingle ~ .rgtTaskDot {
    top: 8px !important; }

.radSkin_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .radSkin_Material .k-grid, .radSkin_Material .radCalendar {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important; }
  .radSkin_Material .k-popup, .radSkin_Material.k-popup,
  .radSkin_Material .radPopup, .radSkin_Material.radPopup, .radSkin_Material .radDragClue, .radSkin_Material.radDragClue, .radSkin_Material.k-window {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important; }
  .radSkin_Material .k-button,
  .radSkin_Material .radButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    border: 0 !important; }
  .radSkin_Material .radButton:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .radSkin_Material .k-button:hover,
  .radSkin_Material .radButton:hover,
  .radSkin_Material .radButton.radStateHovered,
  .radSkin_Material .radStateHovered > .radButton, .radSkin_Material .k-numeric-wrap .k-link:hover, .radSkin_Material .k-dropdown-wrap.k-state-hover, .radSkin_Material .k-picker-wrap .k-select:hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .radSkin_Material .radButton.radStateSelected,
  .radSkin_Material .radStateSelected > .radButton, .radSkin_Material .k-numeric-wrap .k-link.k-state-selected, .radSkin_Material .k-dropdown-wrap.k-state-active {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .radSkin_Material .radPrimary {
    color: #1565c0 !important; }
  .radSkin_Material .radPrimary:hover {
    color: #1565c0 !important;
    background: rgba(57, 73, 171, 0.12) !important; }
  .radSkin_Material .k-numeric-wrap, .radSkin_Material .k-dropdown-wrap, .radSkin_Material .k-picker-wrap {
    padding: 8px 50px 8px 13px !important;
    border-width: 0 !important;
    border-radius: 2px !important; }
    .radSkin_Material .k-numeric-wrap .k-input, .radSkin_Material .k-dropdown-wrap .k-input, .radSkin_Material .k-picker-wrap .k-input {
      padding: 0 !important; }
    .radSkin_Material .k-numeric-wrap:before, .radSkin_Material .k-dropdown-wrap:before, .radSkin_Material .k-picker-wrap:before {
      content: "" !important;
      position: absolute !important;
      bottom: 0 !important;
      left: 13px !important;
      right: 13px !important;
      border-bottom: 1px solid #E0E0E0 !important; }
    .radSkin_Material .k-state-hover.k-numeric-wrap, .radSkin_Material .k-state-hover.k-dropdown-wrap, .radSkin_Material .k-state-hover.k-picker-wrap, .radSkin_Material .k-state-focused.k-numeric-wrap, .radSkin_Material .k-state-focused.k-dropdown-wrap, .radSkin_Material .k-state-focused.k-picker-wrap {
      border-color: #E0E0E0 !important;
      color: #424242 !important;
      background-color: #ffffff !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
      .radSkin_Material .k-state-hover.k-numeric-wrap:before, .radSkin_Material .k-state-hover.k-dropdown-wrap:before, .radSkin_Material .k-state-hover.k-picker-wrap:before, .radSkin_Material .k-state-focused.k-numeric-wrap:before, .radSkin_Material .k-state-focused.k-dropdown-wrap:before, .radSkin_Material .k-state-focused.k-picker-wrap:before {
        display: none !important; }
  .radSkin_Material .radDragClue, .radSkin_Material.radDragClue {
    border-radius: 3px !important;
    box-shadow: 0 0 5px rgba(130, 130, 130, 0.5) !important; }
  .radSkin_Material .radList > .radStateHovered,
  .radSkin_Material .k-list > .k-state-hover {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .radSkin_Material .radList > .radStateFocused,
  .radSkin_Material .k-list > .k-state-focused {
    box-shadow: inset 0 0 5px transparent !important; }
  .radSkin_Material .radList > .radStateSelected,
  .radSkin_Material .k-list > .k-state-selected {
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .radSkin_Material .radGrid td {
    border-color: #E0E0E0 !important; }
  .radSkin_Material .radGridHeader,
  .radSkin_Material .radGridHeaderWrap {
    border-color: #E0E0E0 !important; }
  .radSkin_Material .radGridHeader th {
    border-color: #E0E0E0 !important;
    font-size: .85em !important;
    font-weight: 500 !important; }
  .radSkin_Material .radFauxRows tr td {
    border-bottom-width: 1px !important;
    padding-bottom: 12px !important; }
  .radSkin_Material .k-grid-header,
  .radSkin_Material .k-grid-header-wrap {
    border-color: #E0E0E0 !important; }
  .radSkin_Material .k-grid-header .k-header {
    border-color: #E0E0E0 !important;
    font-size: .85em !important;
    font-weight: 500 !important; }
  .radSkin_Material .k-grid-content td {
    border-width: 0 0 1px !important;
    border-color: #E0E0E0 !important; }
  .radSkin_Material .k-grid th,
  .radSkin_Material .k-grid td,
  .radSkin_Material .radGrid th,
  .radSkin_Material .radGrid td {
    padding: 13px 16px !important; }
  .radSkin_Material .k-tooltip,
  .radSkin_Material .radTooltip {
    border-color: #424242 !important;
    border-radius: 2px !important;
    color: #ffffff !important;
    background-color: rgba(66, 66, 66, 0.9) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .radSkin_Material .k-tooltip-validation {
    border-color: #ffffff !important;
    color: #d51923 !important;
    background-color: #ffffff !important;
    background-image: none !important; }
    .radSkin_Material .k-tooltip-validation .k-icon.k-warning {
      background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Input.sprite.gif")%>') !important;
      background-position: 0 -299px !important; }
  .radSkin_Material .k-button,
  .radSkin_Material .radButton {
    padding: 8px 13px !important;
    border-radius: 2px !important;
    text-transform: uppercase !important; }
  .radSkin_Material .radToolbar .radButton {
    border-radius: 0 !important; }
  .radSkin_Material .k-textbox,
  .radSkin_Material .radTextbox {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important;
    padding: 8px 13px !important;
    border-width: 0 0 1px !important; }
    .radSkin_Material .k-textbox:hover,
    .radSkin_Material .radTextbox:hover {
      border-color: #BDBDBD !important;
      color: #424242 !important;
      background-color: transparent !important; }
    .radSkin_Material .k-textbox:focus,
    .radSkin_Material .radTextbox:focus {
      border-color: #1565c0 !important;
      color: #424242 !important;
      background-color: transparent !important;
      box-shadow: 0 2px 0 -1px #1565c0 !important; }
  .radSkin_Material .k-numeric-wrap .k-link,
  .radSkin_Material .k-numeric-wrap .k-select {
    width: 37px !important;
    border-color: transparent !important;
    border-radius: 0 2px 2px 0 !important; }
  .radSkin_Material .k-picker-wrap .k-select {
    width: 37px !important;
    border-color: transparent !important;
    border-radius: 0 2px 2px 0 !important; }
  .radSkin_Material .radDateTimePicker .k-picker-wrap {
    padding-right: 88px !important; }
    .radSkin_Material .radDateTimePicker .k-picker-wrap .k-select {
      width: 75px !important; }
  .radSkin_Material .radCalendar .k-header {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important; }
  .radSkin_Material .radCalendar th {
    border-color: #1565c0 !important; }
  .radSkin_Material .radCalendar td.k-weekend {
    color: #717171 !important; }
  .radSkin_Material .radCalendar td.k-other-month {
    color: #a1a1a1 !important; }
  .radSkin_Material .radCalendar td.k-state-hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .radSkin_Material .radCalendar td.k-state-focused {
    box-shadow: inset 0 0 5px transparent !important; }
  .radSkin_Material .radCalendar td.k-state-selected {
    border-color: transparent !important;
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .radSkin_Material.k-window {
    border: 0 !important; }
  .radSkin_Material .k-window-titlebar {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    font-size: 1.42857em !important; }
  .radSkin_Material .radPopupEditForm .rgtButtonsContainer {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }

.radSkin_Material.k-rtl .rgtViews .radButton {
  border-radius: 0 !important; }

@media only screen and (max-width: 1024px) {
  .RadGantt_Material .rgtToolbar > .rgtViews {
    right: 5px !important;
    top: 5px !important;
    border: 0 !important; }
    .RadGantt_Material .rgtToolbar > .rgtViews.rgtExpanded {
      color: #424242 !important;
      background: #ffffff !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
      .RadGantt_Material .rgtToolbar > .rgtViews.rgtExpanded .radButton {
        box-shadow: none !important; }
    .RadGantt_Material .rgtToolbar > .rgtViews.radToolbar > li,
    .RadGantt_Material .rgtToolbar > .rgtViews.radToolbar > li + li {
      margin: 0 !important; }
    .RadGantt_Material .rgtToolbar > .rgtViews > li.rgtCurrentView > .radButton:after {
      margin-top: -0.7em !important; } }
