.RadGrid_Material {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    font-family: "Roboto", "Noto", sans-serif !important;
}

    .RadGrid_Material .t-button {
        padding: 7px !important;
        border-radius: 90px !important;
        color: #757575 !important;
    }

        .RadGrid_Material .t-button:hover {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

        .RadGrid_Material .t-button:active {
            border-color: #E0E0E0 !important;
            color: #424242 !important;
            background-color: #E0E0E0 !important;
        }

    .RadGrid_Material .rgHeader .t-button:hover,
    .RadGrid_Material .rgGroupItem .t-button:hover {
        background: none !important;
    }

    .RadGrid_Material .t-font-icon:before {
        font-family: "Material Icons" !important;
        font-size: 18px !important;
    }

    .RadGrid_Material .rgDragIcon:before,
    .RadGrid_Material .rgPrintIcon:before,
    .RadGrid_Material .rgExpDOCIcon:before,
    .RadGrid_Material .rgExpXLSIcon:before,
    .RadGrid_Material .rgExpCSVIcon:before,
    .RadGrid_Material .rgExpPDFIcon:before {
        font-family: "WebComponentsIcons" !important;
    }

    .RadGrid_Material .rgSortDescIcon:before {
        content: "\e5db" !important;
    }

    .RadGrid_Material .rgSortAscIcon:before {
        content: "\e5d8" !important;
    }

    .RadGrid_Material .rgAddIcon:before {
        content: "\e145" !important;
    }

    .RadGrid_Material .rgRefreshIcon:before {
        content: "\e5d5" !important;
    }

    .RadGrid_Material .rgFilterIcon:before {
        content: "\e152" !important;
    }

    .RadGrid_Material .rgCollapseIcon:before {
        content: "\e5cf" !important;
    }

    .RadGrid_Material .rgExpandIcon:before {
        content: "\e5cc" !important;
    }

    .RadGrid_Material .rgOptionsIcon:before {
        content: "\e5d4" !important;
    }

    .RadGrid_Material .rgSaveIcon:before {
        content: "\e161" !important;
    }

    .RadGrid_Material .rgDelIcon:before,
    .RadGrid_Material .rgCancelIcon:before {
        content: "\e14c" !important;
    }

    .RadGrid_Material .rgEditIcon:before {
        content: "\e254" !important;
    }

    .RadGrid_Material .rgUpdateIcon:before {
        content: "\e876" !important;
    }

    .RadGrid_Material .rgUngroupIcon::before {
        content: "\e14c" !important;
    }

    .RadGrid_Material .rgPrevIcon:before {
        content: "\e314" !important;
    }

    .RadGrid_Material .rgNextIcon:before {
        content: "\e315" !important;
    }

    .RadGrid_Material .rgInput,
    .RadGrid_Material .rgEditRow > td > [type="text"],
    .RadGrid_Material .rgEditForm td > [type="text"],
    .RadGrid_Material .rgBatchContainer > [type="text"],
    .RadGrid_Material .rgFilterBox {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: transparent !important;
        padding: 8px 0 7px !important;
        outline: none !important;
    }

        .RadGrid_Material .rgInput:hover,
        .RadGrid_Material .rgEditRow > td > [type="text"]:hover,
        .RadGrid_Material .rgEditForm td > [type="text"]:hover,
        .RadGrid_Material .rgBatchContainer > [type="text"]:hover,
        .RadGrid_Material .rgFilterBox:hover {
            border-color: #BDBDBD !important;
            color: #424242 !important;
            background-color: transparent !important;
        }

        .RadGrid_Material .rgInput:focus,
        .RadGrid_Material .rgEditRow > td > [type="text"]:focus,
        .RadGrid_Material .rgEditForm td > [type="text"]:focus,
        .RadGrid_Material .rgBatchContainer > [type="text"]:focus,
        .RadGrid_Material .rgFilterBox:focus {
            border-color: #1565c0 !important;
            color: #424242 !important;
            background-color: transparent !important;
            box-shadow: 0 -1px 0 #1565c0 inset !important;
        }

.t-ie .RadGrid_Material .rgInput, .t-ie
.RadGrid_Material .rgEditRow > td > [type="text"], .t-ie
.RadGrid_Material .rgEditForm td > [type="text"], .t-ie
.RadGrid_Material .rgBatchContainer > [type="text"], .t-ie
.RadGrid_Material .rgFilterBox {
    height: 36px !important;
    height: calc(1.42857em + 16px) !important;
}

.RadGrid_Material .rgBatchContainer {
    font-size: 1.077em !important;
}

    .RadGrid_Material .rgBatchContainer > [type="text"],
    .RadGrid_Material .rgBatchContainer .rfdCheckboxChecked,
    .RadGrid_Material .rgBatchContainer .rfdCheckboxUnchecked {
        margin-left: 13px !important;
    }

.RadGrid_Material .rgEditForm label {
    font-size: .857em !important;
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.66667 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.RadGrid_Material .rgEditForm td > [type="text"] {
    margin-left: 13px !important;
}

.RadGrid_Material .rgHeaderDiv {
    border-color: #E0E0E0 !important;
}

.RadGrid_Material .rgHeader,
.RadGrid_Material th.rgResizeCol,
.RadGrid_Material .rgHeaderWrapper {
    border: 0 !important;
    border-bottom: 1px solid #E0E0E0 !important;
    background-color: #ffffff !important;
    padding: 13px 15px !important;
}

.RadGrid_Material .rgHeader {
    font-size: 1em !important;
    font-weight: 500 !important;
    line-height: 1.66667 !important;
    border-bottom: 1px solid #e6e6e6 !important;
    border-right: 1px solid #e6e6e6 !important;
}

    .RadGrid_Material .rgHeader .t-button {
        font-size: 1.167em !important;
        line-height: 1.42857 !important;
    }

    .RadGrid_Material .rgHeader,
    .RadGrid_Material .rgHeader a {
        color: #757575 !important;
        background-color: #fafafa !important;
    }

.RadGrid_Material .rgMultiHeaderRow .rgHeader,
.RadGrid_Material .rgMultiHeaderRow .rgResizeCol {
    border-left: 1px solid #E0E0E0 !important;
}

.RadGrid_Material th.rgSorted,
.RadGrid_Material th.rgSorted a,
.RadGrid_Material th.rgSorted button {
    color: #212121 !important;
}

.RadGrid_Material .rgEditRow,
.RadGrid_Material .rgFilterRow,
.RadGrid_Material .rgGroupHeader {
    height: 47px !important;
    height: calc(1.42857em + 27px) !important;
}

    .RadGrid_Material .rgFilterRow > td {
        border: 0 !important;
        border-bottom: 1px solid #E0E0E0 !important;
        padding: 5px 15px !important;
    }

.RadGrid_Material .rgRow,
.RadGrid_Material .rgAltRow,
.RadGrid_Material .rgEditRow {
    height: 47px !important;
    height: calc(1.53846em + 27px) !important;
    font-size: 0.929em !important;
    line-height: 1.53846 !important;
}

    .RadGrid_Material .rgRow:hover,
    .RadGrid_Material .rgAltRow:hover,
    .RadGrid_Material .rgEditRow:hover {
        background-color: #f2f2f2 !important;
    }

    .RadGrid_Material .rgRow > td,
    .RadGrid_Material .rgAltRow > td,
    .RadGrid_Material .rgEditRow > td {
        border: 0 !important;
        border-right: 1px solid #e6e6e6 !important;
        padding: 5px 15px !important;
    }

        .RadGrid_Material .rgRow > td:nth-last-column(odd),
        .RadGrid_Material .rgAltRow > td:nth-last-column(odd),
        .RadGrid_Material .rgEditRow > td:nth-last-column(odd) {
            border-right: none !important;
        }

    .RadGrid_Material .rgRow .rgDragIcon,
    .RadGrid_Material .rgRow .t-button,
    .RadGrid_Material .rgAltRow .rgDragIcon,
    .RadGrid_Material .rgAltRow .t-button,
    .RadGrid_Material .rgEditRow .rgDragIcon,
    .RadGrid_Material .rgEditRow .t-button {
        font-size: 1.077em !important;
        line-height: 1.42857 !important;
    }

    .RadGrid_Material .rgRow .t-ripple-container,
    .RadGrid_Material .rgAltRow .t-ripple-container,
    .RadGrid_Material .rgEditRow .t-ripple-container {
        margin: -1px 0 0 -1px !important;
    }

.RadGrid_Material .rgBatchCurrent {
    padding-left: 2px !important;
}

.RadGrid_Material .rgEditForm {
    border-bottom: 1px solid #E0E0E0 !important;
    padding: 8px !important;
}

.RadGrid_Material .rgActiveRow td:not(.rgExpandCol) {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent !important;
}

.RadGrid_Material .rgActiveRow td:first-child:not(.rgExpandCol),
.RadGrid_Material .rgActiveRow .rgExpandCol + td {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset 5px 0px 5px -5px transparent !important;
}

.RadGrid_Material .rgActiveRow td:not(.rgExpandCol):last-child {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset -5px 0px 5px -5px transparent !important;
}

.RadGrid_Material .rgActiveCell {
    box-shadow: inset 0 0 5px transparent !important;
}

.RadGrid_Material .rgRow > td > a,
.RadGrid_Material .rgAltRow > td > a,
.RadGrid_Material .rgFooter > td > a,
.RadGrid_Material .rgEditForm > td > a,
.RadGrid_Material .rgEditRow > td > a,
.RadGrid_Material .rgHoveredRow > td > a {
    color: #1565c0 !important;
    text-decoration: none !important;
}

.RadGrid_Material .rgMasterTable .rgSelectedCell,
.RadGrid_Material .rgSelectedRow {
    background-color: #E3F2FD !important;
    color: #424242 !important;
}

    .RadGrid_Material .rgSelectedCell > a,
    .RadGrid_Material .rgSelectedRow > td > a {
        color: #0d47a1 !important;
    }

.RadGrid_Material .rgHoveredRow {
    background-color: #EEEEEE !important;
    color: #424242 !important;
}

.RadGrid_Material .rgEditRow {
    background: #d1d6ef !important;
    color: #424242 !important;
}

.RadGrid_Material .rgDeletedRow > td {
    border-color: #bababa !important;
    color: #424242 !important;
}

    .RadGrid_Material .rgDeletedRow > td a {
        color: #424242 !important;
    }

.RadGrid_Material .rgBatchOverlay {
    background: rgba(224, 224, 224, 0.75) !important;
}

.RadGrid_Material .rgBatchUndoDeleteButton {
    padding: 7px 13px !important;
    border-radius: 0 !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
}

    .RadGrid_Material .rgBatchUndoDeleteButton:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

.RadGrid_Material .rgBatchUndoDeleteIcon:before {
    content: "\e166" !important;
}

.RadGrid_Material .rgDrag {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Grid.rgDrag.gif")%>') !important;
}

.RadGrid_Material .rgFooterWrapper {
    border-top: 1px solid #E0E0E0 !important;
}

.RadGrid_Material .rgFooter {
    font-size: .857em !important;
    font-weight: 500 !important;
    line-height: 1.66667 !important;
    height: 47px !important;
    height: calc(1.66667em + 27px) !important;
}

    .RadGrid_Material .rgFooter td {
        border-bottom: 1px solid #E0E0E0 !important;
        padding: 5px 15px !important;
    }

    .RadGrid_Material .rgFooter .rgGroupCol {
        border-bottom-color: #E0E0E0 !important;
    }

    .RadGrid_Material .rgFooter,
    .RadGrid_Material .rgFooter a {
        color: #757575 !important;
    }

.RadGrid_Material tfoot .rgFooter .rgGroupCol {
    background-color: #ffffff !important;
    box-shadow: none !important;
}

.RadGrid_Material .rgFooterWrapper .rgFooter > td {
    border-bottom: 0 !important;
}

.RadGrid_Material .rgStatus div {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important;
}

.RadGrid_Material .rgPagerCell {
    color: #424242 !important;
    padding: 5px !important;
    border-color: #E0E0E0 !important;
    border-top: 1px solid #E0E0E0 !important;
    background-color: #fafafa !important;
}

    .RadGrid_Material .rgPagerCell .rgIcon:before {
        font-family: "WebComponentsIcons" !important;
    }

    .RadGrid_Material .rgPagerCell .rgAdvPart {
        line-height: inherit !important;
    }

    .RadGrid_Material .rgPagerCell .rgNumPart a {
        color: #ffffff !important;
    }

        .RadGrid_Material .rgPagerCell .rgNumPart a .t-ripple {
            border-radius: 90px !important;
        }

    .RadGrid_Material .rgPagerCell .rgPagerButton {
        border: 0 none !important;
        background-color: #F5F5F5 !important;
        color: #424242 !important;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    }

    .RadGrid_Material .rgPagerCell .rgActionButton {
        border-radius: 90px !important;
    }

        .RadGrid_Material .rgPagerCell .rgActionButton:hover {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

    .RadGrid_Material .rgPagerCell .rgNumPart a {
        color: #424242 !important;
        text-align: center !important;
        border-width: 0 !important;
        padding: 8px !important;
        min-width: 1.42857em !important;
    }

        .RadGrid_Material .rgPagerCell .rgNumPart a:hover {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
            border-radius: 90px !important;
        }

        .RadGrid_Material .rgPagerCell .rgNumPart a.rgCurrentPage {
            border-bottom: 2px solid #1565c0 !important;
            color: #1565c0 !important;
            background: none !important;
            border-radius: 0 !important;
            margin-bottom: -5px !important;
            padding-bottom: 11px !important;
        }

    .RadGrid_Material .rgPagerCell .RadInput,
    .RadGrid_Material .rgPagerCell .RadComboBox,
    .RadGrid_Material .rgPagerCell .RadDropDownList {
        min-width: 90px !important;
    }

    .RadGrid_Material .rgPagerCell .rgActionButton {
        box-sizing: content-box !important;
    }

    .RadGrid_Material .rgPagerCell .rgPagerButton {
        border-color: #E0E0E0 !important;
        color: #424242 !important;
        background-color: #F5F5F5 !important;
        padding: 8px 13px !important;
        border-radius: 0 !important;
    }

        .RadGrid_Material .rgPagerCell .rgPagerButton:hover {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

    .RadGrid_Material .rgPagerCell .rgInfoPart,
    .RadGrid_Material .rgPagerCell .rgSliderLabel,
    .RadGrid_Material .rgPagerCell .rgPagerLabel {
        font-size: .857em !important;
        color: #757575 !important;
        font-weight: 500 !important;
        line-height: 1.66667 !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

        .RadGrid_Material .rgPagerCell .rgInfoPart strong,
        .RadGrid_Material .rgPagerCell .rgSliderLabel strong,
        .RadGrid_Material .rgPagerCell .rgPagerLabel strong {
            font-weight: 500 !important;
            font-size: 1.167em !important;
            line-height: 1.42857 !important;
            color: #424242 !important;
        }

    .RadGrid_Material .rgPagerCell .RadSlider {
        margin: 7px 0 !important;
    }

.GridReorderTop_Material,
.GridReorderBottom_Material {
    color: #0d47a1 !important;
}

.RadGrid_Material .rgGroupPanel {
    padding: 5px !important;
    border-color: #E0E0E0 !important;
    font-size: 1.143em !important;
    font-weight: 500 !important;
    line-height: 36px !important;
    line-height: calc(1.25em + 16px) !important;
}

    .RadGrid_Material .rgGroupPanel,
    .RadGrid_Material .rgGroupPanel caption {
        background: #1565c0 !important;
        color: #ffffff !important;
    }

.RadGrid_Material .rgGroupItem {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    text-transform: uppercase !important;
    padding: 8px 13px !important;
    font-size: 0.875em !important;
}

    .RadGrid_Material .rgGroupItem .t-button {
        color: inherit !important;
        position: relative !important;
        z-index: 10 !important;
    }

.RadGrid_Material .rgGroupHeader {
    background-color: #F5F5F5 !important;
    color: #424242 !important;
}

    .RadGrid_Material .rgGroupHeader td {
        padding-left: 0 !important;
        border-bottom: 1px solid #E0E0E0 !important;
    }

    .RadGrid_Material .rgGroupHeader .t-ripple-container {
        margin: -1px 0 0 -1px !important;
    }

.RadGrid_Material .rgGroupHeaderText {
    font-size: .929em !important;
    line-height: 1.53846 !important;
    font-weight: 500 !important;
}

.RadGrid_Material td.rgGroupCol,
.RadGrid_Material td.rgExpandCol {
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
    color: #424242 !important;
}

.RadGrid_Material .rgCollapse {
    color: #212121 !important;
}

.RadGrid_Material .rgMasterTable {
    border-collapse: collapse !important;
}

.RadGrid_Material .rgGroupHeader .rgGroupCol + .rgGroupCol {
    border-left: 1px solid #cfd8dc !important;
}

.RadGrid_Material .rgGroupCol:empty {
    box-shadow: none !important;
}

.RadGrid_Material .rgGroupHeader .rgGroupCol,
.RadGrid_Material .rgGroupHeader .rgGroupCol + td {
    box-shadow: 0 -1px 0 #cfd8dc !important;
}

.RadGrid_Material .rgFilter .t-ripple-container {
    margin: -1px 0 0 -1px !important;
}

.RadGrid_Material .rgFilterActive {
    color: #0d47a1 !important;
}

.RadGrid_Material .rgFiltered {
    color: #212121 !important;
}

.RadGrid_Material .rgGroupCol {
    box-shadow: -1px 0 0 #E0E0E0 inset !important;
}

.RadGrid_Material .rgDetailTable {
    border-color: #E0E0E0 !important;
}

.RadGrid_Material .rgCommandCell {
    padding: 0 !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
}

    .RadGrid_Material .rgCommandCell .t-button {
        padding: 13px !important;
        border-radius: 0 !important;
        border: 0 none !important;
    }

        .RadGrid_Material .rgCommandCell .t-button:hover {
            border-color: #EEEEEE !important;
            color: #424242 !important;
            background-color: #EEEEEE !important;
        }

        .RadGrid_Material .rgCommandCell .t-button:active {
            border-color: #E0E0E0 !important;
            color: #424242 !important;
            background-color: #E0E0E0 !important;
        }

.GridContextMenu_Material .rmGroup span.rmIcon {
    margin-left: -2px !important;
}

.GridContextMenu_Material .rmContent .rgHCMClear,
.GridContextMenu_Material .rmContent .rgHCMFilter {
    color: #1565c0 !important;
    padding: 8px !important;
    border: 0 none !important;
    background: none !important;
}

    .GridContextMenu_Material .rmContent .rgHCMClear:hover,
    .GridContextMenu_Material .rmContent .rgHCMFilter:hover {
        color: #1565c0 !important;
        background-color: rgba(63, 81, 181, 0.12) !important;
    }

.GridContextMenu_Material .rgHCMShow,
.GridContextMenu_Material .rgHCMAnd {
    font-size: .857em !important;
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.66667 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.GridContextMenu_Material .rmGroup .rgHCMItem div.rmContent {
    padding: 15px !important;
    margin: 0 auto !important;
}

.GridContextMenu_Material span.rgHCMSortAscsIcon:before,
.GridContextMenu_Material span.rgHCMSortDescIcon:before,
.GridContextMenu_Material span.rgHCMUnsortIcon:before,
.GridContextMenu_Material span.rgHCMGroupIcon:before,
.GridContextMenu_Material span.rgHCMUngroupIcon:before {
    font-family: "WebComponentsIcons" !important;
}

.GridContextMenu_Material .rgHCMColsIcon:before {
    content: "\e8f3" !important;
}

.GridContextMenu_Material .rgHCMFilterIcon:before {
    content: "\e152" !important;
}

.RadMenu_Material_Context .rgFilterApply,
.RadMenu_Material_Context .rgFilterCancel {
    padding: 8px 13px !important;
    border: 0 none !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
}

    .RadMenu_Material_Context .rgFilterApply:hover,
    .RadMenu_Material_Context .rgFilterCancel:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important;
    }

.GridToolTip_Material {
    background-color: #424242 !important;
    color: #ffffff !important;
    border-color: #424242 !important;
    padding: 4px !important;
}
