.RadImageEditor_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important;
  padding: 0 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }

.RadImageEditor_Material.rieDialogs .riePrintContent,
.RadImageEditor_Material .rieHighlightVertical,
.RadImageEditor_Material .rieHighlightHorizontal,
.RadDock_Material.rieDialogs .rieActiveThumbsLink,
.RadDock_Material.rieDialogs .rieThumbsLink:hover,
.RadDock_Material.rieDialogs .riePrintContent,
.RadDock_Material.rieDialogs .riePrintContent img {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important; }

.RadImageEditor_Material .rieContentArea,
.RadDock_Material.rieDialogs .rieThumbsBottomRow td,
.RadDock_Material.rieDialogs .rieDialogsThumbsLeft,
.RadDock_Material.rieDialogs .rieThumbsLink {
  border-color: #E0E0E0 !important; }

.rieRotateTable .rbIcon:before,
.rieResizeButtons .rbIcon:before {
  color: #757575 !important; }

.rieRotateTable .rbHovered .rbIcon:before,
.rieResizeButtons .rbHovered .rbIcon:before {
  color: #0d47a1 !important; }

.rieBottomCell {
  border-color: #E0E0E0 !important; }

.RadImageEditor_Material .RadToolBar_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important;
  border-width: 0 !important;
  overflow: visible !important;
  font: inherit !important; }
  .RadImageEditor_Material .RadToolBar_Material::before {
    padding: 8px 0 !important; }
  .RadImageEditor_Material .RadToolBar_Material_Vertical::before {
    padding: 0 8px !important; }
  .RadImageEditor_Material .RadToolBar_Material .rtbButton:not(.rtbSplitButton),
  .RadImageEditor_Material .RadToolBar_Material .rtbSplitButton .rtbSplBtnActivator {
    padding: 8px 10px !important; }
  .RadImageEditor_Material .RadToolBar_Material .rtbButton.rtbIconOnly:not(.rtbSplitButton),
  .RadImageEditor_Material .RadToolBar_Material .rtbSplitButton.rtbIconOnly .rtbSplBtnActivator {
    padding: 8px !important; }
  .RadImageEditor_Material .RadToolBar_Material .rtbArrow {
    padding: 8px !important; }
  .RadImageEditor_Material .RadToolBar_Material .rtbMenuButton .rtbArrow {
    margin: -8px -10px -10px 0 !important; }
  .RadImageEditor_Material .RadToolBar_Material .rtbMenuButton.rtbIcon .rtbArrow {
    margin: -8px -8px -8px 8px !important; }
  .RadImageEditor_Material .RadToolBar_Material .rtbMore {
    padding: 8px !important; }

.RadImageEditor_Material .rieContentArea {
  border-width: 1px 0 !important; }

.RadImageEditor_Material .rieStatusBar {
  margin: 0 !important;
  padding: 13px !important; }

.RadImageEditor_Material .rieStatusBarInfo .rieLabel {
  color: #757575 !important;
  font-size: .85em !important;
  font-weight: 500 !important; }

.rieDialogs .rieComboCombo {
  width: 5.71429em !important;
  margin: 4px !important; }

.rieInputDimension {
  width: 7.14286em !important; }

.riePxLabel {
  line-height: 2.85714em !important; }

.rieResizeButtons {
  width: 7.14286em !important; }

.rieRotateButtons {
  padding: 0.71429em 0em 0em !important; }

.riePositionLabel {
  display: inline-block !important;
  margin: 0.21429em 0em 0em !important;
  padding: 0em 0.35714em !important; }
