.RadImageGallery_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadImageGallery_Material .rigDescriptionBox {
    background-color: rgba(66, 66, 66, 0.7) !important;
    color: #FAFAFA !important; }
  .RadImageGallery_Material .rigToolbar,
  .RadImageGallery_Material .rigCloseButton,
  .RadImageGallery_Material .rigDrawerButton {
    background-color: rgba(245, 245, 245, 0.9) !important;
    color: #424242 !important; }
  .RadImageGallery_Material .rigProgressBar div {
    background-color: #0d47a1 !important; }
  .RadImageGallery_Material .rigPager {
    background-color: #F5F5F5 !important;
    color: #424242 !important;
    height: auto !important;
    padding: 5px !important; }
    .RadImageGallery_Material .rigPager a {
      color: #424242 !important;
      text-align: center !important;
      border-width: 0 !important;
      padding: 8px !important;
      min-width: 1.42857em !important; }
      .RadImageGallery_Material .rigPager a:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important;
        border-radius: 90px !important; }
      .RadImageGallery_Material .rigPager a.rigCurrentPage {
        border-bottom: 2px solid #1565c0 !important;
        color: #1565c0 !important;
        background: none !important;
        border-radius: 0 !important;
        margin-bottom: -5px !important;
        padding-bottom: 11px !important; }
  .RadImageGallery_Material .rigInfoPart {
    font-size: .857em !important;
    color: #757575 !important;
    font-weight: 500 !important;
    line-height: 1.66667 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important; }
  .RadImageGallery_Material .rigDotList > a {
    border-color: #1565c0 !important; }
  .RadImageGallery_Material .rigDotList a span {
    background-color: white !important; }
  .RadImageGallery_Material .rigDotList a.rigCurrentItem span {
    background-color: #1565c0 !important;
    border-color: white !important; }
  .RadImageGallery_Material .rigTooltip {
    background-color: #424242 !important;
    border-color: #424242 !important; }
    .RadImageGallery_Material .rigTooltip:after {
      border-top-color: #424242 !important; }
  .RadImageGallery_Material .rigToolbar .rigActionButton {
    color: #424242 !important; }
    .RadImageGallery_Material .rigToolbar .rigActionButton:hover {
      color: #0d47a1 !important; }
