.RadInput_Material,
.RadInputMgr_Material {
    font-family: "Roboto", "Noto", sans-serif !important;
}

.RadInput {
    border-color: transparent !important;
    border-bottom-color: #E0E0E0 !important;
}

.t-ie .RadInput_Material,
.t-ie .RadInputMgr_Material {
    height: 36px !important;
    height: calc(1.42857em + 16px) !important;
}

.RadInput_Material .riTextBox, .RadInputMgr_Material {
    color: #424242 !important;
    background: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.RadInput_Material {
    border: 1px solid #E0E0E0 !important;
    border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    padding: 0 13px !important;
}
.RadPicker_Material .RadInput_Material {
    border: none !important;
}


    .RadInput_Material input.riTextBox {
        padding: 5px 0 5px !important;
        border-width: 0 0 1px !important;
    }

.RadInputMgr_Material {
    padding: 8px 0 7px !important;
    border-width: 0 0 1px !important;
    margin: 0 8px !important;
    color: #424242 !important;
}

.RadInput_Material .riLabel {
    font-size: .857em !important;
    color: #757575 !important;
    font-weight: 500 !important;
    margin-left: -13px !important;
    padding-right: 25px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.RadInput_Material a {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.RadInput_Material .riSelect {
    right: 5px !important;
}

    .RadInput_Material .riSelect a {
        color: #757575 !important;
        border-color: transparent !important;
    }

        .RadInput_Material .riSelect a:hover {
            color: #212121 !important;
        }

        .RadInput_Material .riSelect a:before {
            font-family: "Material Icons" !important;
            font-size: 18px !important;
        }

.RadInput_Material.RadInputDisabled a:hover,
.RadInput_Material.RadInputDisabled a:active {
    color: #757575 !important;
}

.RadInput_Material .riDown:before {
    content: "\e5c5" !important;
    margin-top: -13px !important;
}

.RadInput_Material .riUp:before {
    content: "\e5c7" !important;
    margin-top: -6px !important;
}

.RadInput_Material .riButton:before {
    content: "\e5d9" !important;
}

.RadInput_Material .riEmpty, .RadInput_Empty_Material {
    color: rgba(66, 66, 66, 0.6) !important;
    font-style: normal !important;
}

.RadInput_Material .riHover, .RadInput_Hover_Material {
    color: #424242 !important;
    border-bottom-color: #BDBDBD !important;
}

.RadInput_Material .riFocused, .RadInput_Focused_Material {
    color: #424242 !important;
    border-bottom-color: #1565c0 !important;
    box-shadow: 0 -1px 0 0px #1565c0 inset !important;
}

.RadInput_Material .riRead, .RadInput_Read_Material {
    color: rgba(66, 66, 66, 0.8) !important;
}

.RadInput_Material .riDisabled, .RadInput_Disabled_Material {
    color: #babbbc !important;
    border-bottom-color: #EEEEEE !important;
}

.RadInput_Material .riError, .RadInput_Error_Material {
    border-color: #f34235 !important;
    box-shadow: 0 -1px 0 0px #f34235 inset !important;
}

.RadInput_Material.RadInputError {
    border-color: #f34235 !important;
    color: #f34235 !important;
}

.RadInput_Material.RadInputError {
    border-color: #f34235 !important;
    color: #f34235 !important;
}

    .RadInput_Material.RadInputError:after {
        display: none !important;
    }

.RadInput.riContButton .riDown {
    margin-left: -37px !important;
    margin-left: calc(-17px - 1.42857em) !important;
}
