.RadLightBox_Material {
  color: #424242 !important;
  font: "Roboto", "Noto", sans-serif !important;
  background-color: transparent !important;
  padding: 0 !important; }
  .RadLightBox_Material .rltbIcon:before,
  .RadLightBox_Material .rltbButtonWrapper:before {
    font: 18px/1 'Material Icons' !important;
    vertical-align: top !important; }
  .RadLightBox_Material .rltbMaximizeIcon:before {
    content: "\e5d0" !important; }
  .RadLightBox_Material .rltbRestoreIcon:before {
    content: "\e5d1" !important; }
  .RadLightBox_Material .rltbPrevButtonWrapper:before {
    content: "\e314" !important; }
  .RadLightBox_Material .rltbButtonWrapper:before {
    font-size: 64px !important; }
  .RadLightBox_Material .rltbNextButtonWrapper:before {
    content: "\e315" !important; }
  .RadLightBox_Material .rltbCloseIcon:before {
    content: "\e5cd" !important; }
  .RadLightBox_Material .rltbItemBox {
    padding: 0 !important; }
  .RadLightBox_Material .rltbDescriptionBox {
    left: 24px !important;
    right: 24px !important; }
  .RadLightBox_Material .rltbWrapper {
    background-color: #FAFAFA !important;
    border-radius: 2px !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadLightBox_Material .rltbDescOverlayTop,
  .RadLightBox_Material .rltbDescOverlayBottom {
    background-color: rgba(245, 245, 245, 0.7) !important; }
    .RadLightBox_Material .rltbDescOverlayTop,
    .RadLightBox_Material .rltbDescOverlayTop .rltbActionButton,
    .RadLightBox_Material .rltbDescOverlayBottom,
    .RadLightBox_Material .rltbDescOverlayBottom .rltbActionButton {
      color: #424242 !important; }
  .RadLightBox_Material .rltbActionButton {
    color: #424242 !important;
    font: inherit !important;
    height: auto !important;
    width: auto !important;
    padding: 8px !important; }
    .RadLightBox_Material .rltbActionButton:hover {
      color: #0d47a1 !important; }
    .RadLightBox_Material .rltbActionButton::-moz-focus-inner {
      padding: 0 !important;
      border: 0 !important; }
  .RadLightBox_Material .rltbToolbar .rltbActionButton {
    padding: 8px !important;
    font: inherit !important; }
  .RadLightBox_Material .rltbButtonWrapper {
    height: auto !important;
    width: auto !important;
    font: inherit !important; }
  .RadLightBox_Material .rltbIcon,
  .RadLightBox_Material .rltbToolbar .rltbIcon {
    width: 1.42857em !important;
    font: inherit !important; }
  .RadLightBox_Material .rltbCloseButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }
    .RadLightBox_Material .rltbCloseButton:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
