.RadListBox_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadListBox_Material .rlbButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 8px !important;
    border: 0 !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadListBox_Material .rlbButtonIcon {
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
  .RadListBox_Material .rlbIconMoveUp:before {
    content: "\e5c7" !important; }
  .RadListBox_Material .rlbIconMoveDown:before {
    content: "\e5c5" !important; }
  .RadListBox_Material .rlbIconTransferLeft:before {
    content: "\e045" !important; }
  .RadListBox_Material .rlbIconTransferRight:before {
    content: "\e044" !important; }
  .RadListBox_Material .rlbIconTransferUp:before {
    content: "\e045" !important;
    transform: rotate(90deg) !important; }
  .RadListBox_Material .rlbIconTransferDown:before {
    content: "\e044" !important;
    transform: rotate(90deg) !important; }
  .RadListBox_Material .rlbIconTransferAllLeft:before {
    content: "\e020" !important; }
  .RadListBox_Material .rlbIconTransferAllRight:before {
    content: "\e01f" !important; }
  .RadListBox_Material .rlbIconTransferAllUp:before {
    content: "\e020" !important;
    transform: rotate(90deg) !important; }
  .RadListBox_Material .rlbIconTransferAllDown:before {
    content: "\e01f" !important;
    transform: rotate(90deg) !important; }
  .RadListBox_Material .rlbIconDelete:before {
    content: "\e5cd" !important; }
  .RadListBox_Material .rlbButtonAreaTop {
    margin-bottom: 8px !important; }
  .RadListBox_Material .rlbButtonAreaBottom {
    margin-top: 8px !important; }
  .RadListBox_Material .rlbGroup,
  .RadListBox_Material .rlbTemplateContent {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important; }
  .RadListBox_Material .rlbHeader,
  .RadListBox_Material .rlbFooter {
    padding: 6px 13px !important; }
  .RadListBox_Material .rlbCheckAllItems {
    padding: 6px 13px !important; }
  .RadListBox_Material .rlbItem {
    padding: 6px 13px !important; }
  .RadListBox_Material .rlbButton:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadListBox_Material .rlbHovered.rlbItem, .RadListBox_Material .rlbHighlight {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadListBox_Material .rlbHovered.rlbButton {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadListBox_Material .rlbActive.rlbButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadListBox_Material .rlbSelected.rlbItem {
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .RadListBox_Material .rlbDropClue {
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
    .RadListBox_Material .rlbDropClue:before {
      content: "\e5c8" !important; }
  .RadListBox_Material .rlbDropClueAbove {
    border-top-color: #E0E0E0 !important; }
  .RadListBox_Material .rlbDropClueBelow {
    border-bottom-color: #E0E0E0 !important; }
  .RadListBox_Material.rlbDragClue {
    background: #ffffff !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
    .RadListBox_Material.rlbDragClue .rlbItem {
      border-color: transparent !important;
      color: inherit !important;
      background: none !important; }

.RadListBox_Material.RadListBoxButtonAreaTop.rlbFixedHeight {
  padding: 32px 0 1.42857em !important; }
  .RadListBox_Material.RadListBoxButtonAreaTop.rlbFixedHeight .rlbButtonAreaTop {
    margin-top: -32px !important; }

.RadListBox_Material.RadListBoxButtonAreaBottom.rlbFixedHeight {
  padding: 32px 0 1.42857em !important; }
  .RadListBox_Material.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbGroup,
  .RadListBox_Material.RadListBoxButtonAreaBottom.rlbFixedHeight .rlbTemplate {
    margin-top: -32px !important; }
