.RadMap_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadMap_Material .k-header,
  .RadMap_Material .k-widget,
  .RadMap_Material .k-popup {
    color: #424242 !important; }
  .RadMap_Material .k-widget,
  .RadMap_Material .k-header {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    background-image: linear-gradient() !important; }
  .RadMap_Material.k-widget.k-tooltip {
    background-color: #424242 !important;
    color: #ffffff !important;
    border-color: #424242 !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    font-size: 13px !important;
    opacity: 0.9 !important; }
  .RadMap_Material .k-i-close:before,
  .RadMap_Material .k-i-close:hover:before {
    color: #ffffff !important; }
  .RadMap_Material .k-callout-n {
    border-bottom-color: #424242 !important; }
  .RadMap_Material .k-callout-e {
    border-left-color: #424242 !important; }
  .RadMap_Material .k-callout-s {
    border-top-color: #424242 !important; }
  .RadMap_Material .k-callout-w {
    border-right-color: #424242 !important; }
  .RadMap_Material .k-button,
  .RadMap_Material div.k-navigator > .k-button {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    color: #757575 !important; }
  .RadMap_Material div.k-navigator > .k-button {
    border-color: transparent !important; }
  .RadMap_Material div.k-navigator > .k-button:hover,
  .RadMap_Material div.k-navigator > .k-button:focus {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important;
    color: #757575 !important; }
  .RadMap_Material div.k-navigator > .k-button:focus {
    outline-width: thin !important;
    outline-offset: -2px !important;
    outline-color: #EEEEEE !important; }
  .RadMap_Material div.k-navigator > .k-button:active {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important;
    color: #757575 !important; }
  .RadMap_Material .k-button:hover,
  .RadMap_Material .k-button:active,
  .RadMap_Material .k-button:focus {
    color: #212121 !important; }
  .RadMap_Material .k-marker:before {
    color: #e50909 !important; }
  .RadMap_Material .k-touch-scrollbar, .RadMap_Material.k-tooltip,
  .RadMap_Material .k-animation-container, .RadMap_Material.k-animation-container {
    border-radius: 0 !important; }
  .RadMap_Material .k-navigator {
    width: 84px !important;
    height: 84px !important; }
  .RadMap_Material div.k-navigator > .k-button {
    width: 32px !important;
    height: 32px !important; }
  .RadMap_Material div.k-navigator .k-navigator-up {
    margin-left: -16px !important; }
  .RadMap_Material div.k-navigator .k-navigator-right {
    margin-top: -16px !important; }
  .RadMap_Material div.k-navigator .k-navigator-down {
    margin-left: -16px !important; }
  .RadMap_Material div.k-navigator .k-navigator-left {
    margin-top: -16px !important; }
  .RadMap_Material .k-buttons-horizontal .k-button {
    width: 26px !important;
    height: 25px !important; }
  .RadMap_Material .k-buttons-horizontal .k-zoom-in {
    border-radius: 2px 0 0 2px !important; }
  .RadMap_Material .k-buttons-horizontal .k-zoom-out {
    border-radius: 0 2px 2px 0 !important;
    border-left: 1px solid #E0E0E0 !important;
    z-index: 1 !important; }
  .RadMap_Material .k-marker:before,
  .RadMap_Material .k-marker-Pin-target:before,
  .RadMap_Material .k-marker-pin-target:before {
    content: "\e55f" !important;
    font-family: 'Material Icons' !important;
    color: #0d47a1 !important; }
  .RadMap_Material span.k-marker-Pin:before,
  .RadMap_Material span.k-marker-pin:before {
    content: "\e55e" !important; }
  .RadMap_Material.k-widget.k-tooltip {
    border-radius: 2px !important; }
  .RadMap_Material .k-navigator-n,
  .RadMap_Material .k-navigator-e,
  .RadMap_Material .k-navigator-s,
  .RadMap_Material .k-navigator-w {
    position: absolute !important; }
  .RadMap_Material .t-ripple-container {
    margin-top: -1px !important;
    margin-left: -1px !important; }
