.RadMediaPlayer_Material {
  color: #424242 !important; }
  .RadMediaPlayer_Material .rmpToolbarWrapper {
    bottom: 0 !important;
    padding: 6px 0 !important;
    background: linear-gradient(to top, #262626, rgba(38, 38, 38, 0)) repeat-x !important; }
  .RadMediaPlayer_Material .rmpToolbar {
    color: #ffffff !important; }
  .RadMediaPlayer_Material .rmpToolbar,
  .RadMediaPlayer_Material div.rmpVolContrBar {
    background-color: transparent !important;
    border-color: transparent !important; }
  .RadMediaPlayer_Material .rmpTitleBar {
    background: linear-gradient(to bottom, #262626, rgba(38, 38, 38, 0)) repeat-x !important;
    padding-bottom: 15px !important; }
  .RadMediaPlayer_Material .rmpPlaylist {
    background-color: #ffffff !important; }
    .RadMediaPlayer_Material .rmpPlaylist li a {
      background-color: #F5F5F5 !important;
      color: #424242 !important; }
      .RadMediaPlayer_Material .rmpPlaylist li a:hover {
        background-color: #EEEEEE !important;
        color: #424242 !important; }
    .RadMediaPlayer_Material .rmpPlaylist li.rmpActive a {
      background-color: transparent !important;
      color: #0d47a1 !important; }
    .RadMediaPlayer_Material .rmpPlaylist .rmpPlaylistPrevButton,
    .RadMediaPlayer_Material .rmpPlaylist .rmpPlaylistNextButton {
      background-color: #F5F5F5 !important; }
      .RadMediaPlayer_Material .rmpPlaylist .rmpPlaylistPrevButton:hover,
      .RadMediaPlayer_Material .rmpPlaylist .rmpPlaylistNextButton:hover {
        background-color: #EEEEEE !important; }
  .RadMediaPlayer_Material .rmpPlaylistVertical li,
  .RadMediaPlayer_Material .rmpPlaylistVerticalInside li {
    border-top: 1px solid rgba(255, 255, 255, 0.85) !important;
    border-bottom: 1px solid #E0E0E0 !important; }
  .RadMediaPlayer_Material .rmpPlaylistVertical .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Material .rmpPlaylistVerticalInside .rmpPlaylistPrevButtonWrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.85) !important; }
  .RadMediaPlayer_Material .rmpPlaylistVertical .rmpPlaylistNextButtonWrap,
  .RadMediaPlayer_Material .rmpPlaylistVerticalInside .rmpPlaylistNextButtonWrap {
    border-top: 1px solid rgba(255, 255, 255, 0.85) !important; }
  .RadMediaPlayer_Material .rmpPlaylistHorizontal.rmpPlaylistNavButtons {
    border-bottom: 1px solid #E0E0E0 !important;
    border-bottom: 1px solid #E0E0E0 !important; }
  .RadMediaPlayer_Material .rmpPlaylistHorizontal li {
    border-left: 1px solid rgba(255, 255, 255, 0.85) !important;
    border-right: 1px solid #E0E0E0 !important; }
  .RadMediaPlayer_Material .rmpPlaylistHorizontal .rmpPlaylistPrevButtonWrap,
  .RadMediaPlayer_Material .rmpPlaylistHorizontal .rmpPlaylistNextButtonWrap {
    border-left: 1px solid #E0E0E0 !important;
    border-right: 1px solid #E0E0E0 !important; }
  .RadMediaPlayer_Material .rmpBanner {
    border: 1px solid #E0E0E0 !important; }
    .RadMediaPlayer_Material .rmpBanner .rmpActionButton {
      background-color: #F5F5F5 !important;
      color: #424242 !important; }
  .RadMediaPlayer_Material .rmpBigPlayButton,
  .RadMediaPlayer_Material .rmpBigPauseButton {
    background: rgba(245, 245, 245, 0.4) !important; }
  .RadMediaPlayer_Material .rmpToolbar .rmpActionButton {
    color: #ffffff !important; }
    .RadMediaPlayer_Material .rmpToolbar .rmpActionButton:hover {
      color: #212121 !important; }
    .RadMediaPlayer_Material .rmpToolbar .rmpActionButton .rmpSubtitlesActiveIcon,
    .RadMediaPlayer_Material .rmpToolbar .rmpActionButton .rmpHDActiveIcon {
      color: #0d47a1 !important; }
  .RadMediaPlayer_Material .rmpSocialShareBox {
    background-color: #E0E0E0 !important; }
  .RadMediaPlayer_Material .sshLinkItem {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }
    .RadMediaPlayer_Material .sshLinkItem:active, .RadMediaPlayer_Material .sshLinkItem:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
