.RadMenu_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadMenu_Material .rmGroup,
  .RadMenu_Material .rmMultiColumn {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    padding: 0 !important;
    border-width: 0 !important; }
  .RadMenu_Material .rmGroup:before,
  .RadMenu_Material .rmMultiColumn:before,
  .RadMenu_Material .rmScrollWrap > .rmHorizontal:before,
  .RadMenu_Material .rmScrollWrap > .rmVertical:before {
    display: none !important; }
  .RadMenu_Material .rmVertical > li.rmSeparator {
    margin: 0 !important;
    border-top-color: #e6e6e6 !important;
    border-bottom-color: white !important; }
  .RadMenu_Material .rmHorizontal > li.rmSeparator {
    border-left-color: #e6e6e6 !important;
    border-right-color: white !important; }
  .RadMenu_Material .rmIcon {
    font-size: 0 !important; }
    .RadMenu_Material .rmIcon:before {
      font-size: 18px !important;
      text-indent: 0 !important; }
  .RadMenu_Material .rmIcon,
  .RadMenu_Material .rmArrow .rmIcon,
  .RadMenu_Material .rmGroup .rmIcon {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    margin: -12px 0 0 -12px !important; }
  .RadMenu_Material .rmIcon:before,
  .RadMenu_Material .rmExpand:before {
    color: #757575 !important;
    font-family: "Material Icons" !important; }
  .RadMenu_Material .rmExpand:before {
    right: 8px !important; }
  .RadMenu_Material .rmTopArrow .rmIcon:before {
    content: "\e5c7" !important; }
  .RadMenu_Material .rmHorizontal .rmToggle .rmIcon:before,
  .RadMenu_Material .rmHorizontal .rmExpand:before,
  .RadMenu_Material .rmBottomArrow .rmIcon:before {
    content: "\e5c5" !important; }
  .RadMenu_Material .rmLeftArrow .rmIcon:before {
    content: "\e314" !important; }
  .RadMenu_Material .rmVertical .rmToggle .rmIcon:before,
  .RadMenu_Material .rmVertical .rmExpand:before,
  .RadMenu_Material .rmRightArrow .rmIcon:before {
    content: "\e315" !important; }
  .RadMenu_Material .rmArrow {
    border: 0 !important;
    background-color: #ffffff !important; }
  .RadMenu_Material .rmLeftArrow,
  .RadMenu_Material .rmRightArrow {
    width: 36px !important; }
  .RadMenu_Material .rmRootGroup {
    padding: 4px !important;
    border: 0 !important;
    color: #424242 !important;
    background: #ffffff !important; }
    .RadMenu_Material .rmRootGroup.rmVertical {
      background-image: none !important; }
      .RadMenu_Material .rmRootGroup.rmVertical > .rmItem,
      .RadMenu_Material .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem {
        margin-bottom: 2px !important; }
        .RadMenu_Material .rmRootGroup.rmVertical > .rmItem.rmLast,
        .RadMenu_Material .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem.rmLast {
          margin-bottom: 0 !important; }
    .RadMenu_Material .rmRootGroup.rmHorizontal > .rmItem,
    .RadMenu_Material .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmItem {
      border: 0 !important;
      margin-right: 2px !important; }
      .RadMenu_Material .rmRootGroup.rmHorizontal > .rmItem.rmLast,
      .RadMenu_Material .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmItem.rmLast {
        margin-right: 0 !important; }
    .RadMenu_Material .rmRootGroup .rmRootLink {
      padding: 13px 24px !important;
      font-size: 1.14286em !important;
      border-radius: 2px !important; }
    .RadMenu_Material .rmRootGroup .rmRootLink:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
    .RadMenu_Material .rmRootGroup .rmArrow:hover {
      background: #EEEEEE !important; }
    .RadMenu_Material .rmRootGroup > .rmArrow:hover .rmIcon:before {
      color: #212121 !important; }
    .RadMenu_Material .rmRootGroup .rmSelected > .rmRootLink,
    .RadMenu_Material .rmRootGroup .rmExpanded > .rmRootLink {
      border-color: #E0E0E0 !important;
      color: #424242 !important;
      background-color: #E0E0E0 !important; }
    .RadMenu_Material .rmRootGroup .rmFocused > .rmRootLink {
      box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.5) inset !important; }
  .RadMenu_Material .rmShadows {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadMenu_Material .rmPopup,
  .RadMenu_Material .rmGroup {
    padding: 16px 0 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadMenu_Material .rmPopup.rmScrollWrap > .rmVertical,
    .RadMenu_Material .rmGroup.rmScrollWrap > .rmVertical {
      padding: 16px 0 !important; }
    .RadMenu_Material .rmPopup.rmScrollWrap > .rmHorizontal,
    .RadMenu_Material .rmGroup.rmScrollWrap > .rmHorizontal {
      padding: 4px !important; }
    .RadMenu_Material .rmPopup .rmLink,
    .RadMenu_Material .rmGroup .rmLink {
      border: 0 !important;
      padding-top: 6px !important;
      padding-bottom: 6px !important; }
    .RadMenu_Material .rmPopup .rmText,
    .RadMenu_Material .rmGroup .rmText {
      display: inline-block !important; }
    .RadMenu_Material .rmPopup .rmImage,
    .RadMenu_Material .rmPopup .rmLeftImage,
    .RadMenu_Material .rmGroup .rmImage,
    .RadMenu_Material .rmGroup .rmLeftImage {
      left: 8px !important; }
    .RadMenu_Material .rmPopup.rmLevel2,
    .RadMenu_Material .rmGroup.rmLevel2 {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
    .RadMenu_Material .rmPopup.rmLevel3,
    .RadMenu_Material .rmGroup.rmLevel3 {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }
    .RadMenu_Material .rmPopup.rmLevel4,
    .RadMenu_Material .rmGroup.rmLevel4 {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.2) !important; }
    .RadMenu_Material .rmPopup.rmLevel5,
    .RadMenu_Material .rmGroup.rmLevel5 {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
    .RadMenu_Material .rmPopup .rmLink:hover,
    .RadMenu_Material .rmGroup .rmLink:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
    .RadMenu_Material .rmPopup .rmSelected > .rmLink,
    .RadMenu_Material .rmGroup .rmSelected > .rmLink {
      border-color: transparent !important;
      color: #0d47a1 !important;
      background-color: transparent !important; }
    .RadMenu_Material .rmPopup .rmExpanded > .rmLink,
    .RadMenu_Material .rmGroup .rmExpanded > .rmLink {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
    .RadMenu_Material .rmPopup .rmFocused > .rmLink,
    .RadMenu_Material .rmGroup .rmFocused > .rmLink {
      box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.5) inset !important; }

.RadMenu_Material_rtl .rmExpand:before {
  right: auto !important;
  left: 8px !important; }

.RadMenu_Material_rtl .rmVertical .rmToggle .rmIcon:before,
.RadMenu_Material_rtl .rmVertical .rmExpand:before {
  content: "\e314" !important; }
