.RadNavigation_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadNavigation_Material .rnvRootGroupWrapper {
    border: 0 !important;
    padding: 4px !important;
    color: #424242 !important;
    background: #ffffff !important; }
  .RadNavigation_Material .rnvRootGroup > .rnvItem {
    margin-left: 2px !important; }
    .RadNavigation_Material .rnvRootGroup > .rnvItem.rnvFirst {
      margin-left: 0 !important; }
  .RadNavigation_Material .rnvRootLink {
    border-radius: 2px !important;
    border-color: transparent !important; }
  .RadNavigation_Material .rnvMore {
    border-color: transparent !important;
    color: #424242 !important;
    background: #ffffff !important; }
    .RadNavigation_Material .rnvMore:before {
      width: 24px !important;
      height: 24px !important;
      line-height: 24px !important;
      font-size: 24px !important;
      font-family: "Material Icons" !important;
      content: "\e5d2" !important; }
  .RadNavigation_Material .rnvHovered > .rnvRootLink {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadNavigation_Material .rnvHovered.rnvMore {
    color: #212121 !important; }
  .RadNavigation_Material .rnvSelected.rnvMore,
  .RadNavigation_Material .rnvSelected > .rnvRootLink,
  .RadNavigation_Material .rnvExpanded > .rnvRootLink {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadNavigation_Material .rnvFocused.rnvMore,
  .RadNavigation_Material .rnvFocused > .rnvRootLink {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }

.radSkin_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }

.radSkin_Material .rnvPopup {
  border-radius: 2px !important;
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.08), 0 2px 5px rgba(0, 0, 0, 0.15) !important; }
  .radSkin_Material .rnvPopup.rnvMorePopup .rnvUL .rnvUL {
    padding: 0 !important; }
  .radSkin_Material .rnvPopup .rnvUL {
    padding: 16px 0 !important; }
  .radSkin_Material .rnvPopup .rnvLink {
    color: #424242 !important; }
  .radSkin_Material .rnvPopup .rnvHovered > .rnvLink {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .radSkin_Material .rnvPopup .rnvSelected > .rnvLink,
  .radSkin_Material .rnvPopup.rnvMorePopup .rnvSelected > .rnvLink {
    border-color: transparent !important;
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .radSkin_Material .rnvPopup .rnvExpanded > .rnvLink {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .radSkin_Material .rnvPopup.rnvMorePopup .rnvExpanded > .rnvLink {
    color: #212121 !important;
    background: transparent !important; }
  .radSkin_Material .rnvPopup .rnvFocused > .rnvLink {
    box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.5) inset !important; }
