.RadNotification_Material {
  font-family: "Roboto", "Noto", sans-serif !important;
  background-color: #ffffff !important;
  color: #424242 !important;
  border-color: #ffffff !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadNotification_Material.rnShadows {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadNotification_Material .rnTitleBar {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    background-image: linear-gradient() !important; }
  .RadNotification_Material {
    overflow: visible !important; }
  .RadNotification_Material.rnRoundedCorners {
    border-radius: 0.14286em !important; }
  .RadNotification_Material.rnRoundedCorners .rnTitleBar {
    border-radius: 0.14286em 0.14286em 0em 0em !important; }
  .RadNotification_Material .rnTitleBar {
    margin: -1px !important;
    padding: 14px 14px 13px !important; }
    .RadNotification_Material .rnTitleBar .rnTitleBarTitle {
      padding: 5px 0 !important;
      margin: -7px 0 -3px !important;
      vertical-align: middle !important;
      font-size: 1.42857em !important; }
    .RadNotification_Material .rnTitleBar .rnIcon {
      min-width: 24px !important;
      min-height: 24px !important;
      margin: -0.07143em 0.42857em 0em 0em !important; }
    .RadNotification_Material .rnTitleBar .rnIcon:before {
      vertical-align: middle !important;
      font-size: 24px !important; }
    .RadNotification_Material .rnTitleBar .rnCommands {
      right: 1.14286em !important;
      margin: -1.28571em 0em 0em !important; }
      .RadNotification_Material .rnTitleBar .rnCommands li {
        margin: 0em 0em 0em 0.42857em !important;
        line-height: 1.42857em !important;
        padding: 4px 7px !important;
        border-radius: 45px !important; }
      .RadNotification_Material .rnTitleBar .rnCommands li:hover {
        background-color: rgba(255, 255, 255, 0.12) !important; }
      .RadNotification_Material .rnTitleBar .rnCommands a:before {
        margin: 0.35714em 0em 0em !important; }
  .RadNotification_Material.rnRtl .rnTitleBar {
    padding: 0.28571em 1.5em 0.28571em 1.14286em !important; }
    .RadNotification_Material.rnRtl .rnTitleBar .rnCommands {
      left: 1.14286em !important; }
