.RadOrgChart_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadOrgChart_Material .rocNodeList {
    margin-top: 58px !important; }
  .RadOrgChart_Material .rocGroup {
    padding: 0 13px 13px !important;
    border-radius: 4px !important;
    background: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadOrgChart_Material .rocItemWrap {
    margin: 13px 13px 0 0 !important; }
    .RadOrgChart_Material .rocItemWrap.rocLastInRow {
      margin-right: 0 !important; }
  .RadOrgChart_Material .rocItem,
  .RadOrgChart_Material .rocItemTemplate {
    border: 0 !important;
    background: #F5F5F5 !important; }
  .RadOrgChart_Material .rocItemField {
    margin-top: 13px !important;
    margin-bottom: -5px !important; }
  .RadOrgChart_Material .rocImageReplacement:before {
    color: #757575 !important;
    opacity: 1 !important; }
  .RadOrgChart_Material .rocExpandArrow,
  .RadOrgChart_Material .rocCollapseArrow,
  .RadOrgChart_Material .rocExpandGroupArrow,
  .RadOrgChart_Material .rocCollapseGroupArrow {
    border: 0 !important;
    font-size: 18px !important;
    font-family: "Material Icons" !important;
    color: #757575 !important;
    text-indent: 0 !important;
    text-align: center !important;
    transition: all 0.2s ease-in-out !important; }
  .RadOrgChart_Material .rocExpandGroupArrow,
  .RadOrgChart_Material .rocCollapseGroupArrow {
    width: 36px !important;
    height: 36px !important;
    line-height: 36px !important;
    border-radius: 18px !important;
    margin: 0 -13px -13px !important; }
  .RadOrgChart_Material .rocCollapseArrow,
  .RadOrgChart_Material .rocExpandArrow {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    bottom: -45px !important;
    border-radius: 12px !important;
    margin-left: -12px !important;
    background: #F5F5F5 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadOrgChart_Material .rocCollapseGroupArrow:before {
    content: "\e314" !important; }
  .RadOrgChart_Material .rocExpandGroupArrow:before {
    content: "\e315" !important; }
  .RadOrgChart_Material .rocCollapseArrow:before {
    content: "\e15b" !important; }
  .RadOrgChart_Material .rocExpandArrow:before {
    content: "\e145" !important; }
  .RadOrgChart_Material .rocGroup:after,
  .RadOrgChart_Material.rocSimple .rocItem:after,
  .RadOrgChart_Material.rocSimple .rocItemTemplate:after {
    height: 34px !important;
    bottom: -34px !important; }
  .RadOrgChart_Material .rocLoadingNodes .rocExpandArrow,
  .RadOrgChart_Material .rocLoadingNodes .rocCollapseArrow,
  .RadOrgChart_Material .rocLoadingGroups .rocExpandGroupArrow,
  .RadOrgChart_Material .rocLoadingGroups .rocCollapseGroupArrow {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
  .RadOrgChart_Material .rocExpandArrow:hover,
  .RadOrgChart_Material .rocCollapseArrow:hover,
  .RadOrgChart_Material .rocExpandGroupArrow:hover,
  .RadOrgChart_Material .rocCollapseGroupArrow:hover {
    color: #212121 !important; }

.RadOrgChart_Material.rocHorizontal .rocItemWrap {
  margin-top: 13px !important;
  padding: 0 !important; }

.RadOrgChart_Material.rocHorizontal .rocExpandGroupArrow,
.RadOrgChart_Material.rocHorizontal .rocCollapseGroupArrow {
  margin-right: -13px !important; }

.RadOrgChart_Material.rocHorizontal .rocExpandArrow,
.RadOrgChart_Material.rocHorizontal .rocCollapseArrow {
  right: -34px !important;
  margin-top: -12px !important; }

.RadOrgChart_Material.rocSimple .rocItem,
.RadOrgChart_Material.rocSimple .rocItemTemplate {
  background: #F5F5F5 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }

.RadOrgChart_Material.rocDetachedItem,
.RadOrgChart_Material.rocDetachedNode {
  border: 0 !important;
  background-color: #F5F5F5 !important;
  color: #424242 !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadOrgChart_Material.rocDetachedItem:before,
  .RadOrgChart_Material.rocDetachedNode:before {
    font: 18px "Material Icons" !important; }
  .RadOrgChart_Material.rocDetachedItem.rocAddClue:before,
  .RadOrgChart_Material.rocDetachedNode.rocAddClue:before {
    content: "\e145" !important; }
  .RadOrgChart_Material.rocDetachedItem.rocAppendClue:before,
  .RadOrgChart_Material.rocDetachedNode.rocAppendClue:before {
    content: "\e2c4" !important;
    border: 0 !important; }
  .RadOrgChart_Material.rocDetachedItem.rocNoDropClue:before,
  .RadOrgChart_Material.rocDetachedNode.rocNoDropClue:before {
    content: "\e14b" !important; }

.rocToolbar_Material {
  font-family: "Roboto", "Noto", sans-serif !important;
  overflow: hidden !important;
  padding: 0 !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important;
  margin-top: -5px !important; }
  .rocToolbar_Material ul {
    margin: 0 !important; }
  .rocToolbar_Material li {
    margin: 0 !important; }
  .rocToolbar_Material .rocToolbarButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    font: 18px "Material Icons" !important;
    width: 1.11111em !important;
    height: 1.11111em !important;
    line-height: 1.11111 !important;
    padding: 5px !important;
    border-width: 0 !important; }
    .rocToolbar_Material .rocToolbarButton.rocActionDrillHere:before {
      content: "\e258" !important; }
    .rocToolbar_Material .rocToolbarButton.rocActionGoToRoot:before {
      content: "\e25a" !important; }
    .rocToolbar_Material .rocToolbarButton.rocActionGoToParent:before {
      content: "\e259" !important; }
  .rocToolbar_Material .rocActionGoToRootWrap .rocToolbarButton {
    border-left-width: 1px !important; }
  .rocToolbar_Material .rocToolbarButton:hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .rocToolbar_Material .rocToolbarButton:active {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
