.RadPanelBar_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadPanelBar_Material .rpRootLink,
  .RadPanelBar_Material .rpHeaderTemplate {
    margin: 0 !important;
    border: 0 !important;
    padding: 13px !important;
    font-size: 1.14286em !important;
    border-top: 1px solid transparent !important; }
  .RadPanelBar_Material .rpGroup {
    box-sizing: border-box !important; }
    .RadPanelBar_Material .rpGroup .rpItem,
    .RadPanelBar_Material .rpGroup .rpItem.rpFirst,
    .RadPanelBar_Material .rpGroup .rpItem.rpLast {
      padding: 0 !important; }
    .RadPanelBar_Material .rpGroup .rpItem + .rpItem {
      margin: 0 !important; }
    .RadPanelBar_Material .rpGroup .rpLink,
    .RadPanelBar_Material .rpGroup .rpHeaderTemplate {
      border: 0 !important;
      padding-top: 6px !important;
      padding-bottom: 6px !important; }
    .RadPanelBar_Material .rpGroup.rpFirst, .RadPanelBar_Material .rpGroup.rpLast {
      padding: 0 !important; }
  .RadPanelBar_Material .rpGroup .rpGroup .rpItem .rpLink,
  .RadPanelBar_Material .rpGroup .rpGroup .rpItem .rpHeaderTemplate {
    padding-left: 30px !important; }
  .RadPanelBar_Material .rpExpandable .rpExpandHandle {
    display: table !important;
    top: 6px !important;
    width: calc(1.25em + 16px) !important;
    height: calc(1.25em + 16px) !important;
    border: 0 !important;
    color: #757575 !important; }
  .RadPanelBar_Material .rpGroup .rpExpandable .rpExpandHandle {
    width: calc(1.42857143em + 14px) !important;
    height: calc(1.42857143em + 14px) !important;
    top: 0 !important;
    right: 4px !important; }
  .RadPanelBar_Material .p-icon {
    width: 100% !important; }
  .RadPanelBar_Material .p-icon:before {
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
  .RadPanelBar_Material .p-i-arrow-chevron-down:before {
    content: "\e313" !important; }
  .RadPanelBar_Material .p-i-arrow-chevron-up:before {
    content: "\e316" !important; }
  .RadPanelBar_Material .rpHovered.rpLink,
  .RadPanelBar_Material .rpHovered.rpHeaderTemplate {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadPanelBar_Material .rpHovered.rpExpandHandle {
    color: #212121 !important; }
  .RadPanelBar_Material .rpFocused {
    box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.5) inset !important; }
  .RadPanelBar_Material .rpExpanded {
    color: #212121 !important; }
  .RadPanelBar_Material .rpExpanded.rpRootLink {
    border-color: #E0E0E0 !important; }
    .RadPanelBar_Material .rpExpanded.rpRootLink + .rpSlide > .rpGroup {
      border-bottom: 1px solid #E0E0E0 !important; }
  .RadPanelBar_Material .rpExpanded .rpExpandHandle {
    color: #212121 !important; }
  .RadPanelBar_Material .rpSelected.rpLink {
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .RadPanelBar_Material .rpSelected .rpExpandHandle {
    color: #212121 !important; }
