.RadProgressBar_Material {
  background-color: #E0E0E0 !important;
  color: #424242 !important;
  border-color: #FAFAFA !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadProgressBar_Material > .rpbLabelWrapper,
  .RadProgressBar_Material li.rpbChunkLast {
    border-color: #E0E0E0 !important; }
  .RadProgressBar_Material .rpbStateSelected,
  .RadProgressBar_Material .rpbStateSelected:hover,
  .RadProgressBar_Material .rpbStateSelected:link,
  .RadProgressBar_Material .rpbStateSelected:visited {
    background-color: #1565c0 !important;
    color: #ffffff !important; }
  .RadProgressBar_Material .rpbChunk {
    border-color: transparent #FAFAFA transparent transparent !important; }
  .RadProgressBar_Material .rpbChunk.rpbStateDefault {
    background-color: #E0E0E0 !important; }
  .RadProgressBar_Material .rpbStateSelected,
  .RadProgressBar_Material .rpbStateSelected:hover,
  .RadProgressBar_Material .rpbStateSelected:link,
  .RadProgressBar_Material .rpbStateSelected:visited,
  .RadProgressBar_Material .rpbChunk.rpbStateSelected {
    border-color: #1565c0 #FAFAFA #1565c0 #1565c0 !important; }
  .RadProgressBar_Material.rpbReversed .rpbChunk {
    border-color: transparent transparent transparent #FAFAFA !important; }
  .RadProgressBar_Material.rpbReversed li.rpbChunkFirst {
    border-color: transparent #FAFAFA transparent transparent !important; }
  .RadProgressBar_Material.rpbReversed .rpbStateSelected,
  .RadProgressBar_Material.rpbReversed .rpbStateSelected:hover,
  .RadProgressBar_Material.rpbReversed .rpbStateSelected:link,
  .RadProgressBar_Material.rpbReversed .rpbStateSelected:visited,
  .RadProgressBar_Material.rpbReversed .rpbChunk.rpbStateSelected {
    border-color: #1565c0 #1565c0 #1565c0 #FAFAFA !important; }
  .RadProgressBar_Material.rpbVertical .rpbChunk {
    border-color: #FAFAFA transparent transparent !important; }
  .RadProgressBar_Material.rpbVertical .rpbChunk.rpbChunkFirst {
    border-color: transparent !important; }
  .RadProgressBar_Material.rpbVertical .rpbStateSelected,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected:hover,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected:link,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected:visited,
  .RadProgressBar_Material.rpbVertical .rpbChunk.rpbStateSelected {
    border-color: #FAFAFA #1565c0 #1565c0 !important; }
  .RadProgressBar_Material.rpbVertical.rpbReversed .rpbChunk.rpbChunkFirst {
    border-color: transparent !important; }
  .RadProgressBar_Material.rpbVertical.rpbReversed.rpbRtl .rpbStateSelected,
  .RadProgressBar_Material.rpbVertical.rpbReversed.rpbRtl .rpbStateSelected:hover,
  .RadProgressBar_Material.rpbVertical.rpbReversed.rpbRtl .rpbStateSelected:link,
  .RadProgressBar_Material.rpbVertical.rpbReversed.rpbRtl .rpbStateSelected:visited,
  .RadProgressBar_Material.rpbVertical.rpbReversed.rpbRtl .rpbChunk.rpbStateSelected {
    border-color: #1565c0 #1565c0 #FAFAFA !important; }
  .RadProgressBar_Material.rpbVertical.rpbIndeterminate, .RadProgressBar_Material.rpbHorizontal.rpbIndeterminate {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.radIndeterminate.gif")%>') !important; }
  .RadProgressBar_Material,
  .RadProgressBar_Material.rpbHorizontal > .rpbStateSelected.rpbStateCompleted,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl > .rpbStateSelected.rpbStateCompleted,
  .RadProgressBar_Material.rpbVertical > .rpbStateSelected.rpbStateCompleted,
  .RadProgressBar_Material.rpbVertical.rpbRtl > .rpbStateSelected.rpbStateCompleted,
  .RadProgressBar_Material > .rpbReset,
  .RadProgressBar_Material > .rpbLabelWrapper,
  .RadProgressBar_Material.rpbHorizontal > .rpbStateSelected,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl.rpbReversed > .rpbStateSelected,
  .RadProgressBar_Material > .rpbChunksWrapper,
  .RadProgressBar_Material.rpbHorizontal .rpbChunkFirst,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl .rpbChunkLast,
  .RadProgressBar_Material.rpbHorizontal .rpbChunkLast,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl .rpbChunkFirst,
  .RadProgressBar_Material.rpbVertical > .rpbStateSelected,
  .RadProgressBar_Material.rpbVertical .rpbChunkFirst,
  .RadProgressBar_Material.rpbVertical .rpbChunkLast,
  .RadProgressBar_Material.rpbHorizontal.rpbReversed > .rpbStateSelected,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl > .rpbStateSelected,
  .RadProgressBar_Material.rpbHorizontal .rpbChunkFirst,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl .rpbChunkLast,
  .RadProgressBar_Material.rpbHorizontal.rpbRtl.rpbReversed .rpbChunkLast,
  .RadProgressBar_Material.rpbVertical.rpbReversed > .rpbStateSelected {
    border-radius: 0 !important; }
  .RadProgressBar_Material,
  .RadProgressBar_Material .rpbStateSelected,
  .RadProgressBar_Material .rpbStateSelected:hover, .RadProgressBar_Material.rpbVertical,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected:hover,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected:link,
  .RadProgressBar_Material.rpbVertical .rpbStateSelected:visited {
    background-image: none !important; }
  .RadProgressBar_Material .rpbLabel {
    color: #757575 !important;
    font-size: 0.85714em !important; }
  .RadProgressBar_Material.rpbHorizontal {
    height: 0.35714em !important;
    margin: 0em 0em 1.78571em !important; }
    .RadProgressBar_Material.rpbHorizontal .rpbLabel {
      padding: 2px 0 0 !important; }
  .RadProgressBar_Material.rpbVertical {
    width: 0.35714em !important;
    margin: 0em 1.42857em 0em 0em !important; }
    .RadProgressBar_Material.rpbVertical .rpbChunk {
      border-width: 1px 0 0 !important; }
    .RadProgressBar_Material.rpbVertical .rpbLabel {
      margin: 0em 0em 0em -0.07143em !important;
      padding: 0em 0em 0.28571em !important; }
  .RadProgressBar_Material.rpbVertical.rpbReversed .rpbLabel {
    margin: 0em -0.07143em 0em 0em !important;
    padding: 0.21429em 0em 0em !important; }
  .RadProgressBar_Material.rpbVertical.rpbReversed .rpbChunk {
    border-width: 1px 0 0 !important; }
