.RadUploadProgressArea_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  border-width: 0 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1), 0 4px 10px 1px rgba(0, 0, 0, 0.15) !important; }
  .RadUploadProgressArea_Material .ruHeader {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    font-size: 1.42857em !important;
    line-height: 1 !important; }
  .RadUploadProgressArea_Material .ruBody {
    color: #757575 !important; }
  .RadUploadProgressArea_Material .ruBody div,
  .RadUploadProgressArea_Material .ruBody p {
    font-size: 0.85714em !important; }
  .RadUploadProgressArea_Material .ruCurrentFile > span,
  .RadUploadProgressArea_Material .ruTimeSpeed > span {
    color: #424242 !important;
    font-size: 1.16667em !important; }
  .RadUploadProgressArea_Material .ruTimeSpeed {
    opacity: 1 !important; }
  .RadUploadProgressArea_Material .ruFooter {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 6px !important; }
  .RadUploadProgressArea_Material .ruProgressBar {
    border: 0 !important;
    background: #E0E0E0 !important; }
  .RadUploadProgressArea_Material .ruProgress {
    height: 5px !important;
    border: 0 !important;
    background: #1565c0 !important; }
  .RadUploadProgressArea_Material .ruButton {
    padding: 8px 24px !important;
    color: #424242 !important;
    border: 0 !important;
    border-radius: 2px !important;
    background: transparent !important; }
  .RadUploadProgressArea_Material .ruCancel {
    text-transform: uppercase !important;
    padding: 8px 13px !important;
    border: 0 !important;
    border-radius: 2px !important;
    color: #1565c0 !important;
    transition: background .2s ease-in-out !important; }
  .RadUploadProgressArea_Material .radButton.ruHovered {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadUploadProgressArea_Material .ruCancel.ruHovered {
    background: rgba(63, 81, 181, 0.12) !important;
    box-shadow: none !important; }
