.RadRating_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadRating_Material a:before,
  .RadRating_Material a:hover:before {
    color: #424242 !important; }
  .RadRating_Material .rrtOver span:before,
  .RadRating_Material a:hover .rrtPartComplement:before,
  .RadRating_Material .rrtVertical .rrtSelected.rrtOver a:before,
  .RadRating_Material .rrtSelected a .rrtPartSelected:before,
  .RadRating_Material .rrtSelected.rrtOver a:before {
    color: #424242 !important; }
  .RadRating_Material .rrtSelected span:before {
    color: #3949AB !important; }
  .RadRating_Material .rrtSelected .rrtPart:before,
  .RadRating_Material .rrtSelected.rrtOver span:before {
    color: #303F9F !important; }
  .RadRating_Material .rrtReversed .rrtPart:before {
    color: #424242 !important; }
  .RadRating_Material .rrtReversed .rrtSelected .rrtPartComplement:before {
    color: #303F9F !important; }
