.RadRibbonBar_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadRibbonBar_Material .rrbWrap {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    border-radius: 2px !important; }
  .RadRibbonBar_Material .rrbTabs {
    padding: 0 !important;
    border-color: #E0E0E0 !important;
    text-transform: uppercase !important; }
    .RadRibbonBar_Material .rrbTabs .rrbItem {
      bottom: 0 !important;
      margin-right: 0 !important; }
      .RadRibbonBar_Material .rrbTabs .rrbItem.rrbSelected .rrbLink {
        color: #1565c0 !important;
        background: transparent !important; }
        .RadRibbonBar_Material .rrbTabs .rrbItem.rrbSelected .rrbLink:before {
          content: "" !important;
          position: absolute !important;
          bottom: 0 !important;
          left: 0 !important;
          right: 0 !important;
          height: 2px !important;
          background-color: #1565c0 !important; }
    .RadRibbonBar_Material .rrbTabs .rrbLink {
      position: relative !important;
      border: 0 !important;
      padding: 8px 13px !important; }
  .RadRibbonBar_Material .rrbApplicationItem {
    bottom: 0 !important;
    margin-right: 0 !important; }
    .RadRibbonBar_Material .rrbApplicationItem .rrbLink {
      color: #ffffff !important;
      border-color: #1565c0 !important;
      background-color: #1565c0 !important; }
    .RadRibbonBar_Material .rrbApplicationItem.rrbSelected .rrbHeaderBar {
      top: 0 !important;
      border: 0 !important;
      background: #F5F5F5 !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadRibbonBar_Material .rrbApplicationItem.rrbSelected .rrbLink {
      color: #ffffff !important;
      border-color: #303F9F !important;
      background-color: #303F9F !important; }
  .RadRibbonBar_Material .rrbContextualItem .rrbLabel,
  .RadRibbonBar_Material .rrbContextualItem .rrbItem {
    color: #ffffff !important; }
  .RadRibbonBar_Material .rrbQat {
    padding: 0 0 1px !important; }
    .RadRibbonBar_Material .rrbQat .rrbQatDropDown .rrbSlide {
      margin-top: 18px !important; }
    .RadRibbonBar_Material .rrbQat .rrbQatDropDown .rrbItem {
      padding: 6px !important; }
      .RadRibbonBar_Material .rrbQat .rrbQatDropDown .rrbItem .rrbChecked label:before {
        font-size: 18px !important;
        font-family: "Telerik Icons" !important;
        content: "\e879" !important; }
    .RadRibbonBar_Material .rrbQat .rrbButton {
      border: 0 !important; }
  .RadRibbonBar_Material .rrbMenu {
    padding: 0 !important; }
    .RadRibbonBar_Material .rrbMenu .rrbUL {
      padding: 8px 0 !important; }
    .RadRibbonBar_Material .rrbMenu .rrbItem {
      border: 0 !important; }
  .RadRibbonBar_Material .rrbMenu .rrbHeader {
    padding: 6px 13px !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }
  .RadRibbonBar_Material .rrbToolTip {
    color: #424242 !important;
    border-color: #E0E0E0 !important;
    background-color: #F5F5F5 !important; }
  .RadRibbonBar_Material .rrbToggleHandle {
    width: 1.42857em !important;
    height: 1.42857em !important;
    margin-top: 0 !important;
    top: -1px !important;
    right: -1px !important;
    padding: 8px !important;
    transition: all 0.2 ease-in-out !important; }
    .RadRibbonBar_Material .rrbToggleHandle:before {
      font: 18px "Material Icons" !important;
      content: "\e316" !important; }
    .RadRibbonBar_Material .rrbToggleHandle:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
  .RadRibbonBar_Material.rrbMinimized .rrbToggleHandle:before {
    content: "\e313" !important; }
  .RadRibbonBar_Material .rrbCommandGroup {
    padding: 0 0 1.5em !important;
    border-width: 0 1px 0 0 !important;
    border-color: #E0E0E0 !important;
    background-color: #F5F5F5 !important; }
    .RadRibbonBar_Material .rrbCommandGroup ~ .rrbCommandGroup {
      margin-left: 0 !important; }
    .RadRibbonBar_Material .rrbCommandGroup:before {
      float: left !important;
      height: 4.28571em !important;
      padding: 24px 0 !important; }
  .RadRibbonBar_Material .rrbCommandArea {
    padding: 0 !important;
    background-color: #F5F5F5 !important; }
  .RadRibbonBar_Material .rrbResizeHandle {
    background-position: -5px -885px !important; }
  .RadRibbonBar_Material .radIcon {
    color: #757575 !important;
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
    .RadRibbonBar_Material .radIcon.radIconUp:before {
      content: "\e5c7" !important; }
    .RadRibbonBar_Material .radIcon.radIconDown:before {
      content: "\e5c5" !important; }
    .RadRibbonBar_Material .radIcon.radIconExpand:before {
      content: "\e5cf" !important; }
    .RadRibbonBar_Material .radIcon.radIconResize:before {
      content: "\E006" !important; }
  .RadRibbonBar_Material .rrbTitle {
    clear: both !important;
    margin-top: 0 !important;
    padding: 5px 13px 2px !important;
    font-weight: 500 !important;
    font-size: 0.857em !important;
    color: #757575 !important;
    border-color: #E0E0E0 !important;
    background-color: #F5F5F5 !important; }
  .RadRibbonBar_Material .rrbGroupLauncher {
    top: 11px !important;
    right: 13px !important; }
    .RadRibbonBar_Material .rrbGroupLauncher:before {
      font-family: "Material Icons" !important;
      content: "\e89e" !important; }
  .RadRibbonBar_Material .rrbCollapsedGroup {
    border-radius: 0 !important;
    border-width: 0 1px 0 0 !important;
    border-color: #E0E0E0 !important; }
    .RadRibbonBar_Material .rrbCollapsedGroup ~ .rrbCollapsedGroup {
      margin-left: 0 !important; }
    .RadRibbonBar_Material .rrbCollapsedGroup .rrbIcon {
      border-color: #E0E0E0 !important; }

.RadRibbonBar_Material .rrbQat .rrbButton, .RadRibbonBar_Material .rrbButton, .RadRibbonBar_Material .rrbButtonGroup .rrbButton, .RadRibbonBar_Material .rrbComboBox .rrbButton,
.RadRibbonBar_Material .rrbDropDown .rrbButton,
.RadRibbonBar_Material .rrbNumericTextBox .rrbButton,
.RadRibbonBar_Material .rrbColorPicker .rrbButton, .RadRibbonBar_Material .rrbDropDown .rrbDDInner, .RadRibbonBar_Material .rrbColorPicker .rrbCPInner, .RadRibbonBar_Material .rrbGalleryActions .rrbButton {
  color: #424242 !important;
  border-color: transparent !important;
  background: transparent !important;
  transition: all 0.2s ease-in-out !important; }

.RadRibbonBar_Material .rrbTabs .rrbItem.rrbHovered .rrbLink, .RadRibbonBar_Material .rrbQat .rrbButton:hover, .RadRibbonBar_Material .rrbButton:hover, .RadRibbonBar_Material .rrbButton.rrbHovered, .RadRibbonBar_Material .rrbButtonGroup .rrbButton:hover, .RadRibbonBar_Material .rrbComboBox .rrbButton.rrbHovered,
.RadRibbonBar_Material .rrbDropDown .rrbButton.rrbHovered,
.RadRibbonBar_Material .rrbNumericTextBox .rrbButton.rrbHovered,
.RadRibbonBar_Material .rrbColorPicker .rrbButton.rrbHovered, .RadRibbonBar_Material .rrbDropDown .rrbDDInner:hover, .RadRibbonBar_Material .rrbColorPicker .rrbCPInner:hover, .RadRibbonBar_Material .rrbGallery .rrbItem.rrbHovered, .RadRibbonBar_Material .rrbGalleryActions .rrbButton.rrbHovered, .rrbSlide_Material .rrbItem.rrbHovered {
  border-color: #EEEEEE !important;
  color: #424242 !important;
  background-color: #EEEEEE !important; }

.RadRibbonBar_Material .rrbQat .rrbButton:active, .RadRibbonBar_Material .rrbButton.rrbClicked, .RadRibbonBar_Material .rrbButton.rrbPressed, .RadRibbonBar_Material .rrbButton.rrbToggled, .RadRibbonBar_Material .rrbButtonGroup .rrbButton:active, .RadRibbonBar_Material .rrbButtonGroup .rrbButton.rrbClicked, .RadRibbonBar_Material .rrbButtonGroup .rrbButton.rrbPressed, .RadRibbonBar_Material .rrbComboBox .rrbButton.rrbClicked,
.RadRibbonBar_Material .rrbDropDown .rrbButton.rrbClicked,
.RadRibbonBar_Material .rrbNumericTextBox .rrbButton.rrbClicked,
.RadRibbonBar_Material .rrbColorPicker .rrbButton.rrbClicked, .RadRibbonBar_Material .rrbDropDown .rrbDDInner:active, .RadRibbonBar_Material .rrbColorPicker .rrbCPInner:active, .RadRibbonBar_Material .rrbGallery .rrbItem.rrbSelected, .RadRibbonBar_Material .rrbGalleryActions .rrbButton.rrbClicked, .rrbSlide_Material .rrbItem.rrbSelected {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #E0E0E0 !important; }

.RadRibbonBar_Material .rrbMenu, .rrbDropDownSlide_Material .rrbPopup, .rrbSlide_Material .rrbPopup, .rrbPopup_Material, .rrbPopup_Material .rrbPopup {
  font-family: "Roboto", "Noto", sans-serif !important;
  line-height: 1.42857 !important;
  border: 0 !important;
  border-radius: 0 0 2px 2px !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }

/*%menu-item {
	color: $list-item-text !important;
	background-color: $list-item-bg !important;
}*/
.RadRibbonBar_Material .rrbMenu .rrbItem.rrbHovered, .rrbPopup_Material .rrbItem.rrbHovered > .rrbInner, .rrbPopup_Material .rrbItem.rrbExpanded > .rrbInner {
  border-color: #EEEEEE !important;
  color: #424242 !important;
  background-color: #EEEEEE !important; }

.RadRibbonBar_Material .rrbButton {
  height: 1.42857em !important;
  padding: 8px !important;
  border: 0 !important; }
  .RadRibbonBar_Material .rrbButton.rrbExpanded {
    background: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    z-index: 2 !important; }
  .RadRibbonBar_Material .rrbButton .rrbArrow {
    width: 20px !important; }

.RadRibbonBar_Material .rrbSmallButton.rrbMenuButton, .RadRibbonBar_Material .rrbSmallButton.rrbSplitButton {
  padding-right: 20px !important; }
  .RadRibbonBar_Material .rrbSmallButton.rrbMenuButton .rrbImagePlaceholder, .RadRibbonBar_Material .rrbSmallButton.rrbSplitButton .rrbImagePlaceholder {
    left: 8px !important; }

.RadRibbonBar_Material .rrbSmallButton.rrbSplitButton:hover .rrbArrow {
  border-left: 1px solid #E0E0E0 !important; }

.RadRibbonBar_Material .rrbMediumButton {
  padding-left: 32px !important; }
  .RadRibbonBar_Material .rrbMediumButton .rrbImagePlaceholder {
    left: 8px !important; }
  .RadRibbonBar_Material .rrbMediumButton.rrbMenuButton, .RadRibbonBar_Material .rrbMediumButton.rrbSplitButton {
    padding-right: calc(1.07142857em + 13px) !important; }
  .RadRibbonBar_Material .rrbMediumButton.rrbSplitButton:hover .rrbArrow {
    border-left: 1px solid #E0E0E0 !important; }

.RadRibbonBar_Material .rrbLargeButton {
  height: calc(4.28571429em + 48px) !important;
  padding: 0 !important; }
  .RadRibbonBar_Material .rrbLargeButton .rrbText {
    padding: 4px 13px 0 !important; }
  .RadRibbonBar_Material .rrbLargeButton .rrbImagePlaceholder {
    top: 1.2em !important; }
  .RadRibbonBar_Material .rrbLargeButton .rrbArrow {
    padding-bottom: 16px !important;
    width: 100% !important; }
  .RadRibbonBar_Material .rrbLargeButton.rrbSplitButton:hover .rrbArrow {
    border-top: 1px solid #E0E0E0 !important; }

.RadRibbonBar_Material .rrbSplitButton:hover .rrbArrow {
  border-color: #EEEEEE !important; }

.RadRibbonBar_Material .rrbSplitButton.rrbClicked .rrbArrow {
  border-color: #E0E0E0 !important; }

.RadRibbonBar_Material .rrbSplitButton.rrbArrowHovered.rrbClicked {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important;
  border-color: #E0E0E0 !important; }
  .RadRibbonBar_Material .rrbSplitButton.rrbArrowHovered.rrbClicked .rrbArrow {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }

.RadRibbonBar_Material .rrbSplitButton.rrbExpanded, .RadRibbonBar_Material .rrbSplitButton.rrbExpanded.rrbClicked {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadRibbonBar_Material .rrbSplitButton.rrbExpanded .rrbArrow, .RadRibbonBar_Material .rrbSplitButton.rrbExpanded.rrbClicked .rrbArrow {
    border-color: #E0E0E0 !important; }

.RadRibbonBar_Material .rrbComboBox .rrbCBInner, .RadRibbonBar_Material .rrbDropDown .rrbDDInner, .RadRibbonBar_Material .rrbNumericTextBox .rrbNTBInner, .RadRibbonBar_Material .rrbColorPicker .rrbCPInner {
  height: 1.42857em !important;
  padding: 8px 36px 8px 8px !important;
  border: 0 !important; }

.RadRibbonBar_Material .rrbComboBox .rrbCBInner {
  background-color: transparent !important; }

.RadRibbonBar_Material .rrbComboBox .rrbCBInput {
  color: #424242 !important; }

.RadRibbonBar_Material .rrbComboBox .rrbButton {
  padding: 8px !important; }

.RadRibbonBar_Material .rrbDropDown .rrbButton {
  padding: 8px !important; }

.RadRibbonBar_Material .rrbDropDown .rrbButton,
.RadRibbonBar_Material .rrbDropDown .rrbButton.rrbHovered {
  background: none !important; }

.RadRibbonBar_Material .rrbNumericTextBox .rrbNTBInner {
  border-color: #E0E0E0 !important;
  background-color: transparent !important; }

.RadRibbonBar_Material .rrbNumericTextBox .rrbNTBInput {
  color: #424242 !important; }

.RadRibbonBar_Material .rrbNumericTextBox .rrbButtonUp,
.RadRibbonBar_Material .rrbNumericTextBox .rrbButtonDown {
  height: auto !important;
  right: 0 !important; }

.RadRibbonBar_Material .rrbColorPicker .rrbCPInner .rrbButton {
  padding: 8px !important; }

.RadRibbonBar_Material .rrbColorPicker .rrbButton,
.RadRibbonBar_Material .rrbColorPicker .rrbButton.rrbHovered {
  background: none !important; }

.RadRibbonBar_Material .rrbGallery {
  height: 80px !important;
  border-color: #E0E0E0 !important;
  background-color: #ffffff !important; }
  .RadRibbonBar_Material .rrbGallery .rrbItem .rrbLink {
    color: #424242 !important;
    background-color: #ffffff !important; }

.RadRibbonBar_Material .rrbGalleryActions .rrbButton {
  width: 20px !important; }

.RadRibbonBar_Material .rrbCategoryTitle {
  color: #ffffff !important;
  background-color: #1565c0 !important; }

.rrbDropDownSlide_Material .rrbList {
  padding: 8px 0 !important; }

.rrbDropDownSlide_Material .rrbListItem {
  margin: 0 !important;
  padding: 6px 13px !important; }
  .rrbDropDownSlide_Material .rrbListItem:hover {
    color: #424242 !important;
    background-color: #EEEEEE !important; }

.rrbSlide_Material .rrbCategoryTitle {
  color: #ffffff !important;
  background-color: #1565c0 !important; }

.rrbSlide_Material .rrbGallery {
  background: #ffffff !important;
  padding: 0 !important; }

.rrbSlide_Material .rrbLink {
  color: #424242 !important;
  background-color: #ffffff !important; }

.rrbPopup_Material .rrbHeaderBar {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important; }

.rrbPopup_Material .rrbMenu .rrbHeader {
  padding: 6px 13px !important; }

.rrbPopup_Material.rrbApplicationMenuPopup {
  border-top: 1px solid #E0E0E0 !important; }

.rrbPopup_Material .rrbAuxiliaryPane {
  color: #424242 !important;
  border-color: #E0E0E0 !important;
  background: #F5F5F5 !important; }

.rrbPopup_Material .rrbHeader,
.rrbPopup_Material .rrbFooter {
  color: #424242 !important;
  border-color: #E0E0E0 !important;
  background: #F5F5F5 !important; }
