.RadRotator_Material {
  font-family: "Roboto", "Noto", sans-serif !important;
  /* When LoadOnDemand */ }
  .RadRotator_Material .rrClipRegion {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important; }
  .RadRotator_Material a.rrButton,
  .RadRotator_Material a.rrButton.rrButtonDisabled,
  .RadRotator_Material a.rrButton.rrButtonDisabled:hover,
  .RadRotator_Material a.rrButton.rrButtonDisabled:active,
  .RadRotator_Material a.rrButton.rrButtonDisabled:focus {
    padding: 8px !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadRotator_Material a.rrButton:hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadRotator_Material a.rrButton:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadRotator_Material a.rrButton:active {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadRotator_Material .rrLoadingSign {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
  .RadRotator_Material .rrClipRegion {
    border-radius: 0.14286em !important;
    z-index: 2 !important; }
  .RadRotator_Material a.rrButtonUp {
    top: 0.07143em !important;
    border-radius: 0.14286em 0.14286em 0em 0em !important; }
  .RadRotator_Material a.rrButtonRight {
    border-radius: 0em 0.14286em 0.14286em 0em !important; }
  .RadRotator_Material a.rrButtonDown {
    border-radius: 0em 0em 0.14286em 0.14286em !important; }
  .RadRotator_Material a.rrButtonLeft {
    left: 1px !important;
    border-radius: 0.14286em 0em 0em 0.14286em !important; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadRotator_Material a.rrButtonUp {
      top: 0 !important; }
    .RadRotator_Material a.rrButtonRight {
      right: 0 !important; }
    .RadRotator_Material a.rrButtonDown {
      bottom: 0 !important; }
    .RadRotator_Material a.rrButtonLeft {
      left: 0 !important; } }
  .RadRotator_Material .t-ripple-effect {
    position: absolute !important; }
