.RadScheduler_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  border-radius: 2px !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadScheduler_Material .rsToolbar > li + li {
    margin: 0 !important; }
  .RadScheduler_Material .rsToolbar .rsButton {
    border-radius: 0 !important; }
  .RadScheduler_Material .rsButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 8px 13px !important;
    border-radius: 2px !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    transition: all .2s ease-in-out !important; }
  .RadScheduler_Material .rsHovered > .rsButton,
  .RadScheduler_Material .rsButton.rsHovered {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadScheduler_Material .rsSelected > .rsButton,
  .RadScheduler_Material .rsPressed > .rsButton,
  .RadScheduler_Material .rsButton.rsPressed {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsHeader {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 5px !important;
    border-radius: 2px 2px 0 0 !important; }
    .RadScheduler_Material .rsHeader .rsButton {
      border-width: 0 !important; }
    .RadScheduler_Material .rsHeader .rsNav {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
      border-radius: 2px !important; }
    .RadScheduler_Material .rsHeader .rsNav .rsPrevDay,
    .RadScheduler_Material .rsHeader .rsNav .rsNextDay {
      padding: 8px !important;
      border-right: 1px solid #cfd8dc !important; }
    .RadScheduler_Material .rsHeader .rsNav .rsToday:before {
      display: none !important; }
    .RadScheduler_Material .rsHeader .rsNav > li:first-child .rsButton {
      border-radius: 2px 0 0 2px !important; }
    .RadScheduler_Material .rsHeader .rsNav > li:last-child .rsButton {
      border-radius: 0 2px 2px 0 !important; }
    .RadScheduler_Material .rsHeader .rsNav > li:only-child .rsButton {
      border-radius: 2px !important; }
    .RadScheduler_Material .rsHeader .rsViews {
      margin: -5px -5px -5px 5px !important; }
    .RadScheduler_Material .rsHeader .rsViews .rsButton {
      padding: 13px !important; }
  .RadScheduler_Material .rsFooter {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 5px !important;
    border-radius: 0 0 2px 2px !important; }
    .RadScheduler_Material .rsFooter .rsFullTime {
      padding: 8px !important;
      border-width: 0 !important;
      color: #1565c0 !important;
      background-color: transparent !important; }
      .RadScheduler_Material .rsFooter .rsFullTime .p-icon {
        display: none !important; }
    .RadScheduler_Material .rsFooter .rsFullTime:hover {
      color: #1565c0 !important;
      background-color: rgba(63, 81, 181, 0.12) !important; }
  .RadScheduler_Material .rsSpacerCell,
  .RadScheduler_Material .rsHorizontalHeaderWrapper,
  .RadScheduler_Material .rsVerticalHeaderWrapper {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important; }
  .RadScheduler_Material .rsSpacerCell,
  .RadScheduler_Material .rsAllDayHeader {
    border-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsHorizontalHeaderTable {
    font-size: .85em !important;
    text-align: left !important; }
  .RadScheduler_Material .rsHorizontalHeaderTable th {
    padding: 0 16px !important;
    border-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsHorizontalHeaderTable th i {
    font-size: 4em !important;
    font-weight: 100 !important;
    font-style: normal !important;
    display: block !important; }
  .RadScheduler_Material .rsVerticalHeaderTable {
    font-size: .85em !important; }
  .RadScheduler_Material .rsVerticalHeaderTable th {
    border-color: transparent #E0E0E0 !important;
    font-weight: normal !important;
    text-transform: uppercase !important;
    overflow: visible !important; }
  .RadScheduler_Material .rsVerticalHeaderTable .rsMainHeader th:first-child {
    border-bottom-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsVerticalHeaderTable th .rsAmPm {
    position: static !important;
    font: inherit !important;
    text-transform: uppercase !important; }
  .RadScheduler_Material .rsAllDayRow td,
  .RadScheduler_Material .rsContentTable .rsAllDayRow td {
    border-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsContentTable td {
    border-color: #f0f0f0 #f0f0f0 !important; }
  .RadScheduler_Material .rsContentTable .rsAlt td {
    border-color: #E0E0E0 #f0f0f0 !important; }
  .RadScheduler_Material .rsOtherMonth,
  .RadScheduler_Material .rsNonWorkHour,
  .RadScheduler_Material .rsSunCol,
  .RadScheduler_Material .rsSatCol {
    background: #F5F5F5 !important; }
  .RadScheduler_Material .rsApt {
    color: #ffffff !important; }
  .RadScheduler_Material .rsAptContent {
    border-radius: 2px !important;
    color: #ffffff !important;
    background-color: #1565c0 !important; }
  .RadScheduler_Material .rsAptResize:before {
    background-color: #ffffff !important; }
  .RadScheduler_Material .rsOvertimeArrow {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    border-width: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadScheduler_Material .rsOvertimeArrow:hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadScheduler_Material .rsOvertimeArrow .rsIcon {
    margin: -.5em 0 0 -.5em !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important; }
  .RadScheduler_Material .rsResourceMarker {
    background-color: #f7f7f7 !important; }
  .RadScheduler_Material .rsMonthView .rsHorizontalHeaderTable th {
    border-right-width: 0 !important; }
  .RadScheduler_Material .rsMonthView .rsDateBox {
    padding: 0 16px !important; }
  .RadScheduler_Material .rsMonthView .rsTodayCell {
    color: #0d47a1 !important; }
  .RadScheduler_Material .rsMonthView .rsContentTable td {
    border-right-width: 0 !important; }
  .RadScheduler_Material .rsYearView .rsMonthHeader {
    border-width: 0 !important;
    background: #EEEEEE !important;
    text-transform: uppercase !important; }
  .RadScheduler_Material .rsYearView .rsDateHeader {
    border-color: transparent !important;
    border-radius: 100% !important; }
  .RadScheduler_Material .rsYearView .rsDateHeader:hover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadScheduler_Material .rsYearView .rsOccupiedSlot .rsDateHeader {
    background-color: #E0E0E0 !important;
    border-radius: 100% !important; }
  .RadScheduler_Material .rsYearView .rsOccupiedSlot .rsDateHeader:hover {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #0d47a1 !important; }
  .RadScheduler_Material .rsYearView .rsTodayCell .rsDateHeader {
    border-color: transparent !important;
    color: #1565c0 !important;
    background-color: transparent !important; }
  .RadScheduler_Material .rsYearView .rsSatCol:not(.rsOccupiedSlot),
  .RadScheduler_Material .rsYearView .rsSunCol:not(.rsOccupiedSlot) {
    color: #a1a1a1 !important; }
  .RadScheduler_Material .rsYearView .rsYearMonthsWrap {
    border-color: white !important; }
  .RadScheduler_Material .rsYearView .rsTooltip .rsToolTipContent {
    border-width: 0 !important;
    border-radius: 2px !important;
    color: white !important;
    background-color: rgba(66, 66, 66, 0.9) !important; }
  .RadScheduler_Material .rsYearView .rsTooltip .rsCategoryPattern .rsResourceMarker {
    background-color: #f7f7f7 !important; }
  .RadScheduler_Material .rsYearView .rsTooltip .rsToolTipArrow {
    color: white !important;
    background-color: rgba(66, 66, 66, 0.9) !important; }
  .RadScheduler_Material .rsYearView .rsTooltip .rsToolTipArrowUp {
    border-radius: 2px 2px 0 0 !important; }
  .RadScheduler_Material .rsYearView .rsTooltip .rsToolTipArrowDown {
    border-radius: 0 0 2px 2px !important; }
  .RadScheduler_Material .rsYearView .rsToolTipCallOut {
    display: none !important; }
  .RadScheduler_Material .rsYearView .rsTooltipRight .rsToolTipCallOut {
    border-right-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsYearView .rsTooltipRight .rsToolTipCallOut:before {
    border-right-color: #ffffff !important; }
  .RadScheduler_Material .rsYearView .rsTooltipLeft .rsToolTipCallOut {
    border-left-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsYearView .rsTooltipLeft .rsToolTipCallOut:before {
    border-left-color: #ffffff !important; }
  .RadScheduler_Material .rsAgendaView .rsDateBox {
    padding-left: 53px !important;
    min-height: 45px !important;
    font-size: 0.85714em !important; }
    .RadScheduler_Material .rsAgendaView .rsDateBox strong {
      width: 1em !important;
      height: 1em !important;
      font-size: 3.21429em !important;
      top: 0 !important; }
    .RadScheduler_Material .rsAgendaView .rsDateBox small {
      opacity: .75 !important;
      font-size: 1em !important; }
  .RadScheduler_Material .rsAgendaTable th, .RadScheduler_Material .rsAgendaTable td {
    border-bottom-color: #E0E0E0 !important;
    border-right-color: #E0E0E0 !important; }
  .RadScheduler_Material .rsAgendaTable .rsAgendaRowHovered {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadScheduler_Material .rsAgendaTable .rsAgendaRowSelected {
    border-color: transparent !important;
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .RadScheduler_Material .rsSelectedSlot {
    background: #E3F2FD !important; }
  .RadScheduler_Material .rsAptCreate {
    background: #EEEEEE !important; }
  .RadScheduler_Material .rsDialog {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    padding: 0 !important;
    border-width: 0 !important;
    border-radius: 2px !important;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
    .RadScheduler_Material .rsDialog .rsTitle {
      border-color: #1565c0 !important;
      color: #ffffff !important;
      background-color: #1565c0 !important;
      border-width: 0 !important;
      border-radius: 2px 2px 0 0 !important;
      font-size: 1.42857em !important;
      font-weight: 500 !important; }
      .RadScheduler_Material .rsDialog .rsTitle .p-i-notification {
        margin-left: -2px !important;
        margin-right: 8px !important; }
    .RadScheduler_Material .rsDialog .rsButtons {
      border-color: #E0E0E0 !important;
      color: #424242 !important;
      background-color: #F5F5F5 !important;
      padding: 6px 8px !important;
      border-width: 1px 0 0 !important;
      border-style: solid !important;
      border-radius: 0 0 2px 2px !important; }
    .RadScheduler_Material .rsDialog .rsButtons .rsAptEditCancel {
      margin-left: 5px !important; }
    .RadScheduler_Material .rsDialog .rsAdvEditClose {
      right: 10px !important;
      margin-top: -15px !important; }
    .RadScheduler_Material .rsDialog .rsButton {
      padding: 8px !important;
      min-width: 64px !important;
      border-width: 0 !important;
      color: #424242 !important;
      background-color: transparent !important; }
      .RadScheduler_Material .rsDialog .rsButton:hover {
        color: #424242 !important;
        background-color: rgba(66, 66, 66, 0.12) !important; }
    .RadScheduler_Material .rsDialog .rsButton.rsPrimary {
      color: #1565c0 !important; }
      .RadScheduler_Material .rsDialog .rsButton.rsPrimary:hover {
        color: #1565c0 !important;
        background-color: rgba(63, 81, 181, 0.12) !important; }
  .RadScheduler_Material .rsModalDialog .rsBody {
    padding: 30px !important; }
  .RadScheduler_Material .rsInlineForm {
    padding-top: 1px !important; }
    .RadScheduler_Material .rsInlineForm .rsTextarea {
      border-color: #E0E0E0 !important;
      color: #424242 !important;
      background-color: transparent !important;
      margin: 16px !important;
      padding: 0 !important;
      border-width: 0 !important;
      border-bottom-width: 1px !important; }
    .RadScheduler_Material .rsInlineForm .rsIconCornerBR {
      width: 0 !important;
      height: 0 !important;
      border-width: 8px !important; }
    .RadScheduler_Material .rsInlineForm .rsResize .p-icon {
      height: 8px !important; }
  .RadScheduler_Material .rsAdvancedEdit {
    border: 0 !important; }
  .RadScheduler_Material .RadInput {
    padding: 0 !important; }
    .RadScheduler_Material .RadInput .riContentWrapper {
      padding: 0 13px !important; }
  .RadScheduler_Material .RadPicker .RadInput {
    padding: 0 13px !important; }
  .RadScheduler_Material .p-icon:before {
    font-family: "Material Icons" !important;
    font-size: 18px !important; }
  .RadScheduler_Material .p-i-clock:before {
    content: "\e192" !important; }
  .RadScheduler_Material .p-i-calendar:before {
    content: "\e878" !important; }
  .RadScheduler_Material .p-i-notification:before,
  .RadScheduler_Material .p-i-reminder:before {
    content: "\e7f4" !important; }
  .RadScheduler_Material .p-i-recurrence:before {
    content: "\e5d5" !important; }
  .RadScheduler_Material .p-i-non-recurrence:before {
    content: "\e5d5" !important; }
  .RadScheduler_Material [class*=p-i-arrow-60]:before {
    font-family: WebComponentsIcons !important;
    font-size: 16px !important; }
  .RadScheduler_Material .rsNav .p-i-arrow-60-right:before,
  .RadScheduler_Material .rsNav .p-i-arrow-60-left:before {
    font-family: "Material Icons" !important;
    font-size: 18px !important; }
  .RadScheduler_Material .rsNav .p-i-arrow-60-right:before {
    content: "\e5cc" !important; }
  .RadScheduler_Material .rsNav .p-i-arrow-60-left:before {
    content: "\e5cb" !important; }
  .RadScheduler_Material .p-i-arrow-45-down-right:before {
    content: "\e1b9" !important;
    font-size: 12px !important; }
  .RadScheduler_Material .p-i-x:before,
  .RadScheduler_Material .p-i-close:before {
    content: "\e5cd" !important; }
  .RadScheduler_Material .p-i-delete:before {
    content: "\e5cd" !important; }
  .RadScheduler_Material .p-icon.p-i-recurrence-exception:before {
    font: 16px/1 "WebComponentsIcons" !important;
    text-transform: none !important;
    text-align: center !important;
    content: "\e104" !important; }

.RadScheduler_Material .rfbGroup .rfbLabel {
  font-size: .85em !important;
  font-weight: 500 !important;
  line-height: inherit !important; }
