.RadSearchBox_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadSearchBox_Material .rsbInner {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important;
    background: #ffffff !important;
    padding: 8px 0 !important;
    border: 0 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadSearchBox_Material .rsbInner.rsbHovered {
      border-color: #BDBDBD !important;
      color: #424242 !important;
      background-color: transparent !important; }
    .RadSearchBox_Material .rsbInner.rsbFocused {
      border-color: #1565c0 !important;
      color: #424242 !important;
      background-color: transparent !important; }
  .RadSearchBox_Material .rsbInput {
    margin: 0 12px !important; }
  .RadSearchBox_Material .rsbButton {
    padding: 8px !important;
    margin: -8px 0 !important;
    transition: all 0.2s ease-in-out !important; }
  .RadSearchBox_Material .rsbButtonSearch {
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    border-width: 0 0 0 1px !important;
    border-radius: 0 2px 2px 0 !important;
    box-sizing: content-box !important; }
  .RadSearchBox_Material .rsbLabel {
    font-weight: 500 !important;
    font-size: 0.857em !important;
    color: #757575 !important; }
  .RadSearchBox_Material .rsbSearchContext {
    margin: -8px 0 !important; }
  .RadSearchBox_Material .rsbSCInner {
    line-height: inherit !important;
    height: 1.42857em !important;
    padding: 8px 20px 8px 8px !important;
    border: 0 !important;
    border-radius: 2px 0 0 2px !important;
    box-sizing: content-box !important;
    border-right: 1px solid #E0E0E0 !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important; }
  .RadSearchBox_Material .rsbLoadingIcon {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
  .RadSearchBox_Material .rsbSCIcon,
  .RadSearchBox_Material .rsbButton .rsbIcon {
    font-size: 18px !important;
    width: 1em !important;
    height: 1em !important;
    line-height: 1em !important;
    margin-top: -0.5em !important; }
    .RadSearchBox_Material .rsbSCIcon:before,
    .RadSearchBox_Material .rsbButton .rsbIcon:before {
      font-family: "Material Icons" !important; }
  .RadSearchBox_Material .rsbSCIcon:before {
    content: "\e5c5" !important; }
  .RadSearchBox_Material .rsbButton .rsbIconSearch:before {
    content: "\e8b6" !important; }
  .RadSearchBox_Material .rsbHovered .rsbSCInner, .RadSearchBox_Material .rsbHovered .rsbSCInner.rsbHovered,
  .RadSearchBox_Material .rsbHovered .rsbButtonSearch,
  .RadSearchBox_Material .rsbHovered .rsbButtonSearch.rsbHovered {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important;
    border-color: #E0E0E0 !important; }
  .RadSearchBox_Material .rsbFocused .rsbSCInner,
  .RadSearchBox_Material .rsbFocused .rsbButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important;
    border-color: #E0E0E0 !important; }
  .RadSearchBox_Material .rsbSelected.rsbButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadSearchBox_Material .rsbSCDisabled .rsbSCInner {
    background: #ffffff !important; }

.rsbPopup_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  border-width: 1px 0 0 !important;
  border-radius: 0 0 2px 2px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
  overflow: hidden !important; }
  .rsbPopup_Material .rsbShowAll {
    margin: 0 !important;
    padding: 6px 13px !important;
    border: 0 !important; }
  .rsbPopup_Material .rsbList {
    padding: 10px 0 !important; }
  .rsbPopup_Material .rsbListItem {
    padding: 6px 13px !important; }
  .rsbPopup_Material .rsbListItemHovered {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .rsbPopup_Material .rsbListItemSelected {
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .rsbPopup_Material .rsbListItemLoading {
    color: #424242 !important;
    background-color: #EEEEEE !important; }
