.RadSlider_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadSlider_Material .rslTrack {
    background-color: #E0E0E0 !important; }
  .RadSlider_Material .rslSelectedregion {
    background-color: #1565c0 !important; }
  .RadSlider_Material a.rslDraghandle {
    background-color: #1565c0 !important;
    border-color: #1565c0 !important; }
  .RadSlider_Material a.rslHandle,
  .RadSlider_Material a.rslHandle:before {
    color: #757575 !important; }
  .RadSlider_Material a.rslHandle:hover:before {
    color: #212121 !important; }
  .RadSlider_Material .rslItem,
  .RadSlider_Material .rslLargeTick span,
  .RadSlider_Material .rslItemsWrapper .rslItemSelected {
    color: #757575 !important; }
  .RadSlider_Material .rslHorizontal .rslItem {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.ItemHorizontalBgr.gif")%>') !important; }
  .RadSlider_Material .rslVertical .rslItem {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.ItemVerticalBgr.gif")%>') !important; }
  .RadSlider_Material .rslTop .rslSmallTick,
  .RadSlider_Material .rslBottom .rslSmallTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.SmallChangeHorizontal.gif")%>') !important; }
  .RadSlider_Material .rslTop .rslLargeTick,
  .RadSlider_Material .rslBottom .rslLargeTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.LargeChangeHorizontal.gif")%>') !important; }
  .RadSlider_Material .rslLeft .rslSmallTick,
  .RadSlider_Material .rslRight .rslSmallTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.SmallChangeVertical.gif")%>') !important; }
  .RadSlider_Material .rslLeft .rslLargeTick,
  .RadSlider_Material .rslRight .rslLargeTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.LargelChangeVertical.gif")%>') !important; }
  .RadSlider_Material .rslMiddle .rslSmallTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.SmallChangeMiddleHorizontal.gif")%>') !important; }
  .RadSlider_Material .rslLargeTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.LargeChangeMiddleHorizontal.gif")%>') !important; }
  .RadSlider_Material .rslCenter .rslSmallTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.SmallChangeCenterVertical.gif")%>') !important; }
  .RadSlider_Material .rslCenter .rslLargeTick {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Slider.LargelChangeCenterVertical.gif")%>') !important; }
  .RadSlider_Material.RadSlider .rslTrack,
  .RadSlider_Material.RadSlider .rslSelectedregion {
    border-radius: 0 !important;
    border-width: 0 !important; }
  .RadSlider_Material a.rslHandle {
    border: none !important; }
  .RadSlider_Material .rslBottom div.rslTrack {
    bottom: 0.77071em !important; }
  .RadSlider_Material .rslTrack a.rslDraghandle {
    width: 0.85714em !important;
    height: 0.85714em !important;
    border-radius: 3.21429em !important;
    overflow: visible !important; }
  .RadSlider_Material .rslDraghandle:focus:before {
    content: "" !important;
    display: inline-block !important;
    width: 2.42857em !important;
    height: 2.42857em !important;
    background-color: rgba(63, 81, 181, 0.25) !important;
    position: absolute !important;
    top: -0.78571em !important;
    left: -0.78571em !important;
    border-radius: 45px !important; }
  .RadSlider_Material .rslDraghandle:focus:active:before,
  .RadSlider_Material .rslDraghandle.rslDraghandleActive:before {
    background-color: transparent !important; }
  .RadSlider_Material .rslTrack a.rslDraghandle:after {
    border-radius: 3.21429em !important;
    width: 0.85714em !important;
    height: 0.85714em !important;
    top: -0.07143em !important;
    left: -0.07143em !important;
    content: '' !important;
    background-color: #1565c0 !important;
    display: inline-block !important;
    position: absolute !important;
    -webkit-transition: all 0.2s !important;
    transition: all 0.2s !important; }
  .RadSlider_Material .rslTrack a.rslDraghandle:active:after,
  .RadSlider_Material .rslTrack a.rslDraghandleActive:after {
    width: 1.42857em !important;
    height: 1.42857em !important;
    top: -0.35714em !important;
    left: -0.26786em !important; }
  .RadSlider_Material .rslItem,
  .RadSlider_Material .rslLargeTick span {
    font-size: 0.85714em !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    font-weight: 500 !important; }
  .RadSlider_Material .rslHorizontal .rslTrack {
    height: 0.14286em !important;
    margin: 0 !important; }
  .RadSlider_Material .rslHorizontal .rslSelectedregion {
    height: 0.14286em !important; }
  .RadSlider_Material .rslHorizontal.rslTop a.rslHandle {
    top: .52em !important;
    top: .9em\9 !important; }
  .RadSlider_Material .rslHorizontal a.rslHandle {
    margin-top: -.65em !important; }
  .RadSlider_Material .rslHorizontal _:-ms-fullscreen, :root .RadSlider_Material .rslHorizontal.rslTop a.rslHandle {
    top: .75em !important; }
  .RadSlider_Material .rslHorizontal.rslMiddle a.rslHandle {
    top: 1.02em !important;
    margin-top: -0.85714em \9 !important; }
  .RadSlider_Material .rslHorizontal _:-ms-fullscreen, :root .RadSlider_Material .rslHorizontal.rslMiddle a.rslHandle {
    margin-top: -0.85714em !important;
    top: 50% !important; }
  .RadSlider_Material .rslHorizontal.rslBottom a.rslHandle {
    bottom: .1em !important;
    bottom: .2em\9 !important; }
  .RadSlider_Material .rslHorizontal _:-ms-fullscreen, :root .RadSlider_Material .rslHorizontal.rslBottom a.rslHandle {
    top: auto !important;
    bottom: .20em !important; }
  .RadSlider_Material .rslHorizontal.rslBottom .rslItemsWrapper {
    bottom: .9em !important; }
  .RadSlider_Material .rslHorizontal a.rslDecrease {
    left: -0.28571em !important; }
  .RadSlider_Material .rslHorizontal a.rslIncrease {
    right: -0.07143em !important; }
  .RadSlider_Material .rslHorizontal.rslTop .rslItemsWrapper {
    top: .75em !important; }
  .RadSlider_Material .rslHorizontal.rslMiddle .rslItemsWrapper {
    top: -0.28571em !important; }
  .RadSlider_Material .rslHorizontal .rslTrack a.rslDraghandle {
    margin-top: auto !important;
    top: -0.35714em !important; }
  .RadSlider_Material .rslVertical .rslTrack {
    width: 0.14286em !important;
    margin-left: -0.07143em !important; }
  .RadSlider_Material .rslVertical .rslSelectedregion {
    width: 0.14286em !important; }
  .RadSlider_Material .rslVertical a.rslDraghandle {
    margin-left: -0.35714em !important; }
  .RadSlider_Material .rslVertical .rslHandle.rslDecrease {
    margin-top: -0.28571em !important; }
  .RadSlider_Material .rslVertical .rslHandle.rslIncrease {
    bottom: -0.28571em !important; }
  .RadSlider_Material .rslVertical.rslLeft .rslItemsWrapper,
  .RadSlider_Material .rslVertical.rslLeft .rslLargeTick span,
  .RadSlider_Material .rslVertical.rslLeft .rslLargeTick span.rslBRItemText {
    left: 1.92857em !important; }
  .RadSlider_Material .rslVertical.rslLeft a.rslHandle {
    left: 1.45em !important; }
  .RadSlider_Material .rslVertical.rslRight a.rslHandle {
    right: .25em !important; }
  .RadSlider_Material .rslHandle.t-ripple-effect-icon {
    position: absolute !important; }
  .RadSlider_Material a.rslHandle.t-ripple-effect-icon span {
    border-radius: 50% !important; }
