.RadSocialShare_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important;
  padding: 0 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadSocialShare_Material .sshLinkItem {
    color: #757575 !important; }
  .RadSocialShare_Material .sshLinkItem:hover {
    color: #212121 !important; }
  .RadSocialShare_Material,
  .RadSocialShare_Material .sshListItem {
    border-radius: 2px !important; }
  .RadSocialShare_Material .sshListItem {
    overflow: hidden !important;
    height: 3.28571em !important;
    line-height: 3em !important;
    padding: 0 16px !important;
    vertical-align: top !important;
    text-transform: uppercase !important; }
