.RadSplitter_Material {
  font-family: "Roboto", "Noto", sans-serif !important;
  border-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading.gif")%>') !important; }
  .RadSplitter_Material .rspResizeBar,
  .RadSplitter_Material .rspSlideContainerResize,
  .RadSplitter_Material .rspResizeBarHorizontal,
  .RadSplitter_Material .rspSlideContainerResizeHorizontal {
    background-color: #ffffff !important;
    color: #424242 !important;
    border-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspPane {
    border-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspPaneHorizontal {
    border-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspSlideHeader,
  .RadSplitter_Material .rspSlideTitleContainer {
    background-color: #1565c0 !important; }
  .RadSplitter_Material .rspSlideTitle {
    color: #424242 !important; }
  .RadSplitter_Material .rspSlideTitleContainer,
  .RadSplitter_Material .rspSlideHeaderIconWrapper {
    border-top: 1px solid #1565c0 !important;
    border-bottom: 1px solid #1565c0 !important; }
  .RadSplitter_Material .rspSlideHeaderDockIcon,
  .RadSplitter_Material .rspSlideHeaderUndockIcon,
  .RadSplitter_Material .rspSlideHeaderCollapseIcon {
    line-height: 1.42857em !important;
    margin: 0 4px 0 0 !important;
    padding: 7px !important;
    border-radius: 45px !important;
    color: #ffffff !important; }
  .RadSplitter_Material .rspSlideHeaderDockIcon:hover,
  .RadSplitter_Material .rspSlideHeaderUndockIcon:hover,
  .RadSplitter_Material .rspSlideHeaderCollapseIcon:hover {
    background-color: rgba(255, 255, 255, 0.12) !important; }
  .RadSplitter_Material .rspSlideContent {
    background-color: #ffffff !important;
    color: #424242 !important; }
  .RadSplitter_Material .rspTabsContainer {
    background-color: #F5F5F5 !important; }
  .RadSplitter_Material .rspResizeBar,
  .RadSplitter_Material .rspSlideContainerResize {
    border-right-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspResizeBarOver,
  .RadSplitter_Material table.rspSlideContainer td.rspSlideContainerResizeOver {
    background-color: #EEEEEE !important;
    border-color: #EEEEEE !important; }
  .RadSplitter_Material .rspResizeBarHorizontal,
  .RadSplitter_Material .rspSlideContainerResizeHorizontal {
    border-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspResizeBarOverHorizontal,
  .RadSplitter_Material table.rspSlideContainer td.rspSlideContainerResizeOverHorizontal {
    background-color: #EEEEEE !important;
    border-color: #EEEEEE !important; }
  .RadSplitter_Material .rspPaneTabContainer,
  .RadSplitter_Material .rspBottom .rspPaneTabContainer,
  .RadSplitter_Material .rspTop .rspPaneTabContainer {
    background-color: #F5F5F5 !important;
    color: #424242 !important;
    border-color: #F5F5F5 !important; }
  .RadSplitter_Material .rspPaneTabContainer:hover,
  .RadSplitter_Material .rspBottom .rspPaneTabContainer:hover,
  .RadSplitter_Material .rspTop .rspPaneTabContainer:hover {
    background-color: #EEEEEE !important;
    color: #424242 !important;
    border-color: #EEEEEE !important; }
  .RadSplitter_Material .rspPaneTabContainerExpanded,
  .RadSplitter_Material .rspBottom .rspPaneTabContainerExpanded,
  .RadSplitter_Material .rspTop .rspPaneTabContainerExpanded {
    color: #1565c0 !important;
    border-color: #1565c0 !important; }
  .RadSplitter_Material .rspTop .rspPaneTabContainerExpanded {
    border-width: 0 0 2px !important; }
  .RadSplitter_Material .rspPaneTabContainerExpanded {
    border-width: 0 2px 0 0 !important; }
  .RadSplitter_Material .rspBottom .rspPaneTabContainerExpanded {
    border-width: 2px 0 0 !important; }
  .RadSplitter_Material .rspCollapseBarExpand,
  .RadSplitter_Material .rspCollapseBarCollapse,
  .RadSplitter_Material .rspCollapseBarHorizontalExpand,
  .RadSplitter_Material .rspCollapseBarHorizontalCollapse {
    background-color: transparent !important;
    border: none !important;
    color: #757575 !important; }
  .RadSplitter_Material .rspCollapseBarExpandOver,
  .RadSplitter_Material .rspCollapseBarCollapseOver,
  .RadSplitter_Material .rspCollapseBarHorizontalExpandOver,
  .RadSplitter_Material .rspCollapseBarHorizontalCollapseOver {
    background-color: transparent !important;
    border: none !important; }
  .RadSplitter_Material .rspCollapseBarHorizontalCollapse + .rspCollapseBarHorizontalExpand {
    margin: 0 0 0 -2px !important; }
  .RadSplitter_Material .rspCollapseBarCollapse + .rspCollapseBarExpand {
    margin: -3px 0 0 !important; }
  .RadSplitter_Material .rspResizeBar .rspCollapseBarSpacer {
    width: 8px !important; }
  .RadSplitter_Material .rspResizeBarHorizontal .rspCollapseBarSpacer {
    height: 8px !important; }
  .RadSplitter_Material .rspSlideContainer td.rspSlideContainerResize {
    padding: 0 1px !important;
    border-color: #E0E0E0 !important; }
  .RadSplitter_Material .rspResizeBar .rspCollapseBarSpacer {
    width: 6px !important; }
  .RadSplitter_Material .rspResizeBarHorizontal .rspCollapseBarSpacer {
    height: 6px !important; }
  .RadSplitter_Material .rspCollapseBarExpand,
  .RadSplitter_Material .rspCollapseBarCollapse {
    height: 26px !important;
    line-height: 26px !important;
    width: 6px !important;
    margin: 2px 0 !important; }
  .RadSplitter_Material .rspCollapseBarHorizontalExpand,
  .RadSplitter_Material .rspCollapseBarHorizontalCollapse {
    height: 6px !important;
    line-height: 6px !important; }
  .RadSplitter_Material .rspSlideContainer td.rspSlideContainerResizeHorizontal {
    padding: 2px 0 3px 0 !important; }
  .RadSplitter_Material .rspPaneHorizontal .rspPaneTabContainer {
    height: 22px !important;
    overflow: hidden !important; }
  .RadSplitter_Material .rspSlideHeader table {
    height: 48px !important;
    background-color: #1565c0 !important; }
  .RadSplitter_Material .rspSlideHeader .rspSlideTitle {
    color: #ffffff !important;
    height: 46px !important;
    line-height: 46px !important; }
  .RadSplitter_Material .rspSlideHeader .rspSlideHeaderIconWrapper {
    padding: 0 2px 0 0 !important; }
  .RadSplitter_Material .rspPaneTabText {
    text-transform: uppercase !important; }

div.RadSplitter .rspHelperBarDrag,
div.RadSplitter .rspHelperBarSlideDrag {
  background-color: #0d47a1 !important;
  opacity: 1 !important; }

.rspSlideHeaderDockIcon .t-ripple-container,
.rspSlideHeaderUndockIcon .t-ripple-container,
.rspSlideHeaderCollapseIcon .t-ripple-container {
  top: -1px !important;
  left: -2px !important; }
