.RadTabStrip_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  text-transform: uppercase !important; }
  .RadTabStrip_Material .rtsLink {
    overflow: hidden !important; }
  .RadTabStrip_Material .rtsLevel1 {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    border-width: 0 !important;
    overflow: hidden !important; }
    .RadTabStrip_Material .rtsLevel1 .rtsUL {
      margin-bottom: 0 !important; }
    .RadTabStrip_Material .rtsLevel1 .rtsLink {
      border-color: #1565c0 !important;
      color: #ffffff !important;
      background-color: #1565c0 !important;
      padding: 14px 13px !important;
      border-width: 0 !important;
      transition: all .2s ease-in-out !important; }
    .RadTabStrip_Material .rtsLevel1 .rtsTxt {
      opacity: 0.8 !important; }
  .RadTabStrip_Material .rtsLevel1 ~ .rtsLevel {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    border-width: 0 !important; }
    .RadTabStrip_Material .rtsLevel1 ~ .rtsLevel .rtsLink {
      padding: 14px 13px !important;
      transition: all .2s ease-in-out !important; }
  .RadTabStrip_Material .rtsGhostTab {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    border-width: 0 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadTabStrip_Material .rtsPrevArrow,
  .RadTabStrip_Material .rtsNextArrow {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important;
    width: 48px !important;
    padding: 12px !important;
    text-align: center !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadTabStrip_Material .rtsPrevArrow:before,
    .RadTabStrip_Material .rtsNextArrow:before {
      margin: 0 !important;
      font: 24px/1 "Material Icons" !important; }
  .RadTabStrip_Material .rtsHovered .rtsLink {
    color: #ffffff !important;
    background-color: #3949AB !important; }
    .RadTabStrip_Material .rtsHovered .rtsLink .rtsTxt {
      opacity: 1 !important; }
  .RadTabStrip_Material .rtsHovered.rtsPrevArrow,
  .RadTabStrip_Material .rtsHovered.rtsNextArrow {
    background: #3949AB !important; }
  .RadTabStrip_Material .rtsSelected .rtsLink {
    color: #ffffff !important;
    background-color: #1565c0 !important; }
    .RadTabStrip_Material .rtsSelected .rtsLink:before {
      content: "" !important;
      position: absolute !important; }
    .RadTabStrip_Material .rtsSelected .rtsLink .rtsTxt {
      opacity: 1 !important; }
  .RadTabStrip_Material .rtsFocused {
    z-index: 1 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadTabStrip_Material .rtsFocused .rtsLink .rtsTxt {
    opacity: 1 !important; }

.RadTabStrip_Material.rtsHorizontal .rtsSelected .rtsLink:before {
  left: 0 !important;
  right: 0 !important;
  border-bottom: 3px solid #ffffff !important; }

.RadTabStrip_Material.rtsHorizontal .rtsPrevArrow:before {
  content: "\e314" !important; }

.RadTabStrip_Material.rtsHorizontal .rtsNextArrow:before {
  content: "\e315" !important; }

.RadTabStrip_Material.rtsHorizontal .rtsButtonsMiddle {
  padding-left: 48px !important;
  padding-right: 48px !important; }

.RadTabStrip_Material.rtsHorizontal .rtsButtonsStart {
  padding-left: 96px !important; }
  .RadTabStrip_Material.rtsHorizontal .rtsButtonsStart .rtsPrevArrow {
    box-shadow: none !important; }
  .RadTabStrip_Material.rtsHorizontal .rtsButtonsStart .rtsNextArrow {
    left: 48px !important; }

.RadTabStrip_Material.rtsHorizontal .rtsButtonsEnd {
  padding-right: 96px !important; }
  .RadTabStrip_Material.rtsHorizontal .rtsButtonsEnd .rtsPrevArrow {
    right: 48px !important; }
  .RadTabStrip_Material.rtsHorizontal .rtsButtonsEnd .rtsNextArrow {
    z-index: 1 !important;
    box-shadow: none !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsPrevArrow {
  left: 48px !important; }
  .RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsPrevArrow:before {
    content: "\e315" !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsButtonsEnd .rtsPrevArrow {
  right: 0 !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsNextArrow {
  left: 0 !important; }
  .RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsNextArrow:before {
    content: "\e314" !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsButtonsEnd .rtsNextArrow {
  right: 48px !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsButtonsStart .rtsPrevArrow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsButtonsStart .rtsNextArrow {
  z-index: 1 !important;
  box-shadow: none !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsButtonsEnd .rtsPrevArrow {
  box-shadow: none !important; }

.RadTabStrip_Material.rtsHorizontal.RadTabStrip_rtl .rtsButtonsEnd .rtsNextArrow {
  z-index: 0 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }

.RadTabStrip_Material.rtsTop {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadTabStrip_Material.rtsTop .rtsSelected .rtsLink:before {
    bottom: 0 !important; }

.RadTabStrip_Material.rtsBottom {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2) !important; }
  .RadTabStrip_Material.rtsBottom .rtsSelected .rtsLink:before {
    top: 0 !important; }

.RadTabStrip_Material.rtsVertical .rtsSelected .rtsLink:before {
  top: 0 !important;
  bottom: 0 !important;
  border-right: 3px solid #ffffff !important; }

.RadTabStrip_Material.rtsVertical .rtsPrevArrow,
.RadTabStrip_Material.rtsVertical .rtsNextArrow {
  width: 100% !important;
  height: 48px !important; }

.RadTabStrip_Material.rtsVertical .rtsNextArrow:before {
  content: "\e313" !important; }

.RadTabStrip_Material.rtsVertical .rtsPrevArrow:before {
  content: "\e316" !important; }

.RadTabStrip_Material.rtsVertical .rtsButtonsMiddle {
  padding-top: 48px !important;
  padding-bottom: 48px !important; }

.RadTabStrip_Material.rtsVertical .rtsButtonsStart {
  padding-top: 96px !important; }
  .RadTabStrip_Material.rtsVertical .rtsButtonsStart .rtsPrevArrow {
    box-shadow: none !important; }
  .RadTabStrip_Material.rtsVertical .rtsButtonsStart .rtsNextArrow {
    top: 48px !important; }

.RadTabStrip_Material.rtsVertical .rtsButtonsEnd {
  padding-bottom: 96px !important; }
  .RadTabStrip_Material.rtsVertical .rtsButtonsEnd .rtsPrevArrow {
    bottom: 48px !important; }
  .RadTabStrip_Material.rtsVertical .rtsButtonsEnd .rtsNextArrow {
    box-shadow: none !important;
    z-index: 1 !important; }

.RadTabStrip_Material.rtsLeft {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2) !important; }
  .RadTabStrip_Material.rtsLeft .rtsSelected .rtsLink:before {
    right: 0 !important; }

.RadTabStrip_Material.rtsRight {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2) !important; }
  .RadTabStrip_Material.rtsRight .rtsSelected .rtsLink:before {
    left: 0 !important; }
