.RadTagCloud_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important; }
  .RadTagCloud_Material .rtcTagItem a {
    color: #424242 !important; }
  .RadTagCloud_Material .rtcTagItem a:hover {
    color: #0d47a1 !important; }
  .RadTagCloud_Material.rtcLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
