.RadTile_Material {
  color: #ffffff !important;
  background-color: #1565c0 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadTile_Material .rtilePeekContent {
    background-color: #1565c0 !important; }
  .RadTile_Material .rtileBadgeIcon {
    color: #ffffff !important; }
  .RadTile_Material.rtileSelected .rtileSelectedIcon {
    background-color: #FAFAFA !important;
    color: #0d47a1 !important; }
  .RadTile_Material.rtileHovered {
    border-color: #303F9F !important; }
  .RadTile_Material.rtileSelected {
    border-color: #FAFAFA !important; }
  .RadTile_Material.rtileSelected.rtileHovered {
    border-color: rgba(48, 63, 159, 0.7) !important; }
  .RadTile_Material.rtileLoading,
  .RadTile_Material .rtileLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
  .RadTile_Material .rtileBadgeIcon:before {
    font-family: 'Material Icons' !important;
    font-size: 24px !important; }
  .RadTile_Material .rtileAlertBadge:before {
    content: "\E7F5" !important; }
  .RadTile_Material .rtileAttentionBadge:before {
    content: "\E001" !important; }
  .RadTile_Material .rtileErrorBadge:before {
    content: "\E888" !important; }
  .RadTile_Material .rtilePausedBadge::before {
    content: "\E036" !important; }
  .RadTile_Material .rtileActivityBadge:before {
    content: "\E5D5" !important; }
  .RadTile_Material .rtileNewMessageBadge:before {
    content: "\E0E1" !important; }
  .RadTile_Material .rtilePlayingBadge:before {
    content: "\E039" !important; }
