.RadTileList_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadTileList_Material .rtlistGroupSeparatorVisible {
    background-color: #0d47a1 !important; }
