.RadToolTip_Material {
  background-color: #424242 !important;
  color: #FAFAFA !important;
  border-color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  font-size: 0.92857em !important;
  opacity: 0.9 !important; }
  .RadToolTip_Material .rtClose {
    color: #FAFAFA !important; }
  .RadToolTip_Material .rtCalloutTopRight,
  .RadToolTip_Material .rtCalloutTopCenter,
  .RadToolTip_Material .rtCalloutTopLeft {
    border-bottom-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutTopRight:before,
  .RadToolTip_Material .rtCalloutTopCenter:before,
  .RadToolTip_Material .rtCalloutTopLeft:before {
    border-bottom-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutMiddleRight {
    border-left-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutMiddleRight:before {
    border-left-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutMiddleLeft {
    border-right-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutMiddleLeft:before {
    border-right-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutBottomRight,
  .RadToolTip_Material .rtCalloutBottomCenter,
  .RadToolTip_Material .rtCalloutBottomLeft {
    border-top-color: #424242 !important; }
  .RadToolTip_Material .rtCalloutBottomRight:before,
  .RadToolTip_Material .rtCalloutBottomCenter:before,
  .RadToolTip_Material .rtCalloutBottomLeft:before {
    border-top-color: #424242 !important; }
  .RadToolTip_Material.rtLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading.gif")%>') !important; }
  .RadToolTip_Material .rtTitleWrapper .rtTitle {
    font-size: 1.23571em !important; }
  .RadToolTip_Material .rtClose {
    z-index: 1 !important;
    width: auto !important;
    height: auto !important;
    top: 0.71429em !important;
    right: 0.71429em !important; }
  .RadToolTip_Material _:-ms-fullscreen, .RadToolTip_Material .rtClose {
    right: 0.64286em !important; }
  .RadToolTip_Material .rtCloseIcon:before {
    font-size: 24px !important; }
  .RadToolTip_Material .rtRelativeWrapper {
    padding: 0.57143em 1.14286em !important; }
  .RadToolTip_Material.rtRtl .rtClose {
    left: 0.57143em !important;
    left: 0.71429em \9 !important; }
  .RadToolTip_Material _:-ms-fullscreen, .RadToolTip_Material.rtRtl .rtClose {
    left: 0.71429em !important; }
  .RadToolTip_Material .t-ripple-container {
    top: -1px !important;
    left: -2px !important; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .RadToolTip_Material .t-ripple-container {
      top: -2px !important; } }
