.RadToolBar_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #F5F5F5 !important;
  padding: 0 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  overflow: hidden !important; }
  .RadToolBar_Material:before {
    padding: 13px 0 !important; }
  .RadToolBar_Material_Horizontal .rtbItem + .rtbItem {
    margin: 0 !important; }
  .RadToolBar_Material_Vertical .rtbItem + .rtbItem {
    margin-top: 0 !important; }
  .RadToolBar_Material .rtbSeparator {
    margin: 0 !important;
    border-color: #E0E0E0 !important; }
  .RadToolBar_Material .rtbButton {
    border-width: 0 !important;
    padding: 13px 15px !important;
    transition: all .2s ease-in-out !important; }
  .RadToolBar_Material .rtbButton.rtbIconOnly {
    padding: 13px !important; }
  .RadToolBar_Material .rtbArrow {
    margin: -13px -15px -13px 0 !important;
    padding: 13px 10px !important; }
  .RadToolBar_Material .radIcon {
    height: 1.11111em !important;
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
  .RadToolBar_Material .radIconDown:before {
    content: "\e5c5" !important; }
  .RadToolBar_Material .rtbIconOnly .rtbImage {
    margin: 0 !important; }
  .RadToolBar_Material .rtbMore {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 13px !important;
    border-width: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important; }
  .RadToolBar_Material .rtbMore .radIcon:before {
    content: "\e313" !important; }
  .RadToolBar_Material .rtbMenuButton.rtbIconOnly .rtbArrow {
    margin: -13px -13px -13px 13px !important; }
  .RadToolBar_Material .rtbSplitButton {
    padding: 0 !important; }
    .RadToolBar_Material .rtbSplitButton .rtbSplBtnActivator {
      padding: 13px 15px !important;
      border-width: 0 !important; }
    .RadToolBar_Material .rtbSplitButton .rtbArrow {
      margin: 0 !important;
      border-width: 0 !important; }
  .RadToolBar_Material .rtbSplitButton.rtbIconOnly {
    padding: 0 !important; }
    .RadToolBar_Material .rtbSplitButton.rtbIconOnly .rtbSplBtnActivator {
      padding: 13px !important; }
  .RadToolBar_Material .rtbHovered .rtbButton {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadToolBar_Material .rtbHovered .rtbArrow {
    border-color: #E0E0E0 !important; }
  .RadToolBar_Material .rtbFocused .rtbButton,
  .RadToolBar_Material .rtbFocused.rtbMore {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadToolBar_Material .rtbFocused .rtbArrow {
    border-left-color: #E0E0E0 !important; }
  .RadToolBar_Material .rtbChecked .rtbButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadToolBar_Material .rtbExpanded .rtbButton,
  .RadToolBar_Material .rtbExpanded .rtbButton.rtbMenuButton,
  .RadToolBar_Material .rtbExpanded.rtbMore {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadToolBar_Material .rtbExpanded .rtbButton {
    z-index: 1 !important;
    position: relative !important; }
  .RadToolBar_Material .rtbExpanded .rtbButton.rtbSplitButton .rtbSplBtnActivator,
  .RadToolBar_Material .rtbExpanded .rtbButton.rtbSplitButton .rtbArrow {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important; }
  .RadToolBar_Material .rtbPressed .rtbButton:not(.rtbSplitButton) {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadToolBar_Material .rtbPressed .rtbSplitButton,
  .RadToolBar_Material .rtbPressed .rtbArrow {
    border-color: #E0E0E0 !important; }
  .RadToolBar_Material .rtbSplitButton .rtbPressed.rtbSplBtnActivator, .RadToolBar_Material .rtbSplitButton .rtbPressed.rtbArrow {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .RadToolBar_Material_rtl.RadToolBar_Horizontal .rtbItem + .rtbItem {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .RadToolBar_Material_rtl .rtbMenuButton .rtbArrow {
    margin: -13px 0 -13px -15px !important; }
  .RadToolBar_Material_rtl .rtbSplitButton .rtbArrow {
    margin: 0 !important; }
  .RadToolBar_Material_rtl .rtbMore {
    left: 0 !important;
    right: auto !important; }

.RadToolBar_Material_Horizontal .rtbSeparator {
  border-width: 0 0 0 1px !important; }

.RadToolBar_Material_Vertical:before {
  display: none !important; }

.RadToolBar_Material_Vertical .rtbSeparator {
  border-width: 1px 0 0 0 !important; }

.RadToolBar_Material_Vertical .rtbSplitButton {
  padding-right: 29px !important; }
  .RadToolBar_Material_Vertical .rtbSplitButton .rtbArrow {
    margin-right: -29px !important; }

.rtbPopup_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  border-width: 0 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
  .rtbPopup_Material .rtbMenu,
  .rtbPopup_Material .rtbUL {
    padding: 16px 0 !important; }
  .rtbPopup_Material .rtbLink,
  .rtbPopup_Material .rtbInner {
    border: 0 !important; }
  .rtbPopup_Material .rtbMenuButton,
  .rtbPopup_Material .rtbSplBtnActivator {
    padding: 8px 13px 8px 32px !important; }
  .rtbPopup_Material .rtbArrow {
    padding: 8px !important; }
  .rtbPopup_Material .radIcon {
    font-size: 18px !important;
    font-family: "Material Icons" !important; }
  .rtbPopup_Material .radIconDown:before {
    content: "\e5c5" !important; }
  .rtbPopup_Material .rtbExpanded .radIconDown:before {
    content: "\e5c7" !important; }
  .rtbPopup_Material .rtbSeparator {
    margin: 8px 0 !important;
    border-color: #E0E0E0 !important; }
  .rtbPopup_Material .rtbUL > .rtbSeparator {
    margin: 8px 0 !important; }
  .rtbPopup_Material .rtbSplitItem .rtbInner {
    padding-right: calc(1.42857143em + 17px) !important; }
  .rtbPopup_Material .rtbFocused > .rtbLink,
  .rtbPopup_Material .rtbFocused > .rtbInner {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
    position: relative !important; }
  .rtbPopup_Material .rtbFocused > .rtbInner .rtbArrow {
    border-left-color: #E0E0E0 !important; }
  .rtbPopup_Material .rtbHovered > .rtbLink {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .rtbPopup_Material .rtbHovered > .rtbInner,
  .rtbPopup_Material .rtbHovered.rtbSplitItem > .rtbInner.rtbButton {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
    .rtbPopup_Material .rtbHovered > .rtbInner .rtbArrow,
    .rtbPopup_Material .rtbHovered.rtbSplitItem > .rtbInner.rtbButton .rtbArrow {
      border-color: #E0E0E0 !important; }
  .rtbPopup_Material .rtbSelected > .rtbLink {
    border-color: transparent !important;
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .rtbPopup_Material .rtbSelected > .rtbInner,
  .rtbPopup_Material .rtbPressed > .rtbInner,
  .rtbPopup_Material .rtbChecked > .rtbInner {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
    .rtbPopup_Material .rtbSelected > .rtbInner .rtbArrow,
    .rtbPopup_Material .rtbPressed > .rtbInner .rtbArrow,
    .rtbPopup_Material .rtbChecked > .rtbInner .rtbArrow {
      border-left-color: #E0E0E0 !important; }
  .rtbPopup_Material .rtbSplitItem .rtbPressed.rtbSplBtnActivator, .rtbPopup_Material .rtbSplitItem .rtbPressed.rtbArrow {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #E0E0E0 !important; }
  .rtbPopup_Material .rtbExpanded > .rtbInner,
  .rtbPopup_Material .rtbExpanded.rtbHovered > .rtbInner.rtbButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .rtbPopup_Material .rtbExpanded > .rtbInner .rtbArrow,
    .rtbPopup_Material .rtbExpanded.rtbHovered > .rtbInner.rtbButton .rtbArrow {
      border-left-color: #E0E0E0 !important; }
  .rtbPopup_Material .rtbMenu:before {
    display: none !important; }
  .rtbPopup_Material.rtbShadows {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }

.rtbPopup_Material_rtl .rtbMenuButton,
.rtbPopup_Material_rtl .rtbSplBtnActivator {
  padding: 8px 32px 8px 13px !important; }

.rtbPopup_Material_rtl .rtbSplitItem .rtbInner {
  padding-right: 0 !important;
  padding-left: calc(1.42857143em + 17px) !important; }
