.RadTreeView_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadTreeView_Material .rtUL {
    padding: 3px !important; }
  .RadTreeView_Material .rtLI {
    padding: 1px 0 1px 30px !important; }
  .RadTreeView_Material .rtOut {
    position: relative !important; }
  .RadTreeView_Material .rtIn {
    border: 0 !important;
    border-radius: 2px !important;
    padding: 6px !important; }
  .RadTreeView_Material .rtChk {
    margin: 0 2px 0 6px !important; }
  .RadTreeView_Material .rtChkTristate {
    font-size: 18px !important;
    font-family: "Material Icons" !important;
    margin-right: 0 !important; }
    .RadTreeView_Material .rtChkTristate:before {
      margin-left: -3px !important; }
  .RadTreeView_Material .rtLoadingIcon {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
  .RadTreeView_Material .rtPlus,
  .RadTreeView_Material .rtMinus {
    display: inline-block !important;
    width: 36px !important;
    height: 36px !important;
    left: -28px !important;
    top: 0.7142857142em !important;
    margin-top: -10px !important;
    color: #757575 !important;
    border-radius: 18px !important; }
    .RadTreeView_Material .rtPlus:before, .RadTreeView_Material .rtPlus:before,
    .RadTreeView_Material .rtMinus:before,
    .RadTreeView_Material .rtMinus:before {
      font-size: 18px !important;
      font-family: "Material Icons" !important; }
  .RadTreeView_Material .rtPlus:before {
    content: "\e315" !important; }
  .RadTreeView_Material .rtMinus {
    color: #212121 !important; }
    .RadTreeView_Material .rtMinus:before {
      content: "\e313" !important; }
  .RadTreeView_Material .rtLines .rtLI:before {
    left: 19px !important; }
  .RadTreeView_Material .rtLines .rtFirst:before {
    margin-top: 7px !important; }
  .RadTreeView_Material .rtLines .rtLast:before {
    padding-top: 7px !important; }
  .RadTreeView_Material .rtLines .rtOut:before {
    top: 7px !important;
    left: -10px !important; }
  .RadTreeView_Material .rtHover .rtIn {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadTreeView_Material .rtPlusHover,
  .RadTreeView_Material .rtMinusHover {
    color: #212121 !important; }
  .RadTreeView_Material .rtChkTristate:hover {
    color: #212121 !important; }
  .RadTreeView_Material .rtSelected .rtIn {
    border-color: transparent !important;
    color: #0d47a1 !important;
    background-color: transparent !important; }
  .RadTreeView_Material .p-i-checkbox-checked {
    color: #0d47a1 !important; }
    .RadTreeView_Material .p-i-checkbox-checked:before {
      content: "\e834" !important; }
  .RadTreeView_Material .p-i-checkbox:before {
    content: "\e835" !important; }
  .RadTreeView_Material .p-i-tri-state-indeterminate {
    color: #0d47a1 !important; }
    .RadTreeView_Material .p-i-tri-state-indeterminate:before {
      content: "\e909" !important; }

.RadTreeView_Material_rtl .rtLI {
  padding-right: 30px !important;
  padding-left: 1px !important; }

.RadTreeView_Material_rtl .rtChk {
  margin: 0 6px 0 3px !important; }

.RadTreeView_Material_rtl .rtChecked:before,
.RadTreeView_Material_rtl .rtUnchecked:before,
.RadTreeView_Material_rtl .rtIndeterminate:before {
  margin-right: -3px !important;
  margin-left: 0 !important; }

.RadTreeView_Material_rtl .rtPlus,
.RadTreeView_Material_rtl .rtMinus {
  left: auto !important;
  right: -28px !important; }

.RadTreeView_Material_rtl .rtPlus:before {
  content: "\e314" !important; }

.RadTreeView_Material_rtl .rtLines .rtLI:before {
  left: auto !important;
  right: 19px !important; }

.RadTreeView_Material_rtl .rtLines .rtOut:before {
  left: auto !important;
  right: -10px !important; }
