.TreeListToolTip_Material {
  font-family: "Roboto", "Noto", sans-serif !important; }

.RadTreeList_Material {
  border-color: #E0E0E0 !important;
  background: #ffffff !important;
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  .RadTreeList_Material .t-button {
    padding: 7px !important;
    border-radius: 90px !important;
    color: #424242 !important; }
    .RadTreeList_Material .t-button:hover {
      border-color: #EEEEEE !important;
      color: #424242 !important;
      background-color: #EEEEEE !important; }
    .RadTreeList_Material .t-button:active {
      border-color: #E0E0E0 !important;
      color: #424242 !important;
      background-color: #E0E0E0 !important; }
  .RadTreeList_Material .rtlTable a {
    color: #1565c0 !important; }
  .RadTreeList_Material .rtlTable td {
    vertical-align: middle !important; }
  .RadTreeList_Material tr.rtlHeader {
    background-color: #ffffff !important;
    height: 47px !important;
    height: calc(1.42857em + 27px) !important; }
    .RadTreeList_Material tr.rtlHeader th {
      padding: 5px 15px !important;
      font-size: .857em !important;
      font-weight: 500 !important;
      line-height: 1.66667 !important; }
    .RadTreeList_Material tr.rtlHeader .t-button {
      font-size: 1.167em !important;
      line-height: 1.42857 !important; }
  .RadTreeList_Material .rtlHeader a {
    color: #424242 !important; }
  .RadTreeList_Material .rtlScroller {
    border-color: #E0E0E0 !important; }
  .RadTreeList_Material div.rtlHeader,
  .RadTreeList_Material .rtlHeader th {
    border-color: #E0E0E0 #ffffff !important; }
  .RadTreeList_Material .rtlREdit,
  .RadTreeList_Material .rtlR,
  .RadTreeList_Material .rtlA {
    height: 47px !important;
    height: calc(1.53846em + 27px) !important;
    font-size: 0.929em !important;
    line-height: 1.53846 !important; }
    .RadTreeList_Material .rtlREdit td,
    .RadTreeList_Material .rtlR td,
    .RadTreeList_Material .rtlA td {
      padding: 5px 15px !important; }
    .RadTreeList_Material .rtlREdit .t-button,
    .RadTreeList_Material .rtlR .t-button,
    .RadTreeList_Material .rtlA .t-button {
      font-size: 1.077em !important;
      line-height: 1.42857 !important; }
  .RadTreeList_Material .rtlHBorders .rtlR td,
  .RadTreeList_Material .rtlHBorders .rtlA td,
  .RadTreeList_Material .rtlHBorders .rtlREdit td,
  .RadTreeList_Material .rtlHBorders .rtlRFooter td {
    padding-bottom: 5px !important; }
  .RadTreeList_Material .rtlA {
    background-color: #ffffff !important; }
  .RadTreeList_Material .rtlRFooter {
    background-color: #ffffff !important; }
  .RadTreeList_Material .rtlRFooter td {
    border-color: #ffffff !important; }
  .RadTreeList_Material .rtlREdit {
    background-color: #d1d6ef !important; }
  .RadTreeList_Material .rtlR td,
  .RadTreeList_Material .rtlA td,
  .RadTreeList_Material .rtlREdit td,
  .RadTreeList_Material .rtlEditForm {
    border-color: #E0E0E0 #ffffff !important; }
  .RadTreeList_Material .rtlRSel {
    background: #E3F2FD !important;
    color: #424242 !important; }
  .RadTreeList_Material .rtlRSel a {
    color: #424242 !important; }
  .RadTreeList_Material .rtlRSel {
    background-color: #E3F2FD !important; }
  .RadTreeList_Material .rtlRActive .rtlCF {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset 5px 0px 5px -5px transparent !important; }
  .RadTreeList_Material .rtlRActive .rtlCF ~ td {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent !important; }
  .RadTreeList_Material .rtlRActive .rtlCF ~ td:last-child {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset -5px 0px 5px -5px transparent !important; }
  .RadTreeList_Material .rtlRActive td {
    border-color: #E3F2FD !important; }
  .RadTreeList_Material .rtlVBorders td.rtlL,
  .RadTreeList_Material .rtlLines td.rtlL {
    background-color: #ffffff !important; }
  .RadTreeList_Material .rtlExpand,
  .RadTreeList_Material .rtlCollapse {
    border: 0 none !important; }
    .RadTreeList_Material .rtlExpand:hover,
    .RadTreeList_Material .rtlCollapse:hover {
      background: none !important; }
  .RadTreeList_Material .rtlExpandIcon:before,
  .RadTreeList_Material .rtlCollapseIcon:before,
  .RadTreeList_Material .t-i-arrow-down:before {
    font-family: "Material Icons" !important;
    font-size: 18px !important; }
  .RadTreeList_Material .rtlCollapseIcon:before {
    content: '\e5cf' !important; }
  .RadTreeList_Material .rtlExpandIcon:before {
    content: '\e5cc' !important;
    color: #212121 !important; }
  .RadTreeList_Material .rtlSortAscIcon,
  .RadTreeList_Material .rtlSortDescIcon {
    color: #212121 !important; }
    .RadTreeList_Material .rtlSortAscIcon:before,
    .RadTreeList_Material .rtlSortDescIcon:before {
      font-family: "Material Icons" !important;
      font-size: 18px !important; }
  .RadTreeList_Material .rtlSortDescIcon:before {
    content: "\e5db" !important; }
  .RadTreeList_Material .rtlSortAscIcon:before {
    content: "\e5d8" !important; }
  .RadTreeList_Material .rtlPagerCell {
    color: #424242 !important;
    padding: 5px !important;
    border-color: #E0E0E0 !important; }
    .RadTreeList_Material .rtlPagerCell .rtlIcon:before {
      font-family: "WebComponentsIcons" !important; }
    .RadTreeList_Material .rtlPagerCell .rtlAdvPart {
      line-height: inherit !important; }
    .RadTreeList_Material .rtlPagerCell .rtlNumPart a {
      color: #ffffff !important; }
      .RadTreeList_Material .rtlPagerCell .rtlNumPart a .t-ripple {
        border-radius: 90px !important; }
    .RadTreeList_Material .rtlPagerCell .rtlPagerButton {
      border: 0 none !important;
      background-color: #F5F5F5 !important;
      color: #424242 !important;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
    .RadTreeList_Material .rtlPagerCell .rtlActionButton {
      border-radius: 90px !important; }
      .RadTreeList_Material .rtlPagerCell .rtlActionButton:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important; }
    .RadTreeList_Material .rtlPagerCell .rtlNumPart a {
      color: #424242 !important;
      text-align: center !important;
      border-width: 0 !important;
      padding: 8px !important;
      min-width: 1.42857em !important; }
      .RadTreeList_Material .rtlPagerCell .rtlNumPart a:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important;
        border-radius: 90px !important; }
      .RadTreeList_Material .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        border-bottom: 2px solid #1565c0 !important;
        color: #1565c0 !important;
        background: none !important;
        border-radius: 0 !important;
        margin-bottom: -5px !important;
        padding-bottom: 11px !important; }
    .RadTreeList_Material .rtlPagerCell .RadInput,
    .RadTreeList_Material .rtlPagerCell .RadComboBox,
    .RadTreeList_Material .rtlPagerCell .RadDropDownList {
      min-width: 90px !important; }
    .RadTreeList_Material .rtlPagerCell .rtlActionButton {
      box-sizing: content-box !important; }
    .RadTreeList_Material .rtlPagerCell .rtlPagerButton {
      border-color: #E0E0E0 !important;
      color: #424242 !important;
      background-color: #F5F5F5 !important;
      padding: 8px 13px !important;
      border-radius: 0 !important; }
      .RadTreeList_Material .rtlPagerCell .rtlPagerButton:hover {
        border-color: #EEEEEE !important;
        color: #424242 !important;
        background-color: #EEEEEE !important; }
    .RadTreeList_Material .rtlPagerCell .rtlInfoPart,
    .RadTreeList_Material .rtlPagerCell .rtlSliderLabel,
    .RadTreeList_Material .rtlPagerCell .rtlPagerLabel {
      font-size: .857em !important;
      color: #757575 !important;
      font-weight: 500 !important;
      line-height: 1.66667 !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important; }
      .RadTreeList_Material .rtlPagerCell .rtlInfoPart strong,
      .RadTreeList_Material .rtlPagerCell .rtlSliderLabel strong,
      .RadTreeList_Material .rtlPagerCell .rtlPagerLabel strong {
        font-weight: 500 !important;
        font-size: 1.167em !important;
        line-height: 1.42857 !important;
        color: #424242 !important; }
    .RadTreeList_Material .rtlPagerCell .RadSlider {
      margin: 7px 0 !important; }
  .RadTreeList_Material .rtlCommandCell {
    padding: 0 !important;
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important; }
    .RadTreeList_Material .rtlCommandCell .t-button {
      padding: 13px 15px !important;
      width: auto !important;
      height: auto !important;
      border-radius: 0 !important;
      border: 0 none !important; }
  .RadTreeList_Material .rtlFooter .rtlCommandCell,
  .RadTreeList_Material tfoot .rtlCommandCell {
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    background-image: linear-gradient() !important; }
  .RadTreeList_Material .rtlREdit [type="text"],
  .RadTreeList_Material .rtlEditForm td > [type="text"] {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: transparent !important;
    border-style: solid !important;
    border-width: 0 0 1px !important;
    padding: 8px 0 7px !important;
    outline: none !important;
    font: inherit !important;
    font-size: 1.077em !important;
    margin-left: 13px !important; }
    .RadTreeList_Material .rtlREdit [type="text"]:hover,
    .RadTreeList_Material .rtlEditForm td > [type="text"]:hover {
      border-color: #BDBDBD !important;
      color: #424242 !important;
      background-color: transparent !important; }
    .RadTreeList_Material .rtlREdit [type="text"]:active, .RadTreeList_Material .rtlREdit [type="text"]:focus,
    .RadTreeList_Material .rtlEditForm td > [type="text"]:active,
    .RadTreeList_Material .rtlEditForm td > [type="text"]:focus {
      border-color: #1565c0 !important;
      color: #424242 !important;
      background-color: transparent !important;
      box-shadow: 0 -1px 0 #1565c0 inset !important; }
    .t-ie .RadTreeList_Material .rtlREdit [type="text"], .t-ie
    .RadTreeList_Material .rtlEditForm td > [type="text"] {
      height: 36px !important;
      height: calc(1.42857em + 16px) !important; }
  .RadTreeList_Material .rtlEditForm {
    border: 1px solid #E0E0E0 !important; }
    .RadTreeList_Material .rtlEditForm td > [type="text"] {
      margin-left: 13px !important; }
    .RadTreeList_Material .rtlEditForm td > label {
      font-size: .923em !important;
      color: #757575 !important;
      font-weight: 500 !important;
      line-height: 1.66667 !important;
      padding-top: 8px !important;
      padding-bottom: 8px !important; }
    .RadTreeList_Material .rtlEditForm table {
      margin: .5em !important; }
    .RadTreeList_Material .rtlEditForm .rtlHeader {
      padding: 0 !important;
      height: auto !important;
      background-color: #1565c0 !important;
      color: #ffffff !important; }
      .RadTreeList_Material .rtlEditForm .rtlHeader > div:first-child {
        padding: 5px 10px !important; }
  .RadTreeList_Material.RadTreeListRTL .rtlExpandIcon:before {
    content: '\E003' !important; }

.TreeListReorderTop_Material,
.TreeListReorderBottom_Material {
  font-size: 2.2em !important;
  color: #000 !important;
  text-shadow: 0 0 1px #fff !important;
  text-indent: 2px !important; }

.RadTreeList_Material .rtlDragHandle {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Grid.rgDrag.gif")%>') !important; }

.TreeListToolTip_Material {
  border-color: #828282 !important;
  background: #ffffff !important;
  color: #424242 !important; }
