html .RadUpload_Material {
  color: #424242 !important;
  font-family: "Roboto", "Noto", sans-serif !important; }
  html .RadUpload_Material .ruFileLI .ruFileWrap {
    padding: 6px 0 !important; }
  html .RadUpload_Material .ruFileLI .ruButton:hover {
    color: #0d47a1 !important; }
  html .RadUpload_Material .ruFileLI .ruFileProgressWrap {
    background: #E0E0E0 !important;
    margin-top: 6px !important; }
  html .RadUpload_Material .ruFileLI .ruFileProgress {
    border-color: #1565c0 !important;
    background: #1565c0 !important; }
  html .RadUpload_Material .ruUploadSuccess .radIcon:before {
    background-color: #5ec232 !important; }
  html .RadUpload_Material .ruUploading .radIcon:before {
    background-color: #fbc02d !important; }
  html .RadUpload_Material .ruUploadCancelled .radIcon:before,
  html .RadUpload_Material .ruUploadFailure .radIcon:before {
    background-color: #f34235 !important; }
  html .RadUpload_Material .ruSelectWrap .ruFileWrap {
    padding: 4px !important; }
  html .RadUpload_Material .ruSelectWrap .ruFakeInput {
    display: none !important; }
  html .RadUpload_Material .ruSelectWrap .ruBrowse {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 8px 34px !important;
    border: 0 !important;
    border-radius: 2px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    text-transform: uppercase !important;
    transition: 0.2s all !important; }
  html .RadUpload_Material .ruSelectWrap .ruButtonHover {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  html .RadUpload_Material .ruSelectWrap .ruFocused {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }
  html .RadUpload_Material .ruDropZone {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    border: 0 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important; }
