// Used Controls:["Menu","Navigation","RibbonBar","PanelBar","TreeView","ToolBar","TabStrip","SearchBox","Grid","TreeList","DataForm","ListBox","Filter","Editor","ImageEditor","AutoCompleteBox","ComboBox","DropDownList","DropDownTree","Input","Slider","ColorPicker","Wizard","Splitter","Dock","Window","Notification","ToolTip","Tile","TileList","Rotator","Button","Scheduler","Gantt","Calendar","MediaPlayer","ImageGallery","LightBox","FileExplorer","CloudUpload","Upload","TagCloud","SocialShare","Rating","OrgChart","Map","ProgressArea","ProgressBar","FormDecorator"]
$base-theme:Material;
$skin-name:KendoMaterial;
$primary-name: indigo;
$accent-name: blue;
$base-name: light;
@import 'Menu.Material';
@import 'Navigation.Material';
@import 'RibbonBar.Material';
@import 'PanelBar.Material';
@import 'TreeView.Material';
@import 'ToolBar.Material';
@import 'TabStrip.Material';
@import 'SearchBox.Material';
@import 'Grid.Material';
@import 'TreeList.Material';
@import 'DataForm.Material';
@import 'ListBox.Material';
@import 'Filter.Material';
@import 'Editor.Material';
@import 'ImageEditor.Material';
@import 'AutoCompleteBox.Material';
@import 'ComboBox.Material';
@import 'DropDownList.Material';
@import 'DropDownTree.Material';
@import 'Input.Material';
@import 'Slider.Material';
@import 'ColorPicker.Material';
@import 'Wizard.Material';
@import 'Splitter.Material';
@import 'Dock.Material';
@import 'Window.Material';
@import 'Notification.Material';
@import 'ToolTip.Material';
@import 'Tile.Material';
@import 'TileList.Material';
@import 'Rotator.Material';
@import 'Button.Material';
@import 'Scheduler.Material';
@import 'Gantt.Material';
@import 'Calendar.Material';
@import 'MediaPlayer.Material';
@import 'ImageGallery.Material';
@import 'LightBox.Material';
@import 'FileExplorer.Material';
@import 'CloudUpload.Material';
@import 'Upload.Material';
@import 'TagCloud.Material';
@import 'SocialShare.Material';
@import 'Rating.Material';
@import 'OrgChart.Material';
@import 'Map.Material';
@import 'ProgressArea.Material';
@import 'ProgressBar.Material';
@import 'FormDecorator.Material';
