.RadWindow_Material {
  border-color: #E0E0E0 !important;
  color: #424242 !important;
  background-color: #ffffff !important;
  border-width: 0 !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important;
  /* External content iframe styles */
  /* Dialog styles */ }
  .RadWindow_Material.rwShadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2) !important; }
  .RadWindow_Material .rwTitleBar {
    background-color: #1565c0 !important; }
  .RadWindow_Material.rwCollapsed .rwTitleBar {
    border-bottom-color: #E0E0E0 !important; }
  .RadWindow_Material .rwTitleBar,
  .RadWindow_Material .rwIcon,
  .RadWindow_Material .rwCommandButton,
  .RadWindow_Material span.rwCommandButton:hover {
    color: #ffffff !important; }
  .RadWindow_Material .rwListItem:hover {
    background-color: rgba(255, 255, 255, 0.12) !important; }
  .RadWindow_Material .rwContent {
    background-color: #ffffff !important;
    border-color: transparent !important; }
  .RadWindow_Material .rwStatusBar {
    background-color: #F5F5F5 !important;
    border-color: #E0E0E0 !important; }
  .RadWindow_Material .rwResize {
    color: #757575 !important; }
  .RadWindow_Material .rwStatusBar input {
    color: #424242 !important; }
  .RadWindow_Material.rwLoading .rwExternalContent {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading.gif")%>') !important; }
  .RadWindow_Material .rwLoading.rwStatusBar {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.KendoMaterial.Common.loading_small.gif")%>') !important; }
  .RadWindow_Material .rwDialogButtons button {
    outline: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #424242 !important; }
  .RadWindow_Material .rwDialogButtons button:hover {
    background-color: rgba(66, 66, 66, 0.12) !important; }
  .RadWindow_Material .rwDialogButtons button:active,
  .RadWindow_Material .rwDialogButtons button:focus {
    background-color: rgba(66, 66, 66, 0.24) !important; }
  .RadWindow_Material .rwPromptDialog button.rwOkBtn,
  .RadWindow_Material .rwConfirmDialog button.rwOkBtn {
    color: #1565c0 !important;
    background-color: transparent !important; }
  .RadWindow_Material .rwPromptDialog button.rwOkBtn:hover,
  .RadWindow_Material .rwConfirmDialog button.rwOkBtn:hover {
    background-color: rgba(63, 81, 181, 0.12) !important; }
  .RadWindow_Material .rwPromptDialog button.rwOkBtn:active,
  .RadWindow_Material .rwConfirmDialog button.rwOkBtn:active {
    background-color: rgba(63, 81, 181, 0.24) !important; }
  .RadWindow_Material .rwPromptInput {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: transparent transparent #E0E0E0 !important; }
  .RadWindow_Material .rwPromptInput:hover {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: transparent transparent #BDBDBD !important; }
  .RadWindow_Material .rwPromptInput:active,
  .RadWindow_Material .rwPromptInput:focus {
    background-color: transparent !important;
    color: #424242 !important;
    border-color: transparent transparent #1565c0 !important; }
  .RadWindow_Material .rwPromptInput:disabled {
    background-color: transparent !important;
    color: #757575 !important;
    border-color: transparent transparent #EEEEEE !important; }
  .RadWindow_Material.rwRoundedCorner,
  .RadWindow_Material.rwCollapsed.rwRoundedCorner .rwTitleBar,
  .RadWindow_Material.rwMinimizedWindow.rwRoundedCorner .rwTitleBar,
  .RadWindow_Material .rwDialogButtons button {
    border-radius: 0.14286em !important; }
  .RadWindow_Material.rwRoundedCorner .rwTitleBar {
    border-radius: 0.14286em 0.14286em 0em 0em !important; }
  .RadWindow_Material .rwTitleWrapper .rwTitle {
    padding: 0em 0em 0em 1.57143em !important; }
  .RadWindow_Material.rwRoundedCorner .rwStatusBar {
    border-radius: 0em 0em 0.14286em 0.14286em !important; }
  .RadWindow_Material .rwTitleBar .rwTitleWrapper {
    padding: 14px !important; }
  .RadWindow_Material .rwIcon {
    margin: -0.5em 0em 0em !important; }
  .RadWindow_Material .rwTitleWrapper .rwIcon:before {
    margin: -0.21429em -0.21429em 0em 0em !important; }
  .RadWindow_Material _:-ms-fullscreen, :root .RadWindow_Material .rwTitleBar .rwTitleWrapper .rwIcon:before {
    margin: -0.21429em -0.21429em 0em 0em !important; }
  .RadWindow_Material .rwTitleBar {
    margin: -1px -5px 0 !important; }
  .RadWindow_Material .rwTitleWrapper .rwTitle {
    padding: 5px 0 5px 30px !important;
    margin: -4.5px 0 -4px !important;
    font-size: 1.42857em !important;
    font-family: inherit !important;
    line-height: 1em !important;
    color: #ffffff !important;
    text-transform: capitalize !important; }
  .RadWindow_Material .rwCommands {
    margin: -1.28571em 0em 0em !important;
    right: 1.14286em !important; }
  .RadWindow_Material .rwListItem {
    margin: 0em 0em 0em 0.42857em !important;
    line-height: 1.42857em !important;
    padding: 6px !important;
    border-radius: 45px !important; }
  .RadWindow_Material .rwLoading.rwStatusBar,
  .RadWindow_Material .rwStatusBar {
    margin: 9px -5px 0 !important;
    padding: 12px 16px !important;
    border-width: 1px 0 0 !important; }
  .RadWindow_Material .rwLoading.rwStatusBar {
    background-position: 13.5px center !important; }
  .RadWindow_Material .rwLoading.rwStatusBar input {
    margin: 0 0 0 27px !important; }
  .RadWindow_Material .rwStatusBar .rwResize {
    font-size: 1.5em !important;
    right: .5px !important;
    bottom: 0 !important;
    bottom: -2px\9 !important; }
  .RadWindow_Material _:-ms-fullscreen, :root .RadWindow_Material .rwStatusBar .rwResize {
    bottom: -2px !important; }
  .RadWindow_Material.rwMinimizedWindow {
    border-color: #1565c0 !important; }
  .RadWindow_Material.rwMinimizedWindow .rwCommands {
    right: 0 !important; }
  .RadWindow_Material.rwRtl .rwTitleBar {
    overflow: hidden !important; }
  .RadWindow_Material.rwRtl .rwCommands {
    left: 0.5em !important; }
  .RadWindow_Material.rwRtl .rwIcon {
    right: 1.28571em !important; }
  .RadWindow_Material.rwRtl .rwStatusBar .rwResize {
    left: 0 !important;
    bottom: -1px !important;
    bottom: -2px\9 !important; }
  .RadWindow_Material.rwRtl _:-ms-fullscreen, :root .RadWindow_Material.rwRtl.rwRtl .rwStatusBar .rwResize {
    bottom: -2px !important; }
  .RadWindow_Material .rwDialogButtons {
    width: 100% !important;
    max-height: 41px !important;
    padding: 6px !important;
    background-color: #F5F5F5 !important;
    border-top: 1px solid #E0E0E0 !important;
    right: auto !important;
    bottom: -6px !important;
    left: -6px !important;
    border-radius: 0em 0em 0.14286em 0.14286em !important; }
  .RadWindow_Material .rwDialogButtons button {
    min-width: 64px !important;
    padding: 6px 8px !important;
    text-transform: uppercase !important;
    font-family: "Roboto", "Noto", sans-serif !important;
    font-weight: 500 !important; }
  .RadWindow_Material .rwPromptInputContainer .rwPromptInput {
    padding: 0.64286em 0em !important;
    border-radius: 0 !important; }
  .RadWindow_Material .rwPromptInputContainer .rwPromptInput:focus,
  .RadWindow_Material .rwPromptInputContainer .rwPromptInput:active {
    padding: 0.64286em 0em 0.57143em !important;
    border-width: 1px 1px 2px !important; }
