.RadWizard_Material {
  color: #424242 !important;
  background: #ffffff !important;
  font-family: "Roboto", "Noto", sans-serif !important;
  counter-reset: step !important;
  padding: 10px 10px 0 !important; }
  .RadWizard_Material .rwzButton {
    border-color: #E0E0E0 !important;
    color: #424242 !important;
    background-color: #F5F5F5 !important;
    padding: 8px 12px !important;
    border: 0 !important;
    border-radius: 2px !important;
    font-weight: 500 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    text-transform: uppercase !important;
    transition: 0.2s color ease-in-out, 0.2s background ease-in-out !important; }
  .RadWizard_Material .rwzNext,
  .RadWizard_Material .rwzFinish {
    border-color: #1565c0 !important;
    color: #ffffff !important;
    background-color: #1565c0 !important; }
  .RadWizard_Material .rwzContentWrapper {
    margin-right: -5px !important; }
  .RadWizard_Material .rwzBreadCrumb {
    color: #424242 !important;
    background: #ffffff !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    white-space: nowrap !important;
    border-radius: 2px !important; }
    .RadWizard_Material .rwzBreadCrumb .rwzLI {
      position: relative !important;
      padding: 16px !important;
      overflow: hidden !important; }
    .RadWizard_Material .rwzBreadCrumb .rwzLink {
      display: block !important;
      border: 0 !important;
      padding: 8px !important;
      padding-left: 40px !important;
      color: inherit !important;
      z-index: 2 !important; }
      .RadWizard_Material .rwzBreadCrumb .rwzLink:before {
        box-shadow: none !important; }
      .RadWizard_Material .rwzBreadCrumb .rwzLink:before, .RadWizard_Material .rwzBreadCrumb .rwzLink:after {
        content: "" !important;
        display: block !important;
        height: 0 !important;
        position: absolute !important;
        margin: 0 !important;
        border-color: #E0E0E0 !important;
        border-style: solid !important;
        transform: none !important; }
    .RadWizard_Material .rwzBreadCrumb .rwzFirst .rwzLink:before,
    .RadWizard_Material .rwzBreadCrumb .rwzLast .rwzLink:after {
      display: none !important; }
    .RadWizard_Material .rwzBreadCrumb .rwzText {
      line-height: inherit !important;
      font-weight: 500 !important; }
      .RadWizard_Material .rwzBreadCrumb .rwzText:before {
        counter-increment: step !important;
        content: counter(step) !important;
        width: 24px !important;
        height: 24px !important;
        position: absolute !important;
        top: 6px !important;
        left: 8px !important;
        line-height: 24px !important;
        margin: 0 !important;
        border: 0 !important;
        border-radius: 12px !important;
        color: #ffffff !important;
        background: #757575 !important;
        transform: none !important;
        box-shadow: none !important;
        text-align: center !important;
        transition: 0.2s color ease-in-out, 0.2s background ease-in-out !important;
        opacity: inherit !important; }
  .RadWizard_Material .rwzLink {
    transition: 0.2s color ease-in-out !important; }
  .RadWizard_Material .rwzProgressBar {
    border: 0 !important;
    background-color: #E0E0E0 !important; }
  .RadWizard_Material .rwzProgress {
    height: 5px !important;
    border: 0 !important;
    background-color: #1565c0 !important; }
  .RadWizard_Material .rwzNav {
    padding: 0 5px 10px !important; }
  .RadWizard_Material .rwzHovered.rwzButton {
    border-color: #EEEEEE !important;
    color: #424242 !important;
    background-color: #EEEEEE !important; }
  .RadWizard_Material .rwzHovered.rwzNext,
  .RadWizard_Material .rwzHovered.rwzFinish {
    border-color: #3949AB !important;
    color: #ffffff !important;
    background-color: #3949AB !important; }
  .RadWizard_Material .rwzHovered .rwzLink {
    color: #212121 !important; }
    .RadWizard_Material .rwzHovered .rwzLink .rwzText:before {
      background: #212121 !important; }
  .RadWizard_Material .rwzFocused.rwzButton {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2) !important; }
  .RadWizard_Material .rwzSelected .rwzLink .rwzText:before {
    color: #ffffff !important;
    background: #0d47a1 !important; }
  .RadWizard_Material .rwzButton:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2) !important; }

.RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLI {
  text-align: center !important; }

.RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzFirst.rwzLI:before {
  left: 50% !important; }

.RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLast.rwzLI:before {
  left: auto !important;
  right: 50% !important; }

.RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLink {
  display: inline-block !important;
  box-sizing: border-box !important;
  max-width: 100% !important; }
  .RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLink:before, .RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLink:after {
    width: 900% !important;
    top: 50% !important;
    border-width: 1px 0 0 !important; }
  .RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLink:before {
    left: -900% !important;
    margin-left: -5px !important; }
  .RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLink:after {
    right: -900% !important;
    margin-right: -5px !important; }

.RadWizard_Material.rwzHorizontal .rwzBreadCrumb .rwzLast.rwzLI .rwzLink:before {
  display: inline-block !important; }

.RadWizard_Material.rwzVertical .rwzContentWrapper {
  position: relative !important;
  left: 5px !important; }

.RadWizard_Material.rwzVertical .rwzBreadCrumb {
  padding: 0 !important;
  margin-bottom: 10px !important; }
  .RadWizard_Material.rwzVertical .rwzBreadCrumb .rwzLink:before, .RadWizard_Material.rwzVertical .rwzBreadCrumb .rwzLink:after {
    width: 0 !important;
    height: 900% !important;
    left: 19px !important;
    border-width: 0 0 0 1px !important; }
  .RadWizard_Material.rwzVertical .rwzBreadCrumb .rwzLink:before {
    top: -900% !important; }
  .RadWizard_Material.rwzVertical .rwzBreadCrumb .rwzLink:after {
    bottom: -900% !important; }

.RadWizard_Material.rwzVertical .rwzProgressBar {
  width: 5px !important; }

.RadWizard_Material.rwzBottomBreadCrumb .rwzContentWrapper {
  margin-bottom: -10px !important; }

.RadWizard_Material.RadWizard_rtl .rwzBreadCrumb .rwzLink {
  padding-left: 8px !important;
  padding-right: 40px !important; }

.RadWizard_Material.RadWizard_rtl .rwzBreadCrumb .rwzFirst .rwzLink {
  padding-right: 40px !important; }

.RadWizard_Material.RadWizard_rtl .rwzBreadCrumb .rwzText:before {
  left: auto !important;
  right: 8px !important; }

.RadWizard_Material.RadWizard_rtl.rwzHorizontal .rwzBreadCrumb .rwzLink:before {
  left: auto !important;
  right: -900% !important; }

.RadWizard_Material.RadWizard_rtl.rwzHorizontal .rwzBreadCrumb .rwzLink:after {
  left: -900% !important;
  right: auto !important; }

.RadWizard_Material.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzLink:before,
.RadWizard_Material.RadWizard_rtl.rwzVertical .rwzBreadCrumb .rwzLink:after {
  left: auto !important;
  right: 19px !important; }
