
.tblStyle {
    background-color: #00B4FF;
    width: 100%;
    border: solid 1px gray;
}

.cssStudentName {
    padding-top: 1em;
    padding-left: 1.75em;
    text-align: left;
    width: 20%;
}

.cssStudentID {
    padding-top: 1em;
    text-align: left;
    width: 25%;
}

.cssEmail {
    padding-top: 1em;
    text-align: left;
    width: 30%;
}

.cssPhone {
    padding-top: 1em;
    padding-right: 1.75em;
    text-align: right;
    width: 25%;
}
