﻿#dvAfaIntegration .label-bold-title {
    font-size: 11pt !important;
    font-weight: bold !important;
    margin-left: 1em;
}
#dvAfaIntegration .clearfix {
    clear: both;
}
#dvAfaIntegration .bottomSpace {
    margin-bottom: 0.4em;
    height: 30px;
    margin-left: 1em;
}
.formRow {
    margin: 10px 0px;
    margin-left: 20px;
}
#tabsForm {
    margin-left: 15px;
    min-height: 280px;
    height: 77vh;
    overflow-x: auto;
}