﻿.loading {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.red-color {
    color: #b71c1c;
}

.formRow {
    margin-bottom: 10px;
}

.formRow {
    margin: 10px 0px;
    margin-left: 20px;
}

h4 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

tr[id*='StudSearch1_trTerms'] {
    display: none;
}

tr[id*='StudSearch1_trAcadYears'] {
    display: none;
}

div[id*='StudSearch1_DDLStudentSearch'] {
    margin-left: 70px;
}

.inline-block {
    display: inline-block;
}

.rlbItem.rlbSelected {
    background-color: #a3d0e4 !important;
}

.RadListBoxScrollable .rlbGroup {
    overflow-y: scroll !important;
}

.rlbList li:nth-child(odd) {
    background-color: rgba(240, 248, 255, .5);
}

.rlbCheckAllItemsCheckBox {
    margin-bottom: 3px !important;
}
