﻿.formRow {
    padding: 10px;
    margin-left: 20px;
}

.inLineBlock {
    display: inline-block;
}

.helpIcon {
    position: absolute;
    right: 20px;
    top: 2px;
    cursor: pointer;
}

.panelbar {
    width: 80%;
    margin: 15px 0px;
}

#tabsForm {
    margin-left: 15px;
    min-height: 280px;
    height: 77vh;
    overflow-x: auto;
}


#dialog {
    display: none;
}


.leftLable {
    width: 20%;
}

.btn:hover {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.bold {
    font-weight: bold;
}

.k-panelbar > .k-item {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
    border: 1px solid rgba(20,53,80,0.14);
}

.smallTextContainer {
    margin-left: -50px;
    float: left;
    display: inline;
    width: 35%;
    margin-top: 20px;
}

    .smallTextContainer > small {
        margin-left: 0px !important;
    }

small {
    font-weight: 400;
    line-height: 1;
    color: #999;
    margin-left: 2%;
}
