﻿h4 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

#btnSave {
    width: 80px;
}

#btnPrint {
    width: 80px;
}

.red-color {
    color: #b71c1c;
}

.ddlAwardTypes9010 {
    width: 200px;
}
