﻿.formRow {
    margin: 10px 0px;
    margin-left: 20px;
}

.inLineBlock {
    display: inline-block;
}

.helpIcon {
    position: absolute;
    right: 20px;
    top: 2px;
    cursor: pointer;
}

.panelbar {
    width: 80%;
    margin: 15px 0px;
}

.page-wrapper {
    margin-left: 15px;
    min-height: 280px;
    height: 96.5%;
    overflow-x: auto;
}

.red-color {
    color: #b71c1c;
}
