﻿/*
    This file is copied from FAME.Advantage.Client Dashboard. 
    If you make changes here you lost your changes in the next build
    Do to changes here, please go to typescript project Dashboard.
*/
/*******************************************************************************/
/******************** Dashboard HTML Element Modifications**********************/
/*******************************************************************************/

h3 {
    margin-top: 0;
}

/*******************************************************************************/
/******************** Dashboard Tool bar     ***********************************/
/*******************************************************************************/
.dashtoolbar {
    height: 27px;
}


/*******************************************************************************/
/******************** Dashboard Specific CSS ***********************************/
/*******************************************************************************/
/* General CSS*/
#dashboardWrap {
    width: 100%;
    height: 100%;
}

/* Dashboard Tool bar (none)*/
/*Dashboard draggable droppable two column area*/
#dashScrollbar {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#fameDashboard {
    width: 100%;
}

@media screen and (min-width: 640px) {

    .panel-wrap {
        display: table;
        margin: 0 0 20px;
        width: 100%;
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
    }

    #left-content {
        display: table-cell;
        margin: 0;
        padding: 20px 20px 20px 20px;
        width: 49%;
        vertical-align: top;
        min-width: 500px;
    }

    /*#main-content {
    display: table-cell;
    margin: 0;
    padding: 20px;
    width: 33%;
    vertical-align: top;
}*/

    #right-content {
        display: table-cell;
        margin: 0;
        padding: 20px 20px 20px 0;
        width: 49%;
        vertical-align: top;
        min-width: 500px;
    }
}

.hint {
    width: 250px;
    height: 100px;
    overflow: hidden;
}

    .hint > h3 {
        padding-left: 20px;
    }

.widget.placeholder {
    opacity: 0.4;
    border: 1px dashed #a6a6a6;
}
/*******************************************************************************/
/********************   Dashboard FAME small devices setting CSS   *************/
/*******************************************************************************/
@media screen and (max-width: 640px) {

    body {
        background-color: lightblue;
    }

    .panel-wrap {
        /*display: table;*/
        margin: 0 0 10px;
        width: 100%;
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
    }

    #left-content {
        /*display: table-cell;*/
        margin: 0;
        padding: 5px;
        width: 99%;
        vertical-align: top;
        min-width: 500px;
    }

    /*#main-content {
    display: table-cell;
    margin: 0;
    padding: 20px;
    width: 33%;
    vertical-align: top;
}*/

    #right-content {
        /*display: table-cell;*/
        margin: 0;
        padding: 5px;
        width: 99%;
        vertical-align: top;
        min-width: 500px;
    }
}

/*******************************************************************************/
/********************   Dashboard FAME Configuration Page CSS   ****************/
/*******************************************************************************/
/* select widget table column*/
.dashconfigcolumn1 {
    width: 19px;
}

@media screen and (min-width: 640px) {
    .dashconfigcolumn2 {
        width: 254px;
    }
}

.buttondashconfig {
    margin-top: 3px;
    margin-right: 5px;
    width: 100px;
}

/* panel low */
.paneldashconfig {
    height: 40px;
    margin-top: 5px;
    vertical-align: middle;
}

/* configuration option TAB */
.paneldashoptionconfig {
    height: 90px;
    margin-top: 5px;
    vertical-align: middle;
}

/* dashboard module selection button */
.dash-config-cssdropdown {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    vertical-align: bottom;
}

/*******************************************************************************/
/********************   Dashboard FAME Configuration Page CSS   ****************/
/*******************************************************************************/


@media screen and (max-width: 640px) {
    .dashconfigcolumn2 {
        width: 55px;
    }
}


/*******************************************************************************/
/********************   Dashboard Base FameWidget CSS   ************************/
/*******************************************************************************/

.widget {
    margin: 0 0 20px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    cursor: auto;
}

    .widget div {
        padding: 10px;
        min-height: 50px;
    }

    .widget h3 {
        font-size: 12px;
        padding: 8px 10px;
        /*text-transform: uppercase;*/
        border-bottom: 1px solid #e7e7e7;
    }

        .widget h3 span {
            float: right;
        }

            .widget h3 span:hover {
                cursor: pointer;
                background-color: #e7e7e7;
                border-radius: 20px;
            }

    .widget:hover {
        background-color: #fcfcfc;
        border-color: #cccccc;
    }

.handler {
    padding: 1px;
    cursor: move;
}

/* Void style used to mark the placeholder point in FameWidget */
.famePlaceHolder {
    border-style: none;
    width: 100%;
}

.openwin {
    border-style: none;
}

/*******************************************************************************/
/*********  END BASIC CSS for dashboard continue with custom widget  ***********/
/*******************************************************************************/
/*******************************************************************************/
/*********                        LEAD Widget                        ***********/
/*******************************************************************************/
/* Lead Widget CSS  */
.leadColumnWidget {
    width: 50%;
    text-align: center;
    padding: 5px;
}

.newLeadWidgetTable {
    /*height: 270px;*/
    width: 100%;
    /*.dash-config.tab {
    height:550px
}*/
    /*.dash-config-csslabel {
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    vertical-align: bottom;
}*/
}
/*.leadSpanWidget {
    text-align: center;
}*/

