﻿/*
    DASHBOARD CSS. Definition of the two panels
    and the Dashboard head
*/

.k-window-titlebar {
    /*font-size: 12px;
    font-weight: bold;*/

}

#example {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dash-head {
    width: 100%;
    height: 50px;
    background: #222222;
}

.panel-wrap {
    display: table;
    margin: 0 0 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #e5e5e5;
}

#sidebar {
    display: table-cell;
    margin: 0;
    padding: 20px 0 20px 20px;
    width: 50%;
    vertical-align: top;
}

#main-content {
    display: table-cell;
    margin: 0;
    padding: 20px;
    width: 50%;
    vertical-align: top;
}

.widget.placeholder {
    opacity: 0.4;
    border: 1px dashed #a6a6a6;
}

.hint {
    width: 250px;
    height: 100px;
    overflow: hidden;
}

    .hint > h3 {
        padding-left: 20px;
    }


/* WIDGETS General ......................................................................................... */
.widget {
    margin: 0 0 20px;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-radius: 3px;
    cursor: auto;
}

    .widget:hover {
        background-color: #fcfcfc;
        border-color: #cccccc;
       
    }


    .widget div {
        padding: 10px;
        min-height: 50px;
    }

    .widget h3 {
        font-size: 12px;
        padding: 8px 10px;
        /*text-transform: uppercase;*/
        border-bottom: 1px solid #e7e7e7;
        font-family: Arial, Helvetica, sans-serif;
    }

        .widget h3 span {
            float: right;
        }

.widget h3 span:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 20px;
}
.handler {
    padding: 1px;
    cursor: move;
}

#chart  {
    cursor: pointer;
}

.widget2 {
    margin: 0 0 2px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
   
}

.widget2:hover {
    background-color: #fcfcfc;
    border-color: #cccccc;
     
}

.widget2 div {
    padding: 2px;
    min-height: 10px;
}

.widget2 h3 {
    font-size: 12px;    
    padding: 8px 10px;
    /*text-transform: uppercase;*/
    border-bottom: 1px solid #e7e7e7;
    font-family: Arial, Helvetica, sans-serif;
}

.widget2 h3 span {
    float: right;
}

.widget2 h3 span:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 5px;
}




/* WidGets particular ......................................................................... */

/* Widget Voyant CSS for main-content panel*/
/* VOYANT */

#DashBoardVoyant div {
    padding: 0 20px 20px;
}

#DashBoardVoyant h4 {
    width: auto;
    margin: 20px 0 2px;
    font-size: 1.4em;
    color: #1f97f7;
    font-weight: normal;
}


/*#transactionContainer div {
    padding: 5px;
}

#transactionContainer h4 {
    width: auto;
    margin: 20px 0 2px;
    font-size: 1.4em;
    color: #1f97f7;
    font-weight: normal;
}*/






#main-content #DashBoardVoyant h4 {
    font-size: 1.2em;
    line-height: 1.4em;
    height: 40px;
}

    #main-content #DashBoardVoyant h4 span {
        display: block;
        float: left;
        width: 100px;
        height: 40px;
        color: #000;
    }

/*Widget Voyant sidebar panel  */

#sidebar #DashBoardVoyant h4 {
    font-size: 1em;
}

    #sidebar #DashBoardVoyant h4 span {
        display: block;
        margin-bottom: 3px;
        color: #000;
    }

/* VOyant on-demand window*/
.image-type {
    width: 40%;
    float: left;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button-type {
    width: 55%;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Transaction Container Widget*/

#transactionContainer div {
    padding: 0 2px 0;
}

#transactionContainer h4 {
    width: auto;
    margin: 20px 0 2px;
    font-size: 1.4em;
    color: #1f97f7;
    font-weight: normal;
}

#main-content #transactionContainer h4 {
    font-size: 1.2em;
    line-height: 1.4em;
    height: 40px;
}

    #main-content #transactionContainer h4 span {
        display: block;
        float: left;
        width: 100px;
        height: 40px;
        color: #000;
    }

    #sidebar #transactionContainer h4 {
    font-size: 1em;
}

    #sidebar #transactionContainer h4 span {
        display: block;
        margin-bottom: 3px;
        color: #000;
    }



