﻿
#priorWorkWrapper {
    position: relative;
    max-height: 600px;
    overflow: auto;
}

.marco {
    margin: 10px;
    font-family: Arial, Sans Serif;
}

.clearfix {
    clear: both;
}

.mandatory {
    color: #b71c1c;
}

.grayheader {
    background-color: gainsboro;
    font-weight: bold;
}

/* Windows Pop UP for editing field */
.prior {
    display: table-cell;
    min-width: 285px;
    height: 35px;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
}

.priorlabel {
    width: 125px;
    float: left;
    position: relative;
    margin: 5px 5px 6px 0;
}

.priorInput {
    width: 155px !important;
}

.priorButtonAlign {
    text-align: right;
}

.leadTitles {
    font: bold 10pt arial, verdana, serif !important;
    vertical-align: top !important;
    margin-right: 5px;
   
}

.leadFirstPanel {
    margin: 5px;
    height: 20px;
    vertical-align: middle;
}

.largeTextbutton {
    margin-left: 0;
}

.workDetailsFrame {
    border: 1px solid darkblue;
    padding: 10px;
}

/*.leadDetailsTitles {
    font: bold 10pt arial, verdana, serif;
    vertical-align: top;
    margin-right: 5px;
}*/


.priorWorkTextBox {
    -moz-min-width: 80%;
    -ms-min-width: 80%;
    min-width: 80%;
}


#priorFirstPanel {
    margin-left: 10px;
    margin-top: 10px;
}

#priorContactPlusImage:hover {
    cursor: pointer;
}

#priorPlusImage:hover {
    cursor: pointer;
}

/* Prior Work Grid styles cells and buttons */

#priorWorkGrid .k-grid table {
    table-layout: fixed;
}

.k-grid-edit {
    border-width: 0 !important;
    min-width: 30px;
    background-color: transparent;
    background-image: none;
    text-align: left !important;
}


.k-grid-delet {
    border-width: 0 !important;
    min-width: 30px;
    background-color: transparent;
    background-image: none;
    text-align: left;
}

.k-grid-edit:hover {
    border-width: 0 !important;
    min-width: 30px;
    background-color: transparent;
    background-image: none;
    text-align: left !important;
}


.k-grid-delet:hover {
    border-width: 0 !important;
    min-width: 30px;
    background-color: transparent;
    background-image: none;
    text-align: left;
}

/* Template for Editor Grid*/
#priorGridTemplateWrapper {
    margin: 10px;
}

.templateLeft {
    width: 100px !important;
    float: left;
    margin-bottom: 10px;
}

.templateRight {
    float: left;
    margin-bottom: 10px;
}

.templateExtra {
    float: left;
    margin-bottom: 10px;
}

.toggle-inv {
    display: none;
}

.toggle-vis {
    display: inherit;
}

.k-popup-edit-form {
    text-align: right;
}

.k-edit-form-container {
    text-align: left;
}

.k-grid-update {
    margin: 5px;
}

.k-grid-cancel {
    margin: 5px;
    margin-right: 10px;
}

hr {
    color: #bbdceb;
}

.linkcolor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(0, 102, 204);
}

    .linkcolor:hover {
        color: cyan;
        background-color: rgb(0,109,204);
        text-decoration: none;
    }

    .linkcolor:visited {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9pt;
        text-decoration: none;
        white-space: nowrap;
        color: blue;
    }

    .linkcolor:active {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9pt;
        text-decoration: none;
        color: blue;
    }
