﻿/* CSS For ALeadInfoPage.aspx */
/* Created July 2015 */
/* Clear red border in invalid field in Fire Fox*/
input:invalid {
    box-shadow: none;
}

#containerInfoPage {
    width: 1360px;
    height: 1280px;
    min-width: 1280px;
    /*border: 1px solid blue;*/
}

    #containerInfoPage span.k-tooltip-validation {
        position: absolute;
        z-index: 20000;
    }

    #containerInfoPage [data-for="Last Name<span style=color:red>*</span>"] {
        top: 60px;
        left: 280px;
    }

.k-list-container .k-list .k-item {
    padding-right: 25px;
}

/*previous value was = width: 920px; */
#subContainerInfoPage {
    width: 1000px;
    min-width: 1000px;
    border-right: 1px solid #ccc;
    float: left;
    display: block;
    position: relative;
    font-size: 12px !important;
    padding: 5px;
}

#personalInformation {
    width: 475px;
    -moz-min-width: 475px;
    -ms-min-width: 475px;
    min-width: 475px;
    /*border: 1px solid red;*/
    position: relative;
    display: block;
    float: left;
}

#personalInformation2 {
    width: 310px;
    min-width: 310px;
    /*border: 1px solid green;*/
    position: relative;
    display: block;
    margin-left: 0;
    float: left;
}

#contactInformation {
    width: 435px;
    min-width: 435px;
    /*border: 1px solid yellow;*/
    position: relative;
    display: block;
    margin-left: 5px;
    float: left;
}

#infobanner {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: #8bc4dd 1px solid;
}

#leadGroups {
    width: 300px;
    min-width: 300px;
    /*border: 1px solid yellow;*/
    position: relative;
    display: block;
    margin-left: 5px;
    float: left;
}

#source {
    width: 300px;
    min-width: 300px;
    /*height: 250px;*/
    border-right: 1px solid #ccc;
    position: relative;
    display: block;
    float: left;
}

#other {
    width: 690px;
    min-width: 690px;
    /*border: 1px solid aqua;*/
    position: relative;
    display: block;
    float: left;
}

/*#infobanner2 {
    background: gainsboro;
}*/

#custom {
    width: 890px;
    min-width: 890px;
    /*border: 1px solid chocolate;*/
    position: relative;
    display: block;
}

/*
    Prior Last Name Custom style
*/
#cbPrevlast {
    background-color: gainsboro;
}

.textLabelcustomleft {
    width: 120px;
    float: left;
    position: relative;
    margin: 5px 10px 6px 5px;
}

.textLabelOtherleft {
    width: 108px;
    float: left;
    position: relative;
    margin: 5px 10px 6px 5px;
}

.textLabelOtherleft2 {
    width: 110px;
    float: left;
    position: relative;
    margin: 5px 1px 6px 5px;
}

.separatorOther {
    min-width: 102px;
    height: 10px;
    float: left;
    position: relative;
}

.textLabelleftSource {
    width: 97px;
    float: left;
    position: relative;
    margin: 5px 1px 6px 5px;
}



.textLabelleft {
    width: 120px; /*96 min 1pxel*/
    float: left;
    position: relative;
    margin: 5px 1px 6px 5px;
}

.textLabelleftDemog2 {
    width: 110px; /*91 min 1pxel*/
    float: left;
    position: relative;
    margin: 5px 1px 6px 5px;
}

.textLabelleftContact {
    width: 101px; /*96 min 1pxel*/
    float: left;
    position: relative;
    margin: 5px 1px 6px 5px;
}

.textLabelhalfleft {
    width: 50px;
    float: left;
    position: relative;
    margin: 5px 1px 6px 5px;
}

.textLabelright {
    width: 63px; /*58 min 1pxel*/
    float: left;
    position: relative;
    margin: 5px 1px 6px 20px;
}

.textLabelfree {
    float: left;
    position: relative;
    margin: 5px 10px 6px 5px;
}

.textLabelmiddle {
    width: 60px;
    float: left;
    position: relative;
    margin: 5px 10px 6px 20px;
}



.fieldlabel1 {
    color: #4682b4;
    width: 167px !important;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabelEmail {
    color: #4682b4;
    width: 170px !important;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabelNote {
    color: rgb(0,63,89);
    width: 159px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabel2 {
    width: 82px !important;
    height: 19px !important;
    background: transparent;
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 0px 5px 0;
}

.fieldlabel2_1 {
    width: 82px !important;
    height: 19px !important;
    background: transparent;
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;

}
.fieldlabel21 .fieldlabel21, .fieldlabel6 .fieldlabel6 {
    margin: 0px;
    padding: 0px;
}
.fieldlabel22 {
    width: 82px !important;
    height: 19px !important;
    background: transparent;
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-top: 0 !important;
}

.fieldlabel21 {
    width: 120px !important;
    height: 19px !important;
    background: transparent;
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabel3 {
    color: #4682b4;
    width: 60px;
    height: 16px;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    position: relative;
    float: left;
    padding-left: 2px;
    margin: 5px 5px 8px 0;
}

.fieldlabel4 {
    color: #4682b4;
    width: 127px !important;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabel5 {
    color: #4682b4;
    width: 30px;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 8px 0;
}

.fieldlabel6 {
    width: 45px !important;
    height: 19px !important;
    background: transparent;
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabel7 {
    color: #4682b4;
    width: 268px !important;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 8px 0;
}

.fieldlabel8 {
    color: #4682b4;
    width: 160px !important;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}

.fieldlabel9 {
    color: #4682b4;
    width: 145px !important;
    height: 19px !important;
    background: transparent;
    /*border: 1px solid #4682b4;*/
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}


.clearfix {
    clear: both;
}

.contmet {
    height: 16px;
    float: left;
    margin: 5px 5px 8px 0;
    padding-right: 5px;
}

.checkphone {
    height: 10px;
    float: left;
    margin-top: 4px;
}

.buttonadd {
    float: left;
    display: block;
    margin-left: 110px;
}

.biggerComment {
    width: 550px;
    color: rgb(0, 63, 89);
    /*height: 40px;*/
    /*border: 1px solid #4682b4;*/
    float: left;
    display: block;
}

/*Standard Drop Down List 140px (bigger) */

#containerInfoPage .k-dropdown {
    height: 19px;
    width: 167px;
    position: relative;
    float: left;
    /*padding-left: 2px;*/
    margin: 5px 5px 6px 0;
    border-radius: 0 !important;
    font-size: 11px !important;
}

#containerInfoPage .k-input {
    height: 18px;
    width: 140px;
    margin-top: 0;
    position: relative;
    /*float: left;*/
    padding-left: 2px;
    padding-top: 0;
    font-size: 11px !important;
}

#containerInfoPage .k-numeric-wrap {
    height: 20px !important;
}
#containerInfoPage span.k-dropdown {
    border: none !important;
}
#containerInfoPage .k-dropdown-wrap {
    height: 19px;
    position: relative;
    float: left;
    padding-left: 2px;
    border-radius: 0 !important;
    border: 1px solid #f0f0f0;
    font-size: 11px !important;
}

#containerInfoPage .k-i-arrow-s {
    vertical-align: top;
    margin-top: 3px;
}


/* kendo numeric text box special style */
#containerInfoPage .k-numerictextbox .k-i-arrow-s {
    margin-top: 0;
}

#containerInfoPage .k-numerictextbox .k-numeric-wrap {
    border-style: none;
}

#containerInfoPage .k-numerictextbox .k-select {
    position: relative;
}

/* Medium Combo Box*/
#containerInfoPage .cb-medium {
    width: 135px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerInfoPage .cb-medium .k-input {
        width: 100px;
    }

    #containerInfoPage .cb-medium .k-dropdown {
        width: 100px;
    }


/*#cbPrevlast {
        display: inline !important; 
        width: auto!important;
    }*/

/* Small Drop Down List (54px) */
#containerInfoPage .cb-small {
    width: 90px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerInfoPage .cb-small .k-input {
        width: 54px;
    }

    #containerInfoPage .cb-small .k-dropdown {
        width: 54px;
    }

#containerInfoPage .cb-x-small {
    width: 75px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerInfoPage .cb-x-small .k-input {
        width: 40px;
    }

    #containerInfoPage .cb-x-small .k-dropdown {
        width: 40px;
    }


#containerInfoPage .cb-xx-small {
    width: 40px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerInfoPage .cb-xx-small .k-input {
        width: 20px;
    }

    #containerInfoPage .cb-xx-small .k-dropdown {
        width: 20px;
    }



#containerInfoPage .k-datepicker {
    height: 18px !important;
    width: 90px;
    position: relative;
    float: left;
    /*padding-left: 2px;*/
    margin: 5px 5px 6px 0;
    border-radius: 0 !important;
}

#containerInfoPage .k-picker-wrap {
    height: 19px !important;
    border-radius: 0 !important;
}

    #containerInfoPage .k-picker-wrap > .k-input {
        height: 17px !important;
    }

#containerInfoPage .k-i-calendar {
    margin-top: 1px;
    vertical-align: top
}

#containerInfoPage .k-list-container .k-list .k-item {
    padding-right: 25px;
}

#containerInfoPage .k-i-clock {
    margin-top: 1px;
    vertical-align: top
}

#subContainerInfoPage .k-datepicker {
    /*height: 18px !important;*/
    width: 167px;
    /*position: relative;
    float: left;*/
    /*padding-left: 2px;*/
    /*margin: 5px 5px 6px 0;
    border-radius: 0 !important;*/
}

#subContainerInfoPage .k-picker-wrap {
    /*height: 19px !important;*/
    border-radius: 0 !important;
}


#containerInfoPage .k-datetimepicker {
    height: 18px !important;
    width: 170px;
    position: relative;
    float: left;
    /*padding-left: 2px;*/
    margin: 5px 5px 6px 0;
    border-radius: 0 !important;
}


.leadGroupCheckboxStyle {
    margin-top: 8px;
}

.f-checkbox-label {
    vertical-align: text-bottom !important;
}

.customrightlabel {
    color: #080808;
    width: 96px;
    height: 16px;
    float: left;
    position: relative;
    margin: 5px 10px 6px 20px;
}

/*
    show pm am in lower case
*/
#dtDateSource {
    text-transform: lowercase;
}

.downpanel {
    position: absolute;
    bottom: 0;
    display: block;
    width: 98%;
    margin-top: 150px;
    padding: 19px 0 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/*  Windows Vehicles CSS */
#windowsVehicle section {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 9pt;
    display: table;
    float: left;
    margin-left: 10px;
}

#windowsVehicle header {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

#windowsVehicle label {
    display: table;
    float: left;
    width: 81px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#windowsVehicle input {
    display: table;
    float: left;
    margin-bottom: 10px;
}

#windowsVehicle .k-invalid-msg {
    position: absolute !important;
    margin-top: 25px;
    margin-left: -150px;
}

/* Customization of textbox in UDF 
    The UDF component has its proper style, but it allow you to some
    customization in order to adequate the control to the page format
*/
#custom .k-textbox {
    height: 20px;
    border-radius: 0;
}
