﻿

.leadTitles {
    vertical-align: top;
    margin-right: 10px;
}


#notesWrapper {
    /*background-color: yellow;*/
}

.flex-container {
    position: relative;
    font-family: arial, verdana, serif;
    font-size: 10pt;
    font-weight: bold !important;
    display: flex;
    margin: 10px;
    /*background-color: lightblue;*/
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    position: relative;
}

#notesItem1 {
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    /*background-color: gainsboro*/
}

#notesItem2 {
    -ms-flex: 10;
    -webkit-flex: 10;
    flex: 10;
    /*background-color: aliceblue;*/
    text-align: center;
    vertical-align: baseline;
}

#notesItem3 {
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    /*background-color: bisque;*/
    text-align: right;
}

#notesPlusImage:hover {
    cursor: pointer;
}

@media only screen and ( max-height: 800px) {
    #notesGrid {
        font-size: 11px;
    }
}

@media only screen and ( min-height: 800px ) and ( max-height: 1900px) {
    #notesGrid {
        font-size: 12px;
    }
}

#notesGrid {
    /*border: goldenrod solid 5px;*/
}

    #notesGrid .k-grid-edit {
        border-width: 0 !important;
        min-width: 30px;
        background-color: transparent;
        background-image: none;
    }

/*Edit box Customization */

.k-edit-buttons {
    width: 640px;
}

.k-edit-form-container label {
}

.k-edit-label {
    padding-top: 5px;
}

.k-edit-field {
    padding-top: 5px;
}

#notesWrapper .k-edit-label {
}


/*  CSS for AD/AleadPrint.aspx and SY/StudentNotesPrint  */
#printInfoPage input {
    margin-left: 5px;
}

#printHeaderRight {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    width: 100%;
    display: table;
    padding-top: 10px;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
}

    #printHeaderRight > div {
        margin-top: 5px;
    }

.clearfix {
    clear: both;
}


.hrcol1 {
    font-family: arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    display: block;
    position: relative;
    min-width: 1.05in;
    width: 1.05in;
    text-align: left;
    float: left;
    overflow: hidden;
    border: 0;
}

.hrcol2 {
    font-family: arial, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    display: block;
    position: relative;
    min-width: 2.0in;
    width: 2.0in;
    text-align: left;
    float: left;
    overflow: hidden;
    border: 0;
    margin-right: 0.5in;
}

.hrcol3 {
    font-family: arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    display: block;
    position: relative;
    min-width: 1.05in;
    width: 1.05in;
    text-align: left;
    float: left;
    overflow: hidden;
    border: 0;
}

.hrcol4 {
    font-family: arial, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    display: block;
    position: relative;
    min-width: 2.0in;
    width: 2.0in;
    text-align: left;
    float: left;
    overflow: hidden;
    border: 0;
}

table.LNStyle {
    border-collapse: collapse;
}

    table.LNStyle thead {
        font-family: arial, sans-serif;
        font-size: 9pt;
        font-weight: bold;
        position: relative;
        text-align: left;
        vertical-align: top;
        overflow: hidden;
        word-wrap: normal;
        border-bottom: 1px solid gainsboro;
        background-color: lightcyan;
    }

    table.LNStyle tbody {
        font-family: arial, sans-serif;
        font-size: 9pt;
        font-weight: normal;
        position: relative;
        text-align: left;
        vertical-align: top;
        overflow: hidden;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    table.LNStyle thead tr, tbody tr {
        border-bottom: 1px solid gainsboro;
    }

    table.LNStyle tr:last-child {
        border-bottom: none;
    }

    table.LNStyle tbody tr:nth-child(odd) {
        background-color: #fafafa;
    }

    table.LNStyle tbody tr:nth-child(even) {
        background-color: lightcyan;
    }

.Col1 {
    min-width: 0.80in;
    width: 0.80in;
    text-align: left;
}

.Col2 {
    min-width: 0.75in;
    width: 0.75in;
    text-align: left;
}

.Col3 {
    min-width: 0.75in;
    width: 0.75in;
    text-align: left;
}

.Col4 {
    min-width: 0.75in;
    width: 0.75in;
    text-align: left;
}

.Col5 {
    min-width: 0.75in;
    width: 0.75in;
    text-align: left;
}

.Col6_Header {
    min-width: 2.80in;
    width: 2.80in;
    max-width: 2.80in;
    text-align: center;
}

.Col6 {
    min-width: 2.80in;
    width: 2.80in;
    text-align: left;
    max-width: 2.80in;
    overflow-wrap: break-word;
}

.Col7 {
    min-width: 0.75in;
    width: 0.75in;
    text-align: left;
}
/*/*@page :first {
  margin-top: 0.25in  / * Top margin on first page 10cm * /
}*/

/*@media print {

    body {
        margin-top: 2.5in !important;
    }
    table.LNStyle {
        margin-top: 0in !important;
}

    table.LNStyle thead {

    }

    table.LNStyle tbody {

    }

    table.LNStyle thead tr, tbody tr { 
        border-bottom: 1px solid black;   
        margin-top: 0 !important;
    }

    table.LNStyle tr:last-child {
        border-bottom: none;
    }

    table.LNStyle thead tr, tbody tr {
       
        border-bottom: 3px solid gainsboro;
    }
}*/

/* END -- CSS for AD/AleadPrint.aspx and SY/StudentNotesPrint  */

