﻿body {
}

/*tbody:empty:before {
    content:'No items to display';
    display:table-cell;
    padding:0.5em;
}*/


#queueContainer {
    width: 100%;
   
}

#queueContainer label{
    font-size: small;
}

#queueContainer .k-grid table {
   table-layout: fixed;
}

#queueContainer .k-grid tbody tr{
    height: 35px;
}
 
#queueContainer .k-grid td{
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*  ********** Grid Header horizontal Alignment ******** */
#queueContainer th[data-title='First Name'] {
    vertical-align: middle;
}

#queueContainer th[data-title='Last Name'] {
    vertical-align: middle;
}

#queueContainer th[data-title='Status'] {
    vertical-align: middle;
}

#queueContainer th[data-title='Program Interest'] {
    vertical-align: middle;
}

#queueContainer th[data-title=Received] {
    text-align: center;
    vertical-align: middle;
} 


#queueContainer th[data-title=Activity] {
    text-align: center;
}

#queueContainer th[data-title=Date] {
    text-align: center;
} 

#queueContainer th[data-title=Age] {
    text-align: center;
} 

#queueContainer th[data-title=Phone] {
    vertical-align: middle;
} 


#queueContainer th[data-title=Email] {
    text-align: center;
    vertical-align: middle;
} 



#queueContainer th[data-title='Edit Phone'] {
    text-align: center;
    white-space: pre-wrap; 
     vertical-align: middle;
}   

/* *********** Panel up set-up *************** */
#queueBanner {
    position: relative;
    display: block;
    width: 100%;
    /*min-width: 1260px;*/
    height: 60px;
    margin-right: 5px;
    /*border: aqua solid 2px;*/
}

    #queueBanner label {
        color: #080808;
        font-weight: bold;
    }

#qZoneLeft {
    position: relative;
    width: 130px;
    /*height: 100%;*/
    float: left;
    display: block;
    margin-left: 5px;
    top: 20px;
    /*border: brown solid 2px;*/
}

#qZoneCenter {
    position: relative;
    width: 350px;
    margin: 0 auto;
    vertical-align: text-bottom;
    /*height: 100%;*/
    /*float: left;*/
    display: block;
    top: 20px;
    /*border: darkmagenta solid 2px;*/
}

#qZoneRight {
    position: relative;
    width: 120px;
    /*height: 100%;*/
    float: right;
    display: inline;
    /*margin-right: 5px;*/
    /*margin-top: -5px;*/
    /*top: 20px;*/
    /*border: goldenrod solid 2px;*/
}

    #qZoneCenter .k-dropdown {
        width: 200px;
    }


.clickpencil {
    text-align: center;
    cursor: pointer;
}

.clickemail {
    text-align: center;
    cursor: pointer;
}

#ddlqueueAdmm {
    position: relative;
}

#queueGridwrapper {
    margin: 5px;
    
    /*border: goldenrod solid 5px;*/
}

#queueGrid {
    height: 650px;
    /*border: goldenrod solid 5px;*/
}

#queueTxtcheckphone {
    vertical-align: bottom;
}

.labelAlign {
    position: relative;
    top: 10px;
    text-align: right;
    /*vertical-align: baseline;*/
    margin-right: 10px;
    /*margin-top: 5px;*/
}
