﻿

.leadTitles {
    vertical-align: top;
    margin-right: 10px;
}


#historyWrapper {
    /*background-color: yellow;*/
}

.flex-container {
    position: relative; 
    font-family: arial, verdana, serif ;
    font-size: 10pt;
    font-weight: bold !important;
    display: flex;
    margin: 10px;
    /*background-color: lightblue;*/
    justify-content: space-around;
    align-items: center;
}
.flex-item {
    position: relative;
  
}

#historyItem1 {
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    /*background-color: gainsboro*/
}

#historyItem2 {
    -ms-flex: 10;
    -webkit-flex: 10;
    flex: 10;
    /*background-color: aliceblue;*/
    text-align: center;
    vertical-align: baseline;
         
       
}

#historyItem3 {
    -ms-flex: 5;
    -webkit-flex: 5;
    flex: 5;
    /*background-color: bisque;*/
    text-align: right;  
}
#historyPlusImage:hover {
    cursor: pointer;
}



#historyGrid {
    max-height: 650px;
    /*border: goldenrod solid 5px;*/
}

#historyGrid .k-grid-edit {
    border-width: 0 !important;
    min-width: 30px ;
    background-color: transparent;
    background-image: none;
}

/*Edit box Customization */

.k-edit-buttons  {
    width: 640px;

}

.k-edit-form-container label {
   
}

.k-edit-label {
     padding-top: 5px;
}

.k-edit-field {
    padding-top: 5px;
}

#historyWrapper .k-edit-label {
    
}




