﻿#dvEnrollment .enrollLabel {
    margin-left: 1em;
    float: left;
    width: 35%;
    position: relative;
    line-height: 30px;
}

#dvEnrollment .enrollControl {
    float: left;
    width: 40%;
    position: relative;
}

#dvEnrollment .bottomSpace {
    margin-bottom: 0.4em;
    height: 30px;
}

#dvEnrollment .clearfix {
    clear: both;
}

#dvEnrollment .ctrlWidth {
    width: 80%;
}

#dvEnrollment .label-bold-title {
    font-size: 11pt !important;
    font-weight: bold !important;
    margin-left: 1em;
}

#dvEnrollment .descriptionLabel {
    font-size: 9pt !important;
    font-weight: bold !important;
    text-align: center;
    width: 75%;
    margin-bottom: 1em;
}

#dvEnrollment .updateBlocker {
    position: absolute;
    min-width: 98%;
    min-height: 98%;
    background: #CCCCCC;
    opacity: 50%;
    border: 1px solid #999999;
    border-radius: 0.6em;
    z-index: 999;
    margin-top: -1px;
    margin-left: -1px;
}

#dvEnrollment .scrollableClass {
    width: 100%;
    height: 500px;
    /*background: aqua;*/
    margin: 1px;
    margin-top: 10px;
    padding: 0;
}

#dvEnrollment .hidden {
    display: none;
}

#dvEnrollment {
    width: 1360px;
    height: 1280px;
    min-width: 1280px;
    /*border: 1px solid blue;*/
}