﻿/* CSS For ALeadInfoPage.aspx */
/* Created July 2015 */

#containerQuickInfoPage {
    min-width: 1280px;
    height: 3000px;
    width: 80%;
    padding-left: 0.3em;
}



.k-list-container .k-list .k-item {
    padding-right: 25px;
}

.checkphone {
    height: 10px;
    float: left;
    margin-top: 4px;
}

.textLabelcustomRight {
    color: #080808;
    width: 120px;
    height: 16px;
    float: right;
    position: relative;
    margin: 5px 10px 6px 5px;
}

.biggerComment {
    width: 550px;
}

.downpanel {
    position: absolute;
    bottom: 0;
    display: block;
    width: 98%;
    margin-top: 150px;
    padding: 19px 0 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

#infobanner {
    background: gainsboro;
}



#infobanner2 {
    background: gainsboro;
}

#custom {
    width: 890px;
    min-width: 890px;
    position: relative;
    display: block;
}


.textLabelcustomleft {
    color: #080808;
    width: 120px;
    height: 16px;
    float: left;
    position: relative;
    margin: 5px 10px 6px 5px;
}


.fieldlabel1 {
    color: #4682b4;
    width: 167px !important;
    height: 19px !important;
    background: transparent;
    border: 1px solid #4682b4;
    border-radius: 0 !important;
    position: relative;
    float: left;
    padding-left: 2px;
    padding-top: 0 !important;
    margin: 5px 5px 5px 0;
}


.clearfix {
    clear: both;
}

.quickTitle {
    font-weight: bold;
    vertical-align: top;
}



.checkphone {
    height: 10px;
    float: left;
    margin-top: 4px;
}

.col-quick-lead-20 {
    float: left;
    width: 20%;
}

.col-quick-lead-22 {
    float: left;
    width: 22%;
}
/*Standard Drop Down List 140px (bigger) */

.bottomSpace {
    margin-bottom: 0.4em;
}

#containerQuickInfoPage .k-dropdown {
    height: 1.65em;
    width: 11em;
    position: relative;
    margin: 5px 5px 6px 0;
    border-radius: 0 !important;
    font-size: 11px !important;
}

    #containerQuickInfoPage .k-dropdown .k-input {
        height: 1.65em;
        width: 140px;
        margin-top: 0;
        position: relative;
        padding-left: 2px;
        padding-top: 0;
        font-size: 11px !important;
        border-radius: 0 !important;
    }

.bRadius, .bRadius span.k-numeric-wrap.k-state-default {
    border-radius: 0 !important;
}

.KNum {
    height: 1.7em;
    margin-top: 0;
    position: relative;
    padding-left: 2px;
    padding-top: 0;
    font-size: 11px !important;
    border-radius: 0 !important;
}
/*#containerQuickInfoPage .k-numeric-wrap {
     height: 20px !important;
   margin-top: 0;
    position: relative;
    padding-left: 2px;
    padding-top: 0;
    font-size: 11px !important;
}*/

#containerQuickInfoPage .k-dropdown-wrap {
    height: 1.65em;
    position: relative;
    float: left;
    padding-left: 2px;
    border-radius: 0 !important;
    font-size: 11px !important;
}

#containerQuickInfoPage .k-i-arrow-s {
    vertical-align: top;
    margin-top: 3px;
}


/* kendo numeric text box special style */
/*#containerQuickInfoPage .k-numerictextbox .k-i-arrow-s {
    margin-top: 0;
    border-radius: 0 !important;
}

#containerQuickInfoPage .k-numerictextbox .k-numeric-wrap {
    border-style: none;
    border-radius: 0 !important;
}

#containerQuickInfoPage .k-numerictextbox .k-select {
    position: relative;
    border-radius: 0 !important;
}*/

/* Medium Combo Box*/
/*#containerQuickInfoPage .cb-medium {
    width: 135px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerQuickInfoPage .cb-medium .k-input {
        width: 100px;
    }

    #containerQuickInfoPage .cb-medium .k-dropdown {
        width: 100px;
    }*/



/* Small Drop Down List (54px) */
/*#containerQuickInfoPage .cb-small {
    width: 90px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerQuickInfoPage .cb-small .k-input {
        width: 54px;
    }

    #containerQuickInfoPage .cb-small .k-dropdown {
        width: 54px;
    }*/

/*#containerQuickInfoPage .cb-x-small {
    width: 75px;
    position: relative;
    float: left;
    font-size: 11px !important;
}*/

/*#containerQuickInfoPage .cb-x-small .k-input {
        width: 40px;
    }

    #containerQuickInfoPage .cb-x-small .k-dropdown {
        width: 40px;
    }*/


/*#containerQuickInfoPage .cb-xx-small {
    width: 40px;
    position: relative;
    float: left;
    font-size: 11px !important;
}

    #containerQuickInfoPage .cb-xx-small .k-input {
        width: 20px;
    }

    #containerQuickInfoPage .cb-xx-small .k-dropdown {
        width: 20px;
    }*/




#containerQuickInfoPage .k-picker-wrap {
    border-radius: 0 !important;
}

#containerQuickInfoPage .k-i-calendar {
    vertical-align: middle;
}

#containerQuickInfoPage .k-list-container .k-list .k-item {
    padding-right: 25px;
}

#containerQuickInfoPage .k-i-clock {
    vertical-align: middle;
}

#subcontainerQuickInfoPage .k-datepicker {
    width: 167px;
}

#subcontainerQuickInfoPage .k-picker-wrap {
    border-radius: 0 !important;
}


#containerQuickInfoPage .k-datetimepicker {
    width: 170px;
    position: relative;
    float: left;
    margin: 5px 5px 6px 0;
    border-radius: 0 !important;
}

#containerQuickInfoPage .k-icon {
    position: static;
}

.f-checkbox-label {
    vertical-align: text-bottom !important;
}

.quickControl {
    position: relative;
    float: left;
    width: 70%;
}

.quickLabel {
    position: relative;
    float: left;
    width: 15%;
    margin-left: 5px;
}

/* Customization of textbox in UDF 
    The UDF component has its proper style, but it allow you to some
    customization in order to adequate the control to the page format
*/
#dvCustom .k-textbox {
   border-radius: 0;
}

