﻿
#AdmissionPageWrapper .k-grid-pager {
    height: 25px;
}

#AdmissionPageWrapper .k-grid-content {
    max-height: 355px;
}

/* For Campus and Admission Rep grids in Assign Lead*/
#Step3Tables .k-grid-content {
    max-height: 225px;
}

#campusGrid .k-grid-content {
    max-height: 300px !important;
}

#AdmissionPageWrapper .k-grid table tr:hover td {
    background: #4d98db !important;
    color: white;
    cursor: pointer !important;
}

#AdmissionPageWrapper .k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

#AdmissionPageWrapper .k-grid .k-grid-header .k-header {
    white-space: normal;
}

section {
    width: 100%;
    height: 500px;
    /*background: aqua;*/
    margin: 1px;
    margin-top: 10px;
    padding: 0;
}

div#oneDiv {
    width: 75%;
    height: 500px;
    /*background: red;*/
    float: left;
}

div#twoDiv {
    margin-left: 76%;
    height: 500px;
    /*background: black;*/
}

div#oneR {
    width: 75%;
    height: 500px;
    /*background: red;*/
    float: left;
}

div#twoR {
    margin-left: 76%;
    height: 500px;
    /*background: black;*/
}

#qZoneLeft {
    position: relative;
    width: 360px;
    float: left;
    display: block;
    margin-left: 14px;
    vertical-align: text-bottom;
    top: 7px;
    /*border: brown solid 1px;*/
}

#qZoneCenter {
    position: relative;
    width: 220px;
    margin: 0 auto;
    float: left;
    vertical-align: text-bottom;
    display: block;
    top: 7px;
    /*border: darkmagenta solid 1px;*/
}

#qZoneRight {
    position: relative;
    width: 310px;
    float: left;
    vertical-align: text-bottom;
    display: block;
    top: 7px;
    /*border: aqua solid 1px;*/
}

/*#qZoneCenter .k-dropdown {
        width: 200px;
    }*/

.labelAlignRight {
    position: relative;
    top: 8px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}

.HeaderReassign {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 10px;
    -moz-min-width: 885px;
    -ms-min-width: 885px;
    min-width: 890px;
    min-height: 40px;
    max-height: 600px;
}
