﻿/****************************** CSS FOR PRINT LAYOUT *************************************************/
 /*
    #printPhoto {
        width: 3cm;
        display: table;
        float: left;
        position: relative;
    }

    #printImage {
        width: 3cm;
    }

    #printHeaderRight {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 10pt;
        width: 20cm;
        display: table;
        padding-top: 10px;
        float: left;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

        #printHeaderRight > div {
            margin-top: 10px;
        }

    .clearfix {
        clear: both;
    }

    
   .hrcol1 {
        font-family: arial, sans-serif;
        font-size: 9pt;
        font-weight: bold;
        display: block;
        position: relative;
        width: 3cm;
        text-align: left;
        float: left;
    }

    .hrcol2 {
        font-family: arial, sans-serif;
        font-size: 9pt;
        font-weight: normal;
        display: block;
        min-width: 10cm;
        width: 10cm;
        text-align: left;
        position: relative;
        float: left;
    }

    .hrcol3 {
        font-family: arial, sans-serif;
        font-size: 9pt;
        font-weight: bold;
        width: 3cm;
        text-align: left;
        float: left;
    }

    .hrcol4 {
        font-family: arial, sans-serif;
        font-size: 9pt;
        font-weight: normal;
        width: 7cm;
        text-align: left;
        float: left;
    }
    */

 