﻿/*
    CSS for Lead Kendo Info Bar
*/
.tablekendoInfoBar {
    border-spacing: 5px 0;
    border-collapse: separate;
}
#LeadToolbar {
    padding-top: 5px;
    padding-bottom: 0px;
    border-bottom: 1px solid #f0f0f0 !important;
}
/* Table columns values */
.infobarInfo {
    width: 500px;
    overflow: no-display;
}

.infobarTableLabelC1 {
    font-weight: bold;
    padding-left: 20px;
    width: 50px;
    min-width: 50px;
}

.infobarTableLabelC2 {
    font-weight: bold;
    padding-left: 20px;
    width: 110px;
    min-width: 110px;
}

.infobarTableLabelC3 {
    font-weight: bold;
    padding-left: 20px;
    width: 100px;
    min-width: 100px;
}


.infoBarTableImage {
    z-index: 100;
    transition: 1s ease-in-out;
}

    .infoBarTableImage:hover {
        transform: scale(2) translate(20px, 20px);
        border: #E9EDF2 solid 1px;
        z-index: 100;
    }

#kendoleadBarControl a:link {
    text-decoration: underline;
    background-color: transparent;
}

#kendoleadBarControl a:hover {
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}

#kendoleadBarControl #leftpane {
    width: 83%;
    min-width: 1020px;
    height: 55px;
}

#kendoleadBarControl #rightPaneRequirements {
    width: 9%;
    min-width: 190px;
}

#leadRequirementsMet {
    margin: 0;
    padding: 0;
}

    #leadRequirementsMet li {
        display: inline-block;
        min-width: 60px;
        margin-right: 0.2em;
    }
    #leadRequirementsMet li span {
        margin-right: 5px;
    }

    #leadRequirementsMet .not-defined {
        color: #ccc;
    }

    #leadRequirementsMet .loading {
        width: 80%;
        text-align: right;
    }

        #leadRequirementsMet .loading .progressbar {
            position: relative;
            width: 24px;
            height: 24px;
            background-position: left top;
        }
