﻿
.leadTitles {
    font: bold  10pt arial, verdana, serif !important;
    vertical-align: top  !important;
    margin-right: 10px !important;
}

.leadFirstPanel {
    margin: 10px !important;
    height: 20px !important;
    vertical-align: middle !important; 

}

#extraGrid a.k-button.k-button-icontext.k-grid-Edit {
    min-width : 0;
}

#extraFirstPanel {
    margin-left: 10px;
    margin-top: 10px;
}

#extraPlusImage:hover {
    cursor: pointer;
}

#extraGrid {
    max-height: 700px !important;
    overflow: auto;
   /* border: goldenrod solid 5px;*/
}

#extraGrid .k-grid-edit {
    border-width: 0 !important;
    min-width: 30px ;
    background-color: transparent;
    background-image: none;
}

#extraGrid .k-grid-delet {
    border-width: 0 !important;
    min-width: 30px ;
    background-color: transparent;
    background-image: none;
}

#extraGrid .k-grid-delet:focus {
    border-width: 0 !important;
    min-width: 30px ;
    background-color: transparent;
    background-image: none;
}


