.dashboardSection{
    height: 100%;
    display: inline;
    float: left;
}

.leftSection{
    width: 25%;
    background: #0d47a1;
}

.rightSection{
    width: 75%;
    background: #f2f2f2;
}

.leftContentSectionWrapper{
    padding: 150px 0px 0px 20px;
}

.rightContentSectionWrapper{
    padding: 50px 0px 0px 20px;
}