html, div{
  height : 100%;
}

body{
  min-height: 100% !important;
  height: 100%;
}



.formRow{
    height:50px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .submitButton{
    width: 200px;
    font-size: 15px;
    color:white;
    background-color: #0d47a1;
    margin: 10px 0px 0px 10px;
    border-color: #0d47a1;
  }
  
  .inputText{
    font-family: 'Ubuntu', sans-serif;
  }

  /*Start Input text component*/

  .inputText{
    border-color: black !important;
    width:800px;    
    margin-bottom: 10px;
    font-size: 20px;
    padding: 2px;
    border-width: initial;
  }

  .inputText:focus{
    border-color: red !important;
    font-size: 22px;
  }


   /*End Input text component*/

    /*Start Input textarea component*/

  .inputTextArea{
    border-color: black !important;
    width:800px;    
    border-width: initial !important;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 2px;
    height: 500px !important;
    max-height: 500px !important;
    min-width: 500px !important;
    resize: none !important;
  }

  .inputTextArea:focus{
    border-color: red !important;
    font-size: 22px;
  }


   /*End Input textarea component*/



