.Popup{
    /* position: absolute; */
    width: 40% !important;
    z-index: 2;
    height: 40% !important;
    background-color: red;
}

.Modal {
    font-size: 12px;
   
  }
  .Header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size:  25px;
    text-align: center;
    padding: 5px;
    height: 25px;
  }
  .Content {
    width: 100%;
    padding: 10px 5px;
    height: 85%;
    font-size: 20px;
    text-align: center;
  }
  .Actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .Close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }