
     .inputLabel{
        font-size:15px
      }
      
      .inputLabelDiv{
        width:300px;
        margin-bottom:5px;
        margin-top: 20px;
        height: 20px;
      }
      
  