﻿body
{
}

#PRINT ,#CLOSE
{
	visibility:hidden;
}
.DataGridHeaderStyle
{
	color: #000066;
	text-align: left;
	background-color: #E9EDF2;
	border: 1px solid #ebebeb;
	white-space: nowrap;
	padding: 3px;
	font: bold 11px verdana;
	vertical-align: middle;
}
.DataGridAlternatingStyle
{
	font: normal 11px Verdana;
	background-color:#f0f4f8;
	color: #000066;
	text-align: left;
	border: 1px solid #f3f5f6;
	padding: 3px;
	vertical-align: top;
}
.DataGridItemStyle
{
	padding: 3px;
	font:normal 11px Verdana;
	color: #000066;
	text-align: left;
	border: 1px solid #ebebeb;
	vertical-align: top;
}