﻿* {
    box-sizing: border-box;
}

#progress {
    width: 100%;
    padding: 0;
    list-style-type: none;
    font-family: arial;
    /*font-size: 12px;*/
    clear: both;
    line-height: 0.8em;
    margin: 0 -1px;
    text-align: center;
}

    #progress li {
        float: left;
        padding: 9px;
        background: #e3f2fd;
        color: #bbdefb;
        /*font-size: 1.1em;*/
        position: relative;
        width: 16%;
        margin: 0px 15px 0px 0px;
        cursor: pointer;
    }

        #progress li:before {
            content: '';
            border-left: 14px solid #fff;
            border-top: 14px solid transparent;
            border-bottom: 16px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
        }

        #progress li.is-active:first-child:before {
            border-left: 7px solid #006BC7;
            margin-left: 0px !important;
        }

        #progress li:first-child:before {
            border-left: 7px solid #e3f2fd;
            margin-left: 0px !important;
        }

        #progress li.is-active:last-child:after {
            display: none;
        }

        #progress li:last-child:after {
            display: none;
        }

        #progress li:after {
            content: '';
            border-left: 16px solid #e3f2fd;
            border-top: 13px solid transparent;
            border-bottom: 15px solid transparent;
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 20;
            margin-right: 10px;
        }

        #progress li.is-active {
            background: #006BC7;
            cursor: default;
            color: #FFF !important;
        }

            #progress li.is-active:after {
                border-left-color: #006BC7;
            }

        #progress li.is-visited {
            background: #0d47a1;
            cursor: default;
        }

            #progress li.is-visited:after {
                border-left-color: #0d47a1;
            }

            #progress li.is-visited:first-child:before {
                border-left: 7px solid #0d47a1;
                margin-left: 0px !important;
            }

        #progress li.is-invalid {
            background: #EBEBEB;
            cursor: default;
        }

            #progress li.is-invalid:after {
                border-left-color: #EBEBEB;
            }

            #progress li.is-invalid:first-child:before {
                border-left: 7px solid #EBEBEB;
                margin-left: 0px !important;
            }

.m-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

    .m-nav::after {
        clear: both;
        display: table;
        content: " ";
    }

    .m-nav::before {
        display: table;
        content: " ";
    }

    .m-nav > li {
        position: relative;
        display: block;
    }

        .m-nav > li > .m-nav-itemlink {
            position: relative;
            display: block;
            text-decoration: none;
        }

.m-nav-tabs {
    position: inherit;
}

    .m-nav-tabs > li {
        position: inherit;
    }

        .m-nav-tabs > li > .m-nav-itemlink {
            position: inherit;
        }

            .m-nav-tabs > li > .m-nav-itemlink:hover {
                position: inherit;
            }

        .m-nav-tabs > li.is-active > .m-nav-itemlink {
            background: #006BC7;
            cursor: default;
            margin-left: 5px;
        }

        .m-nav-tabs > li.is-visited > .m-nav-itemlink {
            background: #0d47a1;
            cursor: default;
            margin-left: 5px;
            color: #648cca;
        }

        .m-nav-tabs > li.is-invalid > .m-nav-itemlink {
            background: #EBEBEB;
            cursor: default;
            margin-left: 5px;
        }

.m-tab-content {
    display: block;
}

.m-tab-pane {
    display: none;
}

.m-tabs {
    position: inherit;
}

.m-nav-item {
    position: inherit;
}

.m-detailbox-body {
    position: inherit;
}

.m-tab-pane.is-active {
    display: block;
}

.m-box-body {
    padding: 2rem 2rem 0;
    min-height: 4rem;
}

.u-hide {
    display: none;
}

.u-show {
    display: block;
}

.formRow {
    margin: 9px 0px;
    margin-left: 20px;
}

#divR2T4Result.formRow .left {
    margin-right: 15px;
    width: 200px;
    display: inline-block;
}

#divTerminationDetail .formRow .left {
    margin-right: 15px;
    width: 150px;
    display: inline-block;
    color: #0f4157;
}

.inLineBlock {
    display: inline-block;
}

#tabsForm button.rfdDecorated {
    color: #000 !important;
    background-image: none;
    background-color: #ebebeb !important;
    border-radius: 5px;
    border: 1px solid cornflowerblue !important;
    padding: 2px 15px !important;
}

#tabsForm a.rfdSkinnedButton {
    color: #000;
    background-image: none;
}

#tabsForm input[type=checkbox] { /* margin-left:0px !important;*/
}

#tabsForm .RadForm.rfdRadio input[type="radio"] {
    margin-left: -5px !important;
}

#tabsForm .disabled button.rfdDecorated {
    background-color: #fafafa !important;
    color: #555 !important;
}

#tabsForm hr {
    border-color: #ebebeb !important;
}

#tabsForm {
    margin-left: 15px;
    height: 96.5%;
    overflow-y: auto;
}

.formRow input {
    width: 14.4em;
    text-align: right;
}

input[type=text] {
    padding-right: 5px;
    background-color: #FFF !important;
}

#divTerminationDetail .inputCustom {
    text-align: left !important;
    width: 350px !important;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.width-170 {
    width: 160px !important;
}

.width-70 {
    width: 70px !important;
}

#divTerminationDetail .dateCustom, #dtDateOfDetermination, #dtLastDateAttended, #dtWithdrawDate,
#dtStartDate, #dtEndDate, #dtPostWithdrwal, #dtDeadline, #dtResponseReceived, #dtGrantTransferred,
#dtLoanTransferred {
    text-align: left !important;
}

#divTerminationDetail table.k-content {
    padding-left: 4px !important;
}

.k-calendar table.k-content {
    text-align: center;
}

#txtStudentSearch {
    border: 1px solid #ebebeb !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#tabs {
    width: 97%;
    min-width: 95%;
}

#divTerminationDetail .k-autocomplete.k-state-border-down > .k-i-close, #divTerminationDetail .k-autocomplete.k-state-hover > .k-i-close {
    margin-top: 1px !important;
}

#dvEnrollment {
    display: none;
    min-height: 200px;
}

    #dvEnrollment input[type="radio"] {
        width: 20px;
        margin-left: -3px;
    }

#divTerminationDetail .k-picker-wrap .k-select {
    border-width: 0 1px !important;
}

.buttonDiv {
    position: relative;
    width: 70%;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-right {
    text-align: right;
}

span.k-widget.k-dropdown.k-header.k-textbox.fieldlabel1.inputCustom {
    margin-left: -5px;
}

#MasterCampusDropDown1Content {
    padding-left: 0px !important;
}

#divTerminationDetail span.k-icon.k-i-arrow-60-down {
    margin: -8px -8px;
}

#divTerminationDetail .k-autocomplete.k-state-default, #divTerminationDetail .k-dropdown-wrap.k-state-default {
    border: none;
    height: 28px;
}

#chkClaculationPeriod, #chkTuitionCharged, #chkAttendance {
    width: 20px;
    margin-left: -3px;
}

.k-list-container .k-footer {
    text-align: center;
}

div#txtStudentSearch-list {
    height: 180px !important;
}

#txtStudentSearch-list .k-list-container .k-footer h5 {
    font-size: 1em !important;
    color: #003f59 !important;
}

#txtStudentSearch-list .k-list-scroller {
    min-height: 140px !important;
    height: 140px !important;
    border-top: 1px solid #003f59;
    border-bottom: 1px solid #003f59;
}

.k-state-focused > .k-i-close {
    margin-top: 1px !important;
    top: 50%;
    margin: -8px 0 0;
    position: absolute !important;
}

#divR2T4Result .firstRow {
    width: 60%;
}

    #divR2T4Result .firstRow > div {
        width: 18%;
        vertical-align: top;
        color: #0f4157;
    }

    #divR2T4Result .firstRow input {
        margin-top: 10px;
    }

    #divR2T4Result .firstRow label {
        color: dodgerblue;
        font-weight: 500;
    }

#divR2T4Input .firstRow {
    margin: 22px 0px;
}

    #divR2T4Input .firstRow > div {
    }

.firstRowLabel {
    font-weight: bold;
    margin-right: 5px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #divTerminationDetail span.k-icon.k-i-arrow-60-down {
        margin: -8px 3px;
    }
}

.panelbar .k-state-selected, .panelbar .k-header {
    background-color: rgb(236, 246, 255) !important;
    color: #1f4777 !important;
    font-weight: bold;
    outline: none;
}

#divR2T4Input .leftLable {
    width: 235px;
    position: relative;
    overflow: hidden;
}

.panelbar {
    width: 80%;
    margin: 15px 0px;
}

#divR2T4Input .panelbar {
    width: 70% !important;
}

.panelbar span.k-link.k-header.k-state-selected {
    padding-bottom: 10px;
}

.panelbarR2T4Result .k-state-selected, .panelbarR2T4Result .k-header {
    background-color: #FAFAFA !important;
    color: #1976d2 !important;
    font-weight: bold;
    outline: none;
}

#divR2T4Result .leftLable {
    width: 235px;
}

.panelbarR2T4Result {
    width: 80%;
    margin: 15px 0px;
}

#divR2T4Result .panelbarR2T4Result {
    width: 70% !important;
}

.panelbarR2T4Result span.k-link.k-header.k-state-selected {
    padding-bottom: 10px;
}

#helpIcon {
    min-height: 350px;
}

.helpIcon {
    position: absolute;
    right: 20px;
    top: 2px;
    cursor: pointer;
}

#dialog {
    display: none;
}

.marginBtm0 {
    margin-bottom: 0px !important;
}

.marginTop0 {
    margin-top: 0px !important;
}

#content1 {
    margin-top: 15px;
}

.inLineBlock .k-input {
    height: 2em;
}

.status-spacing {
    padding: 3px !important;
}

span.k-widget.k-datepicker.k-header.dateCustom.k-input {
    width: 14.4em !important;
}

@-moz-document url-prefix() {
    span.k-widget.k-datepicker.k-header.dateCustom.k-input {
        width: 14.4em !important;
    }
}

.k-nodata > div {
    display: block;
}

.k-nodata {
    position: absolute;
    margin-top: -100px;
}

#divR2T4Result .secondRow div:nth-child(2) {
    width: 45%;
    float: right;
}

#divR2T4Result .secondRow {
    width: 70%;
    color: #0f4157;
}

#tabsForm .txtDisable {
    background-color: #F4F9FC;
    z-index: -1;
    position: static;
}

#aidInfo td input, .textR2T4Results input[type=text], .textR2T4Results td input[type=text] {
}

.textR2T4Results input[type=date] {
    border: 1px solid #a3d0e4 !important;
}

#aidInfo tr, .textR2T4Results table tr {
    height: 28px;
}

#aidInfo td input[type=text], .textR2T4Results table td input[type=text] {
    text-align: right;
}

#aidInfo .col1 {
    width: 2%;
}

#aidInfo .col2 {
    width: 5%;
}

#aidInfo .col3, #aidInfo .col4 {
    width: 5%;
}

#aidInfo .col3 {
    padding-left: 2%;
}

#aidInfo .col4 {
}

#aidInfo .col5 {
    width: 40%;
    vertical-align: top;
}

.divDate {
}

.divCalender {
}

.td-150 {
    width: 150px;
}

.inputUnit {
    position: relative;
    padding: 4px 8px;
    background-color: #0d47a1;
    z-index: 999;
    color: #fff
}

.amount-textfield {
    margin-left: -4px;
    margin-top: -4px;
    z-index: 99;
}

.select-numiric-box {
    width: 130px;
    margin-left: -3px;
    margin: -2px 0px 0px -3px;
}

.subTotal {
    clear: both;
    text-align: left;
}

.topLabels {
    text-align: right;
    display: inline-block;
    font-weight: 600;
    font-size: .9em;
}

.topLeftlables {
    text-align: left;
    padding-left: 2%;
    font-weight: 600;
    font-size: .9em;
}

.valign-btm {
    vertical-align: bottom !important;
}

.innerTables {
    border: 1px solid #ebebeb;
    overflow: visible;
}

.badge {
    padding: 3px 8px;
    background-color: darkgray;
    color: #fff;
    border-radius: 50%;
}

.badgeTextLine {
    height: 50px !important;
    text-align: left;
    line-height: 1.6;
    vertical-align: bottom;
}

.inputGroup {
    float: left;
    margin-right: 3.5%;
    width: 20.5%;
}

.panelLables {
    padding-bottom: 5px;
}

    .panelLables label {
        font-weight: bold !important;
    }

.marginLeft15 {
    margin-right: 15px;
}

.width70p input {
    width: 70px !important;
}

.ove-ticket {
    margin-left: 244px;
}

.ove-checkbox {
    width: 20px;
    text-align: left;
}

.institutional-tr-hight {
    height: 33px;
    width: 224px !important;
}

.blue-color {
    color: #6f8cc4;
}

.text-left {
    text-align: left;
}

.box-aligh {
    text-align: left;
    padding-left: 212px;
}

.box-aligh-left {
    text-align: left;
    padding-left: 0px;
}

label {
    font-weight: normal;
}

.container {
    width: 900px;
    border: 1px solid #4b6d7a;
    border-radius: 3px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.cont-header {
    color: #173773;
    font-weight: bold;
    margin: 3px;
    background: #ebedf0;
    padding: 10px;
    border-bottom: 1px solid #337ab5;
    margin-bottom: 10px;
}

.table-striped {
    margin: 0px;
    width: 100%;
}

    .table-striped tr:nth-child(even) {
        background: #FFFFFF
    }

    .table-striped th, .table-striped td {
        padding: 5px 10px;
        text-align: left;
    }

.table-bottom-bordered td {
    border-top: 1px solid #dbdbdb;
}

.padding-1 {
    padding-left: 10px;
}

.padding-right-1 {
    padding-right: 10px;
}

.withdrawal {
    width: 600px;
    float: right;
    margin-right: 10px;
    margin-bottom: 30px;
}

.right-align-labels td {
    text-align: right;
}

.abs-position {
    position: absolute !important;
    padding: 4px 6px;
}

.col-nowrap {
    white-space: nowrap;
}

.red-color {
    color: #b71c1c;
}

.vertical-align-top {
    vertical-align: top !important;
}

.left-margin {
    margin-left: 5px;
}


.top-margin7px {
    margin-top: 7px;
}

.border0 {
    border: 0;
}

.padding5px {
    padding: 5px;
}

.top-margin5px {
    margin-top: 5px;
}

.left-float {
    float: left;
}

.height70px {
    height: 100px !important;
}

.height35px {
    height: 35px !important;
}

.sectionF {
    /* width: 124px;*/
    display: inline;
}

.step1F {
    width: 106px !important;
}

.text-align-texttop {
    vertical-align: text-top;
}

.subTotalA {
    width: 99px !important;
    margin-left: -4px;
    margin-top: -3px;
}

.inlineBtn {
    display: inline-block;
    margin: 7px 20px;
}

.top-margin15px {
    margin-top: 9px;
}

.normal-font {
    font-weight: normal;
}

.width15 {
    width: 15% !important;
}

.width12 {
    width: 12%;
}

.width30 {
    width: 30%;
}

.right-margin20px {
    margin-right: 20px;
}

.left-margin20px {
    margin-left: 20px;
}

.titleIV-alignment {
    margin: 4px;
    border: 1px solid #ebebeb;
}

.amount-disbursed {
    width: 175px;
    text-align: center;
    /*vertical-align: top;*/
    margin-bottom: 4px;
}

.amount-could-be-disbursed {
    width: 170px;
    text-align: center;
    margin-left: 18px;
}

@-moz-document url-prefix() {
    .amount-disbursed {
        width: 170px;
        text-align: center;
        margin-left: 42px;
    }
}

@-moz-document url-prefix() {
    .amount-disbursed {
        width: 130px;
        text-align: center;
        vertical-align: top;
        margin-bottom: 4px;
    }
}

.font-bold {
    font-weight: bold;
}

.width20px {
    width: 20px !important;
}

.top-margin10px {
    margin-top: 10px;
}

.clear-both {
    clear: both;
}

.label-color {
    color: #003f59;
    font-weight: bold;
}

.width128px {
    width: 128px;
}

.left-margin0 {
    margin-left: 0;
}

.label-color-blue {
    color: #003f59;
}

.divider-margin {
    margin-top: 32px;
    margin-left: -37px;
}

.top-margin22px {
    margin-top: 32px;
    margin-left: -36px;
}

.top-margin-2px {
    margin-top: -2px;
}

.right-margin170px {
    margin-right: 170px;
}

.margin-top-width {
    margin-top: -4px;
    width: 100px !important;
}

.inputUnit-margin {
    margin: 0 0px 0 -4px;
}

.margin-4px {
    margin: -4px 0 0px 0;
}

.width80px {
    width: 80px;
}

.width125px {
    width: 125px;
}

.width-text-align {
    width: 50px;
    text-align: -webkit-center !important;
}

.margin-4 {
    margin: -4px 0 0px -4px;
}

.float-left-margin {
    float: left;
    margin: 5px 0 0px 28px;
}

.width102px {
    width: 102px !important;
}

.top-margin-4 {
    margin-top: -4px;
}

.width99px {
    width: 99px !important;
}

.top-margin-width127 {
    margin-top: -4px;
    width: 127px;
}

.width120px {
    width: 120px !important;
}

.sectionO {
    float: left;
    padding-left: 22px;
    margin-top: 5px;
    padding-right: 5px;
}

.left-float-margin {
    float: left;
    margin-top: 5px;
    margin-left: -23px;
}

.width101px {
    width: 101px !important;
}

.width-text-align55px {
    width: 55px;
    text-align: -webkit-center !important;
}

.width132px {
    width: 132px !important;
}

.left-padding4px {
    padding-left: 4px;
}

.width55px {
    width: 55px;
}

.width100 {
    width: 100% !important;
}

.width9 {
    width: 11% !important;
    vertical-align: top;
}

.width18 {
    width: 18%;
}

.boxn-margin {
    margin-top: -4px;
    margin-left: -4px;
}

.padding-right115px {
    padding-right: 115px !important;
}

.previewButton {
    display: inline-block;
    width: -webkit-fill-available;
    margin-top: -1px;
    margin-right: 5px;
    height: 25px;
}

.terminationDetailLabel {
    width: 220px;
    text-align: -webkit-left;
    vertical-align: top;
    color: #0f4157;
}

.r2T4CalcResultsLabel {
    text-align: -webkit-right;
    vertical-align: top;
    color: #0f4157;
}

.r2T4CalcResultsTotal {
    text-align: -webkit-right;
    vertical-align: top;
    color: #0f4157;
    font-weight: bold;
}

.additionalInfoLabel {
    margin: 10px;
    vertical-align: top;
    color: #0f4157;
    font-weight: bold;
}

.r2T4CalcResultPointLabel {
    margin-left: 12px;
}

.approvalTermForm {
    margin: 10px;
    color: #0f4157;
}

.width100px {
    width: 100px;
}

.width150px {
    width: 200px;
}

.width180px {
    width: 180px;
}

.width200px {
    width: 200px;
}

.width12PerMargin20 {
    width: 12%;
    margin: 10px 20px 10px 0px;
}

.width15PerMargin20 {
    width: 15%;
    margin-right: 20px;
}

.width30PerMargin20 {
    width: 30%;
    margin: 10px 20px 10px 0px;
}

.step1-margin-issue {
    margin-bottom: 14px !important;
    position: relative;
    overflow: hidden;
}

.step1-margin {
    border: 1px solid #ebebeb;
    margin: 4px;
    /* position: relative;
       overflow: hidden;*/
}

#divApproveTermination .panelbar {
    width: 70% !important;
}

.align-preview {
    margin-top: -35px !important;
    text-align: right;
}

.align-right {
    text-align: -webkit-right;
}

.align-left {
    text-align: -webkit-left;
}

.align-center {
    text-align: -webkit-center;
}

.pwd-header {
    width: 100%;
}

.alignRight {
    text-align-last: end;
    margin-bottom: 10px;
}

.inLineBlockPwd {
    display: inline-block;
    width: 30%;
}

.table-bordered {
    background-color: #f9f9f9;
    border: solid 1px #9c9c9c;
}

.width25 {
    width: 25% !important;
}

.padding10px {
    padding: 10px;
}

@media screen and (max-width: 680px) {
    #table-scroll-bar {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.table-withdrawal-disbursement {
    padding: 5px 9px;
    text-align: left;
}

.text-center {
    text-align: center;
}

.post-withdrawal-disbursement {
    width: 90% !important;
    background-color: #fff;
    color: #003f59;
    border-radius: 4px;
    height: 1.6em;
    text-indent: .33em;
    line-height: 1.6em;
    margin-bottom: 6px;
}
/**New Style**/
/*.period-used {
    color: #4659ad !important;
  }*/
.period-used-width {
    width: 77%;
}


.text-center {
    text-align: center;
    margin-bottom: 5px;
}

.persentage-left {
    margin-left: -2px;
}

.post-withdrawal-disbursement {
    width: 90% !important;
    background-color: #fff;
    color: #003f59;
    border-radius: 4px;
    height: 1.6em;
    text-indent: .33em;
    line-height: 1.6em;
    margin-bottom: 6px;
}


@media screen and (max-width: 1024px) {
    #divR2T4Result .panelbarR2T4Result {
        width: 100% !important;
        overflow: hidden;
    }
}
/*@media screen and (min-width: 480px) {
    #divR2T4Result .panelbarR2T4Result {
        width: 100% !important;
        overflow: hidden;
    }
}*/
@media screen and (max-width: 680px) {
    #table-scroll-bar {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

@media screen and (max-width:625px) {
    #table-scroll-bar-two {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.inputUnit2 {
    position: relative;
    padding: 4px 8px;
    background-color: #0d47a1;
    z-index: 999;
    color: #fff;
    width: 2%;
    float: left;
}

.mine-inupt-unit {
    width: 100%;
    position: relative;
}

.input-unit2 {
    width: 85%;
    position: relative;
    overflow: hidden;
    margin-left: 30px;
}

.table-withdrawal-disbursement {
    padding: 5px 9px;
    text-align: left;
}

.percentage-title-left {
    margin-left: -25px;
}

.percentage-title-right {
    margin-left: -22px;
}

.box-heading-step3 {
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.marg-right {
    margin: 10px;
}

.stup-3-amount {
    width: 25px;
    text-align: center;
}

.stup-3-td-style {
    width: 167px;
    float: right;
    margin-right: -11px;
}

.stup3-main-amount-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
}

.stup3-main-amount-box-one {
    width: 20%;
    position: relative;
    float: left;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}

.stup3-main-amount-box-two {
    width: 20%;
    position: relative;
    float: left;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}

.stup3-main-amount-box-three {
    width: 20%;
    position: relative;
    float: left;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}

.stup3-main-amount-box-sm {
    width: 5%;
    position: relative;
    float: left;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}
/****23-03-2018****/
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 2px;
    margin-bottom: 0px;
    position: relative;
}

.input-group-addon {
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #0d47a1;
    border: 1px solid #22447b;
    z-index: 9999;
    position: relative;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
    margin-top: 0px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: -2px;
    width: 103%;
    margin-left: -1px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-addon:last-child {
    border-left: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    /*float: left;*/
    width: 100%;
    margin-left: -4px;
}

#amount-title-mine-div {
    width: 100%;
    overflow: hidden;
    margin: 7px;
}

.div1 {
    width: 20%;
    position: relative;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}

.div2 {
    width: 20%;
    position: relative;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}

.div3 {
    width: 20%;
    position: relative;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}

.small {
    width: 2%;
    margin-right: 5px;
    position: relative;
    float: left;
    height: auto;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    height: 48px;
    text-align: center;
}

.small-topspace {
    margin-top: 7px;
}

.input.k-textbox {
    height: 2.12em !important;
    text-indent: .33em;
    line-height: 1.6em;
}

.input-br-space {
    margin-top: 3px;
}

.stup1-width {
    width: 150px;
}

.stup1-width-small {
    width: 10px;
}

.label-color {
    color: #1976d2 !important;
}

.amount-three-tab {
    width: 99% !important;
}

.step4-line-hight {
    margin: 5px 5px;
    position: relative;
}

.step4-subtext-width {
    width: 98%;
    position: relative;
    display: inline-block;
    margin: 7px 5px 5px 5px;
}

.k-panelbar .k-content, .k-panelbar .k-item, .k-panelbar .k-panel {
    background-color: #fff;
}

.k-panelbar .k-content, .k-panelbar .k-item, .k-panelbar .k-panel {
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.k-input, .k-multiselect-wrap, .k-textbox > input, input.k-textbox, input.k-textbox:hover, textarea.k-textbox, textarea.k-textbox:hover {
    background-color: #fff;
}

.border-textbox {
    border-radius: 4px !important;
}

.width-350 {
    width: 63.2%;
}

.margin-left {
    width: 91% !important;
    float: right;
    margin-right: -9px;
}

.width-20 {
    width: 10px;
}

.width-160 {
    width: 160px;
}

@-moz-document url-prefix() {
    .margin-left {
        width: 89% !important;
        float: right;
        margin-right: -6px;
    }
}

@-moz-document url-prefix() {
    .input-unit2 {
        font-weight: initial;
        color: #0f4157;
    }
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px !important;
}

.sub-width {
    width: 102% !important;
}

.text-center-two {
    text-align: center;
}

.step-9-tabs {
    padding-top: 22px;
}

.br-space {
    width: 100%;
    height: 10px;
}

.step5-table-width {
    width: 70%;
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    #divR2T4Result {
        width: 100% !important;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    #progress {
        width: 100%;
        padding: 5px 9px;
        list-style-type: none;
        font-family: arial;
        font-size: 9px;
        clear: both;
        line-height: 0.8em;
        margin: 0 -1px;
        text-align: center;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    #progress li {
        float: left;
        padding: 10px;
        background: #e3f2fd;
        color: #fff;
        /*font-size: 1.1em;*/
        position: relative;
        width: 22%;
        margin: 0px 15px 0px 0px;
        cursor: pointer;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    #divR2T4Result .secondRow {
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {

    .buttonDiv {
        width: 100% !important;
    }
}

@media screen and (min-width: 680px) and (max-width: 825px) {
    #progress li {
        float: left;
        padding: 9px;
        background: #e3f2fd;
        color: #fff;
        /* font-size: 1.1em; */
        position: relative;
        width: 20%;
        margin: 0px 16px 0px 0px;
    }
}

.step-5-margin-left {
    width: 104% !important;
    /* float: right; */
    /* margin-right: -9px; */
}

.steo-1-width {
    width: 20px;
}

@-moz-document url-prefix() {
    .steo-1-width {
        width: 20px !important;
    }
}

.steo-11-unbold {
    font-weight: normal;
}

.step11-mine-div {
    margin: 5px 7px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.step11-left-div {
    width: 70%;
    margin-right: 15px;
    position: relative;
    float: left;
}

.step11-right-div {
    width: 23%;
    position: relative;
    float: left;
}

.step11-full-width {
    width: 100%;
    position: relative;
    overflow: hidden;
    float: left;
}

.step11-width-fix {
    width: 34%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.step-small {
    width: 3%;
    margin-right: 5px;
    position: relative;
    float: left;
    height: auto;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    height: 48px;
    text-align: center;
}

.step11-textbox-width {
    width: 101%;
}

@-moz-document url-prefix() {
    .step11-left-div {
        width: 70% !important;
        margin-right: 15px;
        position: relative;
        float: left;
    }
}

@-moz-document url-prefix() {
    .step11-right-div {
        width: 23% !important;
        position: relative;
        float: left;
    }
}

@-moz-document url-prefix() {
    .width150px {
        width: 200px !important;
        text-align: right;
    }
}

@-moz-document url-prefix() {
    .width100px {
        width: 100px;
        text-align: right;
    }
}

@-moz-document url-prefix() {
    .buttonDiv {
        position: relative;
        width: 70%;
        overflow: hidden;
    }
}

@-moz-document url-prefix() {
    .input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0px;
    }
}

@-moz-document url-prefix() {
    .input-height-sub {
        height: 17px;
    }
}

@-moz-document url-prefix() {
    .input-height-sub2 {
        height: 17px !important;
    }
}

@-moz-document url-prefix() {
    .input-height {
        height: 16px;
    }
}

.width15 {
    width: auto !important;
    margin-right: 40px;
}

.RadForm.rfdRadio.rfdLabel label, .RadForm.rfdCheckbox.rfdLabel label {
    color: #0f4157;
}

.RadSplitter_Web20 {
    color: #0f4157;
}

.input-height {
    height: 16px;
}

.input-height-sub {
    height: 16px;
}

@-moz-document url-prefix() {
    .step4-subtext-width {
        width: 98%;
        position: relative;
        display: inline-block;
        margin: 7px 5px 5px 5px;
    }
}

.panelbar .k-state-selected, .panelbar .k-header {
    background-color: #FAFAFA !important;
    color: #1976d2 !important;
    font-weight: bold;
    outline: none;
    text-align: left !important;
}

.k-panelbar > .k-item > .k-link {
    border-color: #ebebeb;
    text-align: left !important;
    position: relative;
    overflow: hidden;
}

.k-link, .k-header {
    text-align: left !important;
}

.table-left-padding {
    margin-left: 17px;
}

.leftLable-width {
    width: 46%;
    position: relative;
    overflow: hidden;
}

.sub-table {
    width: 175px;
    text-align: left;
    position: relative;
    float: left;
    margin-bottom: 5px;
}

.k-widget.k-calendar .k-nav-fast {
    display: inline-block;
    width: 100% !important;
    height: 1.8333em;
    line-height: 1.8333em;
    margin: .16666em -.08333em .3333em 0;
    text-align: center !important;
}

@-moz-document url-prefix() {
    .k-widget.k-calendar .k-nav-fast {
        display: inline-block;
        width: 100% !important;
        height: 1.8333em;
        line-height: 1.8333em;
        margin: .16666em -.08333em .3333em 0;
        text-align: center !important;
    }
}

.k-calendar .k-footer .k-nav-today {
    color: #003f59;
    text-decoration: none;
    background-color: #fff;
    text-align: center !important;
}

@-moz-document url-prefix() {
    .k-calendar .k-footer .k-nav-today {
        color: #003f59;
        text-decoration: none;
        background-color: #fff;
        text-align: center !important;
    }
}

@-moz-document url-prefix() {
    .k-calendar .k-content .k-link {
        display: block;
        overflow: hidden;
        min-height: 1.8333em;
        line-height: 1.8333em;
        padding: 0 .45em 0 .1em;
        text-align: center !important;
    }
}

.k-calendar .k-content .k-link {
    display: block;
    overflow: hidden;
    min-height: 1.8333em;
    line-height: 1.8333em;
    padding: 0 .45em 0 .1em;
    text-align: center !important;
}

@-moz-document url-prefix() {
    .leftLable-width {
        width: 49%;
        position: relative;
        overflow: hidden;
    }
}

@-moz-document url-prefix() {
    .table-left-padding {
        margin-left: 17px;
    }
}

@-moz-document url-prefix() {
    #divApproveTermination .panelbar {
        width: 70% !important;
    }
}

.k-calendar .k-footer .k-nav-today {
    color: #003f59;
    text-decoration: none;
    background-color: #fff;
    text-align: center !important;
}

@-moz-document url-prefix() {
    .k-calendar .k-footer .k-nav-today {
        color: #003f59;
        text-decoration: none;
        background-color: #fff;
        text-align: center !important;
    }
}

@-moz-document url-prefix() {
    .k-calendar .k-content .k-link {
        display: block;
        overflow: hidden;
        min-height: 1.8333em;
        line-height: 1.8333em;
        padding: 0 .45em 0 .1em;
        text-align: center !important;
    }
}

.k-calendar .k-content .k-link {
    display: block;
    overflow: hidden;
    min-height: 1.8333em;
    line-height: 1.8333em;
    padding: 0 .45em 0 .1em;
    text-align: center !important;
}

.res-height {
    height: 28px;
}

@-moz-document url-prefix() {
    .res-height {
        height: 28px;
    }
}

@-moz-document url-prefix() {
    .leftLable-width {
        width: 46%;
        position: relative;
        overflow: hidden;
    }
}

.percentage-period-completed {
    z-index: 9999;
    overflow: hidden;
}

.gray-disable {
    z-index: 9999;
    background-color: red !important;
    border-radius: 5px;
    border: 1px solid cornflowerblue !important;
    padding: 2px 15px !important;
    font: normal 12px "Segoe UI",Arial,Helvetica,sans-serif !important;
    height: 23px;
    vertical-align: bottom;
}

.disabled {
    background-color: #fff !important;
}

.percentage-period-completed {
    z-index: 9999;
    overflow: hidden;
}

html > body .form-control {
    min-height: 30px;
}

.RadForm .rfdSkinnedButton.rfdInputDisabled, .RadForm.rfdTextarea textarea[disabled], .RadForm.rfdTextbox input[type="text"][disabled].rfdDecorated, .RadForm.rfdTextbox input[type="password"][disabled].rfdDecorated, .RadForm .rfdSelectDisabled {
    opacity: 10 !important;
}

.mydate-picker {
    height: 30px !important;
    width: 100% !important;
    padding: 0px !important;
}

.state-dropdown-mine {
    height: 28px;
}

.pwd-disbursement-mine {
    position: relative;
    overflow: hidden;
    float: right;
    width: 98%;
}

.blankdiv {
    width: 20%;
    position: relative;
    overflow: hidden;
    float: left;
}

@media screen and (min-width: 480px) and (max-width:900px) {
    .blankdiv {
        width: 10%;
        position: relative;
        overflow: hidden;
        float: left;
    }
}

.step-small-multiple {
    width: 3%;
    margin-right: 5px;
    position: relative;
    float: right;
    height: auto;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    height: 48px;
    text-align: center;
}

.table-up-spacing {
    margin-top: -11px;
}

@-moz-document url-prefix() {
    .table-up-spacing {
        margin-top: 0;
    }
}

/****02-05-2018****/
.sub-header {
    border-color: #a3d0e4;
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a3d0e4;
    overflow: hidden;
    background-color: #ecf6ff;
    color: #1f4777;
    font-weight: bold;
    padding: 7px;
}

.sub-header-in {
    text-align: left;
    border-top: 1px solid #a3d0e4;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a3d0e4;
    overflow: hidden;
    background-color: #ecf6ff;
    color: #1f4777;
    font-weight: bold;
    padding: 7px;
}

.sub-header-text {
    padding: 7px;
    overflow: hidden;
}

.wrapper-mine-page {
    border: 1px solid #a3d0e4;
    background-color: #fff;
}

#wrapper-page {
    position: relative;
    margin: 5px 15px;
}

.one-colom-div {
    width: 17%;
    padding: 7px !important;
    float: left;
}

.one-colom-div-sm {
    width: 12%;
    padding: 7px !important;
    float: left;
    text-align: center;
}

.one-colom-div-sub {
    width: 17%;
    padding: 7px !important;
    float: left;
}

.text-field-margen {
    margin-bottom: 5px;
}

.one-colom-div-step1-margin {
    margin: 4px;
    border: 1px solid #ebebeb;
    overflow: hidden;
    padding: 5px;
}

.br-space-sub {
    width: 100%;
    height: 15px;
}

.check-box-border {
    border: 1px solid #EBEBEB;
    width: 330px;
    padding: 5px;
}
/****02-05-2018 End ****/

.display-none {
    display: none;
    position: relative;
}

.contentleadmastertable-blue {
    border: 1px solid rgb(163, 208, 228);
}

.left-spacing {
    margin-right: 15px;
    width: 150px;
    display: inline-block;
    color: #0f4157;
}

.inputCustom {
    text-align: left !important;
    width: 350px !important;
}

.table-spacing-td {
    margin-left: -6px;
}

.formRow-sub {
    margin-top: -10px;
}

@-moz-document url-prefix() {
    #tabsForm {
        margin-left: 15px;
        height: 96.5% !important;
        overflow-y: auto;
        position: relative;
    }
}

@-moz-document url-prefix() {
    .undo-browser {
        margin-left: 15px;
        height: 96.5%;
        overflow-y: auto;
        width: 100%;
        position: absolute;
    }
}

.k-nodata {
    min-height: 3px !important;
}

#dvUndoEnrollment input[type="radio"] {
    width: 20px;
    margin-left: -3px;
}

.dvAdditionalInfo {
    margin-top: -15px !important;
}

.tblPercentageOfPeriodPopup {
    width: 100%;
    cursor: default !important;
}

.txtNoOfDaysWidth {
    width: 200px;
}

.btnPercentageOfPeriod {
    width: 70px;
    margin-bottom: 15px;
}

.RadForm_Material.rfdLabel label, .RadForm_Material.rfdLabel .rfdAspLabel { vertical-align: top !important; }
#spnUndo, #spCancel{ padding: 5px;}