﻿.k-group-header {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.k-list-scroller {
    position: relative;
    overflow: auto;
    border-top: 1px solid #003f59 !important;
   }


#txtUndoStudentSearch-list {
    border: 1px solid #bbdceb !important;
}


#txtUndoStudentSearch-list .k-list-container .k-footer h5 {
    font-size: 1em !important;
    color: #003f59 !important;
}

#txtUndoStudentSearch-list .k-list-scroller {
    min-height: 140px !important;
    height: 140px !important;
    border-top: 1px solid #003f59;
    border-bottom: 1px solid #003f59;
}

div#txtUndoStudentSearch-list {
    height: 180px !important;
}