﻿/*--------------------------------------------------------------------------------------------------------------------
<copyright file="AdvantageContext.cs" company="FAME Inc.">
    FAME Inc. 2018
</copyright>
<summary>
    The Advantage context.
</summary>
--------------------------------------------------------------------------------------------------------------------*/
namespace {{namespace}}
{
    {{> dbimports}}
    /*<summary>
     This is the scaffolded Advantage database context that contains all the db sets and model builder definitions for Advantage.
    </summary>*/
    public partial class {{class}} : DbContext
    {
{{> dbsets}}
{{#if entity-type-errors}}
{{#each entity-type-errors}}
{{spaces 8}}{{{entity-type-error}}}
{{/each}}

{{/if}}

{{{on-model-creating}}}
    }
}
