<%@ Control language="vb" AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Containers.Container" %>

<div class="banner_container">
  <div id="ContentPane" runat="server"> </div>
</div>
