/* CSS For DotNetNuke Skin by bestdnnskins.com / Copyright 2013 By BESTDNNSKINS.COM */
/*-------- for all containers --------*/
.c_icon, .c_title, .c_menu { float:left;}
.c_title { max-width:95%;}
.c_menu { padding-top:13px;}
.c_help { float:right; padding-top:10px;}
.c_content_style { display:inline-block; width:100%;}
.c_footer { padding:0px 2px;}
.c_footer_l { float:left;}
.c_footer_r { float:right;}
.c_footer_space { height:13px; line-height:13px; overflow:hidden;}
.clear_float { clear:both;}
h2.c_titles { margin:0; padding:0; line-height:1em;}
h2.c_titles span { vertical-align:middle; }

/*-------- containers title --------*/
.c_title_footer { font-size:20px; color:#fff; font-weight:600;font-family:'Tinos',Arial, Tahoma, sans-serif;}
.c_title_black { font-size:20px; color:#555555; font-weight:600;font-family:'Tinos',Arial, Tahoma, sans-serif;}
.c_title_white { font-size:20px; color:#fff; font-weight:600;font-family:'Tinos',Arial, Tahoma, sans-serif;}
.c_title_SteelBlue { font-size:20px; color:#4882b3; font-weight:600;font-family:'Tinos',Arial, Tahoma, sans-serif;}

/*-------- Banner Container --------*/
.banner_container { padding:0; }
.banner_shadow { text-align:center; max-height:10px; overflow:hidden; }
.banner_shadow img { vertical-align:top;}

/*-------- BlackTitle --------*/
.BlackTitle_SteelBlue { min-width:160px;}
.BlackTitle_SteelBlue:hover .c_title_black{ color:#4882b3; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}


.BlackTitle_c_menu { float:left;}
.BlackTitle_c_help  { float:right;}
.BlackTitle_top_style {margin:0; padding:5px 3px;}
.BlackTitle_content { padding:8px 3px;}
.BlackTitle_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- BlackTitle02 --------*/
.BlackTitle02_SteelBlue { min-width:160px;}
.BlackTitle02_SteelBlue:hover .c_title_black{ color:#4882b3; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.BlackTitle02_c_menu { float:left;}
.BlackTitle02_c_help  { float:right; }
.BlackTitle02_top_bg { border-bottom:1px  solid #ededed; padding:8px 3px;} 
.BlackTitle02_content { padding:8px 3px;}
.BlackTitle02_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- BlackTitle03 --------*/
.BlackTitle03_SteelBlue { min-width:160px;}
.BlackTitle03_SteelBlue:hover .c_title_black{ color:#4882b3; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.BlackTitle03_c_menu { float:left;}
.BlackTitle03_c_help  { float:right; }
.BlackTitle03_top_bg { border-bottom:1px solid #e9e9e9; position:relative;}
.BlackTitle03_SteelBlue .c_title { border-bottom:2px solid #595959; margin-bottom:-1px; padding:5px 3px;}
.BlackTitle03_SteelBlue:hover .c_title { border-bottom:2px solid #4882b3; color:#4882b3; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.BlackTitle03_content { padding:8px 3px;}
.BlackTitle03_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- BlackTitle04 --------*/
.BlackTitle04_SteelBlue { min-width:160px;}
.BlackTitle04_SteelBlue:hover .c_title_black{ color:#4882b3; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.BlackTitle04_c_menu { float:left;}
.BlackTitle04_c_help  { float:right; }
.BlackTitle04_top_bg { border-bottom:1px dashed #595959; position:relative;}
.BlackTitle04_SteelBlue .c_title { margin-bottom:-1px; padding:5px 3px;}
.BlackTitle04_content { padding:10px 3px;}
.BlackTitle04_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue01 --------*/
.SteelBlue01_style { min-width:160px;}
.SteelBlue01_style:hover .c_title_SteelBlue{ color:#555555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue01_c_menu { float:left;}
.SteelBlue01_c_help  { float:right; }
.SteelBlue01_top_bg { padding:5px 3px; margin:0;}
.SteelBlue01_content { padding:8px 3px;}
.SteelBlue01_footer { height:12px; line-height:12px; overflow:hidden;}

/*-------- SteelBlue02 --------*/
.SteelBlue02_style { min-width:160px;}
.SteelBlue02_style:hover .c_title_SteelBlue{ color:#555555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue02_style:hover .SteelBlue02_top_bg{ border-color:#555555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue02_c_menu { float:left;}
.SteelBlue02_c_help  { float:right; }
.SteelBlue02_top_bg { border-bottom:1px solid #4882b3; padding:8px 3px;}
.SteelBlue02_content { padding:8px 3px;}
.SteelBlue02_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue03 --------*/
.SteelBlue03_style { min-width:160px;}
.SteelBlue03_c_menu { float:left;}
.SteelBlue03_c_help  { float:right;}
.SteelBlue03_top_bg { min-height:25px; background:#4882b3; padding:4px 10px 7px 12px;}
.SteelBlue03_style:hover .SteelBlue03_top_bg{ background:#595959;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue03_content { padding:8px 6px;}
.SteelBlue03_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue04 --------*/
.SteelBlue04_style { min-width:160px;}
.SteelBlue04_c_menu { float:left;}
.SteelBlue04_c_help  { float:right;}
.SteelBlue04_top_bg { min-height:25px; background:#999; padding:4px 10px 7px 12px;}
.SteelBlue04_style:hover .SteelBlue04_top_bg{ background:#4882b3;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue04_content { padding:10px 6px;}
.SteelBlue04_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue05 --------*/
.SteelBlue05_style { min-width:160px; }
.SteelBlue05_style:hover .c_title_SteelBlue{ color:#555555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue05_c_menu { float:left;}
.SteelBlue05_c_help  { float:right; }
.SteelBlue05_top_bg {min-height:25px; background: #eee; border-bottom:2px solid #4882b3; padding:4px 10px 7px 12px;}
.SteelBlue05_style:hover .SteelBlue05_top_bg{ border-bottom:2px solid #555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue05_content { padding:7px 6px ;}
.SteelBlue05_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue06 --------*/
.SteelBlue06_style { min-width:160px; border:1px solid #eee; }
.SteelBlue06_style:hover .c_title_SteelBlue{ color:#555555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue06_c_menu { float:left;}
.SteelBlue06_c_help  { float:right; }
.SteelBlue06_top_bg {min-height:25px; background: #eee; border-bottom:2px solid #4882b3; padding:4px 10px 7px 12px;}
.SteelBlue06_style:hover .SteelBlue06_top_bg{ border-bottom:2px solid #555; transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue06_content { padding:7px 12px ;}
.SteelBlue06_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue07 --------*/
.SteelBlue07_style { min-width:160px; border:1px solid #4882b3;}
.SteelBlue07_style:hover { border-color:#555;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue07_c_menu { float:left;}
.SteelBlue07_c_help  { float:right; }
.SteelBlue07_top_bg { min-height:25px; background: #4882b3; padding:4px 10px 7px 12px;}
.SteelBlue07_style:hover .SteelBlue07_top_bg{ background:#595959;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue07_content { padding:8px 12px;}
.SteelBlue07_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- SteelBlue08 --------*/
.SteelBlue08_style { min-width:160px; background:#eee; }
.SteelBlue08_c_menu { float:left;}
.SteelBlue08_c_help  { float:right; }
.SteelBlue08_top_bg { min-height:25px; background: #4882b3; padding:4px 10px 7px 12px; border-radius:3px 3px 0 0; webkit-border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; }
.SteelBlue08_style:hover .SteelBlue08_top_bg{ background:#555;transition: all 0.8s ease 0s;  -webkit-transition:all 0.8s ease 0s;-moz-transition:all 0.8s ease 0s;}
.SteelBlue08_content { padding:10px 12px;}
.SteelBlue08_footer { height:14px; line-height:14px; overflow:hidden;}

/*-------- Footer01 --------*/
.Footer01_style { min-width:160px;}
.Footer01_style h2 .c_title_footer { color:#fff; }
.Footer01_c_menu { float:left;}
.Footer01_c_help  { float:right; }
.Footer01_top_bg { padding:8px 3px; margin:0;}
.Footer01_content { padding:16px 3px 8px 3px;}
.Footer01_footer { height:12px; line-height:12px; overflow:hidden;}

/*-------- Footer02 --------*/
.Footer02_style { min-width:150px;}
.Footer02_style h2 .c_title_footer { color:#fff; }
.Footer02_c_menu { float:left;}
.Footer02_c_help  { float:right; }
.Footer02_top_style {min-height:25px; border-bottom:#fff solid 1px; border-bottom:rgba(255,255,255,.8) solid 1px; margin:0px; padding:8px 3px;}
.Footer02_content { padding:12px 3px 8px 3px;}
.Footer02_footer { height:11px; line-height:11px; overflow:hidden;}

/*-------- notitle --------*/
.notitle_container { }