﻿#udfTitle {
    margin-left: 25px;
    /*font-size: x-large;*/
    font-weight: bold;
}

.udfhelp {
    margin-top: 10px;
    max-width: 850px;
}

#udfBody {
    margin: 25px;
}

.udfseparator {
    position: relative;
    margin-left:100px;
}

#udfBuildPages {
    width: 80px;
}

.udfrequired {
    color: red;
}

.udftablecell {
     display: table-cell;
    padding-left: 15px;
}

.udffilter {
    margin-top: 10px;
    display: table;
}

.udflabel {
    color: #080808;
    width: 50px;
    min-width: 50px;
    height: 16px;
    position: relative;
    padding: 5px 5px 5px 0;
    display: table-cell;
}

.udfdd {
    width: 200px;
    position: relative;
    margin: 5px 10px 6px 5px;
}

/* Main section*/

.udflabel {
    margin-left: 10px;
    font-weight: bold;
    white-space: nowrap; 
}
#udfcolumn1 {
    display: table-cell;
    /*border: 2px solid lightgray;*/
    padding-left: 0;
    min-width: 300px;
    width: 310px;
}

#udfcolumn3 {
    display: table-cell;
    /*border: 2px solid lightgray;*/
    padding-left: 0;
    min-width: 200px;
}


.udfcolumnseparator {
    display: table-cell;
    /*border: 2px solid lightgray;*/
    padding-left: 0;
    min-width: 67px;
}

.udfUnAssigned {
    margin: 10px 10px 10px 0;
    min-height: 19px;
    max-height: 300px;
    overflow: auto;
}

.udfItem {
    padding: 5px;
    background-color: #E9F4F8 !important;
}

.udfItem:hover {
    padding: 5px;
    background-color: #91DAF8 !important;
}

/* The Matrix Position*/

.positionTable {
    display: block;
    margin: 10px 10px 10px 0;
    /*border: 1px solid green;*/
    /*width: 680px;*/
    max-width: 680px;
    min-width: 680px;
    height: 300px;
}

.positionCell {
    display: block;
    position: relative;
    float: left;
    margin: 5px;
    background-color: #E9F4F8 !important;
    width: 211px;
    min-width: 211px;
    min-height: 45px;
    padding-left: 5px;
    padding-top: 5px;
}

.positionCell:hover {
    display: block;
    position: relative;
    float: left;
    margin: 5px;
    background-color: #91DAF8 !important;
    width: 211px;
    min-width: 211px;
    min-height: 45px;
    padding-left: 5px;
    padding-top: 5px;
}

.checkboxtemplate {
    padding-top: 7px;
    display:block;
    color: darkblue;
}

.checkboxtemplateInVisible {
    display:none;

}

.udfsaveclass {
    margin: 10px 5px 0 0;
}
