﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ParamSetPanelBarFilterControl.ascx.vb" Inherits="ParamSetPanelBarFilterControl" %>
<%@ Register src="ParamListSelectorControl.ascx" tagname="ParamListSelectorControl" tagprefix="adv" %>
<%-- <link href="ParameterSetControl_Default.css" rel="stylesheet" type="text/css" />--%>

<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
<telerik:RadPanelBar ID="RadPanelBarParamSet" Runat="server" 
    ExpandMode="SingleExpandedItem" Width="100%">
   <%-- 1024--%>
</telerik:RadPanelBar>

<asp:Label ID="lblError"  CssClass="ErrorMsgContainer"  runat="server"></asp:Label>





