<%@ Page Language="vb" AutoEventWireup="false" Inherits="ErrorPage_Old" CodeFile="ErrorPage_Old.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>ErrorPage</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="css/localhost.css" type="text/css" rel="stylesheet">
		<link href="css/login.css" rel="stylesheet" type="text/css">
	</head>
	<body><div id="header"><img src="images/Login_Top1.jpg" width="83" height="130"><img src="images/Login_Top2.jpg" width="191" height="130"><img src="images/Login_Top3.jpg" width="188" height="130"><img src="images/Login_Top4.jpg" width="154" height="130"></div>
			<div id="topbar"><span class="errormsg1">Advantage Error Message</span></div>
			<div class="errorgraphic"><img src="images/errorgraphic.gif" width="49" height="42"></div>
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</html>
