﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="KeepSessionAlive.aspx.vb" Inherits="AdvWeb.KeepSessionAlive" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta id="MetaRefresh" http-equiv="refresh" content="21600;url=KeepSessionAlive.aspx" runat="server" />

<script>
   window.status = "<%=WindowStatusText%>";
</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
