﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="mrutest.aspx.vb" Inherits="mrutest" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <telerik:RadScriptManager ID="RadScriptManager1" Runat="server"></telerik:RadScriptManager>
        <telerik:RadPanelBar ID="RadPanelBar1" runat="server" Height="600px"  
                Width="300px">
            <Items>
                <telerik:RadPanelItem runat="server" Text="Tasks">
                    <Items>
                        <telerik:RadPanelItem runat="server" Text="Admissions" ImageUrl="~/images/action_add.png">
                            <Items>
                                <telerik:RadPanelItem runat="server" Text="Lead Tabs">
                                    <Items>
                                        <telerik:RadPanelItem runat="server" Text="Import">
                                        </telerik:RadPanelItem>
                                        <telerik:RadPanelItem runat="server" Text="Quick Leads">
                                        </telerik:RadPanelItem>
                                        <telerik:RadPanelItem runat="server" Text="View Existing Leads">
                                        </telerik:RadPanelItem>
                                    </Items>
                                </telerik:RadPanelItem>
                                <telerik:RadPanelItem runat="server" Text="Assign Leads to Campus">
                                </telerik:RadPanelItem>
                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Detail">
                                </telerik:RadPanelItem>
                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                                            <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                                                                <telerik:RadPanelItem runat="server" Text="12 Month Enrollment - All Inst - Part A - Summary">
                                </telerik:RadPanelItem>
                            </Items>
                        </telerik:RadPanelItem>
                        <telerik:RadPanelItem runat="server" Text="Child RadPanelItem 2">
                        </telerik:RadPanelItem>
                        <telerik:RadPanelItem runat="server" Text="Child RadPanelItem 3">
                        </telerik:RadPanelItem>
                    </Items>
                </telerik:RadPanelItem>
                <telerik:RadPanelItem runat="server" Text="Root RadPanelItem2">
                </telerik:RadPanelItem>
                <telerik:RadPanelItem runat="server" Text="Root RadPanelItem3">
                </telerik:RadPanelItem>
            </Items>
        </telerik:RadPanelBar>
    </div>
    </form>
</body>
</html>
