﻿<%@ Master Language="VB" CodeFile="NewSiteSearchTest.master.vb" Inherits="NewSiteSearchTest" %>
<%@ Import Namespace="System.Web.Optimization" %>
<%@ Register Src="~/usercontrols/MasterPageUserOptionsPanelBar.ascx" TagPrefix="uc3" TagName="MasterPageUserOptionsPanelBar2" %>
<%@ Register Src="~/usercontrols/MasterPageCampusDropDown.ascx" TagPrefix="uc2" TagName="MasterPageCampusDropDown2" %>
<%@ Register Src="~/usercontrols/MainMenu.ascx" TagPrefix="uc1" TagName="MainMenu" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">--%>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
   <meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR " />
    <meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE" />
    <meta content="JavaScript" name="vs_defaultClientScript" />
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <asp:PlaceHolder ID="PlaceHolder1" runat="server">
        <link href="<%= ResolveUrl("~/App_Themes/Blue_Theme/Blue_Theme.min.css") %>" rel="stylesheet" type="text/css" id="Link2" />
        
        <%: Styles.Render("~/bundles/masterpagestyle") %>
        <%: Scripts.Render("~/bundles/masterpagescripts") %>
    </asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="Additional_head" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        //-----------------------------------------------------------------------------
        // Navigate to home page
        // JG -03/23/2014 test 
        ///dfasdfadsfasd
        //-----------------------------------------------------------------------------
        var homeLink = function () {
            var currentCampusId = $.QueryString["cmpId"];
            var queryString = "";

            if (currentCampusId) queryString = "?RESID=264&mod=SY&cmpid=" + currentCampusId + "&desc=dashboard";
            else queryString = "?RESID=264&mod=SY" + "&desc=dashboard";

            location.href = XMASTER_GET_BASE_URL + "/dash.aspx" + queryString;
        };
    </script>
    <style>
                .dropdown-header {
                    font-size: 1.2em;
                   
                    
                }

                .dropdown-header > span {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    text-align: left;
                    display: inline-block;
                    border-style: solid;
                    border-width: 0 0 1px 1px;
                    padding: .3em .6em;
                    width: 400px;
                    
                }

                .dropdown-header > span:first-child {
                    width: 82px;
                    border-left-width: 0;
                }

                .demo-section {
                    width: 400px;
                    padding: 5px;
                }
                .demo-section h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 5px;
                }

                #entities-list .k-item > span{
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    display: inline-block;
                    border-style: solid;
                    border-width: 0 0 1px 1px;
                    vertical-align: top;
                    min-height: 45px;
                    width: 75%;
                    padding: .6em 0 0 .6em;
                     z-index: 0;
                    
                    
                }

                #entities-list .k-item > span:first-child{
                    width: 75px;
                    border-left-width: 0;
                    padding: .6em 0 0 0;
                }

                #entities-list img {
                    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
                    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
                    box-shadow: 0 0 2px rgba(0,0,0,.4);
                    width: 75px;
                    height: 85px;
                }

                #entities-list h3 {
                    font-size: 1.2em;
                    margin: 0;
                    padding: 0;
                }

                #entities-list p {
                    margin: 0;
                    padding: 0;
                    font-size: .9em;
                }
        
            </style>
</head>
<body id="Mainbody" style="height: 100%">
    <form id="form1" runat="server">
        <div id="TelerikManagers">

            <telerik:RadScriptManager ID="RadScriptManager1" runat="server" EnablePageMethods="true" AsyncPostBackTimeout="3600" ScriptMode="Release">
                <Scripts>
                    <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Core.js" />
                    <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQuery.js" />
                </Scripts>
            </telerik:RadScriptManager>
            <telerik:RadAjaxManager ID="RadAjaxManager1" runat="server" ClientEvents-OnRequestStart="requestStart">
                <AjaxSettings>
                    <telerik:AjaxSetting AjaxControlID="grdRecentStudentList">
                        <UpdatedControls>
                            <%--<telerik:AjaxUpdatedControl ControlID="grdRecentStudentList" LoadingPanelID="RadAjaxLoadingMainPanel"/>--%>
                            <telerik:AjaxUpdatedControl ControlID="FHToolBar" />
                            <telerik:AjaxUpdatedControl ControlID="RadNotification1" />
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                    <telerik:AjaxSetting AjaxControlID="FHToolBar">
                        <UpdatedControls>
                            <telerik:AjaxUpdatedControl ControlID="grdRecentStudentList" LoadingPanelID="RadAjaxLoadingMainPanel" />
                        </UpdatedControls>
                    </telerik:AjaxSetting>
                </AjaxSettings>
            </telerik:RadAjaxManager>
            <telerik:RadSkinManager ID="RadSkinManager1" runat="server" ></telerik:RadSkinManager>
            <telerik:RadToolTipManager ID="RadToolTipManager1" runat="server" AutoTooltipify="false" Position="TopCenter" ShowCallout="false"></telerik:RadToolTipManager>
            <telerik:RadToolTipManager ID="RadToolTipManager2" runat="server" AutoTooltipify="false" Position="TopCenter" RelativeTo="Mouse" ShowCallout="false" Style="z-index: 10000000"></telerik:RadToolTipManager>
            <telerik:RadFormDecorator ID="RadFormDecorator1" runat="server" DecoratedControls="Buttons, GridFormDetailsViews, Label, RadioButtons, ScrollBars, Textarea,  SELECT, ValidationSummary" />
            <telerik:RadWindowManager ID="RadWindowManager1" runat="server"></telerik:RadWindowManager>
            <telerik:RadStyleSheetManager ID="RadStyleSheetManager1" runat="server">
            </telerik:RadStyleSheetManager>
            <telerik:RadInputManager ID="RadInputManager1" runat="server"></telerik:RadInputManager>
            <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingMainPanel" runat="server"></telerik:RadAjaxLoadingPanel>
            <input type="hidden" id="radGridClickedRowIndex" name="radGridClickedRowIndex" />
        </div>

        <div id="MainParent" class="ParentDivElement">
            <telerik:RadSplitter ID="MainSplitter" runat="server" Height="100%" Width="100%" Orientation="Horizontal" VisibleDuringInit="false" BorderStyle="None" BorderWidth="0px">
                <!-- Old height 125 -->
                <!--- Change the height to see the campus combobox during developming -- set to 100 Height when finished developing -->
                <telerik:RadPane ID="NavPane" runat="server" MinWidth="980" Height="58" MinHeight="58" Scrolling="none" BorderStyle="None" BorderWidth="0px">
                    <div id="header">
                        <%--<div id="othercontrolcontainer" style="border: 2px; border-style: solid; border-color: aquamarine">--%>
                        <table style="width: 100%;">
                            <tr height='55px'>
                                <td>
                                    <img src="~/images/AdvantageLogo.png" style="margin: 10px 10px 10px 10px;cursor:pointer;" alt="Go to Dashboard" id="homeLinkImage" runat="server" onclick="homeLink()"  />
                                </td>


                                <td>
                                    <table style="float: right; text-align: left;" >
                                        <tr>
                                            <td style="vertical-align: top;">
                                                <asp:Button ID="btnChangeEntity" runat="server" style="display:none;" Visible="false" />
                                                <asp:HiddenField ID="hdnCurrentEntityId" ClientIDMode="Static" runat="server"/>
                                                <asp:HiddenField ID="hdnCurrentEntityName" ClientIDMode="Static" runat="server"/>
                                                <div id='uContent' >
                                                    <input id="entityDropDownList" data-role="dropdownlist" data-value-field="Id" data-text-field="text"  style="width:82px" />&nbsp;<input id="entities" style="width: 400px;z-index:1000"/>
                                                    &nbsp;&nbsp;
                                                </div>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <uc2:MasterPageCampusDropDown2 runat="server" ID="MasterPageCampusDD" name="MasterPageCampusDDn" />
                                            </td>
                                            <td style="vertical-align: top;">
                                                <uc3:MasterPageUserOptionsPanelBar2 runat="server" ID="MasterPageUserOptionsPanelBar" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div id="cleardiv1" style="clear: both;"></div>

                        <asp:HiddenField ID="txtdomain" runat="server" ClientIDMode="Static" />
                        <asp:HiddenField ID="hdnObjectId" runat="server" ClientIDMode="Static" />
                        <asp:HiddenField ID="hdnPageResourceId" runat="server" ClientIDMode="Static" />
                        <asp:HiddenField ID="hdnUserId" runat="server" ClientIDMode="Static" />
                        <asp:HiddenField ID="hdnCampusSelectorClientId" runat="server" ClientIDMode="Static" />
                        <%--  <asp:HiddenField ID="hdRandomSessionId" runat="server" ClientIDMode="Static" EnableViewState="true" />  --%>
                    </div>
                </telerik:RadPane>
                <telerik:RadPane ID="kendoMenuPane" runat="server" MinWidth="980" Height="27" MinHeight="27" Scrolling="none" BorderStyle="solid" BorderWidth="5px">
                    <uc1:MainMenu runat="server" ID="MainMenu" />
                    <input type="hidden" id="hdnKendoPane" runat="server" clientidmode="Static" />
                </telerik:RadPane>
                <telerik:RadPane ID="TopPane" runat="server" Height="150" MinWidth="980" MinHeight="30" Scrolling="none" BorderStyle="None" BorderWidth="0px" Visible="true" BackColor="#355B99">
                    <%--TitleIcon=""--%>
                    <telerik:RadNotification runat="server" ID="RadNotification1"
                        Text=""
                        ShowCloseButton="true"
                        Width="450px" Height="125px"
                        Position="Center" Title="Message"
                        EnableRoundedCorners="true"
                        EnableShadow="true"
                        Animation="Fade"
                        AnimationDuration="1500"
                        
                        Style="padding-left: 120px; padding-top: 5px; word-spacing: 2pt;">
                    </telerik:RadNotification>

                    <!-- Session Notification -->

                    <telerik:RadWindow ID="radPop" runat="server" ClientIDMode="static" VisibleStatusbar="false" Style="z-index: 10003;"></telerik:RadWindow>
                    <telerik:RadWindow ID="RadWindow1" runat="server" ClientIDMode="static" VisibleStatusbar="false" Style="z-index: 10003;"></telerik:RadWindow>
                    <asp:PlaceHolder ID="MyStatusBar" runat="server" Visible="true" ></asp:PlaceHolder>
                    <div id="InfoBarLite" runat="server" class="InfoBarLite">
                        <asp:Literal runat="server" ID="bc1"><div style="float:left;">Dashboards / Director of Admissions</div></asp:Literal>
                        <asp:LinkButton ID="FERPA" runat="server" Enabled="false" EnableViewState="false"
                            ClientIDMode="Static" Style="text-decoration: underline; float: right; margin-right: 20px;" Visible="false">FERPA</asp:LinkButton>
                        <asp:LinkButton ID="btnAudit" runat="server" Text="Audit History" OnClientClick="AuditHistory(); return false;"
                            CausesValidation="false" ClientIDMode="Static" ForeColor="white"
                            Style="float: right; margin-right: 20px;" Visible="false"></asp:LinkButton>
                        <telerik:RadToolTip ID="rtFERPA" runat="server" TargetControlID="FERPA" RelativeTo="BrowserWindow"
                            Position="Center" RenderInPageRoot="true" Animation="Slide" HideEvent="ManualClose">
                            <h3><b>FERPA Permissions</b></h3>
                            &nbsp;&nbsp;
                        <br />

                            <h4><b>&nbsp;&nbsp;
                            The following entities have permissions to this page.&nbsp;&nbsp;</b></h4>
                            <br />
                            <ul style="padding: 0; margin: 0;">
                                <asp:Repeater ID="Repeater1" runat="server">
                                    <ItemTemplate>
                                        <li style="list-style: none;">&nbsp;&nbsp;
                                        <%# Eval("FerPaEntityDescrip") %></li>
                                    </ItemTemplate>
                                </asp:Repeater>
                            </ul>
                            <br />
                        </telerik:RadToolTip>
                    </div>
                </telerik:RadPane>
                <telerik:RadPane ID="MainPane" runat="server" Scrolling="none" MinWidth="980" Height="100%" BorderWidth="0px" Style="top: 400px;">
                    <telerik:RadSplitter ID="NestedSplitter" runat="server" CollapseMode="Forward" VisibleDuringInit="false" Height="100%">
                        <telerik:RadPane ID="LeftPane" runat="server" BackColor="#EFEFEF"
                            MaxWidth="250" Scrolling="none" Width="22" BorderWidth="0px">
                            <div id="NavParent" class="ParentDivElement">
                                <telerik:RadSlidingZone ID="LeftSlidingZone" runat="server"
                                    Width="22" OnClientLoad="OnClientLoaded">
                                    <!-- DockedPaneId="Navigation" DockedPaneId is used to dock navigation on pageload -->
                                    <telerik:RadSlidingPane ID="Navigation" runat="server" TabView="TextOnly"
                                        Title="QuickBar" Width="250" EnableResize="false"
                                        OnClientResized="SlidingPaneResized"
                                        OnClientDocked="PreserveState"
                                        OnClientUndocked="PreserveState">
                                        <telerik:RadPanelBar ID="RadPanelBar1" runat="server" ExpandMode="FullExpandedItem" CausesValidation="false"
                                            Height="100%" Width="100%">
                                            <Items>
                                                <telerik:RadPanelItem runat="server" Text="Recently Viewed" Value="Recently Viewed" Expanded="True">
                                                    <Items>
                                                        <telerik:RadPanelItem runat="server" Owner="" Value="MRUChild">
                                                            <ItemTemplate>
                                                                <telerik:RadToolBar ID="FHToolBar" runat="server" Width="100%" AutoPostBack="true" CausesValidation="false" OnButtonClick="FHToolBar_ButtonClick">
                                                                    <Items>
                                                                        <telerik:RadToolBarSplitButton runat="server" id="MRUDropDown" EnableDefaultButton="true" DefaultButtonIndex="0" CausesValidation="false">
                                                                            <Buttons>
                                                                                <telerik:RadToolBarButton Value="Leads" Text="Leads" CommandName="Leads"
                                                                                    ToolTip="Recently viewed Lead records" ImageUrl="~/images/leads2.png" CausesValidation="false" />
                                                                                <telerik:RadToolBarButton Value="Students" Text="Students" CommandName="Students"
                                                                                    ToolTip="Recently viewed Student records" ImageUrl="~/images/academic.png" CausesValidation="false" />
                                                                                <telerik:RadToolBarButton Value="Employers" Text="Employers" CommandName="Employers"
                                                                                    ToolTip="Recently viewed Employer records" ImageUrl="~/images/placement.png" CausesValidation="false" />
                                                                                <telerik:RadToolBarButton Value="Employees" Text="Employees" CommandName="Employees"
                                                                                    ToolTip="Recently viewed Employee records" ImageUrl="~/images/hr4.png" CausesValidation="false" />

                                                                            </Buttons>
                                                                        </telerik:RadToolBarSplitButton>
                                                                    </Items>
                                                                </telerik:RadToolBar>
                                                                <telerik:RadGrid ID="grdRecentStudentList" runat="server" Height="100%" Width="100%" Skin="Telerik"
                                                                    BorderWidth="0px" ShowStatusBar="True" AutoGenerateColumns="False"
                                                                    CellSpacing="0" GridLines="None" AllowMultiRowSelection="true"
                                                                    OnItemCommand="deleteMRU"
                                                                    OnItemDataBound="ChangeImageIcon">
                                                                    <ClientSettings EnableAlternatingItems="false" EnableRowHoverStyle="true" AllowRowsDragDrop="false">
                                                                        <Selecting AllowRowSelect="false" EnableDragToSelectRows="false" />
                                                                        <Scrolling AllowScroll="false" />
                                                                        <ClientEvents OnRowMouseOver="showContent" OnRowMouseOut="hideContent" OnGridCreated="initializeItems" />
                                                                    </ClientSettings>

                                                                    <MasterTableView AllowCustomSorting="true"
                                                                        GridLines="None" ShowHeader="False" AllowAutomaticUpdates="true"
                                                                        AllowAutomaticDeletes="true" EditMode="PopUp" DataKeyNames="Id">
                                                                        <CommandItemSettings ExportToPdfText="Export to PDF"></CommandItemSettings>
                                                                        <RowIndicatorColumn>
                                                                            <HeaderStyle Width="20px" />
                                                                        </RowIndicatorColumn>
                                                                        <ExpandCollapseColumn>
                                                                            <HeaderStyle Width="20px" />
                                                                        </ExpandCollapseColumn>
                                                                        <Columns>

                                                                            <telerik:GridTemplateColumn UniqueName="HistoryTemplate">
                                                                                <ItemTemplate>
                                                                                    <div>

                                                                                        <span style="width: 20px; height: 20px;">
                                                                                            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/Leads2.png" />
                                                                                        </span>
                                                                                        <span style="vertical-align: top; width: 170px; font-size: 12px; font-weight: bold; color: blue;">
                                                                                            <asp:LinkButton ID="lnkEntity" runat="server"
                                                                                                CommandArgument='<%# DataBinder.Eval(Container.DataItem,"ChildId") %>'
                                                                                                CommandName='<%# DataBinder.Eval(Container.DataItem,"Type") %>'
                                                                                                ValidationGroup='<%# DataBinder.Eval(Container.DataItem,"Id") %>'
                                                                                                Text='<%# DataBinder.Eval(Container.DataItem,"Name") %>'
                                                                                                OnClick="NavigateToEntityPage" CausesValidation="false">
                                                                <%# DataBinder.Eval(Container.DataItem,"Name") %></asp:LinkButton>
                                                                                        </span>
                                                                                        <div style="font-size: 7pt; padding-left: 5px; color: Black;">
                                                                                            <asp:Label ID="Label2" runat="server"
                                                                                                Text='<%# DataBinder.Eval(Container.DataItem,"EnrollmentStatus") %>'></asp:Label>
                                                                                            <asp:LinkButton ID="lnkStatus" runat="server"
                                                                                                Text='<%# DataBinder.Eval(Container.DataItem,"EnrollmentStatus") %>'
                                                                                                ValidationGroup='<%# DataBinder.Eval(Container.DataItem,"ChildId") %>'
                                                                                                OnClick="NavigateToStudentInfoPage" CausesValidation="false"
                                                                                                Visible="false"></asp:LinkButton>
                                                                                        </div>
                                                                                        <div style="font-size: 7pt; padding-left: 5px;">
                                                                                            <asp:Label ID="Label1" runat="server" Text='<%# DataBinder.Eval(Container.DataItem,"ProgramVersionDesc") %>'></asp:Label>
                                                                                        </div>
                                                                                        <div style="font-size: 7pt; padding-left: 5px; color: Black;">
                                                                                            Campus:
                                                              <asp:Label ID="lblCampusName" runat="server" Text='<%# DataBinder.Eval(Container.DataItem,"CampusName") %>'></asp:Label>
                                                                                        </div>
                                                                                        <span class="HiddenWrapper">
                                                                                            <span style="float: right; width: 20px; height: 10px; vertical-align: top;">
                                                                                                <asp:ImageButton ID="imgDeleteMRU" runat="server"
                                                                                                    ImageUrl="~/images/action_delete.png" CausesValidation="false"
                                                                                                    CommandName="deletemruitem" />
                                                                                            </span>
                                                                                        </span>
                                                                                    </div>
                                                                                </ItemTemplate>
                                                                            </telerik:GridTemplateColumn>
                                                                        </Columns>
                                                                        <EditFormSettings>
                                                                            <EditColumn UniqueName="EditCommandColumn1" FilterControlAltText="Filter EditCommandColumn1 column"></EditColumn>
                                                                        </EditFormSettings>
                                                                    </MasterTableView>
                                                                    <PagerStyle Mode="Slider" />
                                                                    <FilterMenu EnableImageSprites="False"></FilterMenu>
                                                                    <HeaderContextMenu CssClass="GridContextMenu GridContextMenu_Default"></HeaderContextMenu>
                                                                </telerik:RadGrid>
                                                            </ItemTemplate>
                                                        </telerik:RadPanelItem>
                                                    </Items>
                                                </telerik:RadPanelItem>


                                            </Items>


                                        </telerik:RadPanelBar>
                                    </telerik:RadSlidingPane>
                                </telerik:RadSlidingZone>
                            </div>
                        </telerik:RadPane>

                        <telerik:RadSplitBar ID="VerticalSplitBar" runat="server" ResizeWithBrowserWindow="false" />
                        <telerik:RadPane ID="ContentPane" runat="server" BorderWidth="0px" Height="100%"
                            Scrolling="none" Orientation="HorizontalTop">
                            <!-- Place the content of the pane here -->



                            <!-- Main Content 1 Area Here. This can be Student Information  -->

                            <div>
                                <asp:ContentPlaceHolder ID="ContentMain1" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>

                            <!-- End Content 1 -->

                            <!-- Error Content Area Here. This can display any error info -->
                            <div>
                                <asp:ContentPlaceHolder ID="ContentError" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>
                            <!-- End Error Content -->

                            <!-- Main Content 2 Area Here. This can be the area for Info tabs -->
                            <div style="height: 100%">
                                <%--  <div style="position:absolute;top:120px;background-color:#EFEFEF;width:100%;">
              <fame:StatusBar ID="MyStatusBar" runat="server" Visible="true" />     
              </div>--%>
                                <asp:ContentPlaceHolder ID="ContentMain2" runat="server">
                                </asp:ContentPlaceHolder>
                            </div>



                            <!-- End Content 2 -->
                        </telerik:RadPane>
                    </telerik:RadSplitter>
                </telerik:RadPane>
            </telerik:RadSplitter>


            <!-- Div for the message box -->
            <style scoped="scoped">
              #messageBox  .k-window-titlebar {font-size: small; font-weight: bold }
            </style>
            <div id="messageBox" style="text-align: center; margin: 0 auto"></div>
            <!--Template for messageBox.-->
            <script type="text/x-kendo-template" id="MessageBoxBasic">
               <div  style="background-color:#= color #; border:0; width:100%; height:100%"> 
               <article>
                 <span class=#= icono # />
                 <p>#= content #</p>
               </article> 
              </div>
            </script>
            

        </div>
    </form>


</body>
</html>
