﻿<%@ Page Language="VB"  AutoEventWireup="false" EnableEventValidation="false" CodeFile="ServiceMethods.aspx.vb" Inherits="ServiceMethods" %>

<asp:Content ID="Content1" ContentPlaceHolderID="content" runat="Server">
    <div style="text-align:center;">
        <p>Service methods</p>
    </div> 
</asp:Content>
