﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StatusBar.ascx.vb" Inherits="usercontrols_StatusBar" %>
<asp:ScriptManagerProxy ID="ScriptManagerProxy1" runat="server">
</asp:ScriptManagerProxy>
<telerik:RadAjaxManagerProxy ID="RadAjaxManagerProxy1" runat="server">
</telerik:RadAjaxManagerProxy>
 
