﻿<style>
    select{
        max-width: 600px !important;
    }

</style>
@model AdvantageDataFixer.ViewModels.TransactionAwardLinkVM

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.HiddenFor(model => model.TransactionId)
    <div class="form-group">
        @Html.LabelFor(model => model.TransactionType, "TransactionType", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TransactionType", null, "Select", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.StudentAwardScheduleId, "StudentAwardScheduleId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StudentAwardScheduleId", null, "Select", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StudentAwardScheduleId, "", new { @class = "text-danger" })
        </div>
    </div>
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}


<div>
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })
    @*@Html.ActionLink("Back to List", "Index", new { id = ViewBag.StudentNumber })*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

