﻿@model AdvantageDataFixer.Models.saTransaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>saTransaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransDescrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransDescrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAutomatic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAutomatic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeeLevelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeLevelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplaySequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplaySequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondDisplaySequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondDisplaySequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrgChrPeriodSeqId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrgChrPeriodSeqId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentPeriodNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentPeriodNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arPrgChargePeriodSeq.PrgChrPeriodSeqId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arPrgChargePeriodSeq.PrgChrPeriodSeqId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arStuEnrollment.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arStuEnrollment.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arTerm.TermCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arTerm.TermCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saAcademicYear.AcademicYearCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saAcademicYear.AcademicYearCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saBatchPayment.BatchPaymentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saBatchPayment.BatchPaymentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saFundSource.FundSourceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saFundSource.FundSourceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saPayment.CheckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saPayment.CheckNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saPmtPeriod.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saPmtPeriod.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saRefund.ModUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saRefund.ModUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saTransCode.TransCodeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saTransCode.TransCodeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saTransCode1.TransCodeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saTransCode1.TransCodeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saTransType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saTransType.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
