﻿@model IEnumerable<AdvantageDataFixer.ViewModels.TransactionVM>
@using GridMvc.Html

<h2>@ViewBag.Title</h2>

@*<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-1">
        <input type="button" style="width:100%;" class="btn-primary" value="Create" onclick="location.href='@Url.Action("Create", "Transactions", new { StudentId = (string)ViewBag.StudentId })'" />
    </div>
    <div class="col-md-1">
        <input type="button" style="width:100%;" class="btn-primary" value="Edit Selected" onclick="location.href='@Url.Action("Create", "User")'" />
    </div>
</div>*@

<div style="width:100%;">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.TransactionId).Titled("Select").Encoded(false).Sanitized(false).RenderValueAs(data => "<input type=\"Checkbox\" data-id=\"" +data.TransactionId+"\" />");
    columns.Add(c => c.Date).Format("{0:MM/dd/yyyy}").Titled("Date").Filterable(true);
    columns.Add(c => c.Reference).Titled("Reference").Filterable(true);
    columns.Add(c => c.DocumentId).Titled("Document ID").Filterable(true);
    columns.Add(c => c.TransCode).Titled("Trans. Code").Filterable(false);
    columns.Add(c => c.Description).Titled("Description").Filterable(true);
    columns.Add(c => c.AcademicYear).Titled("Academic Year").Filterable(true);
    columns.Add(c => c.Term).Titled("Term").Filterable(true);
    columns.Add(c => c.TransType).Titled("Trans. Type").Filterable(true);
    columns.Add(c => c.User).Titled("User").Filterable(true);
    columns.Add(c => c.Amount).Format("{0:c}").Titled("Amount").Filterable(true);
    //columns.Add(c => c.Balance).Format("{0:c}").Titled("Balance").Filterable(true);
    columns.Add(c => c.PaymentPeriod).Titled("Payment Period").Filterable(true);
    //columns.Add(c => c.HasPaymentTiedToTransaction).Titled("Has Tied FK").Filterable(true);
    columns.Add(c => c.PaymentTypeId).Titled("Options").Encoded(false).Sanitized(false).RenderValueAs(data => Html.ActionLink("Edit", "Edit", "Transactions", new { id = data.TransactionId }, new { }).ToHtmlString() + " | " + Html.ActionLink("Delete", "Delete", "Transactions", new { id = data.TransactionId }, new { }).ToHtmlString() + " | " + Html.ActionLink("Link", "AwardLinking", "Transactions", new { id = data.TransactionId }, new { }).ToHtmlString());
    //columns.Add(c => c.arTerm).Titled("Options").Encoded(false).Sanitized(false).RenderValueAs(data => Html.ActionLink("Awards", "Index", "Awards").ToHtmlString() + " | " +  Html.ActionLink("Ledger", "Index", "Transactions", new { id = data.arTerm }, new { }).ToHtmlString());
}).WithPaging(25).Sortable(true)
</div>

<h4>Number of records: @Model.Count()</h4>


