﻿/*Created with Adobe RoboHelp 8.*/
BODY {
	background-color: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 8pt;
}
H1 {
	font-weight: bold;
	margin-bottom: 9pt;
	font-size: 11pt;
	margin-top: 9pt;
	text-decoration: none;
}
LI.H1 {
	font-weight: bold;
	font-size: 11pt;
	text-decoration: none;
}
H2 {
	font-weight: bold;
	margin-bottom: 9pt;
	margin-left: 0pt;
	font-size: 10.25pt;
	margin-top: 13.5pt;
	text-decoration: none;
}
LI.H2 {
	font-weight: bold;
	font-size: 10.25pt;
}
H3 {
	font-weight: bold;
	margin-left: 18pt;
	font-size: 10pt;
	margin-bottom: 9pt;
	margin-top: 13.5pt;
	text-decoration: none;
}
LI.H3 {
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
}
H4 {
	font-weight: bold;
	font-style: italic;
	margin-left: 18pt;
	font-size: 10pt;
	margin-bottom: 9pt;
	text-decoration: none;
}
LI.H4 {
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	text-decoration: none;
}
H5 {
	margin-bottom: 9pt;
	font-size: 9.5pt;
	margin-left: 18pt;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
LI.H5 {
	font-size: 9.5pt;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
H6 {
	font-weight: bold;
	margin-bottom: 9pt;
	margin-left: 18pt;
	font-size: 9.5pt;
}
LI.H6 {
	font-weight: bold;
	font-size: 9.5pt;
}
P {
	padding: 1.0pt;
	margin-top: 4.5pt;
	margin-bottom: 4.5pt;
	margin-left: 18pt;
	text-align: Left;
	font-size: 10.1pt;
}
LI.P {
	text-align: Left;
	font-size: 10.1pt;
}
A.expandspot {
	cursor: hand;
	color: #0000ff;
	font-weight: normal;
	font-style: normal;
	font-size: 10.1pt;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
	font-size: 10.1pt;
}
A.dropspot {
	cursor: hand;
	font-weight: normal;
	font-style: normal;
	color: #0000ff;
	font-size: 10.1pt;
	text-decoration: none underline;
}
A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	font-size: 10.1pt;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
	font-size: 10.1pt;
}
OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Verdana, sans-serif;
	font-size: 8pt;
}
DIV.droptext {
	font-size: 10.1pt;
}
A:active {
	color: #800000;
	font-size: 10pt;
	text-decoration: underline;
}
A:hover {
	font-size: 10pt;
	text-decoration: underline;
}
A:link {
	color: #0000ff;
	font-size: 10pt;
	text-decoration: underline;
}
A:visited {
	font-size: 10pt;
	text-decoration: underline;
}
A.popupspot {
	color: #ffffff;
	font-size: 10pt;
	text-decoration: none;
}
TD {
	font-size: 8pt;
}
p.StandardParag {
	margin-left: 0pt;
	font-size: 10.1pt;
}
LI.P-StandardParag {
	font-size: 10.1pt;
}
P.Bullet {
	list-style: disc;
	margin-left: 6pt;
}
LI.P-Bullet {
	list-style: disc;
}
p.Align-Right {
	x-next-class: ;
	x-next-type: P;
	text-align: Right;
}
