/*
 * FCKeditor - The text editor for internet
 * Copyright (C) 2003-2006 Frederico Caldeira Knabben
 * 
 * Licensed under the terms of the GNU Lesser General Public License:
 * 		http://www.opensource.org/licenses/lgpl-license.php
 * 
 * For further information visit:
 * 		http://www.fckeditor.net/
 * 
 * "Support Open Source software. What about a donation today?"
 * 
 * File Name: fck_dialog_common.css
 * 	This is the CSS file used for interface details in some dialog
 * 	windows.
 * 
 * File Authors:
 * 		Frederico Caldeira Knabben (fredck@fckeditor.net)
 */

.ImagePreviewArea
{
	border: #000000 1px solid;
	overflow: auto;
	width: 100%;
	height: 170px;
	background-color: #ffffff;
}

.FlashPreviewArea
{
	border: #000000 1px solid;
	padding: 5px;
	overflow: auto;
	width: 100%;
	height: 170px;
	background-color: #ffffff;
}

.BtnReset
{
	float: left;
	background-position: center center;
	background-image: url(images/reset.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: 1px none;
	font-size: 1px ;
}

.BtnLocked, .BtnUnlocked
{
	float: left;
	background-position: center center;
	background-image: url(images/locked.gif);
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	border: none 1px;
	font-size: 1px ;
}

.BtnUnlocked
{
	background-image: url(images/unlocked.gif);
}

.BtnOver
{
	border: outset 1px;
	cursor: pointer;
	cursor: hand;
}

/* NZ 11/19/12
    REMOVED Timestamp:12/16/08 22:36:26 Changeset 1675 for trunk/webmail/fckeditor/editor/dialog/common/fck_dialog_common.css  
    http://sourceforge.net/apps/trac/nocc/changeset?old_path=%2Ftrunk%2Fwebmail%2Ffckeditor%2Feditor%2Fdialog%2Fcommon%2Ffck_dialog_common.css&old=1675&new_path=%2Ftrunk%2Fwebmail%2Ffckeditor%2Feditor%2Fdialog%2Fcommon%2Ffck_dialog_common.css&new=1675
    */
/*.FCK__FieldNumeric
{
	behavior: url(common/fcknumericfield.htc) ;
}*/