<%@ Page Language="vb" AutoEventWireup="false" Inherits="PrintAnyReport" CodeFile="PrintAnyReport.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<HEAD>
		<title>Print Any Report</title>
		<link rel="stylesheet" type="text/css" href="../CSS/localhost_lowercase.css" />
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
  </HEAD>
  <body style="OVERFLOW: auto">
    <form id="Form1" method="post" runat="server">

    </form>

  </body>
</html>
